Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Properly handle package and request in event subscription finder
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/queries/event_subscriptions_finder.rb
Due: none

Fix the usage of the event_type parameter
  src/api/app/services/gitlab_status_reporter.rb
Due: none

Receive event subscriptions for requests in event_subscriptions_finder
  src/api/app/queries/event_subscriptions_finder.rb
Due: none

Improve code readability in report to scm job
  src/api/app/jobs/report_to_scm_job.rb
Due: none

Update rubocop todo files
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
Due: none

Move _branch_request file related things
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
Due: none

Report the initial request state to the SCM
  src/api/app/models/workflow/step/submit_request.rb
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_authorized/revokes_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_not_authorized/does_not_revoke_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_no_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
  src/api/spec/services/gitea_status_reporter_spec.rb
  src/api/spec/services/github_status_reporter_spec.rb
  src/api/spec/services/gitlab_status_reporter_spec.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Due: none

[backend] ssl_iseof: do fewer filedescriptors dups
  src/backend/BSSSL.pm
Due: run-backend-tests

Introduces a commit message for the _branch_package file
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/spec/cassettes/Workflow/_steps/with_a_supported_step/1_2_1_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_one_unsupported_step/1_2_3_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_several_supported_steps/creates_no_artifacts_because_an_exception_is_raised.yml
Due: none

[backend] bs_dispatch: fix race in jobdata read
  src/backend/bs_dispatch
Due: run-backend-tests

[backend] BSUtil: reduce string copying
  src/backend/BSUtil.pm
  src/backend/bs_dispatch
Due: run-backend-tests

Rename revoke_requests_with_self_as_target
  src/api/app/models/package.rb
Due: none

[api] fix access to packages of scmsync project via project link
  src/api/app/models/package.rb
Due: none

Fix hash dig in event_source_message
  src/api/app/models/workflow_run.rb
Due: none

Fix initial reporting
  src/api/app/models/workflow/step/submit_request.rb
Due: none

Drop state from commit status context
  src/api/app/services/gitea_status_reporter.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/spec/services/gitea_status_reporter_spec.rb
  src/api/spec/services/github_status_reporter_spec.rb
  src/api/spec/services/gitlab_status_reporter_spec.rb
Due: none

Ensure that the scmsync url is updated on pushes in forks
  src/api/app/models/concerns/scm_sync_enabled_step.rb
Due: none

[backend] fix logic in notify_repservers call
  src/backend/BSSrcServer/Service.pm
Due: run-backend-tests

Flush content of path details for each repository
  src/api/app/views/webui/repositories/_repository_card_content.html.haml
Due: run-haml-linter

[backend] Scmsync: ignore url when comparing the package meta
  src/backend/BSSrcServer/Scmsync.pm
Due: run-backend-tests

[backend] support to have a different bcntsynctag for each repository
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/Checker.pm
  src/backend/BSXML.pm
  src/backend/bs_sched
  src/backend/bs_srcserver
Due: run-backend-tests

Avoid duplicated gem diff comments
  .github/workflows/comment_diffend_io_links_to_pr.yml
Due: none

Switch to test 15.5 build
  .obs/workflows.yml
Due: none

Add "Update of the Base Distributions" section to ...
  ReleaseNotes-2.10.21
Due: none

[backend] BSStdServer: new --req-content option to specify the POST content
  src/backend/BSStdServer.pm
Due: run-backend-tests

[backend] bs_srcserver: always expand the hostrepo path in buildinfo queries
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] KiwiImage: fix package information coming from the wrong pool for kiwi cross builds
  src/backend/BSSched/BuildJob/KiwiImage.pm
Due: run-backend-tests

[backend] fix typo in calcrelsynctrigger
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

[backend] sync product xml spec
  src/backend/BSProductXML.pm
Due: run-backend-tests

[api] fix permission handling of projects with remote refernces
  src/api/app/controllers/source_project_config_controller.rb
  src/api/app/policies/project_policy.rb
Due: none

Fix Rubocop offenses automatically
  src/api/app/policies/project_policy.rb
Due: none

fix crash on rebuild trigger of remote package
  src/api/app/services/package_controller_service/rebuild_trigger.rb
Due: none

Reduce cognitive complexity of target_package_name method
  src/api/app/models/bs_request_action/differ/for_source.rb
Due: none

[api] fix diffing of accepted maintenance_incident requests
  src/api/app/models/bs_request_action/differ/for_source.rb
  src/api/app/models/bs_request_action/differ/query_builder.rb
  src/api/app/models/bs_request_action/differ/query_builder_for_acceptinfo.rb
  src/api/spec/models/bs_request_action/differ/query_builder_for_acceptinfo_spec.rb
  src/api/test/functional/maintenance_test.rb
Due: none

Refresh maintenance workflow VCR cassettes
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow.yml
Due: none

Correct rubocop Style/RedundantReturn offenses
  src/api/app/components/build_result_for_architecture_component.rb
  src/api/app/controllers/concerns/scm_webhook_payload_data_extractor.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/lib/backend/api/build_results/binaries.rb
  src/api/app/models/review.rb
  src/api/app/policies/token/rebuild_policy.rb
  src/api/app/policies/token/workflow_policy.rb
  src/api/app/services/trigger_controller_service/token_extractor.rb
  src/api/test/functional/webui/spider_test.rb
Due: run-haml-linter

Make RuboCop linter pass, ignoring class with many lines
  src/api/.rubocop_todo.yml
Due: none

Also measure total time of builds
  src/api/app/models/event/build.rb
Due: none
