Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Log a workflow run
  src/api/app/controllers/trigger/errors.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow_run.rb
Due: none

Remove request_payload presence validation
  src/api/app/models/workflow_run.rb
Due: none

Update
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/mailers/check_upgrade_mailer.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/views/check_upgrade_mailer/send_email.html.erb
  src/api/app/views/check_upgrade_mailer/send_email.text.erb
  src/api/config/check_upgrade.yml
  src/api/config/environments/development.rb
Due: run-haml-linter

Remove EventSubscription for token and package if repository doesnt exist
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Due: none

Update
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/mailers/check_upgrade_mailer.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/config/check_upgrade.yml
  src/api/config/environments/development.rb
Due: none

Support push events for tags in TriggerControllerService::ScmExtractor
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/spec/services/trigger_controller_service/scm_extractor_spec.rb
Due: none

Support push events for tags in Workflow::Step#target_{project,package}_name
  src/api/app/models/workflow/step.rb
  src/api/spec/models/workflow/step_spec.rb
Due: none

Create workflow runs index view
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/policies/workflow_run_policy.rb
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Add pagination to workflow run index view
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Add breadcrumbs to workflow runs view
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
Due: run-haml-linter

Support push events for tags in event filter of OBS workflows
  src/api/app/models/workflow.rb
  src/api/spec/models/workflow_spec.rb
Due: none

Add specs for workflow run pundit policy
  src/api/spec/policies/workflow_run_policy_spec.rb
Due: none

Adapt token card component spec to take workflow runs into account
  src/api/spec/components/token_card_component_spec.rb
Due: none

Add controller specs for workflow runs webui
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
  src/api/spec/policies/workflow_run_policy_spec.rb
Due: none

Support push events for tags
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/validators/scm_webhook_event_validator.rb
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_5.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_6.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_when_source_package_does_not_exist/1_1_1_6_8_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_without_branch_permissions/1_1_1_6_9_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_fails_with_insufficient_write_permission_on_target_project/1_1_1_6_10_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/does_not_report_back_to_the_SCM.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_10.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_11.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_12.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_7.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_8.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_9.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_when_source_package_does_not_exist/1_1_1_6_13_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_without_link_permissions/1_1_1_6_15_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_insufficient_permission_on_target_project/1_1_1_6_16_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_insufficient_permission_to_create_new_target_project/1_1_1_6_17_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_project_and_package_does_not_exist/1_1_1_6_14_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/does_not_report_back_to_the_SCM.yml
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/validators/scm_webhook_event_validator_spec.rb
Due: none

Pretty print request payload of workflow runs
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Display 'workflow runs' in pagination headers
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Fix text hierarchy for content headings
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Reintroduce checking for 'Token' string
  src/api/app/services/trigger_controller_service/token_extractor.rb
  src/api/spec/services/trigger_controller_service/token_extractor_spec.rb
Due: none

Autofocus into the search input field
  src/api/app/views/layouts/webui/_top_navigation_search.html.haml
Due: run-haml-linter

Remove long description on Request group of endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Due: run-apidocs-linter

[backend] fix sha256 file for static symlinks
  src/backend/bs_publish
Due: run-backend-tests

[backend] bs_publish: add appx for staticlinks
  src/backend/bs_publish
Due: run-backend-tests

Extend comment on the notifications rake task code
  src/api/lib/tasks/dev.rake
Due: none

Revert "Autofocus into the search input field"
  src/api/app/views/layouts/webui/_top_navigation_search.html.haml
Due: run-haml-linter

[backend] support a new "ccachetype" build flag
  src/backend/BSSched/BuildJob.pm
  src/backend/BSXML.pm
  src/backend/bs_worker
Due: run-backend-tests

Extend comment on the notifications API controller code
  src/api/app/controllers/person/notifications_controller.rb
Due: none

[backend] BSPublisher/Container.pm ... collect all errors, dump at end
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

Remove duplicated Contribution Graph spec
  src/api/spec/features/beta/webui/users/user_contributions_spec.rb
  src/api/spec/features/webui/users/user_contributions_spec.rb
Due: none

Fix typo in notifications controller spec
  src/api/spec/controllers/person/notifications_controller_spec.rb
Due: none

Use the existing contribution_graph? helper
  src/api/app/views/webui/user/user_profile_redesign/_involvement_and_activity.html.haml
Due: run-haml-linter

Pluralize request tag name in API docs
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/request.yaml
  src/api/public/apidocs-new/paths/request_id.yaml
  src/api/public/apidocs-new/paths/request_id_cmd_diff.yaml
  src/api/public/apidocs-new/paths/request_view_collection.yaml
Due: run-apidocs-linter

Add OpenAPI specifications for source cmd orderkiwirepos
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/kiwi.yaml
  src/api/public/apidocs-new/paths/source_orderkiwirepos.yaml
Due: run-apidocs-linter

Add OpenAPI specifications for createmaintenanceincident
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/code_and_summary.yaml
  src/api/public/apidocs-new/paths/source_createmaintenanceincident.yaml
Due: run-apidocs-linter

Add OpenAPI specifications for source cmd branch
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_branch.yaml
Due: run-apidocs-linter

Add source project name Apidoc endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_addchannels.yaml
Due: run-apidocs-linter

Replace code_and_summary with api_response
  src/api/public/apidocs-new/components/schemas/code_and_summary.yaml
  src/api/public/apidocs-new/paths/source_createmaintenanceincident.yaml
Due: run-apidocs-linter

Add OpenAPI specifications for source project cmd createmaintenanceincident
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_cmd_createmaintenanceincident.yaml
Due: run-apidocs-linter
