Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

Improved the code to pass the rake lint tests
  src/api/app/models/project/remote_url.rb
Due: none

[api][backend] add scm meta element in project and package
  docs/api/api/package.rng
  docs/api/api/project.rng
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/views/models/_package.xml.builder
  src/api/app/views/models/_project.xml.builder
  src/api/db/migrate/20211214111900_add_scmsync_elements_for_packages_and_projects.rb
  src/api/db/schema.rb
  src/backend/BSXML.pm
Due: run-backend-tests, run-haml-linter, run-migrations-tests

[backend] make use of scm tag
  src/backend/bs_srcserver
Due: run-backend-tests

[api] fix encoding on patchinfo creation
  src/api/app/models/patchinfo.rb
  src/api/test/functional/maintenance_test.rb
Due: none

Gather information when there is no binary package
  src/api/app/models/binary_release.rb
Due: none

Add missing change from migration AddScmsyncElementsForPackagesAndProjects
  src/api/app/models/remote_project.rb
Due: none

Add counter to "Tasks" link under "Places"
  src/api/app/views/layouts/webui/_places.html.haml
Due: run-haml-linter

[api][backend] compability mode for scmsync
  src/api/app/controllers/public_controller.rb
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] enable debian.control builds
  src/backend/bs_srcserver
Due: run-backend-tests

[api] fix a crash in package tracking
  src/api/app/models/binary_release.rb
Due: none

Fix cassettes after introducing scmsync in ...
  src/api/spec/cassettes/PublicController/GET_binary_packages/1_11_1.yml
  src/api/spec/cassettes/PublicController/GET_binary_packages/1_11_2.yml
  src/api/spec/cassettes/PublicController/GET_build/1_2_1.yml
  src/api/spec/cassettes/PublicController/GET_build/1_2_2.yml
  src/api/spec/cassettes/PublicController/GET_package_index/1_7_1.yml
  src/api/spec/cassettes/PublicController/GET_package_index/1_7_2.yml
  src/api/spec/cassettes/PublicController/GET_package_index/1_7_3.yml
  src/api/spec/cassettes/PublicController/GET_package_meta/1_8_1.yml
  src/api/spec/cassettes/PublicController/GET_package_meta/1_8_2.yml
  src/api/spec/cassettes/PublicController/GET_package_meta/1_8_3.yml
  src/api/spec/cassettes/PublicController/GET_project_file/1_6_1.yml
  src/api/spec/cassettes/PublicController/GET_project_file/1_6_3.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_info_view_specified/and_nofilename_is_equal_1_/1_5_2_2_1.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_info_view_specified/and_nofilename_is_equal_1_/1_5_2_2_2.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_info_view_specified/and_nofilename_is_equal_1_/1_5_2_2_3.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_info_view_specified/and_nofilename_is_not_equal_1_/1_5_2_1_1.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_info_view_specified/and_nofilename_is_not_equal_1_/1_5_2_1_2.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_productlist_view_specified/1_5_4_1.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_productlist_view_specified/1_5_4_2.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_productlist_view_specified/1_5_4_3.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_productlist_view_specified/1_5_4_4.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_verboseproductlist_view_specified/1_5_3_1.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_verboseproductlist_view_specified/1_5_3_2.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_verboseproductlist_view_specified/1_5_3_3.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_verboseproductlist_view_specified/1_5_3_4.yml
  src/api/spec/cassettes/PublicController/GET_project_index/without_view_specified/1_5_1_1.yml
  src/api/spec/cassettes/PublicController/GET_project_index/without_view_specified/1_5_1_2.yml
  src/api/spec/cassettes/PublicController/GET_project_index/without_view_specified/1_5_1_3.yml
  src/api/spec/cassettes/PublicController/GET_project_index/without_view_specified/1_5_1_4.yml
  src/api/spec/cassettes/PublicController/GET_project_meta/1_4_1.yml
  src/api/spec/cassettes/PublicController/GET_project_meta/1_4_2.yml
  src/api/spec/cassettes/PublicController/GET_project_meta/1_4_3.yml
  src/api/spec/cassettes/PublicController/GET_source_file/1_1_1.yml
  src/api/spec/cassettes/PublicController/GET_source_file/1_1_2.yml
  src/api/spec/cassettes/PublicController/GET_source_file_history/with_history_limited_to_1/1_12_2_1.yml
  src/api/spec/cassettes/PublicController/GET_source_file_history/with_history_limited_to_1/1_12_2_2.yml
  src/api/spec/cassettes/PublicController/GET_source_file_history/with_history_unlimited/1_12_1_1.yml
  src/api/spec/cassettes/PublicController/GET_source_file_history/with_history_unlimited/1_12_1_2.yml
Due: none

[backend] bs_publish allow a syntax for rsync via ssh
  src/backend/bs_publish
Due: run-backend-tests

Unify texts for links to Notifications Configuration
  src/api/app/views/webui/users/notifications/_index_actions.html.haml
Due: run-haml-linter

Mark PUT /my/notifications/{id} endpoint as beta/unstable in API docs
  src/api/public/apidocs-new/paths/my_notifications_id.yaml
Due: run-apidocs-linter

[backend] BSCpio: add list() and extract() methods
  src/backend/BSCpio.pm
Due: run-backend-tests

[api] fix crash on project runservice command
  src/api/app/controllers/source_controller.rb
Due: none

[backend] Implement scmsync on the project level
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_service
  src/backend/bs_servicedispatch
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] move scmsync code into its own module
  src/backend/BSSrcServer/Scmsync.pm
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] scmsync: collect service run info and put it in the comment of the commit
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_servicedispatch
  src/backend/bs_srcserver
Due: run-backend-tests

Remove unused parameter `webui_mode` in owner search
  src/api/app/models/owner_search/assignee.rb
  src/api/test/functional/search_controller_test.rb
Due: none

Remove mention to Beta in notifications API docs
  src/api/public/apidocs-new/paths/my_notifications.yaml
  src/api/public/apidocs-new/paths/my_notifications_id.yaml
Due: run-apidocs-linter

Remove unused code in SearchFinder
  src/api/app/models/search_finder.rb
Due: none

[backend] add automatic triggering of service runs in the scm bridge
  src/backend/BSSrcServer/Scmsync.pm
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_servicedispatch
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] do not chomp undefined values
  src/backend/BSSrcServer/Scmsync.pm
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_servicedispatch
Due: run-backend-tests

[backend] scmsync: fix typo in trigger code
  src/backend/BSSrcServer/Scmsync.pm
Due: run-backend-tests

Expand abbreviations in OwnerSearch::Assignee model
  src/api/app/models/owner_search/assignee.rb
Due: none

[backend] make the worker aware of debian.control builds
  src/backend/bs_worker
Due: run-backend-tests

Handle situations where notification payload has no package information
  src/api/app/models/binary_release.rb
  src/api/app/models/concerns/multibuild_package.rb
Due: none

Fix combination of Group filter and Mark all as read
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Due: run-haml-linter

Keep filter after marking a notification as read
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Due: run-haml-linter

Apply new rubocop cops "Style/FileRead" and "Style/FileWrite"
  src/api/app/controllers/webui/projects/rebuild_times_controller.rb
  src/api/app/lib/backend/file.rb
  src/api/app/services/package_service/file_verifier.rb
  src/api/lib/tasks/dev.rake
  src/api/script/start_test_backend
  src/api/spec/controllers/webui/apidocs_controller_spec.rb
  src/api/spec/factories/packages.rb
  src/api/spec/features/webui/apidocs_spec.rb
  src/api/spec/features/webui/repositories_spec.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/kgraft_maintenance_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/product_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/search_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/test_helper.rb
Due: none

Fixes new rubocop cop Style/CollectionCompact rules introduced by this update
  src/api/app/models/branch_package/lookup_incident_package.rb
  src/api/app/models/staging/staged_requests.rb
  src/api/app/services/user_service/involved.rb
Due: none

Extract code from BranchPackage#create_branch_packages to private helper methods
  src/api/app/models/branch_package.rb
Due: none

Use keys instead of strings to check duck typing
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/lib/backend/connection.rb
  src/api/lib/api_error.rb
Due: none

Use `aliases: true` to avoid yaml loading errors
  src/api/config/environment.rb
Due: none

Revert "[src/api] Update rdoc: 6.3.3 → 6.4.0 (minor)"
  src/api/Gemfile.lock
  src/api/config/environment.rb
Due: none

Update rubocop-rails to 2.13.0
  src/api/Gemfile.lock
Due: none

Fix Rails/CompactBlank cop
  src/api/app/controllers/status/required_checks_controller.rb
  src/api/app/controllers/webui/requests/submissions_controller.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/lib/backend/instrumentation.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/views/webui/search/_results_owner.html.haml
Due: run-haml-linter

Fix Rails/RedundantPresenceValidationOnBelongsTo cop
  src/api/app/models/attrib.rb
  src/api/app/models/commit_activity.rb
  src/api/app/models/download_repository.rb
  src/api/app/models/group_maintainer.rb
  src/api/app/models/groups_user.rb
  src/api/app/models/kiwi/profile.rb
  src/api/app/models/notified_project.rb
  src/api/app/models/path_element.rb
  src/api/app/models/relationship.rb
  src/api/app/models/repository.rb
  src/api/app/models/repository_architecture.rb
  src/api/app/models/review.rb
  src/api/app/models/staging/request_exclusion.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/status/report.rb
  src/api/app/models/status_message.rb
  src/api/app/models/status_message_acknowledgement.rb
  src/api/app/models/token.rb
  src/api/app/models/watched_project.rb
Due: none

Fix Layout/EmptyLines cop
  src/api/app/models/commit_activity.rb
  src/api/app/models/notified_project.rb
  src/api/app/models/relationship.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/status_message.rb
  src/api/app/models/status_message_acknowledgement.rb
Due: none

Path conditions:
  run-root-rubocop: any of: (dist|contrib)/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
