Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Autocorrect Style/StringConcatenation RuboCop ...
  src/api/.rubocop.yml
  src/api/spec/controllers/status/checks_controller_spec.rb
  src/api/spec/controllers/worker/status_controller_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/helpers/webui/package_helper_spec.rb
  src/api/spec/models/kiwi/repository_spec.rb
  src/api/spec/models/package_spec.rb
  src/api/spec/models/project_spec.rb
  src/api/spec/models/update_notification_events_spec.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Autocorrect Style/StringConcatenation RuboCop ...
  src/api/.rubocop.yml
  src/api/config/clock.rb
  src/api/config/environment.rb
  src/api/config/initializers/02_apiversion.rb
Due: none

Autocorrect Style/StringConcatenation RuboCop ...
  src/api/.rubocop.yml
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/find_for/project.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/buildresult.rb
  src/api/app/models/distribution.rb
  src/api/app/models/event/factory.rb
  src/api/app/models/event/request.rb
  src/api/app/models/issue_tracker/issue_summary.rb
  src/api/app/models/maintenance_incident.rb
  src/api/app/models/package.rb
  src/api/app/models/product.rb
  src/api/app/models/project.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/models/repository.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/user.rb
  src/api/app/models/user_ldap_strategy.rb
Due: none

Move shared target object code into concern
  src/api/app/models/concerns/workflow_step_target_objects.rb
  src/api/app/models/gitea_payload.rb
  src/api/app/models/github_payload.rb
  src/api/app/models/gitlab_payload.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/set_flags.rb
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/spec/models/concerns/workflow_step_target_objects_spec.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
  src/api/spec/models/workflow/step_spec.rb
  src/api/spec/services/trigger_controller_service/scm_extractor_spec.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
Due: none

Move `can_decline_request?` logic to a pundit policy
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/app/policies/bs_request_policy.rb
Due: run-haml-linter

Remove `is_author` variable from `request_decision_component`
  src/api/app/components/request_decision_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

[backend] bs_srcserver: improve locked project handling in getprojpack
  src/backend/bs_srcserver
Due: run-backend-tests

Autocorrect some Style/StringConcatenation RuboCop ...
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/helpers/webui/elisions_helper.rb
  src/api/app/helpers/webui/repository_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/lib/gitea_api/v1/client.rb
  src/api/app/lib/suse/validator.rb
  src/api/app/mailers/admin_mailer.rb
  src/api/app/mixins/parse_package_diff.rb
  src/api/app/queries/packages_finder.rb
  src/api/app/services/trigger_controller_service/token_extractor.rb
  src/api/app/views/models/_project.xml.builder
  src/api/lib/memory_debugger.rb
  src/api/lib/tasks/dev/rake_support.rb
  src/api/lib/tasks/extract.rake
  src/api/lib/tasks/statistics/github/code_frequency.rake
  src/api/lib/tasks/statistics/github/commit_activity.rake
  src/api/lib/xpath_engine.rb
  src/api/script/reformat_memprof
  src/api/script/start_test_backend
Due: run-haml-linter

[api] fix package unlock behaviour
  src/api/app/controllers/source_controller.rb
  src/api/test/functional/source_controller_test.rb
Due: none

Drop SCM specific spec for BranchPackageStep
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Remove unused method
  src/api/app/components/sourcediff_component.rb
Due: run-haml-linter

Skip email notifications for hidden projects
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/build.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/request.rb
  src/api/app/models/event/service_fail.rb
  src/api/spec/jobs/send_event_emails_job_spec.rb
Due: none

Align SCMWebhook payload data
  src/api/app/models/gitlab_payload/merge_request.rb
  src/api/app/models/gitlab_payload/push.rb
  src/api/app/models/gitlab_payload/tag_push.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/set_flags.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/spec/models/workflow/step_spec.rb
  src/api/spec/services/trigger_controller_service/scm_extractor_spec.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
Due: none

Move remove_file to files controller
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/views/webui/package/_file.html.haml
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/calls_delete_file_method.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_no_permissions/1_5_4_1.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_no_permissions/1_5_4_2.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_not_successful_backend_call/1_5_2_1.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_successful_backend_call/1_5_1_1.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_successful_backend_call/1_5_1_2.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_successful_backend_call/1_5_1_3.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_successful_backend_call/1_5_1_4.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/packages/files_controller_spec.rb
Due: run-haml-linter

Ignore any instance error in rubocop for files controller spec
  src/api/.rubocop_todo.yml
Due: none

Remove unused variable
  src/api/app/controllers/webui/request_controller.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
Due: none

Return the project attribute always for _keyinfo
  src/backend/bs_srcserver
Due: run-backend-tests

Refactor Pundit specs
  src/api/spec/policies/appeal_policy_spec.rb
  src/api/spec/policies/attrib_namespace_policy_spec.rb
  src/api/spec/policies/attrib_policy_spec.rb
  src/api/spec/policies/cloud/user/upload_job_policy_spec.rb
  src/api/spec/policies/comment_policy_spec.rb
  src/api/spec/policies/group_policy_spec.rb
  src/api/spec/policies/package_policy_spec.rb
  src/api/spec/policies/staging/staged_request_policy_spec.rb
  src/api/spec/policies/staging/workflow_policy_spec.rb
  src/api/spec/policies/status/report_policy_spec.rb
  src/api/spec/policies/status_message_policy_spec.rb
  src/api/spec/policies/token/workflow_policy_spec.rb
  src/api/spec/policies/user_policy_spec.rb
Due: none

Move view_file into files controller
  src/api/app/components/diff_list_component.rb
  src/api/app/components/sourcediff_tab_component.rb
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/views/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui/package/_file.html.haml
  src/api/app/views/webui/package/rdiff.html.haml
  src/api/app/views/webui/packages/files/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/files/show.html.haml
  src/api/app/views/webui/packages/files/simple_show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/kiwi/images_controller_spec.rb
Due: run-haml-linter

Regenerate failing controller cassettes
  src/api/spec/cassettes/Packages/editing_package_files/editing_an_existing_file.yml
  src/api/spec/cassettes/Webui_Kiwi_ImagesController/GET_import_from_package/with_a_kiwi_file/that_is_an_invalid_kiwi_file/1_1_2_2_2.yml
  src/api/spec/cassettes/Webui_Kiwi_ImagesController/GET_import_from_package/with_a_kiwi_file/that_is_an_invalid_kiwi_file/redirect_to_project_package_file_path.yml
  src/api/spec/cassettes/Webui_Kiwi_ImagesController/GET_import_from_package/with_a_kiwi_file/with_multiple_package_groups/with_the_same_type/1_1_2_4_1_2.yml
  src/api/spec/cassettes/Webui_Kiwi_ImagesController/GET_import_from_package/with_a_kiwi_file/with_multiple_package_groups/with_the_same_type/redirect_to_project_package_file_path.yml
  src/api/spec/cassettes/Webui_Kiwi_ImagesController/GET_import_from_package/with_a_kiwi_file/with_source_path/with_obsrepository/redirect_to_kiwi_image_show.yml
  src/api/spec/cassettes/Webui_Kiwi_ImagesController/GET_import_from_package/with_a_kiwi_file/with_source_path/with_obsrepository_and_others/1_1_2_3_2_2.yml
  src/api/spec/cassettes/Webui_Kiwi_ImagesController/GET_import_from_package/with_a_kiwi_file/with_source_path/with_obsrepository_and_others/redirect_to_project_package_file_path.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/POST_update/as_ajax_request/modifies_an_existing_file/1_2_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/POST_update/as_ajax_request/modifies_an_existing_file/1_2_1_1_2.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/POST_update/as_ajax_request/modifies_an_existing_file/1_2_1_1_3.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/POST_update/as_non-ajax_request/modifies_an_existing_file/1_2_2_1_1.yml
Due: none

Ignore files controller length in rubocop todo
  src/api/.rubocop_todo.yml
Due: none

Refactor pretty nested errors spec
  src/api/spec/lib/pretty_nested_errors_spec.rb
Due: none

Refactor subject of data migration specs
  src/api/spec/db/data/convert_notifications_event_payload_to_json_spec.rb
  src/api/spec/db/data/migrate_comment_payload_spec.rb
Due: none

Autocorrect RSpec/LeadingSubject RuboCop offenses...
  src/api/spec/lib/authenticator_spec.rb
  src/api/spec/lib/backend/api/search_spec.rb
  src/api/spec/lib/tasks/user_admin_rights_spec.rb
Due: none

Test #validate_required_keys_in_step_instructions
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step_spec.rb
Due: none

Removing diff_limit variable
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/build_results.html.haml
Due: run-haml-linter

Regenerate RuboCop TODO file
  src/api/.rubocop_todo.yml
Due: none

Test BranchPackageStep.check_source_access logic once
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Test skip_repositories? once
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Test create_branched_package rescue logic once
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Remove singular use shared context
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Refactor subject! directives in jobs specs
  src/api/spec/jobs/bs_request_action_webui_infos_job_spec.rb
  src/api/spec/jobs/bs_request_clean_tasks_cache_job_spec.rb
  src/api/spec/jobs/configuration_write_to_backend_job_spec.rb
  src/api/spec/jobs/issue_tracker_fetch_issues_job_spec.rb
  src/api/spec/jobs/issue_tracker_update_issues_job_spec.rb
  src/api/spec/jobs/send_event_emails_job_spec.rb
  src/api/spec/jobs/status_history_rescaler_job_spec.rb
  src/api/spec/jobs/update_backend_infos_job_spec.rb
  src/api/spec/jobs/update_released_binaries_job_spec.rb
Due: none

Autocorrect RSpec/LeadingSubject RuboCop offenses...
  src/api/spec/jobs/bs_request_action_webui_infos_job_spec.rb
  src/api/spec/jobs/issue_tracker_write_to_backend_job_spec.rb
  src/api/spec/jobs/package_update_if_dirty_job_spec.rb
  src/api/spec/jobs/project_create_auto_cleanup_requests_job_spec.rb
  src/api/spec/jobs/update_package_meta_job_spec.rb
  src/api/spec/jobs/update_packages_if_dirty_job_spec.rb
Due: none

Refactor action related code
  src/api/app/controllers/webui/request_controller.rb
Due: none
