Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

Add an SSO login page so that users can choose between providers
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/views/layouts/webui2/_login_form.html.haml
  src/api/app/views/webui/session/_form.html.haml
  src/api/app/views/webui2/webui/session/_sso.html.haml
  src/api/app/views/webui2/webui/session/new.html.haml
  src/api/app/views/webui2/webui/session/sso.html.haml
  src/api/config/initializers/omniauth.rb
  src/api/config/routes.rb
Due: run-haml-linter

Parse SSO authentication config on startup
  src/api/config/auth.yml.example
  src/api/config/initializers/omniauth.rb
Due: none

Rename create_ldap_user to create_external_user
  src/api/app/models/user.rb
Due: none

Add SSO callback to allow existing users log in with an external source
  src/api/app/controllers/webui/session_controller.rb
Due: none

user model: add find_with_omniauth/create_with_omniauth
  src/api/app/models/user.rb
Due: none

REWORD: Redirect correctly: secure and take SSO into account
  src/api/app/controllers/webui/session_controller.rb
Due: none

Try harder to derive the username from email addresses
  src/api/app/controllers/webui/session_controller.rb
Due: none

Implement first login flow
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/views/webui2/webui/session/sso_confirm.html.haml
  src/api/config/routes.rb
Due: run-haml-linter

Add dependency on a Git snapshot of omniauth_openid_connect
  src/api/Gemfile
  src/api/Gemfile.lock
Due: none

Add omniauth-github
  src/api/Gemfile
  src/api/Gemfile.lock
Due: none

Mark passwords for SSO-only users as invalid to allow changing them later
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/models/user.rb
  src/api/app/views/webui2/webui/user/_password_dialog.html.haml
Due: run-haml-linter

Only store the 'info' part of the auth hash in the session
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/models/user.rb
Due: none

Add spec to check that issues are created correctly
  src/api/spec/fixtures/files/mod_ssl.changes
  src/api/spec/jobs/package_update_if_dirty_job_spec.rb
Due: none

Add word boundary issue tracker regex in the database seeds
  src/api/db/seeds.rb
Due: run-migrations-tests

Regenerate vcr cassettes for PackageUpdateIfDirtyJob spec
  src/api/spec/cassettes/PackageUpdateIfDirtyJob/_perform/creates_issues_from_the_text_in_the_changes_file.yml
Due: none

Add validation of word boundary on issue tracker regex
  src/api/app/models/issue_tracker.rb
  src/api/spec/models/issue_tracker_spec.rb
Due: none

Add data migration to add word boundary to issue tracker regex
  src/api/db/data/20220126223735_add_word_boundary_to_issue_tracker_regex.rb
  src/api/db/data_schema.rb
  src/api/spec/db/data/add_word_boundary_to_issue_tracker_regex_spec.rb
Due: run-migrations-tests

Adapt issue tracker xml schemas to use the word boundary in the regex
  docs/api/api/issue_tracker.xml
  docs/api/api/issue_trackers.xml
  src/api/test/fixtures/issue_trackers.yml
Due: none

Adapt specs and factories to use word boundary on issue tracker
  src/api/spec/factories/issue_tracker.rb
  src/api/spec/models/issue_spec.rb
  src/api/spec/models/issue_tracker/issue_summary_spec.rb
Due: none

Adapt minitest to use word boundary on issue tracker
  src/api/test/functional/issue_trackers_controller_test.rb
Due: none

[api] do not list deleted users
  src/api/app/controllers/person_controller.rb
  src/api/lib/xpath_engine.rb
Due: none

[backend] automatically trigger a service run if the obsscm element is changed
  src/backend/bs_srcserver
Due: run-backend-tests

Move logic to acces multibuild files to Backend lib and add specs for Package#multibuild_flavors
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/models/concerns/multibuild_package.rb
  src/api/spec/cassettes/Package/_add_containers/1_27_1.yml
  src/api/spec/cassettes/Package/_ignored_requests/when_the_package_has_no_ignored_requests_file/1_24_2_1.yml
  src/api/spec/cassettes/Package/_multibuild_flavors/1_23_1.yml
  src/api/spec/models/concerns/multibuild_package_spec.rb
  src/api/spec/models/package_spec.rb
Due: none

Add WorkflowArtifactsPerStep model
  src/api/app/models/workflow_artifacts_per_step.rb
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20220126155601_create_workflow_artifacts_per_steps.rb
  src/api/db/schema.rb
  src/api/spec/models/workflow_artifacts_per_step_spec.rb
Due: run-migrations-tests

Pass workflow_run_id as argument to Workflow.new
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/spec/models/workflow_spec.rb
Due: none

Make target_package_name method public
  src/api/app/models/workflow/step.rb
Due: none

Do not expand sources by default
  src/api/app/models/concerns/multibuild_package.rb
  src/api/app/models/package.rb
  src/api/spec/cassettes/ImageTemplates/branching/branch_Kiwi_image_template.yml
  src/api/spec/cassettes/ImageTemplates/branching/branch_image_template.yml
  src/api/spec/cassettes/Package/_file_exists_/_multibuild_file_should_exist/1_4_1_1.yml
  src/api/spec/cassettes/Package/_file_exists_/with_more_than_one_file/returns_false_if_the_file_does_not_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_more_than_one_file/returns_true_if_the_file_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_one_file/returns_false_if_the_file_does_not_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_one_file/returns_true_if_the_file_exist.yml
  src/api/spec/cassettes/Package/_has_icon_/returns_false_if_the_icon_does_not_exist.yml
  src/api/spec/cassettes/Package/_has_icon_/returns_true_if_the_icon_exist.yml
  src/api/spec/cassettes/Package/_ignored_requests/when_the_package_has_an_ignored_requests_file/parses_the_content_as_YAML_and_returns_a_hash.yml
Due: none

Extend Workflow model specs
  src/api/spec/cassettes/Workflow/_steps/with_a_supported_step/1_2_1_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_no_steps_specified/1_2_4_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_one_unsupported_step/1_2_3_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_several_supported_steps/creates_no_artifacts_because_an_exception_is_raised.yml
  src/api/spec/cassettes/Workflow/_steps/with_step_with_invalid_intructions/1_2_5_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_step_with_invalid_project_name/1_2_6_2.yml
  src/api/spec/models/workflow_spec.rb
Due: none

Add collector and its specs for different steps and events
  src/api/app/models/workflow.rb
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
Due: none

Adapt specs affected by passing workflow_run_id
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
Due: none

Add step `set_flags`
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step/set_flags.rb
Due: none

Specs for set_flag step
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
Due: none

Adapt BranchPackageStep to dont expect SCMStatusReporter
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

[backend] fix rekor upload of container signatures
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Due: run-backend-tests

Implement a preview for the worklow run artifact component
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
Due: none

Show sentences for workflow run artifacts
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
Due: run-haml-linter

Specs for WorkflowArtifactsPerStepComponent
  src/api/spec/components/workflow_artifacts_per_step_component_spec.rb
Due: none

[backend] implement uploading of repository signatures to a rekor server
  src/backend/bs_publish
Due: run-backend-tests

Fix Metrics/ClassLength rubocop offense in workflow model
  src/api/app/models/workflow.rb
Due: none

Create an initial generic status
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/services/scm_initial_status_reporter.rb
  src/api/spec/models/token/workflow_spec.rb
Due: none

Path conditions:
  run-root-rubocop: any of: (dist|contrib)/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
