Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Ignore apidocs link from Spider tests
  src/api/test/functional/webui/spider_test.rb
Due: none

Document several worker status endpoints using OpenAPI
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/build__workerstatus.yaml
  src/api/public/apidocs/paths/status_workerstatus.yaml
  src/api/public/apidocs/paths/worker__status.yaml
Due: none

Apidocs swagger initially collapsed
  src/api/public/apidocs/swagger-initializer.js
Due: none

Update Swagger UI version from 4.19.0 to 5.0.0
  src/api/public/apidocs/swagger-ui-bundle.js
  src/api/public/apidocs/swagger-ui-bundle.js.map
  src/api/public/apidocs/swagger-ui-es-bundle-core.js
  src/api/public/apidocs/swagger-ui-es-bundle-core.js.map
  src/api/public/apidocs/swagger-ui-es-bundle.js
  src/api/public/apidocs/swagger-ui-es-bundle.js.map
  src/api/public/apidocs/swagger-ui-standalone-preset.js
  src/api/public/apidocs/swagger-ui-standalone-preset.js.map
  src/api/public/apidocs/swagger-ui.css
  src/api/public/apidocs/swagger-ui.css.map
  src/api/public/apidocs/swagger-ui.js
  src/api/public/apidocs/swagger-ui.js.map
Due: none

Avoid division by zero
  src/api/app/helpers/webui/staging/workflow_helper.rb
Due: none

Tag hyperlinks with nofollow
  src/api/app/helpers/webui/markdown_helper.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: none

Include comment anchors in comment event mails
  src/api/app/views/event_mailer/comment_for_package.html.haml
  src/api/app/views/event_mailer/comment_for_package.text.erb
  src/api/app/views/event_mailer/comment_for_project.html.haml
  src/api/app/views/event_mailer/comment_for_project.text.erb
  src/api/app/views/event_mailer/comment_for_request.html.haml
  src/api/app/views/event_mailer/comment_for_request.text.erb
Due: run-haml-linter

Move cache invalidation into background job
  src/api/app/jobs/bs_request_clean_tasks_cache_job.rb
  src/api/app/models/bs_request.rb
Due: none

Move tasks cache spec to the right place
  src/api/spec/jobs/bs_request_clean_tasks_cache_job_spec.rb
  src/api/spec/models/bs_request_spec.rb
Due: none

Filter nil entries from directory list
  src/api/app/models/package.rb
Due: none

Validate workflow_configuration_url before saving it
  src/api/app/models/token.rb
  src/api/spec/models/token/workflow_spec.rb
Due: none

Add workflow configuration path and URL columns
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20230615111252_add_configuration_url_and_path_columns_to_workflow_run.rb
  src/api/db/schema.rb
Due: run-migrations-tests

[backend] Prepare for sending a notification if a container is published
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_publish
Due: run-backend-tests

[dist] removed 'data:schema:load' from obsapisetup
  dist/functions.setup-appliance.sh
Due: run-dist-linter

[backend] allow to specify the expiry time when extending a key
  src/backend/bs_srcserver
Due: run-backend-tests

Show a warning when a build is broken
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/package.rb
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
  src/api/spec/cassettes/Bootstrap_Requests/a_request_submitted_against_a_staging_project/shows_staging_request_information.yml
  src/api/spec/cassettes/BsRequestAction/_build_results/when_having_both_source_package_and_source_project/1_12_3_1.yml
  src/api/spec/cassettes/Kiwi_Images/project_with_wiki_image/modify_author.yml
  src/api/spec/cassettes/Kiwi_Images/software_tab/add_repository_and_package.yml
  src/api/spec/cassettes/Kiwi_Images/software_tab/edit_package.yml
  src/api/spec/cassettes/Kiwi_Images/software_tab/edit_respository.yml
  src/api/spec/cassettes/Packages/creating_a_package/in_a_project_not_owned_by_the_user/allowed_as_admin.yml
  src/api/spec/cassettes/Packages/existing_requests/see_a_request.yml
  src/api/spec/cassettes/Request_with_change_devel_actions/there_was_a_previous_devel_package/displays_the_description_and_mentions_the_previous_devel_package.yml
  src/api/spec/cassettes/Request_with_change_devel_actions/there_was_no_previous_devel_package/displays_the_description_but_does_not_mentions_the_previous_devel_package.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_broken_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_diff_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/submit_several_packages_at_once_against_a_factory_staging_project/shows_the_beta_version_of_the_requests_page.yml
  src/api/spec/features/webui/requests/change_devel_actions_spec.rb
  src/api/spec/features/webui/requests/submissions_spec.rb
  src/api/spec/helpers/webui/request_helper_spec.rb
  src/api/spec/models/bs_request_action_spec.rb
Due: run-haml-linter

Ignore more backend errors
  src/api/config/initializers/airbrake.rb
Due: none

Make the error ingoring simpler
  src/api/config/initializers/airbrake.rb
Due: none

Add specs for workflow run's workflow configuration
  src/api/spec/components/workflow_run_detail_component_spec.rb
  src/api/spec/factories/workflow_runs.rb
Due: none

Display workflow config file URL or path
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/controllers/trigger_workflow_controller.rb
Due: run-haml-linter

[dist] obsapisetup: create openssl key with 4096
  dist/setup-appliance.sh
Due: run-dist-linter

Correct Rails/FilePath offense
  src/api/config/initializers/create_runtime_directories.rb
Due: none

Correct Rails/FindEach offense
  src/api/app/models/user.rb
Due: none

[backend] support a directory containing dod pubkeys
  src/backend/bs_dodup
Due: run-backend-tests

Avoid inheriting github payload in gitea's pull_request
  src/api/app/models/gitea_payload/pull_request.rb
Due: none

[backend] add a way to specify related projects in BSConfig
  src/backend/BSSched/ProjPacks.pm
Due: run-backend-tests

Add concern to check SCM/CI workflow version against available features
  src/api/app/models/concerns/workflow_version_matcher.rb
  src/api/app/models/workflow.rb
Due: none

Add spec for `workflow_version_validator`
  src/api/spec/validators/workflow_version_validator_spec.rb
Due: none

Add spec for `workflow_version_matcher` concern
  src/api/spec/models/concerns/workflow_version_matcher_spec.rb
Due: none

Add alias for `merge_request` in event filters for SCM/CI workflow version 1.1
  src/api/app/models/workflow.rb
Due: none

Instrument workflow version number usage
  src/api/app/instrumentations/workflow_instrumentation.rb
Due: none

Receive workflow version from workflow yaml file
  src/api/app/models/workflow.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
Due: none

Add validator to check if the provided SCM/CI workflow version format is correct
  src/api/app/models/workflow.rb
  src/api/app/validators/workflow_version_validator.rb
Due: none

[backend] BSRunner: print a message when waiting for all children
  src/backend/BSRunner.pm
Due: run-backend-tests

Add test for usage of `merge_request` event filter alias
  src/api/spec/models/workflow_spec.rb
Due: none

Introduces WorkflowRun.configuration_source
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/models/workflow_run.rb
Due: run-haml-linter

Make the directory creation simpler
  src/api/config/initializers/create_runtime_directories.rb
Due: none

Store scm_vendor and hook_event on workflow_run
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/controllers/trigger_workflow_controller.rb
Due: run-haml-linter

Add scm_vendor and hook_event columns
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20230616154316_add_scm_vendor_and_hook_event_columns_to_workflow_run.rb
  src/api/db/schema.rb
Due: run-migrations-tests
