Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

Use the bundler version ruby 2.7 ships
  dist/t/Gemfile.lock
Due: run-root-rubocop

Track errors from SCMStatusReporter in WorkflowRuns
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_initial_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
Due: none

Don't add exception from SCMStatusReporter to logfile
  src/api/app/services/scm_exception_handler.rb
Due: none

Add specs to check for SCMStatusReporter error tracking in workflow runs
  src/api/spec/services/scm_status_reporter_spec.rb
Due: none

[dist] fix path to clockworkd for new ruby version 2.7
  dist/systemd/obs-clockwork.service
Due: run-root-rubocop

[backend] fix broken additional metadata with createrepo_c 0.20
  dist/obs-server.spec
  src/backend/bs_publish
Due: run-root-rubocop, run-backend-tests

Adapt workflow model and yaml to workflow service specs
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/models/workflow_spec.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
Due: none

Rename Token#name to Token#description
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/rss.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
  src/api/db/migrate/20220412090435_rename_name_to_description_in_tokens.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Update usage of Token#name to Token#description
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/views/person/token/index.xml.builder
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/db/schema.rb
  src/api/spec/components/token_card_component_spec.rb
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
Due: run-haml-linter, run-migrations-tests

Release 2.10.13
  ReleaseNotes-2.10.12
  ReleaseNotes-2.10.13
Due: none

Downcase token types
  src/api/app/views/webui/users/tokens/new.html.haml
Due: run-haml-linter

Use Token#description in workflows rake task
  src/api/lib/tasks/workflows.rake
Due: none

Order watchlist items alphabetically or by number
  src/api/app/components/watchlist_component.rb
Due: run-haml-linter

Do not notify about request permissions
  src/api/app/models/project.rb
Due: none

Revert "Notify if request state change fails because of permission on deleting a project"
  src/api/app/models/project.rb
Due: none

Escape whitespace characters correctly for filepaths
  src/api/app/models/package.rb
Due: none

[dist] new macro %{obs_backend_dir} in obs-server.spec
  dist/obs-server.spec
Due: run-root-rubocop

Introduces 210 label for 2.10 images
  .circleci/config.yml
  docker-compose.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Due: none

Set case-insensitive order for watchlist elements
  src/api/app/components/watchlist_component.rb
Due: run-haml-linter

Add instrumentation to track changes on Notification#delivered
  src/api/app/models/notification.rb
  src/api/spec/models/notification_spec.rb
Due: none

Correct Style/FetchEnvVar rubocop offenses
  dist/openQA_mail_notification.rb
  src/api/config/initializers/airbrake.rb
  src/api/lib/tasks/delayed_job.rake
  src/api/lib/tasks/extract.rake
  src/api/script/start_test_backend
  src/api/spec/support/coverage.rb
  src/api/test/functional/backend_test.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/published_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/functional/zzz_post_consistency_test.rb
  src/api/test/test_helper.rb
Due: run-root-rubocop

[backend] support zstd compressed preinstall images
  src/backend/BSSched/BuildJob/PreInstallImage.pm
Due: run-backend-tests

Correct Style/RedundantInitialize rubocop offense
  docker-files/home/.irbrc
  src/api/app/models/history_element/request_superseded.rb
  src/api/app/queries/open_requests_with_by_project_review_finder.rb
  src/api/app/services/consistency_check_job_service/project_consistency_checker.rb
Due: none

[dist] new package obs-backend-testsuite in obs-server.spec
  dist/obs-server.spec
  src/backend/Makefile
Due: run-root-rubocop, run-backend-tests

[backend] added '/usr/lib/build' to lib path for test_unit
  src/backend/Makefile
Due: run-backend-tests

[backend] fix expected directory in 0015-BSSched-EventSource-Directory.t
  src/backend/t/0015-BSSched-EventSource-Directory.t
Due: run-backend-tests

[backend] Add missing predicate to provenance file
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Due: run-backend-tests

[backend] Add builder, invocation and metadata to ...
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Due: run-backend-tests

[dist] fix typo in obs-server.spec
  dist/obs-server.spec
Due: run-root-rubocop

Remove unused methods in Workflow::Step
  src/api/app/models/workflow/step.rb
Due: none

Move method from component to helper
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/request_helper.rb
Due: run-haml-linter

Path conditions:
  run-root-rubocop: any of: (dist|contrib)/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
