Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

[backend] bs_srcserver: use AJAX for /getconfig queries that contain remote projects
  src/backend/bs_srcserver
Due: run-backend-tests

Add User.rss_secret column
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20231120182646_add_rss_secret_to_user.rb
  src/api/db/schema.rb
Due: run-migrations-tests

[backend] bs_worker: support product compose build mode
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Due: run-backend-tests

[backend] BSFileDB: fix matching of data with embeded percent signs
  src/backend/BSFileDB.pm
Due: run-backend-tests

Support zip files with comments
  src/backend/BSZip.pm
Due: run-backend-tests

Require pry-bybug by default
  src/api/Gemfile
Due: none

Fix reply duplication
  src/api/app/components/bs_request_activity_timeline_component.rb
Due: run-haml-linter

Change User.rss_secret to default to ''
  src/api/.database_consistency.todo.yml
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20231120182646_add_rss_secret_to_user.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Revert "Change User.rss_secret to default to ''"
  src/api/.database_consistency.todo.yml
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20231120182646_add_rss_secret_to_user.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Show indirect comments as quotation
  src/api/app/components/bs_request_history_element_component.rb
Due: run-haml-linter

Adjust bubble arrow position and radius
  src/api/app/assets/stylesheets/webui/comments.scss
Due: none

Hide comment icon in nested comments
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Place comment bubble next to the avatar
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Display name and date inside the comment bubble
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Align comment icon and avatar
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Remove avatar for items that are not conversation
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/components/bs_request_history_element_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Remove the word `wrote`
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Adapt request comment component spec
  src/api/spec/components/bs_request_activity_timeline_component_spec.rb
  src/api/spec/components/bs_request_comment_component_spec.rb
Due: none

Check if rss_secret is present before running its validation
  src/api/app/models/user.rb
Due: none

Disable RSpec/RepeatedExample cop for spec/policies
  src/api/.rubocop.yml
  src/api/spec/policies/comment_policy_spec.rb
  src/api/spec/policies/group_policy_spec.rb
  src/api/spec/policies/status_message_policy_spec.rb
  src/api/spec/policies/webui/status_message_policy_spec.rb
Due: none

Add database_consistency to dev:lint:all
  src/api/lib/tasks/dev/lint.rake
Due: none

Make history elements comments collapsible
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/components/bs_request_history_element_component.rb
Due: run-haml-linter

Adjust margin in case of anonymous comments
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Reduce font size of non-conversational elements
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Adapt request history element component spec
  src/api/spec/components/bs_request_history_element_component_spec.rb
Due: none

Fix request timeline icons alignments
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

[backend] bs_worker: support kiwitree for productcompose builds
  src/backend/bs_worker
Due: run-backend-tests

[backend] put updateinfo.xml files into the bininfo/gbininfo and make them available for product builds
  src/backend/BSRepServer.pm
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSSched/BuildResult.pm
  src/backend/bs_worker
Due: run-backend-tests

Specs for release requests
  src/api/spec/cassettes/MaintenanceWorkflow/release_request/when_accepting_the_request/shows_the_confirmation.yml
  src/api/spec/cassettes/MaintenanceWorkflow/release_request/when_accepting_the_request/stores_correct_information.yml
  src/api/spec/cassettes/MaintenanceWorkflow/release_request/when_visiting_the_request_page/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/release_request/when_visiting_the_request_page/displays_request_actions_dropdown.yml
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
Due: none

Filtering and mapping before the loop
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
Due: none

Refactoring to simplify conditions logic
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
Due: none

Abstract naming
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Take out database queries from chart component...
  src/api/app/components/chart_component.html.haml
  src/api/app/components/chart_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/spec/components/chart_component_spec.rb
  src/api/spec/components/previews/chart_component_preview.rb
  src/api/spec/services/action_build_results_service/chart_data_extractor_spec.rb
Due: run-haml-linter

Add specs for empty build results case
  src/api/spec/services/action_build_results_service/chart_data_extractor_spec.rb
Due: none

Do not use shared variable, return values instead
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
Due: none

Specs for maintenance release requests
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow.yml
  src/api/spec/cassettes/MaintenanceWorkflow/release_requests/when_accepting_the_request/shows_the_confirmation.yml
  src/api/spec/cassettes/MaintenanceWorkflow/release_requests/when_accepting_the_request/stores_correct_information.yml
  src/api/spec/cassettes/MaintenanceWorkflow/release_requests/when_visiting_the_request_page/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/release_requests/when_visiting_the_request_page/displays_request_actions_dropdown.yml
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
Due: none

Remove gitlab/github related things from TriggerController
  src/api/app/controllers/trigger_controller.rb
Due: none

Autorefresh request build results chart
  src/api/.jshintignore
  src/api/app/assets/javascripts/webui/request_show_redesign/chart_build_results.js
Due: run-javascripts-linter

Update cassettes
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/succeeds.yml
Due: none

Reload request build results chart on demand
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/request_show_redesign/chart_build_results.js
  src/api/app/components/chart_component.html.haml
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_chart_build_results.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter, run-javascripts-linter

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
