Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

[backend] Patchinfo: tweak architecture and package ordering
  src/backend/BSSched/BuildJob/Patchinfo.pm
Due: run-backend-tests

[api] fix invalid local links on package instantiate
  src/api/app/helpers/maintenance_helper.rb
Due: none

[backend] BSConSign: fix create_cosign_config_ent argument handling
  src/backend/BSConSign.pm
Due: run-backend-tests

[backend] BSConSign: fix cosign attestation handling
  src/backend/BSConSign.pm
Due: run-backend-tests

[backend] patchinfo: allow to skip updateinfo.xml generation
  docs/api/api/patchinfo.rng
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSVerify.pm
Due: run-backend-tests

[backend] patchinfo: add option to build on all schedulers
  docs/api/api/patchinfo.rng
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSXML.pm
Due: run-backend-tests

Update rspec-rails to version 6.1.1
  src/api/Gemfile.lock
  src/api/vendor/cache/rspec-rails-6.1.0.gem
  src/api/vendor/cache/rspec-rails-6.1.1.gem
Due: run-passenger-tests

Update dalli to version 3.2.8
  src/api/Gemfile.lock
  src/api/vendor/cache/dalli-3.2.7.gem
  src/api/vendor/cache/dalli-3.2.8.gem
Due: run-passenger-tests

[api] relax package meta
  docs/api/api/package.rng
  src/api/test/functional/source_controller_test.rb
Due: none

[backend] fix slepool maping for product composer naming
  src/backend/bs_publish
Due: run-backend-tests

Let notification extracts the event_user internally
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/models/notification.rb
Due: run-haml-linter

Pass 'current_user' around as a parameter
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_notifiable_link_component_spec.rb
Due: run-haml-linter

Get rid of 'rubocop:enable ViewComponent/AvoidGlobalState'
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/user_helper.rb
Due: run-haml-linter

Create User link for non-deleted ones
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/user.rb
Due: run-haml-linter

[backend] do not treat missing packages as local error
  src/backend/bs_worker
Due: run-backend-tests

Added usage of OBS_WORKER_JOBS for VMs
  dist/sysconfig.obs-server
Due: run-dist-linter

Add more precise receiver role text for commenter
  src/api/app/models/event_subscription.rb
Due: none

Fix errors when updating a notification
  src/api/app/views/webui/users/notifications/_update.js.erb
Due: run-haml-linter

Separate actions an user image
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Hide the state badge for confirmed users
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Display user state as a wide badge
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Fix fetching a nil sourcediff
  src/api/app/controllers/webui/request_controller.rb
Due: none

[backend] provide jobid when getting the logfile of a running job
  src/backend/bs_repserver
Due: run-backend-tests

[backend] respect signflavor if set when getting the pubkey
  src/backend/bs_publish
Due: run-backend-tests

Upgrade rack to 2.2.8.1
  dist/obs-bundled-gems.spec
Due: run-dist-linter

[api] fix release of package where source is remote or scmsync'd
  src/api/app/controllers/source_controller.rb
  src/api/app/models/package.rb
  src/api/app/models/token/release.rb
Due: none

Move user update authorization to pundit policy
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/policies/webui/user_policy.rb
Due: none

Remove redundant condition from users controller update
  src/api/app/controllers/webui/users_controller.rb
Due: none

Adapt users controller spec
  src/api/spec/controllers/webui/users_controller_spec.rb
Due: none

Create specs for `#update?` and `#block_commenting?` user policies
  src/api/spec/policies/webui/user_policy_spec.rb
Due: none

Fix maintained projects datatable search
  src/api/app/datatables/maintained_project_datatable.rb
Due: none

Scrub the rpmlint log files
  src/api/app/services/rpmlint_log_extractor.rb
  src/api/spec/services/rpmlint_log_extractor_spec.rb
Due: none

User should not be able to report or block himself
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Style user comment block info
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Clarify if user email info is present or not
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Use a switch button to block|unblock user from commenting
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Upgrade the rack version to 2.2.8.1
  dist/obs-bundled-gems.spec
Due: run-dist-linter

Drop stale user scopes
  src/api/app/models/user.rb
Due: none

Revert "Bump actions/labeler from 4 to 5"
  .github/workflows/pull_request_labeler.yml
Due: none

Add paper trail to spec helper
  src/api/spec/spec_helper.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
