Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Make room for the comment-bubble top-left corner
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Add canned responses table to the database
  src/api/db/migrate/20231130094135_create_canned_responses.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Simplify test for subscriptions creation
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Due: none

[backend] ProductCompose: support versioned package names
  src/backend/BSSched/BuildJob/ProductCompose.pm
Due: run-backend-tests

Remove no longer used personal-navigation.scss file
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/personal-navigation.scss
Due: none

Refactor CSS classes for images templates page
  src/api/app/assets/stylesheets/webui/image_templates.scss
Due: none

Remove unneeded color white class
  src/api/app/assets/stylesheets/webui/patchinfo.scss
Due: none

Remove imperceptible bottom border of the card ...
  src/api/app/views/webui/shared/_buildresult_box.html.haml
Due: run-haml-linter

Use text-* and text-bg-* classes instead of ...
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/assets/stylesheets/webui/requests.scss
Due: none

Refactor methods to run backend test tasks
  src/api/app/lib/backend/test/tasks.rb
Due: none

Remove never used run_dispatcher method
  src/api/app/lib/backend/test/tasks.rb
Due: none

Remove not needed `try` for RSS group subscribers
  src/api/app/services/notification_service/notifier.rb
Due: none

[backend] ProductCompose: use BSSolv::kiwiproductcheck if available
  src/backend/BSSched/BuildJob/ProductCompose.pm
Due: run-backend-tests

Instantly display the 'You reported the X' message
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/views/webui/comment/_content.html.haml
  src/api/app/views/webui/package/_side_links.html.haml
  src/api/app/views/webui/project/_side_links.html.haml
  src/api/app/views/webui/reports/create.js.erb
  src/api/spec/cassettes/Reports/after_reporting_a_comment_on_a_package/displays_the_You_reported_this_comment_message_instantly.yml
  src/api/spec/cassettes/Reports/after_reporting_a_comment_on_a_project/displays_the_You_reported_this_comment_message_instantly.yml
  src/api/spec/cassettes/Reports/after_reporting_a_package/displays_the_You_reported_this_package_message_instantly.yml
  src/api/spec/cassettes/Reports/after_reporting_a_project/displays_the_You_reported_this_project_message_instantly.yml
  src/api/spec/features/beta/webui/reports_spec.rb
Due: run-haml-linter, run-javascripts-linter

[backend] productcompose: fix local worker suport
  src/backend/bs_worker
Due: run-backend-tests

Fix existens typos in code comments
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/lib/xpath_engine.rb
  src/api/test/functional/channel_maintenance_test.rb
Due: none

Remove warning comments about using VCR
  src/api/spec/controllers/webui/packages/job_history_controller_spec.rb
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/controllers/webui/search_controller_spec.rb
  src/api/spec/jobs/bs_request_action_webui_infos_job_spec.rb
  src/api/spec/jobs/configuration_write_to_backend_job_spec.rb
  src/api/spec/jobs/issue_tracker_fetch_issues_job_spec.rb
  src/api/spec/jobs/package_update_if_dirty_job_spec.rb
  src/api/spec/jobs/update_package_meta_job_spec.rb
  src/api/spec/jobs/update_packages_if_dirty_job_spec.rb
  src/api/spec/jobs/update_released_binaries_job_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/spec/models/backend_package_spec.rb
  src/api/spec/models/bs_request_action_delete_spec.rb
  src/api/spec/models/buildresult_spec.rb
  src/api/spec/models/issue_spec.rb
  src/api/spec/models/package_spec.rb
  src/api/spec/models/project/staging_project_spec.rb
  src/api/spec/models/project_spec.rb
Due: none

Record cassettes for decisions feature spec
  src/api/spec/cassettes/Decisions/comment_on_package/creates_the_decision_for_a_moderator.yml
  src/api/spec/cassettes/Decisions/comment_on_project/creates_the_decision_for_a_moderator.yml
  src/api/spec/cassettes/Decisions/package/creates_the_decision_for_a_moderator.yml
  src/api/spec/cassettes/Decisions/project/creates_the_decision_for_a_moderator.yml
Due: none

Create feature spec for decisions on reports
  src/api/spec/features/beta/webui/decisions_spec.rb
Due: none

[backend] fix channel/report generation for kiwi product builds
  src/backend/bs_worker
Due: run-backend-tests

Fix event to validate and adapt textarea comment
  src/api/app/assets/javascripts/webui/comment.js
Due: run-javascripts-linter

Fill report form in reports feature spec
  src/api/spec/features/beta/webui/reports_spec.rb
Due: none

Introduces Configuration.proxy_auth_mode_enabled?
  src/api/app/controllers/person_controller.rb
  src/api/app/helpers/authentication_protocol_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/lib/authenticator.rb
  src/api/app/models/configuration.rb
  src/api/app/views/layouts/webui/_login_form.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/webui/session/_form.html.haml
Due: run-haml-linter

Extend reports feature spec by more user roles
  src/api/spec/features/beta/webui/reports_spec.rb
Due: none

Update cassettes for reports feature spec
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_package/for_a_user_who_is_not_the_author/displays_the_You_reported_this_comment_message_instantly.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_package/for_a_user_who_is_the_author/does_not_display_the_report_link.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_project/for_a_user_who_is_not_the_author/displays_the_You_reported_this_comment_message_instantly.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_project/for_a_user_who_is_the_author/does_not_display_the_report_link.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_request/for_a_user_who_is_not_the_author/displays_the_You_reported_this_comment_message_instantly.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_request/for_a_user_who_is_the_author/does_not_display_the_report_link.yml
  src/api/spec/cassettes/Reports/reporting_a_package/for_a_user_who_is_maintainer/does_not_display_the_report_link.yml
  src/api/spec/cassettes/Reports/reporting_a_package/for_a_user_who_is_not_a_maintainer/displays_the_You_reported_this_package_message_instantly.yml
  src/api/spec/cassettes/Reports/reporting_a_project/for_a_user_who_is_a_maintainer/does_not_display_the_report_link.yml
  src/api/spec/cassettes/Reports/reporting_a_project/for_a_user_who_is_not_a_maintainer/displays_the_You_reported_this_project_message_instantly.yml
Due: none

Simplify proxy mode methods
  src/api/app/components/sign_up_component.html.haml
  src/api/app/components/sign_up_component.rb
  src/api/spec/components/sign_up_component_spec.rb
Due: run-haml-linter

Document all proxy auth mode settings
  src/api/config/options.yml.example
Due: none

Don't jump to the comment list section...
  src/api/app/models/event/report_for_package.rb
Due: none

Show a text instead of a link for deleted reportables
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
Due: run-haml-linter

Move notification link text definition to ...
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
Due: run-haml-linter

Show a "deleted" message for already deleted ...
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Show names of reportables in notifications
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

[dist] Fix obs-api %pre not to fail in chroots on disabling obsapidelayed.service
  dist/obs-server.spec
Due: run-dist-linter

Update dist/obs-server.spec
  dist/obs-server.spec
Due: run-dist-linter

Separate class from instance methods more clearly
  src/api/app/models/user_ldap_strategy.rb
Due: none

Add routes and controller actions for canned responses
  src/api/app/controllers/webui/users/canned_responses_controller.rb
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/index_actions/_manage_canned_responses.haml
  src/api/app/views/webui/users/canned_responses/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/canned_responses/edit.html.haml
  src/api/app/views/webui/users/canned_responses/index.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Implement canned responses component in decisions and comment boxes
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/components/reports_modal_component.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
Due: run-haml-linter

Add a model and a policy for canned_responses
  src/api/app/models/canned_response.rb
  src/api/app/models/user.rb
  src/api/app/policies/canned_response_policy.rb
Due: none

Add the canned responses component and javascript
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/canned_responses.js
  src/api/app/components/canned_responses_dropdown_component.html.haml
  src/api/app/components/canned_responses_dropdown_component.rb
  src/api/spec/components/previews/canned_responses_dropdown_component_preview.rb
Due: run-haml-linter, run-javascripts-linter

Fix a typo in a comment
  src/api/app/models/user_ldap_strategy.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
