Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Address warnings for Style/RedundantParentheses cop
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/unregistered_user.rb
  src/api/app/models/workflow_run.rb
Due: none

Add feature tests for canned responses
  src/api/spec/cassettes/Comments/can_be_created_using_canned_responses.yml
  src/api/spec/factories/canned_responses.rb
  src/api/spec/features/webui/canned_responses_spec.rb
  src/api/spec/features/webui/comments_spec.rb
Due: none

Put canned responses behind content moderation beta flag
  src/api/app/policies/canned_response_policy.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/user/_index_actions.html.haml
Due: run-haml-linter

Create extra section for list of canned responses
  src/api/app/views/webui/users/canned_responses/index.html.haml
Due: run-haml-linter

Enable submit button after inserting canned response in comments form
  src/api/app/assets/javascripts/webui/canned_responses.js
Due: run-javascripts-linter

Create the appeals table
  src/api/db/migrate/20231204093136_create_appeals.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Fix absolute URL's in link_to_reportables helper
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: none

Remove CONFIG['proxy_auth_mode'] from WebuiControllerService::UserChecker
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/lib/routes_helper/role_matcher.rb
  src/api/app/services/webui_controller_service/user_checker.rb
  src/api/spec/services/webui_controller_service/user_checker_spec.rb
Due: none

Add URL's to decision mail notifications
  src/api/app/models/decision.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/views/event_mailer/cleared_decision.html.haml
  src/api/app/views/event_mailer/cleared_decision.text.erb
  src/api/app/views/event_mailer/favored_decision.html.haml
  src/api/app/views/event_mailer/favored_decision.text.erb
  src/api/spec/factories/decisions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: run-haml-linter

Make link_to_reportables helper reusable for decisions
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/views/event_mailer/create_report.html.haml
Due: run-haml-linter

Add email notifications for decisions related events
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/views/event_mailer/cleared_decision.html.haml
  src/api/app/views/event_mailer/cleared_decision.text.erb
  src/api/app/views/event_mailer/favored_decision.html.haml
  src/api/app/views/event_mailer/favored_decision.text.erb
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: run-haml-linter

Remove more occurences of CONFIG['proxy_auth_mode']
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/models/configuration.rb
  src/api/app/models/unregistered_user.rb
  src/api/spec/components/sign_up_component_spec.rb
  src/api/spec/controllers/webui/session_controller_spec.rb
  src/api/spec/lib/authenticator_spec.rb
Due: none

Add email subscriptions for decision related events
  src/api/db/data/20231201205533_create_email_subscriptions_for_decision_related_events.rb
  src/api/db/data_schema.rb
Due: run-migrations-tests

Drop Token:Rss
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/models/token.rb
  src/api/app/models/token/rss.rb
  src/api/app/policies/token/rss_policy.rb
  src/api/app/policies/token_policy.rb
  src/api/db/data/20231208145155_drop_token_rss.rb
  src/api/db/data_schema.rb
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
  src/api/spec/factories/tokens.rb
  src/api/spec/policies/token/rss_policy_spec.rb
  src/api/spec/policies/token_policy_spec.rb
Due: run-migrations-tests

Fix documentation. Add missing authentication flag
  src/api/public/apidocs/paths/person_login_token_id.yaml
  src/api/public/apidocs/paths/source.yaml
  src/api/public/apidocs/paths/source_orderkiwirepos.yaml
  src/api/public/apidocs/paths/source_project_name.yaml
Due: none

Include more information for notifications about deleted comments
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/report.rb
Due: run-haml-linter

Revert "Bump actions/labeler from 4 to 5"
  .github/workflows/pull_request_labeler.yml
Due: none

Fix CSS class for italic font style
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/token_card_component.html.haml
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/views/webui/patchinfo/form/_binaries.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
  src/api/app/views/webui/shared/_buildresult_box.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/spec/components/previews/card_component_preview.rb
Due: run-haml-linter

Update GitHub labeler to version 5 and adapt its config
  .github/labeler.yml
  .github/workflows/pull_request_labeler.yml
Due: none

Implement an event to signal an appeal was created
  src/api/app/models/appeal.rb
  src/api/app/models/event/appeal_created.rb
Due: none

Implement the appeal model
  src/api/app/models/appeal.rb
  src/api/db/migrate/20231211120635_add_missing_foreign_key_constraints_to_appeals.rb
  src/api/db/schema.rb
Due: run-migrations-tests

[backend] Checker: free all caches when we finished checking a prp
  src/backend/BSSched/Checker.pm
  src/backend/bs_sched
Due: run-backend-tests

[backend] bs_getbinariesproxy: remove tmp files if a preinstall download failed
  src/backend/bs_getbinariesproxy
Due: run-backend-tests

Check if the request has any actions first
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
  src/api/spec/services/action_build_results_service/chart_data_extractor_spec.rb
Due: none

Drop redundant test
  src/api/spec/services/action_build_results_service/chart_data_extractor_spec.rb
Due: none

Create pundit policies for appeals
  src/api/app/policies/appeal_policy.rb
  src/api/spec/factories/appeal.rb
  src/api/spec/policies/appeal_policy_spec.rb
Due: none

Add webui controller, routes and views for appeals
  src/api/app/controllers/webui/appeals_controller.rb
  src/api/app/views/webui/appeals/_breadcrumb_items.html.haml
  src/api/app/views/webui/appeals/_list_decision.html.haml
  src/api/app/views/webui/appeals/_list_reports.html.haml
  src/api/app/views/webui/appeals/new.html.haml
  src/api/app/views/webui/appeals/show.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Address Metrics/CyclomaticComplexity cop for `notification_icon` method
  src/api/app/components/notification_component.rb
Due: run-haml-linter

Show a button in notification to appeal a decision
  src/api/app/components/notification_mark_button_component.html.haml
Due: run-haml-linter

Add notification filter for appeals of decisions
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/components/notification_filter_link_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
Due: run-haml-linter

Implement notifications for appealed decisions
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/queries/outdated_notifications_finder/appeal.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/app/services/notified_projects.rb
Due: run-haml-linter

Fix the NotificationFilterComponentSpecs
  src/api/spec/components/notification_filter_component_spec.rb
Due: none

Fix the use of the Appeal policy
  src/api/app/controllers/webui/appeals_controller.rb
Due: none

Decision appealing feature specs
  src/api/spec/cassettes/Appeals/appealing_a_decision/displays_the_message.yml
  src/api/spec/features/beta/webui/appeals_spec.rb
Due: none

Add notification filter for appeals of decisions
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/components/notification_filter_link_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_filter_component_spec.rb
Due: run-haml-linter

Require authentication for API endpoints ...
  src/api/app/controllers/staging/excluded_requests_controller.rb
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/public/apidocs/paths/staging_project_name_excluded_requests.yaml
  src/api/public/apidocs/paths/staging_project_name_staging_projects.yaml
  src/api/public/apidocs/paths/staging_project_name_staging_projects_staging_project_name_staged_requests.yaml
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
