Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Remove NotificationsFinder
  src/api/app/components/notification_filter_component.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/jobs/cleanup_notifications_job.rb
  src/api/app/models/notification.rb
  src/api/app/models/user.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/spec/db/data/remove_obsolete_notifications_spec.rb
Due: run-haml-linter

[backend] improve error reporting for encrypted zip files
  src/backend/BSSrcServer/Srcdiff.pm
  src/backend/BSZip.pm
Due: run-backend-tests

[backend] speed up registry query by storing the last result
  src/backend/BSPublisher/Container.pm
  src/backend/bs_regpush
Due: run-backend-tests

Make the for_notifiable_type scope simpler
  src/api/app/components/notification_filter_component.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
Due: run-haml-linter

[backend] disable builds for maintenance release projects
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

Add missing annotations
  src/api/app/models/canned_response.rb
  src/api/app/models/decision_favored_with_user_commenting_restriction.rb
Due: none

Add missing indexes in table notifications
  src/api/db/migrate/20240516133632_add_missing_indexes_to_notifications.rb
  src/api/db/schema.rb
Due: run-migrations-tests

[api] functional testsuite: follow backend change
  src/api/test/fixtures/flags.yml
Due: none

[backend] bs_regpush: rename --old-list-output option and add --listfile option
  src/backend/BSPublisher/Container.pm
  src/backend/bs_regpush
Due: run-backend-tests

Fix notifications filters. Add missing `unread` scope
  src/api/app/models/notification.rb
Due: none

[backend] allow to specify an embargo in _patchinfo
  docs/api/api/patchinfo.rng
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSXML.pm
  src/backend/bs_publish
Due: run-backend-tests

Sort notifications in descending order gain
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Update Rucocop TODO
  src/api/.rubocop_todo.yml
Due: none

Fix Rubocop offenses for Rails/HttpStatus
  src/api/.rubocop_todo.yml
  src/api/test/functional/about_controller_test.rb
  src/api/test/functional/architectures_controller_test.rb
  src/api/test/functional/attributes_test.rb
  src/api/test/functional/build_controller_test.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/comments_controller_test.rb
  src/api/test/functional/configurations_controller_test.rb
  src/api/test/functional/group_test.rb
  src/api/test/functional/interconnect_test.rb
  src/api/test/functional/issue_controller_test.rb
  src/api/test/functional/issue_trackers_controller_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/person_controller_test.rb
  src/api/test/functional/product_test.rb
  src/api/test/functional/public_controller_test.rb
  src/api/test/functional/published_controller_test.rb
  src/api/test/functional/read_permission_test.rb
  src/api/test/functional/release_management_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/search_binary_release_test.rb
  src/api/test/functional/search_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/functional/source_services_test.rb
  src/api/test/functional/statistics_controller_test.rb
  src/api/test/functional/status_controller_test.rb
Due: none

Fix Rubocop offense Rails/WhereRange
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/jobs/status_history_rescaler_job.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/notification.rb
  src/api/app/models/project_log_entry.rb
  src/api/db/data/20200326221616_regenerate_notifications.rb
Due: run-migrations-tests

Missing events' subject
  src/api/app/models/event/build.rb
  src/api/app/models/event/comment_event.rb
  src/api/app/models/event/relationship.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event/report.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/event/request.rb
Due: none

[backend] bs_publish: fix mapslepool for product composer
  src/backend/bs_publish
Due: run-backend-tests

[backend] add a cache to speed up finding intoto attestations
  src/backend/bs_publish
Due: run-backend-tests

[backend] Container: do not calculate the cosign config for every tag
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

[backend] Container: log list of obsolete tags
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

[backend] Container: move syncing message after deleting the obsolete tags
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

Typo: relationship_deleted = removed role
  src/api/app/models/event/relationship_delete.rb
Due: none

Fix how we access Event::Base.payload hash
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/event/report_for_user.rb
Due: none

Rewrite calls to Configuration class methods
  src/api/app/components/sign_up_component.html.haml
  src/api/app/components/sign_up_component.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/views/webui/users/edit.html.haml
Due: run-haml-linter

Move some configuration methods to class methods
  src/api/app/models/concerns/configuration_constants.rb
  src/api/app/models/configuration.rb
  src/api/spec/models/configuration_spec.rb
Due: none

Removed unused method in Configuration model
  src/api/app/models/configuration.rb
Due: none

Stop using ensure_logged_in in Staging::WorkflowPolicy
  src/api/app/controllers/staging/workflows_controller.rb
  src/api/app/controllers/status_messages_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/policies/staging/workflow_policy.rb
  src/api/app/policies/status_message_policy.rb
  src/api/app/policies/webui/status_message_policy.rb
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/spec/policies/staging/workflow_policy_spec.rb
  src/api/spec/policies/status_message_policy_spec.rb
  src/api/spec/policies/webui/status_message_policy_spec.rb
Due: run-haml-linter

Drops ApplicationPolicy.ensure_logged_in!
  src/api/app/policies/application_policy.rb
Due: none

Stop using ensure_logged_in in EventSubscription::FormPolicy
  src/api/app/controllers/webui/users/subscriptions_controller.rb
  src/api/app/policies/event_subscription/form_policy.rb
  src/api/spec/controllers/webui/users/subscriptions_controller_spec.rb
  src/api/spec/policies/event_subscription/form_policy_spec.rb
Due: none

Stop using ensure_logged_in! in BsRequestPolicy
  src/api/app/policies/bs_request_policy.rb
Due: none

Drop PatchinfosPolicy
  src/api/app/controllers/webui/users/patchinfos_controller.rb
  src/api/app/policies/users/patchinfos_policy.rb
  src/api/spec/controllers/webui/users/patchinfos_controller_spec.rb
  src/api/spec/policies/users/patchinfos_policy_spec.rb
Due: none

Drop Users::TasksPolicy
  src/api/app/controllers/webui/users/tasks_controller.rb
  src/api/app/policies/users/task_policy.rb
  src/api/spec/controllers/webui/users/tasks_controller_spec.rb
  src/api/spec/policies/users/task_policy_spec.rb
Due: none

Stop using ensure_logged_in in Cloud::Azure::ConfigurationPolicy
  src/api/app/controllers/webui/cloud/azure/configurations_controller.rb
  src/api/app/policies/cloud/azure/configuration_policy.rb
  src/api/spec/policies/cloud/azure/configuration_policy_spec.rb
Due: none

Stop using ensure_logged_in in CannedResponsePolicy
  src/api/app/controllers/webui/users/canned_responses_controller.rb
  src/api/app/policies/canned_response_policy.rb
Due: none

Drop User.can_modify_user?
  src/api/app/models/bs_request.rb
  src/api/app/models/user.rb
  src/api/spec/models/user_spec.rb
Due: none

Drop Webui::UserPolicy
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/policies/user_policy.rb
  src/api/app/policies/webui/user_policy.rb
  src/api/spec/controllers/person_controller_spec.rb
  src/api/spec/policies/user_policy_spec.rb
  src/api/spec/policies/webui/user_policy_spec.rb
Due: none

Drop NotificationPolicy::Scope
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/policies/notification_policy.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/policies/notification_policy_spec.rb
Due: none

Stop using ensure_logged_in in TokenPolicy
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/policies/token_policy.rb
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
  src/api/spec/policies/token_policy_spec.rb
Due: none

Fix Status Messages API
  docs/api/api/status_message.xml
  docs/api/api/status_message.xsd
  docs/api/api/status_messages.xml
  docs/api/api/status_messages.xsd
  src/api/app/controllers/status_messages_controller.rb
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/models/status_message.rb
  src/api/app/views/status_messages/index.xml.builder
  src/api/app/views/status_messages/show.xml.builder
  src/api/config/routes/api.rb
  src/api/spec/controllers/status_messages_controller_spec.rb
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
  src/api/spec/models/status_message_spec.rb
  src/api/test/functional/status_controller_test.rb
Due: run-haml-linter

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
