Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Fix extractor of rpmlint logs
  src/api/app/services/rpmlint_log_extractor.rb
  src/api/spec/services/rpmlint_log_extractor_spec.rb
Due: none

Change local comment variables to instance variables
  src/api/app/controllers/webui/comments_controller.rb
Due: none

Refactor comments#create to fix code climate complaint
  src/api/app/controllers/webui/comments_controller.rb
Due: none

Distinguish HistoryElement::ReviewAccepted for staging workflows from others
  src/api/app/models/history_element/review_accepted.rb
Due: none

Fix small cluttering
  src/api/app/views/webui/request/beta_show_tabs/_build_status.html.haml
Due: run-haml-linter

Make diffs on comments render consistently
  src/api/app/assets/stylesheets/webui/diff.scss
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/views/webui/comment/beta/_comments_thread.html.haml
Due: run-haml-linter

Remove the unneeded padding to remove thick line on deleted comment
  src/api/app/components/diff_component.html.haml
  src/api/app/views/webui/request/_inline_comment.html.haml
Due: run-haml-linter

Send metrics related to the rpmlint log extractor
  src/api/app/services/rpmlint_log_extractor.rb
Due: none

Fix broken multi-line documentation strings
  src/api/public/apidocs/paths/architectures.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_builddepinfo.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_package_name_jobstatus.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_repository.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_buildconfig.yaml
  src/api/public/apidocs/paths/configuration.yaml
  src/api/public/apidocs/paths/person.yaml
  src/api/public/apidocs/paths/person_login.yaml
  src/api/public/apidocs/paths/person_login_group.yaml
  src/api/public/apidocs/paths/published.yaml
  src/api/public/apidocs/paths/published_project_name.yaml
  src/api/public/apidocs/paths/published_project_name_repository_name.yaml
  src/api/public/apidocs/paths/published_project_name_repository_name_architecture_name.yaml
  src/api/public/apidocs/paths/published_project_name_repository_name_architecture_name_binary_filename.yaml
  src/api/public/apidocs/paths/published_project_name_repository_name_architecture_name_binary_filename_view_ymp.yaml
  src/api/public/apidocs/paths/published_project_name_repository_name_view_status.yaml
Due: none

[dist] dont fail while disabling obsapidelayed
  dist/obs-server.spec
Due: run-dist-linter

[dist] removed generation of user obsapidelayed
  dist/obs-server.spec
Due: run-dist-linter

Use a beta toggle for Color themes
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/user.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/user/_edit_account_form.html.haml
  src/api/config/initializers/flipper.rb
Due: run-haml-linter

Add dark color theme. Users' profile provides a way to select a color theme
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/color_themes.js
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/breadcrumbs-component.scss
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/assets/stylesheets/webui/cm2/bootstrap.scss
  src/api/app/assets/stylesheets/webui/coderay.scss
  src/api/app/assets/stylesheets/webui/colors.scss
  src/api/app/assets/stylesheets/webui/image_templates.scss
  src/api/app/assets/stylesheets/webui/modals.scss
  src/api/app/assets/stylesheets/webui/navbar.scss
  src/api/app/assets/stylesheets/webui/repositories.scss
  src/api/app/assets/stylesheets/webui/subscriptions.scss
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_bottom_navigation_collapse.html.haml
  src/api/app/views/layouts/webui/_left_navigation_collapse_button.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/package/_buildstatus.html.haml
  src/api/app/views/webui/project/_buildstatus.html.haml
  src/api/app/views/webui/shared/_editor.html.haml
  src/api/app/views/webui/shared/_repositories_flag_table.html.haml
  src/api/app/views/webui/subscriptions/_subscriptions_form.html.haml
  src/api/app/views/webui/user/_edit_account_form.html.haml
  src/api/vendor/assets/stylesheets/tokenfield.scss
Due: run-haml-linter, run-javascripts-linter

Rubocop fixes
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/user.rb
Due: none

Correct the missed jshint lints
  src/api/.jshintrc
  src/api/app/assets/javascripts/webui/color_themes.js
Due: run-javascripts-linter

Replace all the instances of bg-light with appropriate class
  src/api/app/assets/stylesheets/webui/comments.scss
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/components/avatar_component.rb
  src/api/app/components/bs_request_overview_avatars_component.html.haml
  src/api/app/components/chart_component.rb
  src/api/app/components/notification_avatars_component.html.haml
  src/api/app/views/layouts/webui/_notification_toolbar.html.haml
  src/api/app/views/webui/package/simple_file_view.html.haml
  src/api/app/views/webui/packages/binaries/index.html.haml
  src/api/app/views/webui/packages/build_log/live_build_log.html.haml
  src/api/app/views/webui/request/_handle_request.html.haml
  src/api/app/views/webui/request/_request_comments.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui/staging/workflows/_overall_state.html.haml
  src/api/app/views/webui/staging/workflows/_staging_project.html.haml
Due: run-haml-linter

[backend] BSX509: Add pack_digalgo/unpack_digalgo
  src/backend/BSX509.pm
Due: run-backend-tests

Remove use of border-gray-400
  src/api/app/assets/stylesheets/webui/borders.scss
  src/api/app/assets/stylesheets/webui/colors.scss
  src/api/app/components/avatar_component.rb
  src/api/app/components/bs_request_overview_avatars_component.html.haml
  src/api/app/components/notification_avatars_component.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
Due: run-haml-linter

Fix channel parameter for rpmlint log metrics
  src/api/app/services/rpmlint_log_extractor.rb
Due: none

[backend] BSPublisher/Container.pm: do not delete helm charts in container postprocessing
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

change how to set params type to new token in set_package
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/views/webui/users/tokens/new.html.haml
Due: run-haml-linter

Fix visibility of the timeline components
  src/api/app/assets/stylesheets/webui/comments.scss
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_history_element_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Fix visibility of the editor text
  src/api/app/assets/stylesheets/webui/cm2/bootstrap.scss
Due: none

Add specs for diff comments on request timeline
  src/api/spec/cassettes/Comments_with_diff/reply_comment/when_under_the_beta_program/displays_the_chnages_after_adding_a_new_comment.yml
  src/api/spec/cassettes/Comments_with_diff/reply_comment/when_under_the_beta_program/displays_the_comment_in_the_timeline.yml
  src/api/spec/features/webui/requests/diff_comments_spec.rb
Due: none

Add specs for diff comments on request timeline
  src/api/spec/cassettes/Comments_with_diff/reply_comment/when_under_the_beta_program/displays_the_changes_after_adding_a_new_comment.yml
  src/api/spec/features/webui/requests/diff_comments_spec.rb
Due: none

Use bootstrap color variables instead of semantic color variables
  src/api/app/assets/stylesheets/webui/cm2/bootstrap.scss
Due: none

Remove refresh button and leftovers of previous version
  src/api/app/assets/javascripts/webui/request_show_redesign/build_results.js
  src/api/app/views/webui/request/build_results.html.haml
Due: run-haml-linter, run-javascripts-linter

Implement new build results page
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/assets/stylesheets/webui/mixin.scss
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/components/build_status_badge_component.html.haml
  src/api/app/components/build_status_badge_component.rb
  src/api/app/views/webui/request/beta_show_tabs/_build_status.html.haml
Due: run-haml-linter

Refine icons to reflect build status
  src/api/app/components/build_status_badge_component.rb
Due: run-haml-linter

Drop stale component
  src/api/app/components/build_result_for_architecture_component.html.haml
  src/api/app/components/build_result_for_architecture_component.rb
  src/api/spec/components/build_result_for_architecture_component_spec.rb
  src/api/spec/components/previews/build_result_for_architecture_component_preview.rb
Due: run-haml-linter

Add new route and action complete_build_results
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/build_results.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Show spinner while loading build results
  src/api/app/views/webui/request/build_results.html.haml
Due: run-haml-linter

Add missing BuildResultsMonitorComponent preview
  src/api/spec/components/previews/build_results_monitor_component_preview.rb
Due: none

Add repository status keyword to the badge
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
Due: run-haml-linter

Set build status categories to be displayed as a summary
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/components/build_status_badge_component.rb
  src/api/app/components/build_status_count_badge_component.html.haml
  src/api/app/components/build_status_count_badge_component.rb
  src/api/app/models/buildresult.rb
  src/api/spec/components/previews/build_status_count_badge_component_preview.rb
Due: run-haml-linter

Fix linter offenses
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_status_badge_component.rb
Due: run-haml-linter

Highlight badges that are clickable
  src/api/app/assets/stylesheets/request_show_redesign/build_results.scss
  src/api/app/components/build_status_badge_component.rb
Due: run-haml-linter

Add links to live build log and binaries
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/components/build_status_badge_component.rb
Due: run-haml-linter

Add BuildStatusBadgeComponent previews
  src/api/spec/components/previews/build_status_badge_component_preview.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
