Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

Add offset for request collection api
  src/api/app/controllers/request_controller.rb
  src/api/public/apidocs-new/components/parameters/request.yaml
  src/api/public/apidocs-new/paths/request_view_collection.yaml
Due: run-apidocs-linter

Adapt rails task to add special projects and packages
  src/api/lib/tasks/dev.rake
  src/api/spec/factories/packages.rb
Due: none

shebang replacement was too greedy
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

ruby does not like inline editing, back to sed
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Comment component specs
  src/api/app/components/comment_component_preview.rb
  src/api/spec/components/comment_component_spec.rb
Due: run-haml-linter

Refactor comments presenter to a view component
  src/api/app/components/comment_component.rb
  src/api/app/components/comment_component.xml.builder
  src/api/app/presenters/comments_controller_presenters/comment_presenter.rb
  src/api/app/views/comments/_comment.xml.builder
  src/api/app/views/comments/index.xml.builder
  src/api/spec/presenters/comments_controller_presenters/comment_presenter_spec.rb
Due: run-haml-linter

[backend] implement the nativeonly flag in the repservers' constraints check
  src/backend/bs_repserver
Due: run-backend-tests

Update strong_migrations to version 0.8.0
  src/api/Gemfile.lock
  src/api/vendor/cache/strong_migrations-0.7.9.gem
  src/api/vendor/cache/strong_migrations-0.8.0.gem
Due: none

Update bundler binstub
  src/api/bin/bundle
Due: none

Notify if request state change fails on deleting a project
  src/api/app/models/project.rb
Due: none

[backend] BSSched::DoD.pm: do nothing in dodcheck if called from the repo server
  src/backend/BSSched/DoD.pm
Due: run-backend-tests

Fix broken specs in Kiwi::Image model
  src/api/app/models/kiwi/image/xml_builder.rb
  src/api/spec/models/kiwi/image_spec.rb
Due: none

[backend] support Debian's Multi-Arch indicator for cross build
  src/backend/BSRepServer/Checker.pm
  src/backend/BSSched/BuildJob/Package.pm
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

Rename methods to create/delete relationship events
  src/api/app/mixins/has_relationships.rb
  src/api/app/models/relationship.rb
Due: none

Approver cannot be the request creator
  src/api/app/models/bs_request/errors.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/db/attribute_descriptions.rb
  src/api/db/data/20220318123314_add_attribute_to_enforce_request_accepter_and_creator_to_be_a_different_person.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
  src/api/spec/cassettes/BsRequest/_changestate/when_bs_request_is_staged/when_a_staged_bs_request_is_accepted/1_6_5_2_1.yml
  src/api/spec/cassettes/BsRequest/_changestate/when_the_request_is_accepted/and_the_target_package_has_an_attribute_to_disallow_acceptance_by_the_creator/and_the_accepter_is_NOT_the_creator/accepts_the_request.yml
  src/api/spec/cassettes/BsRequest/_changestate/when_the_request_is_accepted/and_the_target_package_has_an_attribute_to_disallow_acceptance_by_the_creator/and_the_accepter_is_the_creator/triggers_an_error.yml
  src/api/spec/cassettes/BsRequest/_changestate/when_the_request_is_accepted/and_the_target_package_has_an_attribute_to_disallow_acceptance_by_the_creator/but_the_accepter_is_NOT_the_creator/accepts_the_request.yml
  src/api/spec/cassettes/BsRequest/_changestate/when_the_request_is_accepted/and_the_target_project_has_an_attribute_to_disallow_acceptance_by_the_creator/and_the_accepter_is_NOT_the_creator/accepts_the_request.yml
  src/api/spec/cassettes/BsRequest/_changestate/when_the_request_is_accepted/and_the_target_project_has_an_attribute_to_disallow_acceptance_by_the_creator/and_the_accepter_is_the_creator/triggers_an_error.yml
  src/api/spec/cassettes/BsRequest/_changestate/when_the_request_is_accepted/and_the_target_project_has_an_attribute_to_disallow_acceptance_by_the_creator/but_the_accepter_is_NOT_the_creator/accepts_the_request.yml
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/support/database_cleaner.rb
Due: run-migrations-tests

Add clockwork binstubs
  dist/systemd/obs-clockwork.service
  src/api/Procfile
  src/api/bin/clockwork
  src/api/bin/clockworkd
Due: run-root-rubocop

Prepare Rails 7 update
  src/api/Gemfile
  src/api/Gemfile.next.lock
Due: none

[backend] fix thinko in last cross build changes
  src/backend/BSRepServer/Checker.pm
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

Do not display enabled/rolled-out beta features on Manage Beta Features page
  src/api/app/controllers/webui/users/beta_features_controller.rb
  src/api/app/views/webui/users/beta_features/index.html.haml
  src/api/spec/features/webui/users/beta_features_spec.rb
Due: run-haml-linter

Use the application binstubs
  dist/systemd/obs-clockwork.service
  dist/systemd/obs-sphinx.service
  src/api/Procfile
  src/api/bin/rails
Due: run-root-rubocop

Add link to new workflow run in initial reports to SCM
  src/api/app/models/token/workflow.rb
  src/api/app/services/scm_initial_status_reporter.rb
Due: none

Revoke requests with the permissions of the sender
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/project.rb
Due: none

Respond with an error when the SCM is unsupported
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/trigger_workflow_controller.rb
Due: none

Add support to render usernames with dots
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
Due: none

Use the correct field for the merge request number
  src/api/app/components/workflow_run_row_component.rb
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Due: run-haml-linter

Make sure we just try to create workflow_runs for Workflow tokens
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Due: none

Fix minitests to support invalid_token status_code
  src/api/test/functional/source_services_test.rb
  src/api/test/functional/trigger_controller_test.rb
Due: none

fix_invalid_token_issue
  src/api/app/controllers/concerns/rescue_handler.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Due: none

Add InvalidToken message to match the expected error message
  src/api/app/controllers/trigger_controller.rb
  src/api/spec/controllers/trigger_controller_spec.rb
Due: none

Prevent processing non-processable steps
  src/api/app/models/workflow.rb
  src/api/spec/models/workflow_spec.rb
Due: none

Move some methods from the component to the model
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/models/workflow_run.rb
Due: run-haml-linter

Add a task to clean up workflow's closed projects
  src/api/lib/tasks/workflows.rake
  src/api/spec/lib/tasks/workflows_spec.rb
Due: none

Remove font-awesome-sprockets from application.scss
  src/api/app/assets/stylesheets/webui/application.scss
Due: none

Create migration for the new column type
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20220329104414_create_request_json_payload_column_in_workflow_runs.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Backfill workflow_runs new column
  src/api/db/data/20220329152245_backfill_workflow_run_request_json_payload.rb
  src/api/db/data_schema.rb
  src/api/spec/db/data/backfill_workflow_run_request_json_payload_spec.rb
Due: run-migrations-tests

Create spec to detect the short column
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Due: none

Write to both columns
  src/api/app/controllers/trigger_workflow_controller.rb
Due: none

Stop reading from the old `request_payload` field
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/models/workflow_run.rb
Due: run-haml-linter

[WIP] Stop writing into the old `request_payload` column
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/spec/components/workflow_artifacts_per_step_component_spec.rb
  src/api/spec/components/workflow_run_detail_component_spec.rb
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
  src/api/spec/factories/workflow_runs.rb
Due: none

Increase WorkflowRun's request_payload column capacity
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20220330125635_increase_workflow_runs_request_payload_capacity.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Path conditions:
  run-root-rubocop: any of: (dist|contrib)/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
