Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Test new Report Bug URL field with feature specs
  src/api/spec/cassettes/Packages/editing_a_package_s_details/updates_the_package_title_and_description.yml
  src/api/spec/cassettes/Projects/changing_project_title_and_description/when_accepting_the_changes/updates_the_project_title_description_and_url.yml
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Due: none

Remove unused variables
  src/api/app/views/webui/package/show.html.haml
Due: run-haml-linter

Refactor bugowner_emails for projects and packages
  src/api/app/models/concerns/has_relationships.rb
  src/api/app/models/concerns/report_bug_url.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
Due: none

Introduce editing "Report Bug URL"'s for projects and packages
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/package/_edit.html.haml
  src/api/app/views/webui/package/update.js.haml
  src/api/app/views/webui/project/_edit.html.haml
  src/api/app/views/webui/project/update.js.haml
Due: run-haml-linter

[backend] Diffnotify: fix writing of the "report" file
  src/backend/BSPublisher/Diffnotify.pm
Due: run-backend-tests

Show label templates on a project tab
  src/api/app/controllers/webui/projects/label_templates_controller.rb
  src/api/app/models/project.rb
  src/api/app/views/webui/project/_basic_info.html.haml
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/projects/label_templates/_breadcrumb_items.html.haml
  src/api/app/views/webui/projects/label_templates/index.html.haml
  src/api/app/views/webui/shared/_label.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Provide a label template policy
  src/api/app/controllers/webui/projects/label_templates_controller.rb
  src/api/app/policies/label_template_policy.rb
  src/api/app/views/webui/project/_tabs.html.haml
Due: run-haml-linter

Fix linked projects fixtures
  src/api/test/fixtures/linked_projects.yml
Due: none

Edit label templates
  src/api/app/controllers/webui/projects/label_templates_controller.rb
  src/api/app/policies/label_template_policy.rb
  src/api/app/views/webui/projects/label_templates/edit.html.haml
  src/api/app/views/webui/projects/label_templates/index.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Submit the labels form automatically
  src/api/app/views/webui/shared/_label_form.html.haml
Due: run-haml-linter

Implement a consistent label list
  src/api/app/views/webui/shared/_label_list.html.haml
Due: run-haml-linter

Introduce a labels controller
  src/api/app/controllers/webui/labels_controller.rb
  src/api/app/models/package.rb
  src/api/config/routes/webui.rb
Due: none

Add dropdown for modifying labels on labelables
  src/api/app/views/webui/shared/_label_form.html.haml
Due: run-haml-linter

Update labels button styling
  src/api/app/views/webui/shared/_label_form.html.haml
Due: run-haml-linter

Check permissions for creating labels
  src/api/app/views/webui/shared/_label_form.html.haml
  src/api/app/views/webui/shared/_label_list.html.haml
Due: run-haml-linter

Update policy name
  src/api/app/controllers/webui/labels_controller.rb
Due: none

Split profile from logout links
  src/api/app/views/layouts/webui/_top_navigation.html.haml
Due: run-haml-linter

Add a spec for the labels controller
  src/api/app/policies/package_policy.rb
  src/api/spec/controllers/webui/labels_controller_spec.rb
Due: none

Add a link to edit labels
  src/api/app/views/webui/shared/_label_form.html.haml
Due: run-haml-linter

[backend] Docker, KiwiImage: remove "container:" prefix when checking the blocked state
  src/backend/BSSched/BuildJob/Docker.pm
  src/backend/BSSched/BuildJob/KiwiImage.pm
Due: run-backend-tests

[backend] add kiwi product module specifier
  src/backend/BSKiwiXML.pm
  src/backend/BSProductXML.pm
Due: run-backend-tests

Ensure the factory produces valid color codes
  src/api/spec/factories/label_template.rb
Due: none

Extract a label template form
  src/api/app/views/webui/projects/label_templates/_form.html.haml
  src/api/app/views/webui/projects/label_templates/edit.html.haml
  src/api/app/views/webui/projects/label_templates/new.html.haml
Due: run-haml-linter

Create label templates
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/validations.scss
  src/api/app/controllers/webui/projects/label_templates_controller.rb
  src/api/app/helpers/webui/validation_helper.rb
  src/api/app/policies/label_template_policy.rb
  src/api/app/views/webui/projects/label_templates/index.html.haml
  src/api/app/views/webui/projects/label_templates/new.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Make the form compatible with Bootstrap server side validation tools
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/validations.scss
  src/api/app/views/webui/projects/label_templates/_form.html.haml
  src/api/config/initializers/field_with_errors.rb
Due: run-haml-linter

Update RuboCop TODO file for rails folder after upgrade
  src/api/.rubocop_todo.yml
Due: none

Delete label templates
  src/api/app/controllers/webui/projects/label_templates_controller.rb
  src/api/app/policies/label_template_policy.rb
  src/api/app/views/webui/projects/label_templates/index.html.haml
Due: run-haml-linter

[backend] strip "container:" prefix when generating the dep2src and subpacks hashes
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

[backend] support "excluded" and "disabled" as pseudo build type
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

Ensure we delete dependent Labels
  src/api/app/models/label_template.rb
Due: none

Allow adding labels on packages
  src/api/app/views/webui/package/show.html.haml
Due: run-haml-linter

Escape html in color
  src/api/app/views/webui/shared/_label.html.haml
Due: run-haml-linter

Render the right object
  src/api/app/views/webui/shared/_label_list.html.haml
Due: run-haml-linter

Change type of report_bug_url field from text to string
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/remote_project.rb
  src/api/db/migrate/20240808084541_change_report_bug_url_to_string.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Database migration to add the text_attachments table
  src/api/db/migrate/20240807121957_create_text_attachments.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Show "Contribution Guide" for projects and packages
  src/api/app/controllers/webui/packages/contribution_guide_controller.rb
  src/api/app/controllers/webui/projects/contribution_guide_controller.rb
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/packages/contribution_guide/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/contribution_guide/show.html.haml
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/projects/contribution_guide/_breadcrumb_items.html.haml
  src/api/app/views/webui/projects/contribution_guide/show.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

WIP: Edit...
  src/api/app/views/webui/packages/contribution_guide/show.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Add text_attachment model and associations to project and package
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/text_attachment.rb
Due: none

Add specs to check presence of labels on bs_request page
  src/api/spec/factories/label.rb
  src/api/spec/features/beta/webui/requests_labels_spec.rb
Due: none
