Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

[backend] BSStdServer: adapt to perl always null-terminating strings packed with 'Z'
  src/backend/BSStdServer.pm
Due: run-backend-tests

Disable turbo-drive globally
  src/api/app/javascript/application.js
Due: none

Add importmaps-rails to project and run installation
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/config/manifest.js
  src/api/app/javascript/application.js
  src/api/bin/importmap
  src/api/config/importmap.rb
  src/api/vendor/cache/importmap-rails-1.2.3.gem
  src/api/vendor/javascript/.keep
Due: run-passenger-tests

Manually include importmap tag to webui layout
  src/api/app/views/layouts/webui/webui.html.haml
Due: run-haml-linter

Add turbo-rails gem to project
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/turbo-rails-1.5.0.gem
Due: run-passenger-tests

Use turbo frames for project inline editing
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/project/_basic_info.html.haml
  src/api/app/views/webui/project/_edit.html.haml
  src/api/app/views/webui/project/edit.html.haml
  src/api/app/views/webui/project/edit.js.erb
  src/api/app/views/webui/project/update.js.haml
  src/api/app/views/webui/project/update.turbo_stream.haml
Due: run-haml-linter

Run turbo-rails installation
  src/api/app/javascript/application.js
  src/api/config/importmap.rb
Due: none

Prevent appealing a decision for reports with a now-deleted reportable
  src/api/app/policies/appeal_policy.rb
  src/api/spec/policies/appeal_policy_spec.rb
Due: none

[backend] BSWatcher: add serialize_waiting() and serlialize_advance() functions
  src/backend/BSWatcher.pm
Due: run-backend-tests

[backend] serialize getconfig, binaryversions and binaryversionlist interconnect requests
  src/backend/BSSrcServer/Remote.pm
  src/backend/bs_srcserver
Due: run-backend-tests

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Due: none

Always show subscription form for report events in the admin interface
  src/api/app/models/event_subscription/form.rb
Due: none

Deprecate POST /person/register API endpoint
  src/api/public/apidocs/paths/person_register.yaml
Due: none

Report the author of a comment as well as their comment if wanted
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/views/webui/shared/_report_modal.html.haml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_package/for_a_user_who_is_not_the_author/is_possible_to_report_the_both_the_comment_and_its_author.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_project/for_a_user_who_is_not_the_author/is_possible_to_report_both_the_comment_and_its_author.yml
  src/api/spec/features/beta/webui/reports_spec.rb
Due: run-haml-linter, run-javascripts-linter

Add missing notifications rss feed views
  src/api/app/views/notifications/build_fail.text.erb
  src/api/app/views/notifications/relationship_create.text.erb
  src/api/spec/cassettes/Webui_FeedsController/GET_notifications/when_fetching_build_failed_notifications/1_3_3_1.yml
  src/api/spec/controllers/webui/feeds_controller_spec.rb
Due: run-haml-linter

Enforce the presence of a reportable on a report's creation
  src/api/app/models/report.rb
  src/api/spec/policies/appeal_policy_spec.rb
Due: none

[backend] rename "donated result" to "shared result"
  src/backend/BSSrcServer/Remote.pm
  src/backend/bs_srcserver
Due: run-backend-tests

Report a request
  src/api/app/models/bs_request.rb
  src/api/app/policies/bs_request_policy.rb
  src/api/app/policies/report_policy.rb
  src/api/app/views/webui/request/_report_request.html.haml
  src/api/app/views/webui/request/_show_actions.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/show.html.haml
Due: run-haml-linter

Make people visit the log in page for mellon IAP
  src/api/app/helpers/webui/webui_helper.rb
Due: none

Redirect to login page if anonymous
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/models/concerns/configuration_constants.rb
  src/api/app/models/configuration.rb
  src/api/config/options.yml.example
  src/api/spec/controllers/webui/webui_controller_spec.rb
  src/api/spec/models/configuration_spec.rb
Due: none

[backend] bs_worker: copy version/release from the containerinfo when generating the report file
  src/backend/bs_worker
Due: run-backend-tests

Show subscription configuration form for `Event::AppealCreated`
  src/api/app/models/event/base.rb
Due: none

Change description of appeal created event
  src/api/app/models/event/appeal_created.rb
Due: none

Disable checkbox for email subscriptions to `Event::AppealCreated`
  src/api/app/models/event_subscription/for_channel_form.rb
Due: none

Show subscription form for `Event::AppealCreated` only to moderators
  src/api/app/models/event_subscription/form.rb
Due: none

Support the report event for requests
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/report.rb
Due: none

Enable the subscription of the reported request event
  src/api/app/queries/notifications_finder.rb
  src/api/app/services/notification_service/notifier.rb
Due: none

Implement the Notification of the Reported Request
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Report a request
  src/api/app/models/bs_request.rb
  src/api/app/policies/bs_request_policy.rb
  src/api/app/policies/report_policy.rb
  src/api/app/views/webui/request/_report_request.html.haml
  src/api/app/views/webui/request/_show_actions.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Allow users to subscribe to reported requests
  src/api/app/models/event/base.rb
Due: none

Create a reported request for playing in development
  src/api/lib/tasks/dev/reports.rake
Due: none

Move spec/support/files/* to spec/fixture/files/
  src/api/spec/fixtures/files/bigfile_archive.tar.gz
  src/api/spec/fixtures/files/bigfile_archive_2.tar.gz
  src/api/spec/fixtures/files/diff_simple.diff
  src/api/spec/fixtures/files/diff_with_no_newline_comments.diff
  src/api/spec/fixtures/files/hello.txt
  src/api/spec/fixtures/files/hello_world
  src/api/spec/fixtures/files/invalid_steps_workflows.yml
  src/api/spec/fixtures/files/multiple_workflows.yml
  src/api/spec/fixtures/files/request_payload_github_pull_request_closed.json
  src/api/spec/fixtures/files/request_payload_github_pull_request_opened.json
  src/api/spec/fixtures/files/request_payload_github_push.json
  src/api/spec/fixtures/files/request_payload_github_tag_push.json
  src/api/spec/fixtures/files/request_payload_gitlab_pull_request_closed.json
  src/api/spec/fixtures/files/request_payload_gitlab_pull_request_merged.json
  src/api/spec/fixtures/files/request_payload_gitlab_pull_request_opened.json
  src/api/spec/fixtures/files/request_payload_gitlab_push.json
  src/api/spec/fixtures/files/request_payload_gitlab_tag_push.json
  src/api/spec/fixtures/files/unparsable_workflows.yml
  src/api/spec/fixtures/files/unparsable_workflows_placeholders.yml
  src/api/spec/fixtures/files/workflows.yml
Due: none

UI feedback to the user who reported a request
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/components/reports_notice_component.rb
  src/api/app/views/webui/request/_request_header.html.haml
Due: run-haml-linter, run-javascripts-linter

[backend] add support for reporting the requestid in bs_serverstatus
  src/backend/BSWatcher.pm
  src/backend/BSXML.pm
  src/backend/bs_serverstatus
Due: run-backend-tests

Use file_fixture for file fixtures
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/factories/packages.rb
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/features/webui/repositories_spec.rb
  src/api/spec/fixtures/files/distributions.xml
  src/api/spec/fixtures/files/project_with_dod.xml
  src/api/spec/models/backend/file_spec.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/services/diff_parser_spec.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
Due: none

Disable RSS channel for subscriptions to decision events
  src/api/app/models/event_subscription/for_channel_form.rb
Due: none

Add decision events to subscription configuration form
  src/api/app/models/event/base.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/form.rb
Due: none

Revert "Add email subscriptions for decision related events"
  src/api/db/data/20231201205533_create_email_subscriptions_for_decision_related_events.rb
Due: run-migrations-tests

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
