Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Autocorrect Lint/RedundantCopDisableDirective ...
  src/api/.rubocop_todo.yml
  src/api/app/models/issue_tracker.rb
  src/api/spec/jobs/consistency_check_job_spec.rb
Due: none

Autocorrect Naming/BlockForwarding RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/lib/suse/permission.rb
  src/api/app/models/configuration.rb
Due: none

Autocorrect Layout/LineContinuationLeadingSpace ...
  src/api/.rubocop_todo.yml
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/project.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/test/functional/source_controller_test.rb
Due: none

Autocorrect Style/RedundantFreeze RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/lib/pretty_nested_errors/key_and_messages_parser.rb
Due: none

Autocorrect Style/SoleNestedConditional RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_package_meta_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/models/branch_package/check_for_update.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/channel.rb
  src/api/app/models/channel_binary.rb
  src/api/app/models/concerns/has_attributes.rb
  src/api/app/models/package.rb
  src/api/app/models/patchinfo.rb
  src/api/app/models/project.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/models/repository.rb
  src/api/app/policies/package_policy.rb
  src/api/lib/memory_debugger.rb
  src/api/script/reformat_memprof
  src/api/test/node_matcher.rb
Due: none

Autocorrect Style/IfUnlessModifier RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/source_attribute_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_meta_controller.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/channel_binary.rb
  src/api/app/models/configuration.rb
  src/api/app/models/project.rb
  src/api/app/policies/token/release_policy.rb
  src/api/lib/tasks/statistics/github/issues.rake
  src/api/lib/tasks/statistics/github/pull_requests.rake
  src/api/script/import_database.rb
Due: none

Autocorrect Lint/RedundantCopDisableDirective ...
  src/api/.rubocop_todo.yml
  src/api/db/attribute_descriptions.rb
  src/api/lib/xpath_engine.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/test/functional/backend_test.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/read_permission_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/search_controller_test.rb
  src/api/test/functional/source_controller_test.rb
Due: run-migrations-tests

Improve definition of migrations and data migrations
  .github/workflows/isolated_migrations.yml
Due: none

Move logic to fetch open reviews to a finder class
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/queries/reviews_finder.rb
Due: none

Add missing preview for write_and_preview_component
  src/api/.rubocop_todo.yml
  src/api/spec/components/previews/write_and_preview_component_preview.rb
Due: none

Use `revoke_request` policy in `request_decision_component`
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
Due: run-haml-linter

[backend] BSRPC: refactor cookiestore handling
  src/backend/BSRPC.pm
  src/backend/BSSigAuth.pm
Due: run-backend-tests

[backend] BSWatcher: add support for $BSRPC::authenticator
  src/backend/BSWatcher.pm
Due: run-backend-tests

[backend][api] Fix fetching of remote /distributions.xml and image templates
  src/api/app/controllers/statistics/maintenance_statistics_controller.rb
  src/api/app/jobs/fetch_remote_distributions_job.rb
  src/api/app/lib/backend/api/sources/project.rb
  src/api/app/models/project.rb
  src/api/app/models/project/remote_url.rb
  src/backend/bs_srcserver
Due: run-backend-tests

[api] fix project package listing of interconnect
  src/api/app/controllers/source_project_controller.rb
Due: none

[backend] BSRPC::updatecookies: evict cookies with the same name from the cookie store
  src/backend/BSRPC.pm
Due: run-backend-tests

[backend] prevent authenticator recursion
  src/backend/BSRPC.pm
  src/backend/BSWatcher.pm
Due: run-backend-tests

[backend] BSSrcServer::Remote: support fetchremoteproj and fetchremoteconfig from AJAX
  src/backend/BSSrcServer/Remote.pm
Due: run-backend-tests

Correct manually RSpec/RepeatedExample RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/lib/backend/connection_helper_spec.rb
  src/api/spec/models/bs_request/find_for/user_spec.rb
Due: none

Correct manually RSpec/RepeatedDescription RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/models/kiwi/repository_spec.rb
Due: none

Correct manually RSpec/RepeatedExampleGroupBody ...
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/person_controller_spec.rb
Due: none

[backend] use formurlencode when sending commands
  src/backend/bs_srcserver
Due: run-backend-tests

Exclude some db/ files from being "not migrations"
  .github/workflows/isolated_migrations.yml
Due: none

Add missing BranchSkipRepositories attribute type ...
  src/api/db/data/20231106165306_add_branch_skip_repositories_to_attrib_types.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
Due: run-migrations-tests

Fix typo. projet -> project
  src/api/db/attribute_descriptions.rb
Due: run-migrations-tests

Add missing PlannedReleaseDate attribute type to ...
  src/api/db/data/20231107095249_add_planned_release_date_to_attrib_types.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
Due: run-migrations-tests

Add missing EnforceRevisionsInRequests attribute ...
  src/api/db/data/20231107100650_add_enforce_revisions_in_requests_to_attrib_types.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
Due: run-migrations-tests

Don't use uninitialized values
  src/backend/BSSched/Remote.pm
  src/backend/BSSrcServer/Remote.pm
Due: run-backend-tests

Correct manually RSpec/InstanceVariable RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/public_controller_spec.rb
  src/api/spec/controllers/webui/monitor_controller_spec.rb
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/relationship_spec.rb
  src/api/spec/models/review_spec.rb
Due: none

Correct manually RSpec/RepeatedExampleGroupDescription
  src/api/.rubocop_todo.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/non_existent_repository/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/non_existent_repository/redirects_to_the_package_binaries_path.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/user_not_being_a_maintainer_of_a_package/1_10_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/user_not_being_a_maintainer_of_a_package/1_10_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_10_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_10_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_with_maintainer_of_package/1_10_3_1.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/helpers/webui/package_helper_spec.rb
  src/api/spec/models/bs_request/find_for/user_spec.rb
  src/api/spec/models/project_status/pack_info_spec.rb
  src/api/spec/models/users/requests_spec.rb
  src/api/spec/policies/user_policy_spec.rb
Due: none

Remove tests for removed package actions
  src/api/spec/controllers/webui/package_controller_binaries_spec.rb
Due: none

Remove nonexistent file from linter configuration
  src/api/.rubocop.yml
Due: none

Address RSpec/SpecFilePathSuffix RuboCop offense
  src/api/.rubocop.yml
  src/api/spec/controllers/webui/package_controller_binaries_spec.rb
Due: none

Fix tests for dependency and wipe_binaries actions ...
  src/api/spec/cassettes/Webui_PackageController/DELETE_wipe_binaries/when_wiping_binaries_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/DELETE_wipe_binaries/when_wiping_binaries_fails/redirects_to_package_binaries.yml
  src/api/spec/cassettes/Webui_PackageController/DELETE_wipe_binaries/when_wiping_binaries_succeeds/1_1_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_a_valid_project_and_an_invalid_architecture/1_1_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_a_valid_project_and_an_invalid_architecture/1_1_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_an_invalid_project/1_1_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_an_invalid_project/1_1_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_3.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_4.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_5.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_6.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/and_fileinfo_is_nil/1_1_5_7_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repository_and_an_invalid_repository/1_1_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repository_and_an_invalid_repository/1_1_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture_and_an_invalid_repository/1_1_3_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture_and_an_invalid_repository/1_1_3_2.yml
  src/api/spec/controllers/webui/package_controller_dependency_spec.rb
  src/api/spec/controllers/webui/package_controller_wipe_binaries_spec.rb
Due: none

Fix misspelling of 'existant' to 'existent'
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/non_existent_repository/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/non_existent_repository/redirects_to_the_package_binaries_path.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_package/1_1_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_package/1_1_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_project/1_1_1_6_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_project/1_1_1_6_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_architecture/1_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_architecture/1_1_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_repository/1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_repository/1_1_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_package/1_2_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_package/1_2_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_project/1_2_1_6_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_project/1_2_1_6_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_architecture/1_2_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_architecture/1_2_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_repository/1_2_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_repository/1_2_2_2.yml
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
  src/api/spec/controllers/statistics/maintenance_statistics_controller_spec.rb
  src/api/spec/controllers/status/checks_controller_spec.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/packages/build_log_controller_spec.rb
  src/api/spec/controllers/webui/requests/devel_project_changes_controller_spec.rb
  src/api/spec/models/project/update_from_xml_command_spec.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/unit/package_test.rb
  src/api/test/unit/user_test.rb
Due: none

[backend] change default back to gz for create/modifyrepo
  src/backend/bs_publish
Due: run-backend-tests

Use text-bg-primary class instead of bg-primary
  src/api/app/components/workflow_run_header_component.html.haml
  src/api/app/components/workflow_run_header_component.rb
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/models/scm_status_report.rb
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/_unread_notifications_counter.html.haml
  src/api/app/views/webui/groups/show.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/projects/maintenance_incidents/index.html.haml
  src/api/app/views/webui/repositories/_repository_entry.html.haml
  src/api/app/views/webui/request/_request_comments.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/_tabs_profile.html.haml
  src/api/app/views/webui/users/tasks/index.html.haml
  src/api/spec/components/previews/card_component_preview.rb
Due: run-haml-linter

Use text-bg-warning class instead of bg-warning
  src/api/app/assets/javascripts/webui/monitor.js
  src/api/app/assets/stylesheets/webui/patchinfo.scss
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/components/chart_component.rb
  src/api/app/components/workflow_run_header_component.rb
  src/api/app/helpers/webui/projects/category_helper.rb
  src/api/app/views/webui/patchinfo/show.html.haml
Due: run-haml-linter, run-javascripts-linter

Use text-bg-danger class instead of bg-danger
  src/api/app/assets/javascripts/webui/monitor.js
  src/api/app/assets/stylesheets/webui/patchinfo.scss
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/components/chart_component.rb
  src/api/app/components/workflow_run_header_component.rb
  src/api/app/models/scm_status_report.rb
Due: run-haml-linter, run-javascripts-linter

Use text-bg-light class instead of bg-white
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
Due: none
