Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Use text-bg-success class instead of bg-success
  src/api/app/assets/javascripts/webui/monitor.js
  src/api/app/assets/stylesheets/webui/patchinfo.scss
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/components/chart_component.rb
  src/api/app/helpers/webui/projects/category_helper.rb
  src/api/spec/features/webui/requests_spec.rb
Due: run-haml-linter, run-javascripts-linter

Use text-bg-secondary class instead of bg-secondary
  src/api/app/assets/stylesheets/webui/patchinfo.scss
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/user/_edit_account_form.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/spec/features/webui/requests_spec.rb
  src/api/vendor/assets/stylesheets/tokenfield.scss
Due: run-haml-linter

Use text-bg-info class instead of bg-info
  src/api/app/assets/stylesheets/webui/patchinfo.scss
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/datatables/package_datatable.rb
  src/api/app/helpers/webui/projects/category_helper.rb
  src/api/app/views/webui/user/_involvement.html.haml
Due: run-haml-linter

Use text-bg-dark class instead of bg-dark
  src/api/app/assets/stylesheets/webui/patchinfo.scss
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/helpers/webui/projects/category_helper.rb
Due: none

Change bg-* dinamic classes to text-bg-*
  src/api/app/assets/stylesheets/webui/colors.scss
  src/api/app/components/bs_request_state_badge_component.rb
  src/api/app/components/workflow_run_status_badge_component.rb
  src/api/app/views/webui/request/_request_header.html.haml
Due: run-haml-linter

Unsafe autocorrect Performance/StringInclude RuboCop
  src/api/.rubocop_todo.yml
  src/api/app/lib/backend/test.rb
  src/api/app/models/updateinfo_counter.rb
  src/api/test/functional/webui/spider_test.rb
  src/api/test/functional/zzz_post_consistency_test.rb
Due: none

Unsafe autocorrect Performance/MapCompact RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/models/event/request.rb
  src/api/app/models/package.rb
  src/api/app/services/staging/staging_project_creator.rb
  src/api/app/services/user_service/involved.rb
Due: none

Unsafe autocorrect Performance/Detect RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/webui/kiwi/images_controller.rb
Due: none

Make attrib* tables static for RSpec tests
  src/api/db/seeds.rb
  src/api/spec/support/database_cleaner.rb
Due: run-migrations-tests

Adapt specs for EnforceRevisionsInRequests attribute ...
  src/api/spec/cassettes/BsRequestAction/check_expand_errors/RevisionEnforcing_enabled/adds_revision.yml
  src/api/spec/cassettes/BsRequestAction/check_expand_errors/RevisionEnforcing_enabled/with__link_in_submitted_source/adds_revision.yml
  src/api/spec/cassettes/BsRequestAction/check_expand_errors/RevisionEnforcing_enabled/with__link_in_submitted_source/freezes_revision.yml
  src/api/spec/cassettes/BsRequestAction/check_expand_errors/RevisionEnforcing_enabled/with__link_in_submitted_source/with_updatelink/throws_exception.yml
  src/api/spec/cassettes/BsRequestAction/check_expand_errors/Without_RevisionEnforcing/doesn_t_add_revision.yml
  src/api/spec/factories/attribs.rb
  src/api/spec/models/bs_request_action_spec.rb
Due: none

Correct manually Performance/CollectionLiteralInLoop
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/webui/project_build_result_parsing.rb
  src/api/app/models/concerns/has_relationships.rb
  src/api/lib/memory_debugger.rb
  src/api/lib/tasks/extract.rake
  src/api/script/reformat_memprof
  src/api/test/functional/backend_test.rb
Due: none

Refactor to address codeclimate issue
  src/api/app/controllers/concerns/webui/project_build_result_parsing.rb
Due: none

Fix `create` action of Webui::GroupsController
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/models/group.rb
  src/api/spec/controllers/webui/groups_controller_spec.rb
  src/api/spec/models/group_spec.rb
Due: none

Create home projects in users factory by default
  src/api/spec/factories/users.rb
  src/api/spec/lib/statistics_calculations_spec.rb
Due: none

Remove call to update Configuration in database cleaner
  src/api/spec/support/database_cleaner.rb
Due: none

[api] fix project package listing of interconnect
  src/api/app/controllers/source_project_controller.rb
  src/api/test/functional/source_controller_test.rb
Due: none

Don't query the database for configuration fixed fields
  src/api/app/models/configuration.rb
Due: none

Clean up JavaScript leftovers on request redesign
  src/api/app/assets/javascripts/webui/request_show_redesign/bs_request_actions.js
Due: run-javascripts-linter

Fix GET /configuration to show default_tracker
  src/api/app/models/configuration.rb
  src/api/public/apidocs/components/schemas/configuration.yaml
Due: none

Remove unneeded `vcr: false` assignments
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/jobs/report_to_scm_job_spec.rb
  src/api/spec/models/branch_package/lookup_incident_package_spec.rb
  src/api/spec/models/service/name_validator_spec.rb
  src/api/spec/requests/kerberos_login_spec.rb
  src/api/spec/services/consistency_check_job_service/base_consistency_checker_spec.rb
Due: none

[backend] initial obsproduct build type support
  src/backend/bs_repserver
  src/backend/bs_srcserver
Due: run-backend-tests

Scroll towards the current request action
  src/api/app/assets/javascripts/webui/request_show_redesign/bs_request_actions.js
Due: run-javascripts-linter

[backend] support zstd compressed meta data in bs_dodup
  src/backend/bs_dodup
Due: run-backend-tests

Remove unnecesssary configurations create
  src/api/app/models/configuration.rb
  src/api/spec/models/configuration_spec.rb
Due: none

Chart data test coverage
  src/api/spec/components/chart_component_spec.rb
Due: none

Document the new response
  src/api/public/apidocs/paths/trigger_operation.yaml
Due: none

Do not process Workflow Tokens in the runservice endpoint
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/spec/controllers/trigger_controller_spec.rb
Due: none

Unsafe autocorrect Rails/FindEach RuboCop offense
  src/api/.rubocop_todo.yml
  src/api/app/components/chart_component.rb
Due: run-haml-linter

Address codeclimate issues for Chart component
  src/api/app/components/chart_component.rb
Due: run-haml-linter

Adjust position of Reply and Report links
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Separate comments buttons properly
  src/api/app/views/webui/comment/_comment_field.html.haml
Due: run-haml-linter

Autocorrect RuboCop offenses
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
Due: none

[backend] basic support for obs product builds server side
  src/backend/BSRepServer/Checker.pm
  src/backend/BSSched/BuildJob/ObsProduct.pm
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

Reduce cognitive complexity
  src/api/app/controllers/trigger_controller.rb
Due: none

Adapt failing tests
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/controllers/webui/users/token_triggers_controller_spec.rb
Due: none

Load the pry-byebug gem by default in dev and test envs
  src/api/Gemfile
Due: none

Reproduce the bug in a test case
  src/api/spec/components/notification_notifiable_link_component_spec.rb
Due: none

Avoid creating links for reports without reportables
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Minor improvements
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
Due: run-haml-linter

[backend] rename obsproduct to productcompose build type
  src/backend/BSRepServer/Checker.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
  src/backend/BSSched/Checker.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Due: run-backend-tests
