Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Display a nicer icon for closed requests
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/components/bs_request_state_badge_component.rb
Due: run-haml-linter

Fix how we access payload in Event::Request
  src/api/app/models/event/request.rb
  src/api/test/functional/maintenance_test.rb
Due: none

Make the notifications controller code simpler
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/components/notification_filter_link_component.rb
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
  src/api/app/views/person/notifications/index.xml.builder
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_filter_link_component_spec.rb
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
Due: run-haml-linter

[backend] bs_sched: delay and retry publishing if we could not get the lock after 3 minutes
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/EventSource/Retry.pm
  src/backend/BSSched/PublishRepo.pm
  src/backend/bs_sched
Due: run-backend-tests

Invalidate configuration cache after update
  src/api/app/models/configuration.rb
  src/api/spec/factories/users.rb
Due: none

Adapt NotificationActionBarComponent to use state
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_action_bar_component_spec.rb
  src/api/spec/components/previews/notification_action_bar_component_preview.rb
Due: run-haml-linter

[backend] handle container provenance files like the other attestations
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_publish
Due: run-backend-tests

Move remaining configuration methods to class methods
  src/api/app/models/configuration.rb
  src/api/spec/models/configuration_spec.rb
Due: none

Rewrite calls to Configuration class methods
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/users/show.html.haml
Due: run-haml-linter

Fix Show more functionality after refactoring
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Replace type by state in NotificationHelper
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

[dist] Add OOMPolicy=continue to critical services
  dist/systemd/obsdispatcher.service
  dist/systemd/obsdodup.service
  dist/systemd/obspublisher.service
  dist/systemd/obsrepserver.service
  dist/systemd/obsscheduler@.service
  dist/systemd/obsservice.service
  dist/systemd/obsservicedispatch.service
  dist/systemd/obssigner.service
  dist/systemd/obssrcserver.service
  dist/systemd/obsworker@.service
Due: run-dist-linter

[backend] BSHTTP::read_data: save some memory
  src/backend/BSHTTP.pm
Due: run-backend-tests

[backend] BSServer: log server processes that died by a signal
  src/backend/BSServer.pm
Due: run-backend-tests

Improve format of notifications returned by the API
  src/api/app/components/bs_request_action_source_and_target_component.rb
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/views/person/notifications/_notification.xml.builder
  src/api/spec/components/notification_excerpt_component_spec.rb
Due: run-haml-linter

[backend] ProductCompose: always add the 'local' architecture to the end
  src/backend/BSSched/BuildJob/ProductCompose.pm
Due: run-backend-tests

Unify how to refer to "blamed" accounts
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/notification.rb
  src/api/app/models/report.rb
  src/api/app/views/event_mailer/report_for_user.html.haml
Due: run-haml-linter

Unify how to refer to people that report something
  src/api/app/components/notification_avatars_component.rb
  src/api/app/models/event/report.rb
  src/api/app/models/report.rb
  src/api/app/views/event_mailer/report_for_comment.html.haml
  src/api/app/views/event_mailer/report_for_package.html.haml
  src/api/app/views/event_mailer/report_for_project.html.haml
  src/api/app/views/event_mailer/report_for_user.html.haml
Due: run-haml-linter

Avoid querying the target package twice
  src/api/app/models/bs_request_action_submit.rb
Due: none

[backend] ProductCompose: implement binary architecture filter
  src/backend/BSSched/BuildJob/ProductCompose.pm
Due: run-backend-tests

Avoid crashing when checking permissions to create a new status message
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Set the status message when editing one
  src/api/app/controllers/webui/status_messages_controller.rb
Due: none

Fix Style/SuperArguments cop
  src/api/app/models/attrib_type.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/commit.rb
  src/api/app/models/event/delete_package.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/undelete_package.rb
  src/api/app/models/event/version_change.rb
  src/api/app/models/gitlab_payload.rb
  src/api/app/policies/disabled_beta_feature_policy.rb
  src/api/app/queries/projects_with_image_templates_finder.rb
  src/api/app/queries/projects_with_very_important_attribute_finder.rb
  src/api/test/test_helper.rb
Due: none

[backend] ProductCompose: implement binary name filter
  src/backend/BSSched/BuildJob/ProductCompose.pm
Due: run-backend-tests

[backend] Patchinfo: do not build in 'local' if seperate_build_arch is set
  src/backend/BSSched/BuildJob/Patchinfo.pm
Due: run-backend-tests

[backend] ProductCompose: move patchinfo packages to the front
  src/backend/BSSched/BuildJob/ProductCompose.pm
Due: run-backend-tests

[backend] BSRunner: add option to serialize requests
  src/backend/BSRunner.pm
Due: run-backend-tests

[backend] bs_publish: always fork for publish events
  src/backend/bs_publish
Due: run-backend-tests

[backend] catch errors in the publish filter
  src/backend/BSSched/PublishRepo.pm
Due: run-backend-tests

Add missing annotations for notification indexes
  src/api/app/models/notification.rb
Due: none

Add migrations to include Notification#type
  src/api/app/models/notification.rb
  src/api/db/data/20240524152040_backfill_notifications_type.rb
  src/api/db/data_schema.rb
  src/api/db/migrate/20240524151051_add_type_to_notifications.rb
  src/api/db/schema.rb
Due: run-migrations-tests

[backend] Add "keepobsolete" publish flag
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/PublishRepo.pm
Due: run-backend-tests

Be backwards compatible with event_payload
  src/api/app/models/notification.rb
Due: none

Add STI to Notifications
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/notification.rb
  src/api/app/models/notification_comment_for_project.rb
Due: run-haml-linter

Adapt notification factory
  src/api/spec/factories/notification.rb
Due: none

Add model NotificationCommentForPackage
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/notification_comment_for_package.rb
Due: run-haml-linter

Add model NotificationCommentForRequest
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/notification_comment_for_request.rb
Due: run-haml-linter

[backend] BSPublisher::Container: use different log message for cosign_nocheck
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

Fix error when asking to "show more" notifications
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Add models for relationship-related notifications
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/notification_relationship_create.rb
  src/api/app/models/notification_relationship_delete.rb
Due: run-haml-linter
