Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Trigger the async load of the partial
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/request_action_changes.js.erb
Due: run-haml-linter

Add an intermediate partial to differ loading _changes
  src/api/app/views/webui/request/_changes_content.html.haml
Due: run-haml-linter

Reuse the existing function and handle the additional parameter
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/components/sourcediff_component.html.haml
Due: run-haml-linter, run-javascripts-linter

Make use of the object and take it's number instead
  src/api/app/views/webui/request/_changes_content.html.haml
  src/api/app/views/webui/request/request_action_changes.js.erb
Due: run-haml-linter

Squash two very related callbacks for the same set
  src/api/app/controllers/webui/request_controller.rb
Due: none

Handle async loading error
  src/api/app/assets/javascripts/webui/request.js
Due: run-javascripts-linter

Use path helper generator instead
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/views/webui/request/changes.html.haml
Due: run-haml-linter, run-javascripts-linter

Loading icon+text as a partial to be reused
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/shared/_loading.haml
Due: run-haml-linter

Implement the controller action to fetch single file diff
  src/api/app/controllers/webui/request_controller.rb
Due: none

New route to request single file diff
  src/api/config/routes/webui_routes.rb
Due: none

New partial to load the result of the single file diff
  src/api/app/views/webui/request/request_action_file_changes.js.erb
Due: run-haml-linter

Forward additional parameters to the following components
  src/api/app/components/diff_list_component.rb
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/views/webui/request/_changes_content.html.haml
Due: run-haml-linter

Hit the single file_diff async route
  src/api/app/components/diff_list_component.html.haml
Due: run-haml-linter

More abstract naming variables
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/controllers/request_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_changes_content.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_superseded_by_message.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/request_action_changes.js.erb
  src/api/app/views/webui/request/rpm_lint.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/spec/components/diff_component_spec.rb
  src/api/spec/components/diff_list_component_spec.rb
  src/api/spec/components/previews/diff_component_preview.rb
  src/api/spec/components/previews/diff_list_component_preview.rb
  src/api/spec/components/previews/sourcediff_component_preview.rb
  src/api/spec/components/previews/sourcediff_tab_component_preview.rb
  src/api/spec/components/sourcediff_component_spec.rb
  src/api/spec/components/sourcediff_tab_component_spec.rb
  src/api/spec/controllers/request_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/models/bs_request_spec.rb
Due: run-haml-linter, run-javascripts-linter

Abstract the variables name to clarify the content
  docs/api/api/api.txt
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/controllers/request_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_changes_content.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_superseded_by_message.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/request_action_changes.js.erb
  src/api/app/views/webui/request/rpm_lint.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/public/apidocs/paths/request_id_cmd_diff.yaml
  src/api/spec/cassettes/RequestController/_global_command_cmd_create_/requesting_creation_of_a_source_project_that_has_a_project_link_that_is_not_owned_by_the_requester/prohibits_creation_of_request.yml
  src/api/spec/components/diff_component_spec.rb
  src/api/spec/components/diff_list_component_spec.rb
  src/api/spec/components/previews/diff_component_preview.rb
  src/api/spec/components/previews/diff_list_component_preview.rb
  src/api/spec/components/previews/sourcediff_component_preview.rb
  src/api/spec/components/previews/sourcediff_tab_component_preview.rb
  src/api/spec/components/sourcediff_component_spec.rb
  src/api/spec/components/sourcediff_tab_component_spec.rb
  src/api/spec/controllers/request_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/models/bs_request_spec.rb
Due: run-haml-linter, run-javascripts-linter

Do not defer loading the placeholders list
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/request_action_changes.js.erb
Due: run-haml-linter, run-javascripts-linter

Forward additional parameters to the following components
  src/api/app/components/diff_list_component.rb
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/views/webui/request/_changes_content.html.haml
  src/api/spec/components/sourcediff_component_spec.rb
Due: run-haml-linter

feat: obs worker add clientip arg support
  dist/obsworker
  src/backend/bs_repserver
  src/backend/bs_worker
Due: run-dist-linter, run-backend-tests

Substitute redirect_back with redirect_back_or_to
  src/api/.rubocop.yml
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/controllers/webui/apidocs_controller.rb
  src/api/app/controllers/webui/architectures_controller.rb
  src/api/app/controllers/webui/attribute_controller.rb
  src/api/app/controllers/webui/cloud/ec2/configurations_controller.rb
  src/api/app/controllers/webui/cloud/upload_jobs_controller.rb
  src/api/app/controllers/webui/comment_locks_controller.rb
  src/api/app/controllers/webui/configuration_controller.rb
  src/api/app/controllers/webui/decisions_controller.rb
  src/api/app/controllers/webui/download_on_demand_controller.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/controllers/webui/interconnects_controller.rb
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/controllers/webui/packages/branches_controller.rb
  src/api/app/controllers/webui/packages/build_reason_controller.rb
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/projects/maintenance_incident_requests_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/staging/excluded_requests_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Don't use uninitialized values
  src/backend/BSSched/Remote.pm
  src/backend/BSSrcServer/Remote.pm
Due: run-backend-tests

Correct how we set no class
  src/api/app/views/webui/shared/_loading.haml
Due: run-haml-linter

Replace repository status with build result status (part2)
  src/api/app/components/chart_component.html.haml
Due: run-haml-linter

Drop no longer used method
  src/api/app/helpers/webui/buildresult_helper.rb
Due: none

Missing check condition for a local variable
  src/api/app/views/webui/shared/_loading.haml
Due: run-haml-linter

[backend] skip directories when downloading binaries with view=cpio
  src/backend/bs_repserver
Due: run-backend-tests

[backend] triggerscmsync: find matching git repo case insensitive
  src/backend/BSSrcServer/ScmsyncDB.pm
Due: run-backend-tests

Let the events be re-attached to the async loaded content
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/views/webui/request/request_action_changes.js.erb
Due: run-haml-linter, run-javascripts-linter

Update the location of shared examples
  src/api/spec/README.md
Due: none

Keep track of diff_to_superseded parameter in all the cases
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/views/webui/request/_changes_content.html.haml
  src/api/spec/components/sourcediff_component_spec.rb
Due: run-haml-linter

mkosi: publish images to per-arch subdirectory
  src/backend/bs_publish
Due: run-backend-tests

Include revision in the file url
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_file.html.haml
Due: run-haml-linter

Do not store in variable what can be fetch by model method
  src/api/app/components/add_review_dropdown_component.rb
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation_aside.html.haml
Due: run-haml-linter

Don't display the login page for logged in users
  src/api/app/controllers/webui/session_controller.rb
Due: none

Routing, don't redefine `draw` method
  src/api/config/routes.rb
  src/api/config/routes/api.rb
  src/api/config/routes/webui.rb
Due: none

Don't surround routing files with .routes.draw blocks
  src/api/config/routes/api.rb
  src/api/config/routes/webui.rb
Due: none

Update permission.rb
  src/api/app/lib/suse/permission.rb
Due: none
