Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Reintroduce prefix for placeholder text
  src/api/app/components/workflow_run_filter_component.html.haml
Due: run-haml-linter

Drop useless method
  src/api/app/models/workflow_run_filter.rb
Due: none

Address CyclomaticComplexity
  src/api/.rubocop_todo.yml
  src/api/app/models/workflow_run_filter.rb
Due: none

[backend] make the source diff not treat tracker ids as versions
  src/backend/BSSrcServer/Srcdiff.pm
Due: run-backend-tests

Set URL of target project when branching from SCM/CI
  src/api/app/models/branch_package.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/it_creates_the__branch_request_file/updates_the_url.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_skip_repositories_/when_add_repositories_is_disabled/sets_the_url_of_the_target_project_with_the_event_url_from_the_SCM_payload.yml
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Use the contact information in the views
  src/api/app/controllers/webui/configuration_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/configuration/index.html.haml
  src/api/app/views/webui/project/new.html.haml
  src/api/app/views/webui/staging/workflows/new.html.haml
Due: run-haml-linter

Remove books files from .gitignore
  .gitignore
Due: none

Display fallback text if email or contact are undefined
  src/api/app/helpers/webui/webui_helper.rb
Due: none

insert empty line to make linter happy
  src/api/app/policies/project_policy.rb
Due: none

[api] fix project update policy
  src/api/app/datatables/maintained_project_datatable.rb
  src/api/app/policies/project_policy.rb
  src/api/app/policies/staging/staged_request_policy.rb
  src/api/app/services/staging/staging_project_validator.rb
Due: none

Make the accordion button work nicer in dark theme
  src/api/app/assets/stylesheets/webui/diff.scss
  src/api/app/components/diff_list_component.html.haml
Due: run-haml-linter

drop redundant escapes in bs_request_test.rb
  src/api/test/unit/bs_request_test.rb
Due: none

[api] show review creation time again
  docs/api/api/request.rng
  docs/api/api/request.xml
  src/api/app/models/event/base.rb
  src/api/app/models/review.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/unit/bs_request_test.rb
  src/backend/BSXML.pm
Due: run-backend-tests

Make the attribute values on dark theme
  src/api/app/assets/stylesheets/webui/package-attributes.scss
Due: none

Fix deleting comments in beta request show
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Include message of exception in error definition
  src/api/app/models/token/errors.rb
  src/api/app/models/token/workflow.rb
Due: none

Refactor handling of Octokit::Unauthorized exceptions
  src/api/app/models/token/workflow.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

Refactor handling of Gitlab::Error::Unauthorized ...
  src/api/app/models/token/workflow.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

Adapt specs after refactoring unauthorized exceptions
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_authorized/revokes_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_no_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Due: none

Add link to Global Feature Toggles for staff
  src/api/app/views/layouts/webui/_places.html.haml
Due: run-haml-linter

Move link to feature toggles to configuration
  src/api/app/controllers/webui/global_feature_toggles_controller.rb
  src/api/app/views/webui/configuration/_tabs.html.haml
  src/api/app/views/webui/global_feature_toggles/_breadcrumb_items.html.haml
  src/api/app/views/webui/global_feature_toggles/index.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Use the parameter from the initialization instead
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
Due: run-haml-linter

Rename component: is no longer a link, it's a checkbox
  src/api/.rubocop_todo.yml
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
Due: run-haml-linter

Get rid of WorkflowRunFilter
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/app/models/workflow_run_filter.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

There is no point in testing this component
  src/api/spec/components/workflow_run_filter_component_spec.rb
Due: none

Remove unused parameter
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
Due: none

Move ruby code away from the view
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
Due: run-haml-linter

Get rid of the slower feature spec
  src/api/spec/features/webui/workflow_runs_filter_spec.rb
Due: none

Pass the filter name from the parent
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
Due: run-haml-linter

Drop no longer used parameters
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
Due: run-haml-linter

Look&feel toward common filters
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
Due: run-haml-linter

Use workflow_runs scoped to user and token
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Avoid using magic numbers in expectations
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
Due: none

Cover the workflow run multiple filter selection with a spec
  src/api/.rubocop_todo.yml
  src/api/spec/features/webui/workflow_runs_filter_spec.rb
Due: none

Make the filters a form with checkboxes and input values
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
Due: run-haml-linter

Get rid of WorkflowRunsFinder class
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
Due: none

Remove unused code
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/workflow_run_filter.rb
Due: none

Cover the WorkflowRunFilterComponent with tests
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/spec/components/workflow_run_filter_component_spec.rb
Due: run-haml-linter

Make the action filter always visible
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Reduce the amount of testing done on the workflow runs
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
