Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

Add OpenAPI specifications for source project cmd createkey
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_cmd_createkey.yaml
Due: run-apidocs-linter

[backend] bs_publish allow a syntax for rsync via ssh
  src/backend/bs_publish
Due: run-backend-tests

Derive repositories through OBS:Server:Unstable project in our CI workflows
  .obs/workflows.yml
Due: none

Add '/source/{project_name}?cmd=createpatchinfo' endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_createpatchinfo.yaml
Due: run-apidocs-linter

[backend] refactor service run handling in BSSrcServer::Service
  src/backend/BSSrcServer/Service.pm
Due: run-backend-tests

[backend] refactor service run handling in bs_dispatch
  src/backend/bs_servicedispatch
Due: run-backend-tests

Rename paths files names in OpenAPI documentation
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_createkey.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_createmaintenanceincident.yaml
Due: run-apidocs-linter

[backend] add obsscm helpers to the BSSrcrep module
  src/backend/BSSrcrep.pm
Due: run-backend-tests

Add source project name with copy command
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_copy.yaml
Due: run-apidocs-linter

[backend] enable network for obs_scm_bridge
  src/backend/call-service-in-container
  src/backend/call-service-in-docker.sh
Due: run-backend-tests

Improve grammar/spelling in the OpenAPI docs
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Due: run-apidocs-linter

Add '/source/{project_name}?cmd=lock' endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_lock.yaml
Due: run-apidocs-linter

Add '/source/{project_name}?cmd=unlock' endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_unlock.yaml
Due: run-apidocs-linter

[backend] bs_service: add extra handling for the obs_scm_bridge service
  src/backend/bs_service
Due: run-backend-tests

[backend] implement an obsscm service type
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_servicedispatch
  src/backend/bs_srcserver
Due: run-backend-tests

Document owner search api endpoint with openapi
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/owner_collection.yaml
  src/api/public/apidocs-new/paths/search_owner.yaml
Due: run-apidocs-linter

Document missing owner search with openapi
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/missing_owner_collection.yaml
  src/api/public/apidocs-new/paths/missing_owner.yaml
Due: run-apidocs-linter

Set 200 OK response for undelete action on project
  src/api/app/controllers/source_controller.rb
  src/api/test/functional/source_controller_test.rb
Due: none

Change error response for undelete action on project
  src/api/app/controllers/source_controller.rb
  src/api/app/models/project.rb
  src/api/test/functional/source_controller_test.rb
Due: none

OpenAPI specifications for source project cmd extendkey
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_extendkey.yaml
Due: run-apidocs-linter

OpenAPI specifications for source project cmd move
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_move.yaml
Due: run-apidocs-linter

[api] Set 200 OK response for undelete action on project
  src/api/app/controllers/source_controller.rb
Due: none

As apache2 doesn't hanad over the proxy env settings These have been "optionally" been added to the obs.conf vhost configuration An extra debug line has been added to remote_url.rb
  dist/obs-apache2.conf
  dist/obs-apache24.conf
  src/api/app/models/project/remote_url.rb
Due: run-root-rubocop

Fix enum values
  src/api/public/apidocs-new/paths/source_branch.yaml
Due: run-apidocs-linter

[dist] add openslp to Requires of obs-worker
  dist/obs-server.spec
Due: run-root-rubocop

Capitalize GPG in API documentation
  src/api/public/apidocs-new/paths/source_project_name_cmd_createkey.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_extendkey.yaml
Due: run-apidocs-linter

Add source project name with freezelink command
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_freezelink.yaml
Due: run-apidocs-linter

[backend] remove BSSrcServer::Link usage from BSSrcServer::Service
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_srcserver
Due: run-backend-tests

Fix deprecation warning for view_component
  src/api/Gemfile
Due: none

[backend] make commitobsscm configurable in BSSrcServer::Service
  src/backend/BSSrcServer/Service.pm
Due: run-backend-tests

[backend] bs_servicedispatch: remove duplicated code
  src/backend/bs_servicedispatch
Due: run-backend-tests

Add '/source/{project_name}?cmd=undelete' endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_undelete.yaml
Due: run-apidocs-linter

Document /source/{project_name}?cmd=modifychannels in new API docs
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_modifychannels.yaml
Due: run-apidocs-linter

Document '/search/published/*' endpoints with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/limit.yaml
  src/api/public/apidocs-new/components/parameters/withdownloadurl.yaml
  src/api/public/apidocs-new/components/responses/search/published_binary_id.yaml
  src/api/public/apidocs-new/components/responses/search/published_pattern_id.yaml
  src/api/public/apidocs-new/components/responses/search/published_repoinfo_id.yaml
  src/api/public/apidocs-new/paths/search_published_binary_id.yaml
  src/api/public/apidocs-new/paths/search_published_pattern_id.yaml
  src/api/public/apidocs-new/paths/search_published_repoinfo_id.yaml
Due: run-apidocs-linter

Keep search endpoints alphabetically sorted
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/search_missing_owner.yaml
Due: run-apidocs-linter

Document POST /source/<project>?cmd=release with OpenAPI specification
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_release.yaml
Due: run-apidocs-linter

[backend] bs_worker: implement needspubkeyforbuild
  src/backend/bs_worker
Due: run-backend-tests

Remove unused `params` from SearchFinder model
  src/api/app/controllers/search_controller.rb
  src/api/app/models/search_finder.rb
Due: none

As apache2 doesn't hand over the proxy env settings These have been "optionally" been added to the obs.conf vhost configuration An extra debug line has been added to remote_url.rb
  src/api/app/models/project/remote_url.rb
  src/backend/BSConfig.pm.template
Due: run-backend-tests

[backend] remove special casing of the obs-scm-bridge in bs_service
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_service
Due: run-backend-tests

Path conditions:
  run-root-rubocop: any of: (dist|contrib)/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
