Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Show content if there is just one per-package result
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
Due: run-haml-linter

Add title to explain the meaning of the build status icon
  src/api/app/components/build_status_badge_component.rb
Due: run-haml-linter

Drop useless variable
  src/api/app/components/build_results_monitor_component.html.haml
Due: run-haml-linter

Make build status legend reusable
  src/api/app/components/build_results_filter_component.html.haml
  src/api/app/views/webui/project/_monitor_control.html.haml
  src/api/app/views/webui/shared/_build_status_legend_modal.html.haml
Due: run-haml-linter

Fix previews
  src/api/spec/components/previews/build_results_filter_component_preview.rb
  src/api/spec/components/previews/build_results_monitor_component_preview.rb
Due: none

Filters for build results data
  src/api/app/assets/javascripts/webui/request_show_redesign/build_results.js
  src/api/app/components/build_results_filter_component.html.haml
  src/api/app/components/build_results_filter_component.rb
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show_tabs/_build_status.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/spec/components/previews/build_results_filter_component_preview.rb
  src/api/spec/components/previews/build_results_monitor_component_preview.rb
Due: run-haml-linter, run-javascripts-linter

Drop components and use partials instead
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/components/build_status_badge_component.html.haml
  src/api/app/components/build_status_badge_component.rb
  src/api/app/components/build_status_count_badge_component.html.haml
  src/api/app/components/build_status_count_badge_component.rb
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/models/buildresult.rb
  src/api/app/views/webui/shared/_build_status_badge.html.haml
  src/api/app/views/webui/shared/_build_status_count_badge.html.haml
  src/api/spec/components/previews/build_status_badge_component_preview.rb
  src/api/spec/components/previews/build_status_count_badge_component_preview.rb
Due: run-haml-linter

Make filters component a simple partial instead
  src/api/app/components/build_results_filter_component.rb
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/views/webui/request/_build_results_filters.haml
  src/api/spec/components/previews/build_results_filter_component_preview.rb
Due: run-haml-linter

Make filter checkboxes dropdown a reusable partial
  src/api/app/views/webui/request/_build_results_filters.haml
  src/api/app/views/webui/shared/_build_result_filter.haml
Due: run-haml-linter

Simplify array subtraction
  src/api/app/controllers/webui/request_controller.rb
Due: none

Make the footer contrast better on dark theme
  src/api/app/assets/stylesheets/webui/layout.scss
  src/api/app/assets/stylesheets/webui/sponsors.scss
Due: none

Add some specs for the Rpm lint component
  src/api/app/components/rpm_lint_component.rb
  src/api/spec/components/rpm_lint_component_spec.rb
Due: run-haml-linter

Plot rpmlint graphic only in beta request show page
  src/api/app/assets/javascripts/webui/request_show_redesign/rpm_lint_results.js
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_rpmlint_log.html.haml
Due: run-haml-linter, run-javascripts-linter

Render a chart with the summary of the RPM lint issues
  src/api/app/components/rpm_lint_component.html.haml
  src/api/app/components/rpm_lint_component.rb
  src/api/app/views/webui/package/_rpmlint_log.html.haml
  src/api/spec/components/previews/rpm_lint_component_preview.rb
Due: run-haml-linter

Introduce rpmlint log parser
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/services/rpmlint_log_parser.rb
  src/api/spec/fixtures/files/rpmlint.log
  src/api/spec/services/rpmlint_log_parser_spec.rb
Due: none

Move the build result accordion content into the accordion-item
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/components/build_results_monitor_component.html.haml
Due: run-haml-linter

[backend] remove clientcert code that got committed by accident
  src/backend/bs_getbinariesproxy
Due: run-backend-tests

[backend] BSASN1: support more encodings in pack_string
  src/backend/BSASN1.pm
Due: run-backend-tests

[backend] packagebinaryversions view: add md5sums if not an interconnect
  src/backend/bs_repserver
Due: run-backend-tests

Use more lines if package name is too long
  src/api/app/components/build_results_monitor_component.html.haml
Due: run-haml-linter

Display the build results as a table on larger viewports
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/views/webui/shared/_build_status_badge.html.haml
Due: run-haml-linter

[backend] support the proxy setting for DoD containers
  src/backend/BSBearer.pm
  src/backend/BSRepServer/Registry.pm
  src/backend/bs_dodup
Due: run-backend-tests

Add missing newline fix
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_package_name_file_name_view_fileinfo.yaml
Due: none

[backend] BSX509::keydata2pubkey: add a default NULL parameter for rsa
  src/backend/BSX509.pm
Due: run-backend-tests

Refresh Build Results Summary only in the request ...
  src/api/app/assets/javascripts/webui/request_show_redesign/chart_build_results.js
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter, run-javascripts-linter

Fix colouring for footer text
  src/api/app/assets/stylesheets/webui/sponsors.scss
  src/api/app/assets/stylesheets/webui/sticky-footer.scss
Due: none

Display notification bar on user show
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/webui/users_controller.rb
Due: run-haml-linter

Remove sticky-footer stylesheet
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/layout.scss
  src/api/app/assets/stylesheets/webui/sticky-footer.scss
Due: none

Bugfix: do not create link over a non-existing object
  src/api/app/helpers/webui/reportables_helper.rb
Due: none

Extract a CommentBubbleComponent
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/components/comment_bubble_component.html.haml
  src/api/app/components/comment_bubble_component.rb
Due: run-haml-linter

Email notification: tell the user the reportable is gone
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: none

Make sure the subject contains the reportable type
  src/api/app/models/event/appeal_created.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/favored_decision.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: none

[backend] support binaryversionscookie query
  src/backend/BSXML.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] change default compression for createrepo to gz
  src/backend/bs_publish
Due: run-backend-tests

[dist] use a dedicated DEBIAN_FAMILY var instead of lsb-release
  dist/setup-appliance.sh
Due: run-dist-linter

[dist] fix prepare_database_setup after rebase
  dist/functions.setup-appliance.sh
Due: run-dist-linter

[dist] replace lsb-release calls by sourcing /etc/os-release
  dist/functions.setup-appliance.sh
  dist/setup-appliance.sh
Due: run-dist-linter

[dist] On debian family sh is dash, use bash in shebang
  dist/elastic_build_service_manager.py
  dist/gem_build_cleanup.sh
  dist/obs_project_srcimport
  dist/obs_project_update
  dist/obsscheduler
  dist/obsstoragesetup
  dist/obsworker
  src/api/Makefile
Due: run-dist-linter

[dist] Make setup-appliance compatible with debian family
  dist/functions.setup-appliance.sh
  dist/setup-appliance.sh
Due: run-dist-linter

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
