Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Add the ability to attach labels to requests
  src/api/app/controllers/webui/labels_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/policies/bs_request_policy.rb
  src/api/app/views/webui/request/_request_header.html.haml
Due: run-haml-linter

[backend] Diffnotify: add slsa files to the associated list
  src/backend/BSPublisher/Diffnotify.pm
  src/backend/bs_publish
Due: run-backend-tests

Introduces support for instantiating packages from remote project links
  src/api/app/models/concerns/project_links.rb
  src/api/app/models/package.rb
Due: none

Spec out instantiating packages from remote project links
  src/api/spec/models/package_get_by_project_and_name_spec.rb
Due: none

Increase limit of some URL fields
  src/api/app/models/issue_tracker.rb
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
  src/api/db/migrate/20240808133204_increase_limit_of_url_fields.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Allow rendering markdown in the project's and package's description
  src/api/app/views/webui/package/_basic_info.html.haml
  src/api/app/views/webui/project/_basic_info.html.haml
  src/api/app/views/webui/shared/_collapsible_text.html.haml
Due: run-haml-linter

Store project details in the backend after updating with the UI
  src/api/app/controllers/webui/project_controller.rb
Due: none

[backend] BSPublisher::Helm: always use 'noarch' as architecture
  src/backend/BSPublisher/Helm.pm
Due: run-backend-tests

[backend] Diffnotify: force all container architectures to 'noarch'
  src/backend/BSPublisher/Diffnotify.pm
Due: run-backend-tests

[api] allow to release a flavor only via request action
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_release.rb
Due: none

Revert "[backend] Diffnotify: force all container architectures to 'noarch'"
  src/backend/BSPublisher/Diffnotify.pm
Due: run-backend-tests

Prevent the form from being submitted if the required fields are empty
  src/api/app/views/webui/projects/label_templates/_form.html.haml
Due: run-haml-linter

Provide basic feature testing
  src/api/app/controllers/webui/projects/label_templates_controller.rb
  src/api/spec/features/webui/projects/label_template_spec.rb
Due: none

WIP
  src/api/spec/support/capybara.rb
Due: none

Manually fix some Naming/VariableNumber RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/source_project_config_controller.rb
  src/api/spec/controllers/attribute_controller_spec.rb
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
  src/api/spec/controllers/webui/attribute_controller_spec.rb
  src/api/spec/controllers/webui/download_on_demand_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
Due: none

[backend] bs_worker: export cpu features as flags (for s390)
  src/backend/bs_worker
Due: run-backend-tests

Escape HTML blocks instead of removing them
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
Due: none

Manually fix some Naming/VariableNumber RuboCop offenses (II)
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/request_controller.rb
  src/api/spec/db/data/backfill_notified_projects_spec.rb
  src/api/spec/db/data/generate_web_notifications_spec.rb
  src/api/spec/db/data/regenerate_notifications_spec.rb
  src/api/spec/db/data/remove_duplicated_flags_spec.rb
  src/api/spec/features/webui/groups_spec.rb
  src/api/spec/features/webui/repositories_spec.rb
  src/api/spec/features/webui/requests/submissions_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/lib/statistics_calculations_spec.rb
  src/api/spec/lib/tasks/rollout_spec.rb
  src/api/spec/models/branch_package/lookup_incident_package_spec.rb
  src/api/spec/models/comment_spec.rb
  src/api/spec/models/full_text_search_spec.rb
  src/api/spec/models/owner_search_spec.rb
  src/api/spec/models/project/maintenance_incidents_spec.rb
  src/api/spec/models/project/staging_project_spec.rb
  src/api/spec/models/project/subprojects_spec.rb
  src/api/spec/models/project/update_from_xml_command_spec.rb
  src/api/spec/models/project_spec.rb
  src/api/spec/models/staging/workflow_spec.rb
Due: none

Manually fix RSpec/MessageSpies RuboCop offense
  src/api/.rubocop_todo.yml
  src/api/spec/models/kiwi/image_spec.rb
Due: none

Manually fix some Style/OptionalBooleanParameter RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/public_controller.rb
  src/api/app/models/attrib_type.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/event/request.rb
  src/api/app/models/project.rb
Due: none

Manually fix Style/OptionalBooleanParameter RuboCop offenses (II)
  src/api/.rubocop_todo.yml
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/badge_controller.rb
  src/api/app/controllers/webui/projects/maintenance_incidents_controller.rb
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/concerns/multibuild_package.rb
  src/api/app/models/maintenance_incident.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/views/webui/staging/workflows/_requests_list.html.haml
  src/api/spec/models/badge_spec.rb
  src/api/spec/models/concerns/multibuild_package_spec.rb
Due: run-haml-linter

[api] allow to release a flavor only via request action
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_release.rb
  src/api/app/models/concerns/multibuild_package.rb
Due: none

Use imperative in the decisions actions
  src/api/app/models/decision_cleared.rb
  src/api/app/models/decision_favored.rb
  src/api/app/models/decision_favored_with_comment_moderation.rb
  src/api/app/models/decision_favored_with_delete_request.rb
  src/api/app/models/decision_favored_with_user_commenting_restriction.rb
  src/api/app/models/decision_favored_with_user_deletion.rb
  src/api/spec/features/beta/webui/decisions_spec.rb
Due: none

[api] fix release of package where source is remote or scmsync'd
  src/api/app/controllers/source_controller.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/token/release.rb
Due: none

Add censored column to table users
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20240814141544_add_censored_to_users.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Manually fix Style/OptionalBooleanParameter RuboCop offenses (III)
  src/api/.rubocop_todo.yml
  src/api/app/controllers/person_controller.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/user.rb
  src/api/app/policies/package_policy.rb
  src/api/spec/jobs/consistency_check_job_spec.rb
  src/api/spec/policies/package_policy_spec.rb
Due: none

Manually fix Lint/ConstantDefinitionInBlock RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/config/initializers/git.rb
  src/api/lib/tasks/statistics/github/issues.rake
  src/api/lib/tasks/statistics/github/pull_requests.rake
  src/api/spec/support/database_cleaner.rb
Due: none

Manually fix Naming/HeredocDelimiterNaming RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/db/seeds.rb
  src/api/spec/models/project/update_from_xml_command_spec.rb
  src/api/test/functional/issue_trackers_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/unit/project_test.rb
Due: run-migrations-tests

Sync 2.10 CI setup with master
  .circleci/config.yml
Due: none

Drop bento feature specs
  src/api/spec/features/attributes_spec.rb
  src/api/spec/features/change_bugowner_spec.rb
  src/api/spec/features/comments_spec.rb
  src/api/spec/features/groups_spec.rb
  src/api/spec/features/image_templates_spec.rb
  src/api/spec/features/interconnects_spec.rb
  src/api/spec/features/kiwi/images_spec.rb
  src/api/spec/features/maintained_projects_spec.rb
  src/api/spec/features/maintenance_workflow_spec.rb
  src/api/spec/features/notifications_spec.rb
  src/api/spec/features/packages_spec.rb
  src/api/spec/features/patchinfo_spec.rb
  src/api/spec/features/projects_spec.rb
  src/api/spec/features/repositories_spec.rb
  src/api/spec/features/requests_spec.rb
  src/api/spec/features/support/page/monitor_page.rb
  src/api/spec/features/users/admin_configuration_spec.rb
  src/api/spec/features/users/user_admin_edit_spec.rb
  src/api/spec/features/users_spec.rb
  src/api/spec/features/watchlists_spec.rb
  src/api/spec/features/webui/announcements_spec.rb
  src/api/spec/features/webui/attributes_spec.rb
  src/api/spec/features/webui/comments_spec.rb
  src/api/spec/features/webui/image_templates_spec.rb
  src/api/spec/features/webui/login_spec.rb
  src/api/spec/features/webui/main_page_spec.rb
  src/api/spec/features/webui/maintenance_workflow_spec.rb
  src/api/spec/features/webui/notifications_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/patchinfo_spec.rb
  src/api/spec/features/webui/projects_spec.rb
  src/api/spec/features/webui/repositories_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/features/webui/search_spec.rb
  src/api/spec/features/webui/sign_up_spec.rb
  src/api/spec/features/webui/users/user_admin_edit_spec.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
  src/api/spec/features/webui/users/users_notifications_settings_spec.rb
  src/api/spec/features/webui/watchlists_spec.rb
Due: none

Use geckodriver in CI
  .circleci/config.yml
  src/api/spec/rails_helper.rb
  src/api/spec/support/backend.rb
  src/api/spec/support/capybara.rb
  src/api/spec/support/vcr.rb
  src/api/spec/support/webmock.rb
Due: none

WIP
  src/api/spec/support/features/features_bento.rb
Due: none

Stop endless redirect in spec
  src/api/spec/features/users/user_admin_edit_spec.rb
Due: none

Comment GitHub credentials' variables
  src/api/lib/tasks/statistics/github/issues.rake
  src/api/lib/tasks/statistics/github/pull_requests.rake
Due: none

Manually fix Style/OptionalBooleanParameter RuboCop offenses (IV)
  src/api/.rubocop_todo.yml
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/configuration/_tabs.html.haml
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/search/_tabs.html.haml
Due: run-haml-linter

Write to sensor column as well as to blocked_from_commenting
  src/api/app/controllers/webui/users_controller.rb
Due: none

Backfill censored column on users
  src/api/db/data/20240814142031_backfill_censored_on_users.rb
  src/api/db/data_schema.rb
Due: run-migrations-tests
