Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Stop relying on bundle_gems service
  dist/obs-bundled-gems.spec
  dist/obs-server.spec
Due: run-root-rubocop

Drop hardcoded bundler/rake package requirements
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Build obs-server against Ruby 3.1
  dist/obs-server.spec
Due: run-root-rubocop

Build obs-bundled-gems against Ruby 3.1
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Bundle with 2.3.7
  src/api/Gemfile.lock
Due: none

Drop hardcoded rack package requirements
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Switch script interpreters to Ruby 3.1
  Makefile.include
  dist/Makefile
  dist/functions.setup-appliance.sh
  dist/obs-server.spec
  dist/systemd/obs-clockwork.service
  docs/api/Makefile
  docs/api/api/Makefile
  docs/api/restility/bin/rest_doc
  docs/api/restility/bin/rest_test
  src/api/Makefile
  src/api/Rakefile
  src/api/bin/bundle
  src/api/bin/pry
  src/api/bin/rails
  src/api/bin/rake
  src/api/bin/rdoc
  src/api/bin/ri
  src/api/bin/rspec
  src/api/bin/rubocop
  src/api/bin/setup
  src/api/script/delayed_job.api.rb
  src/api/script/plugin
  src/api/script/reformat_memprof
  src/api/script/rubygem_package_names.rb
  src/api/script/start_test_backend
Due: run-root-rubocop

Fix some ruby 3.1 incompatibilities
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/config/environment.rb
  src/api/vendor/cache/digest-3.1.0.gem
  src/api/vendor/cache/io-wait-0.2.1.gem
  src/api/vendor/cache/net-imap-0.2.3.gem
  src/api/vendor/cache/net-pop-0.1.1.gem
  src/api/vendor/cache/net-protocol-0.1.2.gem
  src/api/vendor/cache/net-smtp-0.3.1.gem
  src/api/vendor/cache/strscan-3.0.1.gem
  src/api/vendor/cache/thor-1.2.1.gem
  src/api/vendor/cache/timeout-0.2.0.gem
Due: none

The `--path` flag is deprecated
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Rexml is a not a default gem in Ruby 3.1 anymore
  src/api/Gemfile
  src/api/Gemfile.lock
Due: none

Don't rely on other conditions to stop a live log
  src/api/app/controllers/webui/package_controller.rb
Due: none

Fix Rubocop offenses automatically
  src/api/app/controllers/webui/package_controller.rb
Due: none

Replace the shebangs of the ruby executables
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Remove exec bit from gems
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Add ruby 3.1 update to README.UPDATERS
  dist/README.UPDATERS
Due: run-root-rubocop

Replace deprecated URI.escape
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/spec/factories/packages.rb
  src/api/spec/models/package_spec.rb
Due: none

Add required matrix gem
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/matrix-0.4.2.gem
Due: none

Looks like thor gem is not needed anymore
  src/api/vendor/cache/thor-1.1.0.gem
Due: none

URI.encode is removed, use CGI.unescape
  src/api/app/models/package_file.rb
  src/api/app/models/project_config_file.rb
  src/api/app/models/project_file.rb
  src/api/app/models/project_meta_file.rb
  src/api/spec/models/backend/file_spec.rb
Due: none

Append action id to the xml_id to make a unique tab_pane_id
  src/api/app/views/webui/request/show.html.haml
Due: run-haml-linter

Fix separation of positional and keyword arguments
  src/api/app/lib/backend/remember_location.rb
Due: none

The switch to URI.escape changes what is escaped
  src/api/spec/models/package_spec.rb
Due: none

CGI.escape escapes more than URI.escape
  src/api/app/helpers/webui/webui_helper.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
Due: none

Remove a superflous validation spec
  src/api/spec/lib/backend/api/cloud_spec.rb
Due: none

on more
  src/api/app/helpers/webui/webui_helper.rb
Due: none

Don't modify frozen strings
  src/api/app/helpers/webui/webui_helper.rb
Due: none

Monkey patch vcr Ruby 3.1 compatibility
  src/api/spec/support/vcr.rb
Due: none

WIP: Container image cleanup
  .circleci/conditional_config.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Due: none

Introduce browser notifications for live build logs
  src/api/app/assets/javascripts/webui/live_build_log.js
  src/api/app/views/webui/package/_live_build_log_controls.html.haml
  src/api/app/views/webui/package/update_build_log.js.haml
Due: run-haml-linter, run-javascripts-linter

Adjust jslint ignored lines
  src/api/app/assets/javascripts/webui/live_build_log.js
Due: run-javascripts-linter

Add rails task to create workflow token and runs
  src/api/lib/tasks/dev.rake
  src/api/spec/factories/workflow_artifacts_per_step.rb
  src/api/spec/factories/workflow_runs.rb
Due: none

Remove not needed debug logging of finished state
  src/api/app/controllers/webui/package_controller.rb
Due: none

Don't retry requesting the last chunk
  src/api/app/controllers/webui/package_controller.rb
Due: none

URI.encode is removed, use Addressable::URI.encode
  src/api/app/models/package_file.rb
  src/api/app/models/project_config_file.rb
  src/api/app/models/project_file.rb
  src/api/app/models/project_meta_file.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/test/functional/request_controller_test.rb
Due: none

Use more sensical names for the container image aliases
  .circleci/conditional_config.yml
Due: none

Rename run-root-rubocop to run-dist-linter
  .circleci/conditional_config.yml
  .circleci/config.yml
Due: none

Replace URI.escape with Addressable::URI.escape
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/spec/factories/packages.rb
  src/api/spec/models/package_spec.rb
Due: none
