Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Drop the user edit_dialog
  src/api/app/views/webui/user/_edit_dialog.html.haml
  src/api/app/views/webui/users/show.html.haml
Due: run-haml-linter

Apply notification filters onclick
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/features/webui/users/notifications_spec.rb
Due: run-haml-linter

Fix test based on the changed behavior
  src/api/spec/features/webui/users/notifications_spec.rb
Due: none

Delay only the submit, show immediately the loading spin
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
Due: run-haml-linter

Apply workflowrun filters onclick
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Squeeze code to decrease the ViewLength
  src/api/app/components/workflow_run_filter_component.html.haml
Due: run-haml-linter

Delay only the submit, show immediately the loading spin
  src/api/app/components/workflow_run_filter_component.html.haml
Due: run-haml-linter

Use @unread_notifications in the Notifications controller
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Remove unused `has_role?` method
  src/api/app/models/user.rb
Due: none

Update outdated RuboCop TODO file
  src/api/.rubocop_todo.yml
Due: none

Update only read|unread count after updating
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Calculate number of read notifications with a substraction
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Avoid surfacing errors on ajax datatables
  src/api/app/controllers/concerns/webui/rescue_handler.rb
Due: none

Rename unread_notifications to unread_notifications_count
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/models/user.rb
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/layouts/webui/_unread_notifications_counter.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
Due: run-haml-linter

Introduce templates for new packages
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/models/project.rb
  src/api/app/services/package_service/templater.rb
  src/api/app/services/package_service/templater/package_drop.rb
  src/api/app/services/package_service/templater/project_drop.rb
  src/api/app/services/package_service/templater/user_drop.rb
  src/api/app/views/webui/package/new.html.haml
  src/api/db/attribute_descriptions.rb
  src/api/db/data/20240606115249_add_package_templates_to_attrib_types.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
  src/api/vendor/cache/liquid-5.5.0.gem
Due: run-haml-linter, run-migrations-tests, run-passenger-tests

Split update and update_all notifications
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Convert `unless` condition into an skip_before_action
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Fix typo in markdown
  SUPPORT.md
Due: none

Launch workers with systemd unit templates...
  dist/obs_worker_manager
  dist/systemd/obsworker@.service
Due: run-dist-linter

Adapt tests and API documentation to the renaming ...
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_branch.yaml
  src/api/spec/features/webui/packages_spec.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/source_controller_test.rb
Due: none

Make returned parameters consistent with its call ...
  src/api/app/controllers/webui/packages/branches_controller.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
Due: none

Escape html before parsing the log
  src/api/app/mixins/build_log_support.rb
Due: none

Fix the Mark all as Read/Unread button
  src/api/app/components/notification_action_bar_component.rb
  src/api/spec/components/notification_action_bar_component_spec.rb
Due: run-haml-linter

Make sure binaries show and dependency work on multibuild packages
  src/api/app/views/webui/packages/binaries/dependency.html.haml
  src/api/app/views/webui/packages/binaries/show.html.haml
Due: run-haml-linter

Let the admin upload the logo for the header
  src/api/app/controllers/webui/configuration_controller.rb
  src/api/app/models/configuration.rb
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/webui/configuration/index.html.haml
Due: run-haml-linter

Stop re-inventing User.session
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_component_spec.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
Due: run-haml-linter

Clean up set_selected_filter
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/index.html.haml
Due: run-haml-linter

Stop passing around the show_read_all_button variable
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_action_bar_component_spec.rb
  src/api/spec/components/previews/notification_action_bar_component_preview.rb
Due: run-haml-linter

Stop raising APIErrors in Webui controller
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

[backend] container publishing: fix artifacthub generation for remote repos
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

[backend] bs_srcserver: do not add a packagelist in unpublishing all packages
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] bs_repserver: do not fail unpublishing if we never published
  src/backend/bs_repserver
Due: run-backend-tests

[backend] accept (but ignore) an "ns" parameter
  src/backend/bs_srcserver
Due: run-backend-tests

Remove never used `groups_roles` table
  src/api/app/models/group.rb
  src/api/app/models/role.rb
  src/api/db/migrate/20240607131326_drop_table_groups_roles.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Invalidate configuration cache by deleting
  src/api/app/models/configuration.rb
Due: none

Prevent from performing an SQL query ...
  src/api/app/models/configuration.rb
Due: none

Use Addressable::URI to play with the url
  src/api/app/components/notification_action_bar_component.rb
  src/api/spec/components/notification_action_bar_component_spec.rb
Due: run-haml-linter

Stop another leak of user email
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Due: none

Autocorrect RuboCop Capybara/SpecificFinders offenses
  src/api/.rubocop_todo.yml
  src/api/spec/features/webui/canned_responses_spec.rb
  src/api/spec/features/webui/change_bugowner_spec.rb
  src/api/spec/features/webui/projects_spec.rb
  src/api/spec/features/webui/requests_spec.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
