Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Move check_and_remove_repositories to a concern
  src/api/app/controllers/concerns/check_and_remove_repositories.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_controller.rb
  src/api/app/controllers/source_project_meta_controller.rb
Due: none

Make validate_target_for_package_command_exists private
  src/api/app/controllers/source_controller.rb
Due: none

Make check_permissions_for_file private
  src/api/app/controllers/source_controller.rb
Due: none

Move check_access into instantiation callback
  src/api/app/jobs/create_project_log_entry_job.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/concerns/project_maintenance.rb
  src/api/app/models/event/request.rb
  src/api/app/models/owner_search/assignee.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/user.rb
  src/api/app/queries/packages_finder.rb
Due: none

Revert "Introduces triggering Project operations"
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/lib/backend/api/build/project.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/policies/token/release_policy.rb
  src/api/config/routes/api_routes.rb
Due: none

Revert "Expand the rspec suite to cover Tokens"
  src/api/spec/cassettes/TriggerController/_rebuild/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_1_3_1_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_1_3_1_2.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_token_is_valid/1_1_2_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_project_and_package_parameter/1_2_2_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_token_package/1_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/for_inexistent_project/1_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_2_6_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_2_6_1_2.yml
  src/api/spec/cassettes/TriggerController/_release/when_there_are_no_release_targets/1_2_5_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_token_is_valid_and_package_exists/1_2_2_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_source/1_2_3_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_target/1_2_4_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_target/1_2_4_2.yml
  src/api/spec/cassettes/TriggerController/_release/with_token_package/1_3_1_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/1_3_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_3_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_3_2_1_2.yml
  src/api/spec/cassettes/TriggerController/_runservice/with_token_package/1_4_1_1.yml
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/factories/project.rb
  src/api/test/functional/trigger_controller_test.rb
Due: none

Revert "Document all of the /trigger API"
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/trigger_operation.yaml
  src/api/public/apidocs/paths/trigger_rebuild.yaml
  src/api/public/apidocs/paths/trigger_release.yaml
  src/api/public/apidocs/paths/trigger_runservice.yaml
  src/api/public/apidocs/paths/trigger_webhook.yaml
  src/api/public/apidocs/paths/trigger_workflow.yaml
Due: none

[backend] bs_worker: send the workerid in all getbinaryversions requests
  src/backend/bs_worker
Due: run-backend-tests

Revert "Revert "Introduces triggering Project operations""
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/lib/backend/api/build/project.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/policies/token/release_policy.rb
  src/api/config/routes/api_routes.rb
Due: none

Revert "Revert "Expand the rspec suite to cover Tokens""
  src/api/spec/cassettes/TriggerController/_rebuild/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_1_3_1_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_1_3_1_2.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_token_is_valid/1_1_2_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_project_and_package_parameter/1_2_2_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_project_parameter/1_2_3_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_token_package/1_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_2_6_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_2_6_1_2.yml
  src/api/spec/cassettes/TriggerController/_release/when_there_are_no_release_targets/1_2_5_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_source/1_2_3_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_project_and_package_parameter/1_3_2_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_project_parameter/1_3_3_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_token_package/1_3_1_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/_verfiy_package_params/1_4_3_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_3_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_3_2_1_2.yml
  src/api/spec/cassettes/TriggerController/_runservice/with_project_and_package_parameter/1_4_2_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/with_token_package/1_4_1_1.yml
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/factories/project.rb
  src/api/test/functional/trigger_controller_test.rb
Due: none

Revert "Revert "Document all of the /trigger API""
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/trigger_rebuild.yaml
  src/api/public/apidocs/paths/trigger_release.yaml
  src/api/public/apidocs/paths/trigger_runservice.yaml
  src/api/public/apidocs/paths/trigger_webhook.yaml
  src/api/public/apidocs/paths/trigger_workflow.yaml
Due: none

Use descriptive error message for token type validation
  src/api/app/controllers/trigger_controller.rb
Due: none

Move notifiable_link_path into a decorator method
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/decorators/notification/event/appeal_created.rb
  src/api/app/models/decorators/notification/event/build_fail.rb
  src/api/app/models/decorators/notification/event/cleared_decision.rb
  src/api/app/models/decorators/notification/event/comment_for_package.rb
  src/api/app/models/decorators/notification/event/comment_for_project.rb
  src/api/app/models/decorators/notification/event/comment_for_request.rb
  src/api/app/models/decorators/notification/event/create_report.rb
  src/api/app/models/decorators/notification/event/favored_decision.rb
  src/api/app/models/decorators/notification/event/relationship_create.rb
  src/api/app/models/decorators/notification/event/relationship_delete.rb
  src/api/app/models/decorators/notification/event/report_for_comment.rb
  src/api/app/models/decorators/notification/event/report_for_package.rb
  src/api/app/models/decorators/notification/event/report_for_project.rb
  src/api/app/models/decorators/notification/event/report_for_request.rb
  src/api/app/models/decorators/notification/event/report_for_user.rb
  src/api/app/models/decorators/notification/event/request_create.rb
  src/api/app/models/decorators/notification/event/request_statechange.rb
  src/api/app/models/decorators/notification/event/review_wanted.rb
  src/api/app/models/decorators/notification/event/workflow_run_fail.rb
Due: run-haml-linter

Move notifiable_link_text into a decorator method
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/decorators/notification/event/appeal_created.rb
  src/api/app/models/decorators/notification/event/build_fail.rb
  src/api/app/models/decorators/notification/event/cleared_decision.rb
  src/api/app/models/decorators/notification/event/comment_for_package.rb
  src/api/app/models/decorators/notification/event/comment_for_project.rb
  src/api/app/models/decorators/notification/event/comment_for_request.rb
  src/api/app/models/decorators/notification/event/create_report.rb
  src/api/app/models/decorators/notification/event/favored_decision.rb
  src/api/app/models/decorators/notification/event/relationship_create.rb
  src/api/app/models/decorators/notification/event/relationship_delete.rb
  src/api/app/models/decorators/notification/event/report_for_comment.rb
  src/api/app/models/decorators/notification/event/report_for_package.rb
  src/api/app/models/decorators/notification/event/report_for_project.rb
  src/api/app/models/decorators/notification/event/report_for_request.rb
  src/api/app/models/decorators/notification/event/report_for_user.rb
  src/api/app/models/decorators/notification/event/request_create.rb
  src/api/app/models/decorators/notification/event/request_statechange.rb
  src/api/app/models/decorators/notification/event/review_wanted.rb
  src/api/app/models/decorators/notification/event/workflow_run_fail.rb
Due: run-haml-linter

Improve notification decorator usage
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_avatars_component.rb
  src/api/app/models/decorators/notification/event/appeal_created.rb
  src/api/app/models/decorators/notification/event/build_fail.rb
  src/api/app/models/decorators/notification/event/cleared_decision.rb
  src/api/app/models/decorators/notification/event/comment_for_package.rb
  src/api/app/models/decorators/notification/event/comment_for_project.rb
  src/api/app/models/decorators/notification/event/comment_for_request.rb
  src/api/app/models/decorators/notification/event/create_report.rb
  src/api/app/models/decorators/notification/event/favored_decision.rb
  src/api/app/models/decorators/notification/event/relationship_create.rb
  src/api/app/models/decorators/notification/event/relationship_delete.rb
  src/api/app/models/decorators/notification/event/report_for_comment.rb
  src/api/app/models/decorators/notification/event/report_for_package.rb
  src/api/app/models/decorators/notification/event/report_for_project.rb
  src/api/app/models/decorators/notification/event/report_for_request.rb
  src/api/app/models/decorators/notification/event/report_for_user.rb
  src/api/app/models/decorators/notification/event/request_create.rb
  src/api/app/models/decorators/notification/event/request_statechange.rb
  src/api/app/models/decorators/notification/event/review_wanted.rb
  src/api/app/models/decorators/notification/event/workflow_run_fail.rb
Due: run-haml-linter

Refactor description_text into notification decorator
  src/api/app/components/notification_action_description_component.rb
  src/api/app/models/decorators/notification/event/appeal_created.rb
  src/api/app/models/decorators/notification/event/build_fail.rb
  src/api/app/models/decorators/notification/event/cleared_decision.rb
  src/api/app/models/decorators/notification/event/comment_for_package.rb
  src/api/app/models/decorators/notification/event/comment_for_project.rb
  src/api/app/models/decorators/notification/event/comment_for_request.rb
  src/api/app/models/decorators/notification/event/create_report.rb
  src/api/app/models/decorators/notification/event/favored_decision.rb
  src/api/app/models/decorators/notification/event/relationship_create.rb
  src/api/app/models/decorators/notification/event/relationship_delete.rb
  src/api/app/models/decorators/notification/event/report_for_comment.rb
  src/api/app/models/decorators/notification/event/report_for_package.rb
  src/api/app/models/decorators/notification/event/report_for_project.rb
  src/api/app/models/decorators/notification/event/report_for_request.rb
  src/api/app/models/decorators/notification/event/report_for_user.rb
  src/api/app/models/decorators/notification/event/request_create.rb
  src/api/app/models/decorators/notification/event/request_statechange.rb
  src/api/app/models/decorators/notification/event/review_wanted.rb
  src/api/app/models/decorators/notification/event/workflow_run_fail.rb
  src/api/app/models/notification.rb
Due: run-haml-linter

Implement basic notification decorator
  src/api/app/models/decorators/notification/common.rb
Due: none

Refactor common code between notification decorators
  src/api/app/models/decorators/notification/common.rb
  src/api/app/models/decorators/notification/event/cleared_decision.rb
  src/api/app/models/decorators/notification/event/create_report.rb
  src/api/app/models/decorators/notification/event/favored_decision.rb
Due: none

Reduce cognitive complexity of validator
  src/api/app/controllers/trigger_controller.rb
Due: none

add loongarch64 architecture
  docs/api/api/obs.rng
  src/api/db/seeds.rb
  src/backend/BSCando.pm
  src/backend/BSConfig.pm.template
  src/backend/bs_publish
Due: run-backend-tests, run-migrations-tests

Adding importmap and stimulus
  dist/obs-server.spec
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/config/manifest.js
  src/api/app/javascript/application.js
  src/api/app/javascript/controllers/application.js
  src/api/app/javascript/controllers/index.js
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/bin/importmap
  src/api/config/importmap.rb
  src/api/vendor/cache/importmap-rails-1.2.3.gem
  src/api/vendor/cache/stimulus-rails-1.3.0.gem
  src/api/vendor/javascript/.keep
Due: run-dist-linter, run-haml-linter, run-passenger-tests

Use stimulus for the copy_to_clipboard view component
  src/api/app/components/copy_to_clipboard_input_component.html.haml
  src/api/app/javascript/controllers/copy_to_clipboard_controller.js
Due: run-haml-linter

Use stimulus controller for the create badge modal
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/badge.js
  src/api/app/components/copy_to_clipboard_input_component.html.haml
  src/api/app/components/copy_to_clipboard_input_component.rb
  src/api/app/javascript/controllers/badge_controller.js
  src/api/app/views/webui/package/side_links/_create_badge.html.haml
Due: run-haml-linter, run-javascripts-linter

Replace repository autocompletes with stimulus controller
  src/api/app/javascript/controllers/repository_autocomplete_controller.js
  src/api/app/views/webui/repositories/_add_repository_from_project_modal.html.haml
  src/api/app/views/webui/repositories/_add_repository_path_modal.html.haml
Due: run-haml-linter

Replace autocomplete with stimulus controller
  src/api/app/assets/javascripts/webui/autocomplete.js
  src/api/app/assets/stylesheets/webui/autocomplete.scss
  src/api/app/javascript/controllers/autocomplete_controller.js
  src/api/app/views/webui/shared/_autocomplete.html.haml
Due: run-haml-linter, run-javascripts-linter

Replace project/package autocompletes with stimulus controller
  src/api/app/javascript/controllers/package_autocomplete_controller.js
  src/api/app/views/webui/packages/branches/into.html.haml
  src/api/app/views/webui/request/_add_reviewer_dialog.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
Due: run-haml-linter

Align old code for new events
  src/api/app/assets/javascripts/webui/request.js
  src/api/spec/features/webui/repositories_spec.rb
Due: run-javascripts-linter

Add fake migration
  src/api/db/migrate/20231220093136_create_fake.rb
Due: run-migrations-tests

Drop Isolated Migrations GitHub action
  .github/workflows/isolated_migrations.yml
Due: none

Add Migrations Reminder GitHub actions
  .github/workflows/migrations_reminder.yml
Due: none

[api] fix rebuild via token behaviour for multibuild
  src/api/app/controllers/concerns/triggerable.rb
Due: none

Fix typo: opossite -> opposite
  src/api/app/controllers/source_controller.rb
Due: none

Remove validation of token type
  src/api/app/controllers/trigger_controller.rb
  src/api/spec/cassettes/TriggerController/_rebuild/with_project_and_package_parameter/1_1_2_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_project_parameter/1_1_3_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_token_package/1_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_project_and_package_parameter/1_2_2_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_project_parameter/1_2_3_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_token_package/1_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/_verfiy_package_params/1_3_3_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/with_project_and_package_parameter/1_3_2_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/with_token_package/1_3_1_1.yml
  src/api/spec/controllers/trigger_controller_spec.rb
Due: none

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Due: none

Autocorrect Capybara/RedundantWithinFind RuboCop ...
  src/api/.rubocop_todo.yml
  src/api/spec/features/webui/groups_spec.rb
Due: none

Autocorrect Capybara/RSpec/HaveSelector RuboCop ...
  src/api/.rubocop_todo.yml
  src/api/spec/components/avatar_component_spec.rb
  src/api/spec/components/bs_request_comment_component_spec.rb
  src/api/spec/components/buildresult_status_link_component_spec.rb
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/controllers/group_controller_spec.rb
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
  src/api/spec/features/webui/image_templates_spec.rb
Due: none

Regenerate RuboCop TODO file for root subdirectory
  .rubocop_todo.yml
Due: none

Autocorrect Capybara/NegationMatcher RuboCop ...
  .rubocop_todo.yml
  dist/t/spec/spec_helper.rb
Due: run-dist-linter

Autocorrect Capybara/NegationMatcher RuboCop ...
  src/api/.rubocop_todo.yml
  src/api/spec/components/avatar_component_spec.rb
  src/api/spec/components/bs_request_comment_component_spec.rb
  src/api/spec/components/build_result_for_architecture_component_spec.rb
  src/api/spec/components/notification_filter_component_spec.rb
  src/api/spec/components/notification_filter_link_component_spec.rb
  src/api/spec/components/patchinfo_component_spec.rb
  src/api/spec/components/sponsors_component_spec.rb
  src/api/spec/components/watched_items_list_component_spec.rb
  src/api/spec/components/watchlist_component_spec.rb
  src/api/spec/components/watchlist_icon_component_spec.rb
  src/api/spec/components/workflow_run_detail_component_spec.rb
  src/api/spec/controllers/webui/comments_controller_spec.rb
  src/api/spec/features/beta/webui/reports_spec.rb
  src/api/spec/features/webui/attributes_spec.rb
  src/api/spec/features/webui/canned_responses_spec.rb
  src/api/spec/features/webui/change_bugowner_spec.rb
  src/api/spec/features/webui/comment_locks_spec.rb
  src/api/spec/features/webui/comments_spec.rb
  src/api/spec/features/webui/login_spec.rb
  src/api/spec/features/webui/main_page_spec.rb
  src/api/spec/features/webui/maintained_projects_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/projects_spec.rb
  src/api/spec/features/webui/repositories_spec.rb
  src/api/spec/features/webui/requests/change_devel_actions_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/features/webui/search_spec.rb
  src/api/spec/features/webui/sign_up_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
  src/api/spec/features/webui/users/user_contributions_spec.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
  src/api/spec/features/webui/watchlists_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
  src/api/spec/shared/examples/features/bootstrap_user_tab.rb
  src/api/spec/support/features/features_authentication.rb
Due: none

Checkpoint
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/diff-comments.js
  src/api/app/components/diff_component.html.haml
Due: run-haml-linter, run-javascripts-linter
