Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Unify style
  src/api/app/views/webui/users/tokens/new.html.haml
Due: run-haml-linter

[api] support request history search by time
  src/api/lib/xpath_engine.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/maintenance_test.rb
Due: none

Add WorkflowBranchesFiltersValidator to Workflow model
  src/api/app/models/workflow.rb
  src/api/app/validators/workflow_branches_filters_validator.rb
Due: none

Turn Workflow#event_matches_event_filter into an ActiveModel::Validator
  src/api/app/models/workflow.rb
  src/api/app/validators/workflow_event_filter_validator.rb
  src/api/spec/validators/workflow_event_filter_validator_spec.rb
Due: none

Update
  src/api/app/datatables/package_datatable.rb
  src/api/app/models/package.rb
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/app/views/webui/requests/checkupgrade/_delete_dialog_check_upgrade.html.erb
  src/api/app/views/webui/requests/checkupgrade/_show_actions.html.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Add workflow runs model and table
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20211110142710_create_workflow_runs.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Rename method valid_filters? to validate_filters
  src/api/app/validators/workflow_filters_validator.rb
Due: none

Replace SLE_15_SP3 with 15.3 in the workflows.yml
  .obs/workflows.yml
Due: none

Remove openSUSE_Factory repository from workflows.yml
  .obs/workflows.yml
Due: none

Move SCM integration from branch package to link package To be able to restrict the building architectures and repositories, swithc the SCM integration strategy from branch package to link package
  .obs/workflows.yml
Due: none

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/views/webui/requests/checkupgrade/_show_actions.html.erb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

[backend] allow aggregate from non-modulemd binaries into modulemd projects
  src/backend/BSSched/BuildJob/Aggregate.pm
Due: run-backend-tests

Drop response_url from workflow_runs
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20211112134215_remove_response_url_from_workflow_runs.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Update
  src/api/app/models/package_check_upgrade.rb
  src/api/db/migrate/20211112162609_add_send_email_to_package_check_upgrades.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Test, please ignore
  CONTRIBUTING.md
Due: none

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/db/migrate/20211113095329_add_user_email_to_package_check_upgrades.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
Due: none

Update
  src/api/app/jobs/check_upgrade_job.rb
Due: none

Update
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Update
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Update
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

[backend] another tweak for the setrelease mechanism
  src/backend/bs_repserver
Due: run-backend-tests

Handle Octokit::InvalidRepository on YAMLDownloader
  src/api/app/models/token/errors.rb
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

Revert "Update sprockets-rails to version 3.3.0"
  src/api/Gemfile.lock
Due: none

Update
  src/api/app/jobs/check_upgrade_job.rb
  src/api/config/clock.rb
Due: none

Update
  src/api/config/check_upgrade.yml
Due: none

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/jobs/check_upgrade_job.rb
Due: none

Revert #11850
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20211116111900_add_response_url_to_workflow_runs.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Remove outdated comments in Workflow model
  src/api/app/models/workflow.rb
Due: none

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/jobs/check_upgrade_job.rb
  src/api/config/check_upgrade.yml
Due: none

Update
  src/api/app/datatables/package_datatable.rb
Due: none

Update
  src/api/app/models/package_check_upgrade.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
Due: run-haml-linter

Fix inconsistent target project name
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step_spec.rb
Due: none

Update rubocop_todo.yml files
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
Due: none

Update
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/mailers/check_upgrade_mailer.rb
Due: none

Add specs for workflow runs
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/models/token/workflow_spec.rb
Due: none
