Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

New partial for info popover icon with html text
  src/api/app/views/webui/shared/_info_popover.haml
Due: run-haml-linter

Prepare html text first, then use the partial for the same template
  src/api/app/components/workflow_run_filter_component.html.haml
Due: run-haml-linter

Avoid double encoding parameters to the backend
  src/api/app/models/package.rb
Due: none

apidocs: Add missing params for branch
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_branch.yaml
Due: none

Let the add from a distributions page use the info popover partial
  src/api/app/views/webui/distributions/new.html.haml
Due: run-haml-linter

Let the home page use the info popover partial
  src/api/app/views/webui/main/_system_status.html.haml
Due: run-haml-linter

Lighter info icon
  src/api/app/views/webui/shared/_info_popover.haml
Due: run-haml-linter

Make use of the backend api
  src/api/app/lib/backend/api/build/project.rb
  src/api/app/models/package.rb
  src/api/spec/models/package_spec.rb
Due: none

Update list of crawler user agents
  src/api/config/crawler-user-agents.json
Due: none

Test if the revision is correctly taken into account
  src/api/spec/cassettes/Packages/Viewing_package_with_older_revision/contains_file_from_revision_including_the_revision_parameter.yml
  src/api/spec/cassettes/Packages/Viewing_package_with_older_revision/does_not_display_delete_buttons_for_files.yml
  src/api/spec/features/webui/packages_spec.rb
Due: none

Remove unneeded hyphens
  src/api/app/views/webui/distributions/new.html.haml
Due: run-haml-linter

Add comments to objects stored in SCM/CI steps
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/set_flags.rb
Due: none

[backend] support a "startbefore" parameter in source _history queries
  src/backend/bs_srcserver
Due: run-backend-tests

Restore constraints to the Webui::Packages::BinariesController#destroy route
  src/api/config/routes/webui.rb
Due: none

Regenerate rubocop todos after the update
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
Due: none

Store a project definition when a flag is updated
  src/api/app/models/workflow/step/set_flags.rb
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
Due: none

Remove unneeded call to create user project
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
Due: none

Pick up the user to run the tests from the token
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
Due: none

Update rails to version 7.0.8.1
  src/api/Gemfile.lock
  src/api/vendor/cache/actioncable-7.0.8.1.gem
  src/api/vendor/cache/actioncable-7.0.8.gem
  src/api/vendor/cache/actionmailbox-7.0.8.1.gem
  src/api/vendor/cache/actionmailbox-7.0.8.gem
  src/api/vendor/cache/actionmailer-7.0.8.1.gem
  src/api/vendor/cache/actionmailer-7.0.8.gem
  src/api/vendor/cache/actionpack-7.0.8.1.gem
  src/api/vendor/cache/actionpack-7.0.8.gem
  src/api/vendor/cache/actiontext-7.0.8.1.gem
  src/api/vendor/cache/actiontext-7.0.8.gem
  src/api/vendor/cache/actionview-7.0.8.1.gem
  src/api/vendor/cache/actionview-7.0.8.gem
  src/api/vendor/cache/activejob-7.0.8.1.gem
  src/api/vendor/cache/activejob-7.0.8.gem
  src/api/vendor/cache/activemodel-7.0.8.1.gem
  src/api/vendor/cache/activemodel-7.0.8.gem
  src/api/vendor/cache/activerecord-7.0.8.1.gem
  src/api/vendor/cache/activerecord-7.0.8.gem
  src/api/vendor/cache/activestorage-7.0.8.1.gem
  src/api/vendor/cache/activestorage-7.0.8.gem
  src/api/vendor/cache/activesupport-7.0.8.1.gem
  src/api/vendor/cache/activesupport-7.0.8.gem
  src/api/vendor/cache/rails-7.0.8.1.gem
  src/api/vendor/cache/rails-7.0.8.gem
  src/api/vendor/cache/railties-7.0.8.1.gem
  src/api/vendor/cache/railties-7.0.8.gem
Due: run-passenger-tests

Enhance the visual difference from placeholder to real input value
  src/api/app/assets/stylesheets/webui/colors.scss
  src/api/app/assets/stylesheets/webui/mixin.scss
Due: none

Simplify ScmWebhookHeadersDataExtractor
  src/api/app/controllers/concerns/scm_webhook_headers_data_extractor.rb
  src/api/app/controllers/trigger_workflow_controller.rb
Due: none

Move the methods into controllers they belong to
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/models/package.rb
Due: none

Regenerate casettes for failing specs
  src/api/spec/cassettes/Package/_add_containers/1_24_1.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/of_a_package_with_more_than_one_changes_file/1_17_4_1.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/of_a_package_without_a_changes_file/1_17_3_1.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_17_1_1.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_17_1_2.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_17_1_3.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_17_1_4.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_17_1_5.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_18_1_4.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_no_diff_to_the_target_package_changes_file/1_17_2_1.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_no_diff_to_the_target_package_changes_file/1_17_2_2.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_no_diff_to_the_target_package_changes_file/1_17_2_3.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_no_diff_to_the_target_package_changes_file/1_17_2_4.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_no_diff_to_the_target_package_changes_file/1_17_2_5.yml
  src/api/spec/cassettes/Package/_ignored_requests/when_the_package_has_no_ignored_requests_file/1_21_2_1.yml
  src/api/spec/cassettes/Package/_kiwi_image_outdated_/with_a_kiwi_image/with_different_md5/1_15_2_2_1.yml
  src/api/spec/cassettes/Package/_kiwi_image_outdated_/with_a_kiwi_image/with_different_md5/1_16_2_2_1.yml
  src/api/spec/cassettes/Package/_kiwi_image_outdated_/with_a_kiwi_image/with_same_md5/1_15_2_1_1.yml
  src/api/spec/cassettes/Package/_kiwi_image_outdated_/without_a_kiwi_image/1_15_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_succeeds/1_10_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_succeeds/1_10_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/DELETE_destroy/when_wiping_binaries_succeeds/1_1_2_1.yml
Due: none

Move token type validaiton into it's own before filter
  src/api/app/controllers/trigger_workflow_controller.rb
Due: none

[backend] support product compose name schema on release
  src/backend/bs_repserver
Due: run-backend-tests

[backend] do not send resumeproject events to the signer
  src/backend/bs_repserver
Due: run-backend-tests

Disallow triggering for unknown SCM vendors
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Due: none

Eliminate caching of revisions and fetch them directly from the backend
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/models/package.rb
  src/api/app/views/webui/package/revisions.html.haml
Due: run-haml-linter

Distinguish placeholder text from its possible value
  src/api/app/components/workflow_run_filter_component.html.haml
Due: run-haml-linter

Update ajax-datatables-rails to version 1.5.0
  src/api/Gemfile.lock
  src/api/vendor/cache/ajax-datatables-rails-1.4.0.gem
  src/api/vendor/cache/ajax-datatables-rails-1.5.0.gem
Due: run-passenger-tests

Allow mentioning users with plus sign in the name
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
Due: none

Adjust error message for failed submit
  src/api/app/controllers/webui/request_controller.rb
  src/api/spec/controllers/webui/requests/submissions_controller_spec.rb
Due: none

Look&feel toward common filters
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
Due: run-haml-linter

Make the action filter always visible
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Use the parameter from the initialization instead
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
Due: run-haml-linter

Drop no longer used parameters
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
Due: run-haml-linter

Pass the filter name from the parent
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
Due: run-haml-linter

Make the filters a form with checkboxes and input values
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
Due: run-haml-linter

Move ruby code away from the view
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
Due: run-haml-linter
