Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

WIP: Add callbacks to create artifacts to workflow steps
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
Due: none

Use the allowbuilddep in meta config to whitelist project access
  src/backend/BSSched/Access.pm
Due: run-backend-tests

Verify builldep access instead of blindly erroring out
  src/api/app/models/concerns/project_links.rb
  src/api/app/models/project.rb
  src/api/test/unit/project_test.rb
Due: none

Add a new none-or-some element <allowbuilddep> to project meta config
  docs/api/api/obs.rng
  docs/api/api/project.rng
  src/api/app/models/allowbuilddep.rb
  src/api/app/models/project.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/views/models/_project.xml.builder
  src/api/db/migrate/20220117135700_create_allowbuilddeps.rb
  src/api/db/schema.rb
  src/backend/BSXML.pm
  src/backend/bs_srcserver
Due: run-backend-tests, run-haml-linter, run-migrations-tests

Suppress a 500 error in the web-UI for project meta config
  src/api/app/views/models/_project.xml.builder
Due: run-haml-linter

Add a test for the new allowbuilddep functionality
  src/api/app/models/project.rb
  src/api/test/unit/project_test.rb
Due: none

Update the rails cache for project meta xml to store per-user views
  src/api/app/models/concerns/project_links.rb
  src/api/app/models/project.rb
Due: none

[backend] also cosign anonymous images in multiarch containers
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
Due: run-backend-tests

[dist] updated Kankufile to 15.4
  KankuFile
Due: none

[dist] fix apache start in opensuse 15.4
  dist/functions.setup-appliance.sh
Due: run-root-rubocop

[backend] BSX509: add method to create a pubkey from the key data
  src/backend/BSX509.pm
Due: run-backend-tests

[backend] Add BSRekor module to implement uploading signatures to a rekor server
  src/backend/BSRekor.pm
Due: run-backend-tests

[backend] Support uploading to rekor in the local registry
  src/backend/BSPublisher/Registry.pm
Due: run-backend-tests

Hide unsupported actions in WorkflowRun's index page
  src/api/app/components/workflow_run_row_component.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Due: run-haml-linter

[backend] implement cosign signature creation for external registries
  src/backend/BSPublisher/Container.pm
  src/backend/bs_regpush
Due: run-backend-tests

[backend] Support "allowrootforbuild" as build flag
  src/backend/bs_worker
Due: run-backend-tests

[backend] use BSX509::keydata2pubkey, remove BSTUF::keydata2asn1
  src/backend/BSTUF.pm
  src/backend/bs_notar
Due: run-backend-tests

[backend] getbinariesproxy: check file descriptor limit in the run hook
  src/backend/bs_getbinariesproxy
Due: run-backend-tests

[backend] support a rekorserver in the registry config
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

Report multibuild flavors if package is multibuild
  src/api/app/models/workflow/step.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Due: none

Remove duplication to fix Code Climate issues
  src/api/app/components/workflow_run_row_component.rb
Due: run-haml-linter

Implement the improvements in the UI for GitLab too
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Due: run-haml-linter

Add show token view
  src/api/app/components/copy_to_clipboard_input_component.html.haml
  src/api/app/components/copy_to_clipboard_input_component.rb
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/policies/token_policy.rb
  src/api/app/views/webui/users/tokens/_actions.html.haml
  src/api/app/views/webui/users/tokens/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tokens/_create.js.erb
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
Due: run-haml-linter

Update specs to check redirection to show page after successful token creation and to check policy to grant permission to have trigger token action
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
  src/api/spec/policies/token_policy_spec.rb
Due: none

Implement workflow run show page
  src/api/app/components/workflow_run_header_component.html.haml
  src/api/app/components/workflow_run_header_component.rb
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/app/views/webui/workflow_runs/show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Due: run-haml-linter

Add pundit policy for workflow_run show view
  src/api/app/policies/workflow_run_policy.rb
  src/api/spec/policies/workflow_run_policy_spec.rb
Due: none

[backend] make BSSrcDiff a little smarter
  src/backend/BSSrcdiff.pm
Due: run-backend-tests

[backend] bs_dodup: strip the domain name from the container if it matches the registry url
  src/backend/bs_dodup
Due: run-backend-tests

Use it instead of scenario to fix rubocop issues
  src/api/spec/support/shared_examples/features/beta/user_tab.rb
  src/api/spec/support/shared_examples/features/boostrap_flag_tables.rb
  src/api/spec/support/shared_examples/features/bootstrap_user_tab.rb
  src/api/spec/support/shared_examples/features/flags_tables.rb
Due: none

Support multiple repository paths in configure_repositories
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
Due: none

Follow changes in configure_repositories step
  .obs/workflows.yml
Due: none

Revert "[src/api] Update puma: 5.5.2 → 5.6.0 (minor)"
  src/api/Gemfile.lock
Due: none

[backend] bs_warden: remove unreadable :status files
  src/backend/bs_warden
Due: run-backend-tests

Expand files to be able to find the "_multibuild" file on backend
  src/api/app/models/package.rb
  src/api/spec/cassettes/Package/_file_exists_/_multibuild_file_should_exist/1_4_1_1.yml
  src/api/spec/models/package_spec.rb
Due: none

[api] fix crash when product defines remote update url
  src/api/app/models/product.rb
Due: none

Add omniauth dependency
  src/api/Gemfile
  src/api/Gemfile.lock
Due: none

Add dependency on omniauth-gitlab
  src/api/Gemfile
  src/api/Gemfile.lock
Due: none

Add omniauth-rails_csrf_protection
  src/api/Gemfile
  src/api/Gemfile.lock
Due: none
