Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Keep track of the filtered selected value
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
Due: run-haml-linter

Adapt the WorkflowrunFilterComponent to accept multiple filters
  src/api/.rubocop_todo.yml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/workflow_run_filter.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
Due: run-haml-linter

Apply the request_action filter to all the records
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/queries/workflow_runs_finder.rb
Due: run-haml-linter

Unsafe autocorrect Style/IdenticalConditionalBranches ...
  src/api/.rubocop_todo.yml
  src/api/app/controllers/build_controller.rb
  src/api/app/controllers/webui/search_controller.rb
Due: none

Unsafe autocorrect Style/SlicingWithRange ...
  src/api/.rubocop_todo.yml
  src/api/app/controllers/build_controller.rb
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/helpers/webui/projects/status_helper.rb
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/issue_tracker.rb
  src/api/app/models/kiwi/image.rb
  src/api/app/services/package_service/schema_verifier.rb
  src/api/test/node_matcher.rb
Due: none

Display a list of file included in the binary
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/lib/backend/api/build_results/binaries.rb
  src/api/app/views/webui/packages/binaries/_deps.html.haml
  src/api/app/views/webui/packages/binaries/_fileinfo.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Unsafe autocorrect Rails/FindEach RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/helpers/flag_helper.rb
  src/api/app/models/binary_release.rb
  src/api/app/policies/token/release_policy.rb
  src/api/app/views/models/_configuration.xml.builder
  src/api/db/data/20210707102506_add_api_endpoints_to_payload.rb
  src/api/db/data/20230620110143_backfill_scm_vendor_and_hook_event_in_workflow_run.rb
Due: run-haml-linter, run-migrations-tests

[api][backend]add loongarch64 support for open-build-service
  docs/api/api/obs.rng
  src/api/db/data/20240131174510_add_loongarch64.rb
  src/api/db/seeds.rb
  src/backend/BSCando.pm
  src/backend/bs_publish
Due: run-backend-tests, run-migrations-tests

Manually correct one Lint/UselessMethodDefinition ...
  src/api/.rubocop_todo.yml
  src/api/test/test_helper.rb
Due: none

Manually address Lint/SuppressedException RuboCop ...
  src/api/.rubocop_todo.yml
  src/api/app/components/sourcediff_component.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/models/package.rb
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/models/project_spec.rb
Due: run-haml-linter

Render text indented by four spaces as code
  src/api/app/helpers/webui/markdown_helper.rb
Due: none

Document the startbefore parameter in the package _history
  src/api/public/apidocs/paths/source_project_name_package_name_history.yaml
Due: none

Move the request decision hint closer to the decision buttons
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation_aside.html.haml
Due: run-haml-linter

Move the condition into the component class
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
Due: run-haml-linter

Make sure to use the new class name in the views and specs
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/views/webui/appeals/new.html.haml
Due: run-haml-linter

Create a type column in decisions table for sti
  src/api/app/models/decision.rb
  src/api/db/migrate/20240417122758_add_type_to_decisions.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Add an empty DecisionCleared class
  src/api/app/models/decision.rb
  src/api/app/models/decision_cleared.rb
  src/api/app/policies/decision_cleared_policy.rb
Due: none

Document project history endpoint
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/source_project_name_project_history.yaml
Due: none

[api] fix special case in branch handling
  src/api/app/models/branch_package.rb
Due: none

[api] fix package unlock behaviour
  src/api/app/controllers/source_controller.rb
  src/api/test/functional/source_controller_test.rb
Due: none

Rename CannedResponse#decision_kind to favored
  src/api/app/assets/javascripts/webui/canned_responses.js
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/components/reports_modal_component.rb
  src/api/app/models/canned_response.rb
  src/api/app/views/webui/users/canned_responses/edit.html.haml
  src/api/app/views/webui/users/canned_responses/index.html.haml
Due: run-haml-linter, run-javascripts-linter

Adapt canned respones specs to use favored
  src/api/spec/components/canned_responses_dropdown_component_spec.rb
  src/api/spec/factories/canned_responses.rb
  src/api/spec/features/webui/canned_responses_spec.rb
Due: none

Revert "Adapt specs after refactoring unauthorized exceptions"
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_authorized/revokes_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Due: none

Revert "Refactor handling of Gitlab::Error::Unauthorized ..."
  src/api/app/models/token/workflow.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

Revert "Refactor handling of Octokit::Unauthorized exceptions"
  src/api/app/models/token/workflow.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

Revert "Include message of exception in error definition"
  src/api/app/models/token/errors.rb
  src/api/app/models/token/workflow.rb
Due: none

Reapply "Include message of exception in error definition"
  src/api/app/models/token/errors.rb
  src/api/app/models/token/workflow.rb
Due: none

Reapply "Refactor handling of Octokit::Unauthorized exceptions"
  src/api/app/models/token/workflow.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

Reapply "Refactor handling of Gitlab::Error::Unauthorized ..."
  src/api/app/models/token/workflow.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

Reapply "Adapt specs after refactoring unauthorized exceptions"
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_authorized/revokes_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_no_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Due: none

Add decision_type column to canned responses
  src/api/app/models/canned_response.rb
  src/api/db/migrate/20240418155847_add_decision_type_to_canned_response.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Split `#update` and `#block_from_commenting`...
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Fix user specs after introducing block_commenting...
  src/api/spec/controllers/webui/users_controller_spec.rb
Due: none

Use type in the rake task for generating decisions
  src/api/lib/tasks/dev/reports.rake
Due: none

Make sure canned responses work with the new decision types
  src/api/app/assets/javascripts/webui/canned_responses.js
  src/api/app/components/canned_responses_dropdown_component.html.haml
  src/api/app/views/webui/users/canned_responses/edit.html.haml
  src/api/app/views/webui/users/canned_responses/index.html.haml
Due: run-haml-linter, run-javascripts-linter

Start using STI for decision model
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/components/reports_modal_component.rb
  src/api/app/controllers/webui/decisions_controller.rb
  src/api/app/models/decision.rb
  src/api/app/models/decision_favored.rb
  src/api/app/policies/appeal_policy.rb
  src/api/app/policies/decision_favored_policy.rb
  src/api/app/views/webui/appeals/_list_decision.html.haml
  src/api/db/data/20240417122944_set_the_decision_type_from_decision_kind.rb
  src/api/db/data_schema.rb
  src/api/spec/components/notification_action_description_component_spec.rb
Due: run-haml-linter, run-migrations-tests

Improve the way we display the decision types
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/models/decision.rb
  src/api/app/models/decision_cleared.rb
  src/api/app/models/decision_favored.rb
Due: run-haml-linter

Make sure that tests work with the new decision sti
  src/api/spec/factories/decisions.rb
  src/api/spec/factories/notification.rb
  src/api/spec/features/beta/webui/appeals_spec.rb
  src/api/spec/features/beta/webui/decisions_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
  src/api/spec/policies/appeal_policy_spec.rb
Due: none

[backend] get rid of an "uninitialized value" warning
  src/backend/bs_publish
Due: run-backend-tests

[backend] container publishing: generate predicatetype annotation for intoto attestations
  src/backend/BSConSign.pm
  src/backend/bs_regpush
Due: run-backend-tests
