Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Spec out User.has_local_permission?
  src/api/spec/factories/packages.rb
  src/api/spec/models/user/has_local_permission_spec.rb
  src/api/spec/models/user_has_local_permission_spec.rb
  src/api/test/unit/user_test.rb
Due: none

Spec out SourceController.package_command_release
  src/api/spec/cassettes/SourceController/POST_package_command_release/1_4_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_release/1_4_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_release/with_scmsync_project/1_4_7_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_release/with_scmsync_project/1_4_7_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_release/with_target_parameters/1_4_6_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_release/with_target_parameters/1_4_6_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_release/without_package/1_4_4_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_release/without_release_targets/1_4_5_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_having_permissions_on_the_deleted_package/1_6_2_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_having_permissions_to_set_the_time/1_6_4_1.yml
  src/api/spec/controllers/source_controller_spec.rb
  src/api/spec/factories/project.rb
  src/api/spec/factories/release_target.rb
Due: none

Allow package release command on scmsync packages
  src/api/app/controllers/source_controller.rb
  src/api/app/models/concerns/multibuild_package.rb
  src/api/spec/models/concerns/multibuild_package_spec.rb
Due: none

Correct example naming
  src/api/spec/models/user/has_local_permission_spec.rb
Due: none

Remove extra characters from XML messages
  src/api/test/functional/person_controller_test.rb
Due: none

Remove the old API documentation
  .gitignore
  Makefile
  dist/obs-server.spec
  docs/api/Makefile
  docs/api/api/Makefile
  docs/api/api/api.txt
  src/api/Makefile
  src/api/app/controllers/webui/apidocs_controller.rb
  src/api/config/brakeman.ignore
  src/api/config/environment.rb
  src/api/config/environments/test.rb
  src/api/config/routes/api.rb
  src/api/config/routes/webui.rb
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/spec/controllers/webui/apidocs_controller_spec.rb
  src/api/spec/features/webui/apidocs_spec.rb
  src/api/spec/requests/webui/apidocs_spec.rb
Due: run-dist-linter

Add link to request index page to the left side panel
  src/api/app/views/layouts/webui/_places.html.haml
Due: run-haml-linter

Add incoming/outgoing filter to request index page
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/webui/request/_requests_filter.html.haml
  src/api/app/views/webui/request/index.html.haml
Due: run-haml-linter

Build new request item view
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_request_item.html.haml
  src/api/app/views/webui/request/index.html.haml
Due: run-haml-linter

Scaffolding request index view
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_request_item.html.haml
  src/api/app/views/webui/request/_requests_filter.html.haml
  src/api/app/views/webui/request/index.html.haml
Due: run-haml-linter

Redirect to my tasks if request_index feature flag isn't enabled
  src/api/app/controllers/webui/request_controller.rb
Due: none

Add webui routes and view skeleton for request index
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/index.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Stop supporting objects in arguments
  src/api/app/models/package.rb
Due: none

Use Project.name instead of passing down the object
  src/api/app/components/watchlist_component.rb
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/webui/webui_controller.rb
Due: run-haml-linter

Manually fix Capybara/SpecificMatcher RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/features/webui/users/user_home_page_spec.rb
Due: none

Highlight on request item hover
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/mixin.scss
  src/api/app/assets/stylesheets/webui/requests.scss
Due: none

Do not reinvent the wheel, boostrap already did it
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/mixin.scss
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/views/webui/request/_request_item.html.haml
Due: run-haml-linter

Add Repobeats Contribution Analytics to README.md
  README.md
Due: none

Pagination applied only at the end
  src/api/app/controllers/webui/request_controller.rb
Due: none

Apply the involvement filter without overriding requests
  src/api/app/controllers/concerns/webui/requests_filter.rb
Due: none

[backend] getsignkey: use getdefaultpubkey() if _pubkey contains a "1"
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] add unit tests for BSContar
  src/backend/t/0026-BSContar.t
Due: run-backend-tests

Introduce wildcard searching in development mode
  src/api/config/thinking_sphinx.yml.example
Due: none

Add ThinkingSphinx indices to BsRequest model
  src/api/app/indices/bs_request_index.rb
  src/api/app/models/bs_request.rb
Due: none

Update the search index of requests when...
  src/api/app/jobs/populate_to_sphinx_job.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/comment.rb
  src/api/app/models/review.rb
Due: none

Fix specs which modify reviews
  src/api/spec/components/bs_request_overview_avatars_component_spec.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
  src/api/spec/models/review_spec.rb
  src/api/spec/policies/bs_request_policy_spec.rb
Due: none

Use architecture id instead of name in update method
  src/api/app/views/webui/architectures/index.html.haml
Due: run-haml-linter

[backend] fix publish for exe files, add sha256 sums
  src/backend/bs_publish
Due: run-backend-tests

Order requests by number
  src/api/app/controllers/webui/request_controller.rb
Due: none

Rename factory names
  src/api/spec/components/notification_component_spec.rb
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
  src/api/spec/controllers/webui/feeds_controller_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/db/data/adapt_review_and_duplicated_notifications_spec.rb
  src/api/spec/db/data/backfill_notified_projects_spec.rb
  src/api/spec/db/data/convert_notifications_event_payload_to_json_spec.rb
  src/api/spec/db/data/generate_web_notifications_spec.rb
  src/api/spec/db/data/remove_notifications_for_missing_notifiables_spec.rb
  src/api/spec/db/data/remove_obsolete_notifications_spec.rb
  src/api/spec/factories/notification.rb
  src/api/spec/features/webui/users/notifications_spec.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
  src/api/spec/jobs/cleanup_notifications_job_spec.rb
  src/api/spec/models/notification_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/policies/notification_comment_policy_spec.rb
  src/api/spec/services/notification_service/web_channel_spec.rb
Due: none

Remove the Notification specialized class switcher
  src/api/app/components/notification_component.rb
  src/api/app/models/notification.rb
  src/api/app/policies/notification_comment_policy.rb
  src/api/spec/components/notification_component_spec.rb
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
  src/api/spec/controllers/webui/feeds_controller_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/db/data/adapt_review_and_duplicated_notifications_spec.rb
  src/api/spec/db/data/backfill_notified_projects_spec.rb
  src/api/spec/db/data/convert_notifications_event_payload_to_json_spec.rb
  src/api/spec/db/data/generate_web_notifications_spec.rb
  src/api/spec/db/data/remove_notifications_for_missing_notifiables_spec.rb
  src/api/spec/db/data/remove_obsolete_notifications_spec.rb
  src/api/spec/factories/notification.rb
  src/api/spec/features/webui/users/notifications_spec.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
  src/api/spec/jobs/cleanup_notifications_job_spec.rb
  src/api/spec/models/notification_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/policies/notification_comment_policy_spec.rb
  src/api/spec/services/notification_service/web_channel_spec.rb
Due: run-haml-linter

[dist] using perl module provides instead of package names
  dist/obs-server.spec
Due: run-dist-linter

Remove unused JSON serializer
  src/api/app/models/full_text_search.rb
Due: none

Don't expose setters for internal variables
  src/api/app/models/full_text_search.rb
Due: none

Use only project and package sphinx indices for text search
  src/api/app/models/full_text_search.rb
Due: none

Don't add 'owner' as possible sphinx index to perform a search
  src/api/app/controllers/webui/search_controller.rb
Due: none

Refactoring: replace conditional with guard clauses
  src/api/app/models/full_text_search.rb
Due: none

Remove unused `result` variable
  src/api/app/models/full_text_search.rb
Due: none

Introduce text search for submit requests
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/index.html.haml
Due: run-haml-linter

Fix sticky-top CSS class for list of requests
  src/api/app/assets/stylesheets/webui/requests.scss
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
