Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Remove unused associations in Role model
  src/api/app/models/role.rb
Due: none

Extend comment validation for invalid xml characters
  src/api/app/models/comment.rb
Due: none

Improve query to check involved item user roles
  src/api/app/models/concerns/has_relationships.rb
  src/api/app/views/webui/user/_involvement.html.haml
Due: run-haml-linter

[backend] PublishRepo: record all file conflicts in the repoinfo
  src/backend/BSSched/PublishRepo.pm
Due: run-backend-tests

[backend] Aggregate.pm: log all file conflicts in the logfile
  src/backend/BSSched/BuildJob/Aggregate.pm
Due: run-backend-tests

Add type column to notifications and backfill
  src/api/app/models/notification.rb
  src/api/db/data/20240609151145_backfill_type_with_notifiable_type.rb
  src/api/db/data_schema.rb
  src/api/db/migrate/20240609150418_add_type_to_notifications.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Define all the Notification sub-classes
  src/api/app/models/notification_bs_request.rb
  src/api/app/models/notification_comment.rb
  src/api/app/models/notification_package.rb
  src/api/app/models/notification_project.rb
  src/api/app/models/notification_report.rb
  src/api/app/models/notification_workflow_run.rb
Due: none

Remove NotificationExcerptComponent
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/components/notification_excerpt_component_spec.rb
  src/api/spec/components/previews/notification_excerpt_component_preview.rb
Due: run-haml-linter

Fix association between roles and relationships
  src/api/app/models/role.rb
Due: none

Remove redundant issue trackers check for enabled
  src/api/app/models/issue_tracker.rb
Due: none

Define methods on parent model
  src/api/app/models/notification.rb
Due: none

Implement NotificationWorkflowRun methods
  src/api/app/models/notification_workflow_run.rb
Due: none

Implement NotificationProject methods
  src/api/app/models/notification_project.rb
Due: none

Implement NotificationComment methods
  src/api/app/models/notification_comment.rb
Due: none

Implement NotificationPackage methods
  src/api/app/models/notification_package.rb
Due: none

Implement NotificationBsRequest methods
  src/api/app/models/notification_bs_request.rb
Due: none

Implement NotificationReport methods
  src/api/app/models/notification_report.rb
Due: none

Implement NotificationGroupsUser methods
  src/api/app/models/notification_groups_user.rb
Due: none

Add annotations
  src/api/app/models/notification.rb
  src/api/app/models/notification_bs_request.rb
  src/api/app/models/notification_comment.rb
  src/api/app/models/notification_package.rb
  src/api/app/models/notification_project.rb
  src/api/app/models/notification_report.rb
  src/api/app/models/notification_workflow_run.rb
Due: none

Replace components by model methods or helpers
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_avatars_component.html.haml
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/notification_avatars_component_spec.rb
  src/api/spec/components/notification_excerpt_component_spec.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/components/previews/notification_action_description_component_preview.rb
  src/api/spec/components/previews/notification_avatars_component_preview.rb
  src/api/spec/components/previews/notification_excerpt_component_preview.rb
  src/api/spec/components/previews/notification_notifiable_link_component_preview.rb
Due: run-haml-linter

Move component request state methods to helper
  src/api/app/helpers/webui/request_helper.rb
Due: none

Fix WorkflowArtifactsPerStepComponent previews
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
Due: none

Git ignore .ackrc
  .gitignore
Due: none

Ignore non-sensical parameters
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/views/webui/search/owner.html.haml
Due: run-haml-linter

[backend] BSConSign: allow in-toto v1 statements
  src/backend/BSConSign.pm
  src/backend/BSRekor.pm
Due: run-backend-tests

Use the object intead of a hash
  src/api/spec/components/previews/sourcediff_component_preview.rb
Due: none

Add a test case to test the preview
  src/api/spec/cassettes/SourcediffComponent/when_testing_the_preview/renders_the_preview.yml
  src/api/spec/components/sourcediff_component_spec.rb
Due: none

Make Tumbleweed builds work in development environment
  src/api/spec/factories/packages.rb
Due: none

Drop PackageControllerService::RebuildTrigger
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/services/package_controller_service/rebuild_trigger.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/services/package_controller_service/rebuild_trigger_spec.rb
Due: none

Remove unused Package.rebuild method
  src/api/app/models/package.rb
Due: none

Adopt cassettes to spec changes
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/when_triggering_services_succeeds/1_4_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_fails/1_7_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_succeeds/1_7_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_triggering_abort_build_succeeds/1_7_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/user_not_being_a_maintainer_of_a_package/1_6_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/user_not_being_a_maintainer_of_a_package/1_6_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_rebuild_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_6_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_6_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_with_maintainer_of_package/1_6_3_1.yml
Due: none

Fix triggering abort build and services on links
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/lib/backend/api/build/project.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
Due: none

Prefer using constants directly, instead of converting the strings.
  src/api/app/models/event/base.rb
Due: none

Test the BsRequestActionDescriptionComponent preview
  src/api/spec/components/bs_request_action_description_component_spec.rb
  src/api/spec/components/previews/bs_request_action_description_component_preview.rb
Due: none

Create an AddedUserToGroup event when a user is added to a group.
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/groups_user.rb
Due: none

Add user receiver_role
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/event_subscription.rb
  src/api/app/services/notification_service/notifier.rb
Due: none

Pass User#login instead of the object to payload
  src/api/app/models/group.rb
  src/api/app/models/groups_user.rb
Due: none

Discard new events from RSS
  src/api/app/models/event_subscription/for_channel_form.rb
Due: none

Add the notification events for the new event type.
  src/api/app/models/event/base.rb
Due: none
