Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Rename component: is no longer a link, it's a checkbox
  src/api/.rubocop_todo.yml
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
Due: run-haml-linter

Update cop namespace
  src/api/.rubocop.yml
Due: none

Modify tests to work with the new format of revisions data and regenerate cassettes
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/and_passing_the_page_parameter/returns_the_paginated_revisions_for_the_page_parameter_s_value.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/and_passing_the_show_all_parameter/returns_revisions_without_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/returns_revisions_with_the_default_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/and_passing_the_page_parameter/returns_the_paginated_revisions_for_the_page_parameter_s_value.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/and_passing_the_show_all_parameter/returns_revisions_up_to_rev_parameter_s_value_without_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/returns_revisions_up_to_rev_parameter_s_value_with_the_default_pagination.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Due: none

Escape project title
  src/api/app/views/webui/project/update.js.haml
  src/api/spec/features/webui/projects_spec.rb
Due: run-haml-linter

Escape package title
  src/api/app/views/webui/package/update.js.haml
  src/api/spec/features/webui/packages_spec.rb
Due: run-haml-linter

[api] fix corner case in approver permission handling.
  src/api/app/models/bs_request_permission_check.rb
  src/api/test/functional/request_controller_test.rb
Due: none

[api] fix access to packages of scmsync project via project link
  src/api/app/models/package.rb
Due: none

[api] request action diffing
  src/api/app/models/bs_request_action/differ/query_builder.rb
Due: none

[api] fix release of package where source is remote or scmsync'd
  src/api/app/controllers/source_controller.rb
  src/api/app/models/package.rb
  src/api/app/models/token/release.rb
Due: none

[api] re-schedule auto-accept job in special case
  src/api/app/models/bs_request.rb
  src/api/app/models/project/embargo_handler.rb
Due: none

Use proper icon for relationship notifications
  src/api/app/components/notification_component.rb
Due: run-haml-linter

Add spec for NotificationComponent
  src/api/spec/components/notification_component_spec.rb
  src/api/spec/factories/notification.rb
Due: none

Keep track of the filtered selected value
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
Due: run-haml-linter

Look&feel toward common filters
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
Due: run-haml-linter

Make the filters a form with checkboxes and input values
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
Due: run-haml-linter

Make the action filter always visible
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Drop no longer used parameters
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
Due: run-haml-linter

Use the parameter from the initialization instead
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
Due: run-haml-linter

Pass the filter name from the parent
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
Due: run-haml-linter

Move ruby code away from the view
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
Due: run-haml-linter

Add contact name and url for users to contact admins
  src/api/app/models/configuration.rb
  src/api/db/migrate/20240411150057_add_contact_name_and_contact_url_to_configurations.rb
  src/api/db/schema.rb
Due: run-migrations-tests

[backend] make BSSrcDiff a little smarter
  src/backend/BSSrcServer/Srcdiff.pm
Due: run-backend-tests

Improve storing projects and packages for set_flags
  src/api/app/models/workflow/step/set_flags.rb
Due: none

Adapt the WorkflowrunFilterComponent to accept multiple filters
  src/api/.rubocop_todo.yml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/workflow_run_filter.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
Due: run-haml-linter

Cover the workflow run multiple filter selection with a spec
  src/api/.rubocop_todo.yml
  src/api/spec/features/webui/workflow_runs_filter_spec.rb
Due: none

Apply the request_action filter to all the records
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/queries/workflow_runs_finder.rb
Due: run-haml-linter

Rename parameter for a clearer meaning
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
Due: run-haml-linter

Straight forward usage of the filter_name
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/models/workflow_run_filter.rb
Due: run-haml-linter

Simplify the value of the parameter
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
Due: run-haml-linter
