Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Add CommentLockPolicy spec
  src/api/spec/policies/comment_lock_policy_spec.rb
Due: none

Adapt specs to cover report's comments
  src/api/spec/factories/comments.rb
  src/api/spec/policies/comment_policy_spec.rb
Due: none

Avoid reporting reports' comments
  src/api/app/policies/report_policy.rb
  src/api/spec/policies/report_policy_spec.rb
Due: none

Fix RuboCop TODO file
  src/api/.rubocop_todo.yml
Due: none

Rephrase specs contexts
  src/api/spec/policies/comment_policy_spec.rb
Due: none

Link from a notification to a report
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Don't render markdown inside the user login
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
Due: none

Regenerate the Rubocop TODOs on depfu PRs
  .github/workflows/regenerate_rubocop_todos.yml
Due: none

Handle notification from the report show page
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/webui/reports_controller.rb
Due: run-haml-linter

Use rake for regenering the rubocop todos
  .github/workflows/regenerate_rubocop_todos.yml
Due: none

Do not call `link_to_reportable` if reportable does not exist
  src/api/app/views/webui/reports/show.html.haml
Due: run-haml-linter

Update distribution for build results badge
  README.md
Due: none

Define a priority for responsive columns
  src/api/app/assets/javascripts/webui/requests_table.js
Due: run-javascripts-linter

Set only_path in reportables helper to make sure the right link is used
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/views/webui/reports/show.html.haml
Due: run-haml-linter

Show the reason in the notification excerpt
  src/api/app/components/notification_excerpt_component.rb
Due: run-haml-linter

[backend] add option to disable disturl in binaries
  src/backend/bs_worker
Due: run-backend-tests

[backend] PublishRepo: make sure that the :repo directory exists
  src/backend/BSSched/PublishRepo.pm
Due: run-backend-tests

Remove unnecessary before_action in the webui package controller
  src/api/app/controllers/webui/package_controller.rb
Due: none

Ensure right encoding before checking for blank
  src/api/app/services/rpmlint_log_extractor.rb
  src/api/spec/services/rpmlint_log_extractor_spec.rb
Due: none

Fix tests for new validations
  src/api/spec/cassettes/Packages/creating_a_package/in_a_project_owned_by_the_user/validations_are_checked.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/features/webui/packages_spec.rb
Due: none

[backend] bs_repserver: implement support for rpm's %include statement
  src/backend/bs_repserver
Due: run-backend-tests

fix build on factory
  dist/obs-bundled-gems.spec
  src/api/Makefile
Due: run-dist-linter

obs-server fix build on factory
  dist/obs-server.spec
Due: run-dist-linter

fix build on factory
  dist/obs-api-testsuite-rspec.spec
Due: run-dist-linter

Remove unused Webui::PackageController#save action
  src/api/app/controllers/webui/package_controller.rb
  src/api/config/routes/webui.rb
  src/api/spec/cassettes/Webui_PackageController/POST_save/invalid_data/1_1_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/invalid_data/1_1_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/valid_data/1_1_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/valid_data/1_1_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/valid_data/1_1_1_3.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/valid_data/1_1_1_4.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Due: none

Add me to .gitmessage
  .gitmessage
Due: none

Add preview testing for ModalComponent
  src/api/spec/components/modal_component_spec.rb
Due: none

Sort /build endpoints alphabetically
  src/api/public/apidocs/OBS-v2.10.50.yaml
Due: none

Regenerate failing cassettes
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/when_an_empty_revision_is_provided/1_7_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/when_an_empty_revision_is_provided/1_7_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/when_no_difference_in_sources_diff_is_empty/1_7_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rpmlint_log/when_no_rpmlint_log_is_available/1_12_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rpmlint_log/when_no_rpmlint_log_is_available/1_12_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/revision_handling/with_a_rev_parameter_with_existent_revision/1_3_3_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/revision_handling/with_a_rev_parameter_with_existent_revision/1_3_3_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/revision_handling/with_a_rev_parameter_with_non-existent_revision/1_3_3_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/revision_handling/with_a_rev_parameter_with_non-existent_revision/1_3_3_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/with_a_package_that_has_a_broken_service/1_3_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/with_a_package_that_has_a_broken_service/1_3_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/with_right_params/1_5_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/with_right_params/1_5_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/with_right_params/1_5_1_3.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/without_a_service_file_in_the_package/1_5_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/without_a_service_file_in_the_package/1_5_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/without_a_service_file_in_the_package/1_5_2_3.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_fails/1_9_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_succeeds/1_9_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_succeeds/1_9_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_8_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_8_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_with_maintainer_of_package/1_8_3_1.yml
Due: none

Document _jobhistory API endpoint
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/schemas/job_history_list.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_jobhistory.yaml
Due: none

Add preview testing for AccordionReviewsComponent
  src/api/spec/components/accordion_reviews_component_spec.rb
  src/api/spec/components/previews/accordion_reviews_component_preview.rb
Due: none

[api] extendkey: make days parameter accessable
  docs/api/api/api.txt
  src/api/app/controllers/source_controller.rb
  src/api/public/apidocs/paths/source_project_name_cmd_extendkey.yaml
Due: none

Update data_migrate to version 9.4.0
  src/api/Gemfile.lock
  src/api/vendor/cache/data_migrate-9.3.0.gem
  src/api/vendor/cache/data_migrate-9.4.0.gem
Due: run-passenger-tests

Fix typo for param in GET /request API endpoint
  src/api/app/controllers/request_controller.rb
Due: none

Input filter: from component to reusable partial
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/views/webui/shared/_input.haml
Due: run-haml-linter

Select filter: from component to reusable partial
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
  src/api/app/models/scm_webhook.rb
  src/api/app/views/webui/shared/_select.haml
Due: run-haml-linter

Checkbox filter: from component to reusable partial
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/views/webui/shared/_check_box.haml
Due: run-haml-linter

Document `GET /image_templates` API endpoint
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/schemas/image_templates.yaml
  src/api/public/apidocs/paths/image_templates.yaml
Due: none
