Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Add data migration for scm_vendor and hook_event
  src/api/db/data/20230620110143_backfill_scm_vendor_and_hook_event_in_workflow_run.rb
  src/api/db/data_schema.rb
  src/api/spec/db/data/backfill_scm_vendor_and_hook_event_in_workflow_run_spec.rb
Due: run-migrations-tests

Check if the `version` key is a workflow name or the version specification
  src/api/app/services/workflows/yaml_to_workflows_service.rb
Due: none

Stop parsing headers to get scm and event
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/models/workflow_run.rb
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/models/workflow_run_spec.rb
Due: run-haml-linter

Use version '1.1' for OBS SCM/CI workflows
  .obs/workflows.yml
Due: none

Pin data-migrate to v9.0
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/data_migrate-10.0.2.gem
  src/api/vendor/cache/data_migrate-9.0.0.gem
Due: run-passenger-tests

[backend] bs_srcserver: also check type 'docker' when generating the commit info
  src/backend/bs_srcserver
Due: run-backend-tests

Drop specs for the WorkflowRun components
  src/api/spec/components/workflow_artifacts_per_step_component_spec.rb
  src/api/spec/components/workflow_run_detail_component_spec.rb
  src/api/spec/components/workflow_run_filter_component_spec.rb
  src/api/spec/components/workflow_run_filter_link_component_spec.rb
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_request_action_filter_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Due: none

[api] fix creation of a project above an interconnect project
  src/api/app/controllers/source_project_meta_controller.rb
  src/api/test/functional/interconnect_test.rb
Due: none

Remove extra space from the measurement
  src/api/app/instrumentations/workflow_instrumentation.rb
Due: none

Add workflow_runs' columns matching payload fields
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20230621071327_add_payload_data_to_workflow_run.rb
  src/api/db/schema.rb
  src/api/spec/support/files/request_payload_github_pull_request_opened.json
  src/api/spec/support/files/request_payload_github_push.json
  src/api/spec/support/files/request_payload_github_tag_push.json
Due: run-migrations-tests

Backfill WorkflowRun data from payload
  src/api/app/controllers/concerns/scm_webhook_payload_data_extractor.rb
  src/api/db/data/20230623122537_backfill_workflow_run_payload_data.rb
  src/api/db/data_schema.rb
Due: run-migrations-tests

Gracefully handle WorkflowRuns without payload...
  src/api/app/models/workflow_run.rb
  src/api/db/data/20230623122537_backfill_workflow_run_payload_data.rb
Due: run-migrations-tests

Drop WorkflowRun custom getters
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/models/workflow_run.rb
  src/api/lib/tasks/dev/workflows.rake
Due: run-haml-linter

Introduces HTTP requests extractor concerns
  src/api/app/controllers/concerns/scm_webhook_headers_data_extractor.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Due: none

Cleanup WorkflowRun Factory
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/support/files/request_payload_gitlab_pull_request_merged.json
Due: none

Adopt specs to WorkflowRun factory changes
  src/api/spec/lib/tasks/workflows_spec.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
Due: none

Introduces new ContainerPublished event
  src/api/app/models/event/container_published.rb
Due: none

Save more header content to WorkflowRun
  src/api/app/controllers/concerns/scm_webhook_headers_data_extractor.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/db/data/20230626141554_backfill_workflow_run_payload_data.rb
  src/api/db/migrate/20230626120227_add_ids_to_workflow_run.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Catch and report possible failures while deleting projects
  src/api/app/models/workflow.rb
Due: none

Save the workflow yaml content into the workflow run
  src/api/app/models/workflow_run.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/db/migrate/20230626092852_add_workflow_configuration_to_workflow_runs.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Fix Style/RedundantRegexpArgument offense
  src/api/.rubocop_todo.yml
  src/api/app/components/download_repository_link_component.rb
  src/api/app/models/maintenance_incident.rb
  src/api/app/views/layouts/webui/_flash.html.haml
  src/api/app/views/webui/repositories/_repository_entry.html.haml
  src/api/script/start_test_backend
  src/api/test/functional/issue_controller_test.rb
  src/api/test/unit/event_mailer_test.rb
Due: run-haml-linter

Fix Style/RedundantCurrentDirectoryInPath offense
  src/api/.rubocop_todo.yml
  src/api/test/test_consistency_helper.rb
Due: none

Fix Style/ReturnNilInPredicateMethodDefinition offense
  src/api/.rubocop_todo.yml
  src/api/app/mixins/flipper_feature.rb
  src/api/app/models/relationship/add_role.rb
  src/api/app/models/workflow.rb
Due: none

Update rubocop_todo configuration files
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
Due: none

Make use of the newly defined `:succeeded` trait
  src/api/spec/lib/tasks/workflows_spec.rb
Due: none

Make use of newly introduced traits in dev tasks
  src/api/lib/tasks/dev/workflows.rake
Due: none

Update gems in dist/t for ruby 3.1
  dist/t/Gemfile.lock
Due: run-dist-linter

Correct the dist specs to use an existing Leap release
  dist/t/spec/features/0030_project_spec.rb
Due: run-dist-linter

[backend] fix projectscmsync url handling
  src/backend/BSSrcServer/Scmsync.pm
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_srcserver
Due: run-backend-tests

Update the dist spec to the new file upload workflow
  dist/t/spec/features/0040_package_spec.rb
Due: run-dist-linter

[src/api]: workflow build job add pending status support
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow/step.rb
Due: none

[src/api]: update test for token workflow
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/support/files/workflows_with_repository_configuration.yml
Due: none

Use a decorator for determining tab visibility
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_tab_visibility.rb
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
Due: run-haml-linter

Use multiple functions instead of a switch statement
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_tab_visibility.rb
  src/api/app/views/webui/request/_request_tabs.html.haml
Due: run-haml-linter

Add tests
  src/api/spec/features/webui/requests_spec.rb
Due: none

Make sure the action belongs to the request
  src/api/app/controllers/webui/request_controller.rb
Due: none

Make FlipperFeature a controller concern
  src/api/app/controllers/concerns/flipper_feature.rb
Due: none

Make CanRenderModel a model concern
  src/api/app/models/concerns/can_render_model.rb
Due: none

Make HasRelationships a model concern
  src/api/.rubocop_todo.yml
  src/api/app/models/concerns/has_relationships.rb
Due: none

Make HasAttributes a mode concern
  src/api/.rubocop_todo.yml
  src/api/app/models/concerns/has_attributes.rb
Due: none
