Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Run our SCM/CI Workflow Against 15.5
  .circleci/conditional_config.yml
  .obs/workflows.yml
Due: none

[backend] BSProductXML: add download redirectory policy attribute
  src/backend/BSProductXML.pm
Due: run-backend-tests

[backend] always remove events from the active list when pausing
  src/backend/BSServerEvents.pm
  src/backend/BSWatcher.pm
Due: run-backend-tests

Lighter counter of notification type in filters
  src/api/app/components/notification_filter_link_component.html.haml
  src/api/app/components/notification_filter_link_component.rb
Due: run-haml-linter

Add icon to notification filter links
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_link_component.html.haml
  src/api/app/components/notification_filter_link_component.rb
Due: run-haml-linter

Move logic away from the view, do it in a component method instead
  src/api/app/components/notification_filter_link_component.html.haml
  src/api/app/components/notification_filter_link_component.rb
Due: run-haml-linter

Let the badge breathe from the workflow run title
  src/api/app/components/workflow_run_row_component.html.haml
Due: run-haml-linter

Align button to the same row of the related select box
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
Due: run-haml-linter

[backend] fix concatconfigs call in published_path
  src/backend/bs_srcserver
Due: run-backend-tests

Fix tests
  src/api/spec/components/notification_filter_link_component_spec.rb
Due: none

Use the request changes link for changes comments
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Add icon to workflow_run filter links
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
Due: run-haml-linter

Lighter counter of workflow_run type in filters
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
Due: run-haml-linter

Move logic away from the view, do it in a component method instead
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
Due: run-haml-linter

Document `force` parameter for `POST /request/{id}`...
  src/api/public/apidocs/paths/request_id.yaml
Due: none

Honor the `force` parameter when accepting a ...
  src/api/app/models/bs_request_permission_check.rb
Due: none

[dist] update Gemfile.lock for rspec testsuite
  dist/t/Gemfile.lock
Due: run-dist-linter

[dist] updated rspec testing from 15.3 to 15.5
  dist/t/spec/features/0030_project_spec.rb
Due: run-dist-linter

[backend] bs_dispatch: fix typo in startup message
  src/backend/bs_dispatch
Due: run-backend-tests

[backend] bs_serverstatus: support lasteventsproxy requests
  src/backend/bs_serverstatus
Due: run-backend-tests

Switch to branch_package and test 15.4 build
  .obs/workflows.yml
Due: none

Remove capybara-minitest_spec gem
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/capybara_minitest_spec-1.0.7.gem
Due: run-passenger-tests

Use minitest/spec
  src/api/test/test_helper.rb
Due: none

Remove rebuild workflow
  .obs/workflows.yml
Due: none

Translate `failure` state to `failed` for Gitlab
  src/api/app/services/gitlab_status_reporter.rb
Due: none

Use receive_messages in specs
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/jobs/update_backend_infos_job_spec.rb
  src/api/spec/lib/gitea_api/v1/client_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
  src/api/spec/models/binary_release_spec.rb
  src/api/spec/models/bs_request_action_spec.rb
  src/api/spec/models/concerns/multibuild_package_spec.rb
  src/api/spec/models/kiwi/image_spec.rb
  src/api/spec/models/project_spec.rb
  src/api/spec/models/user_ldap_strategy_spec.rb
  src/api/spec/services/consistency_check_job_service/project_meta_checker_spec.rb
Due: none

Wait for services to finish before branching a package
  src/api/app/models/workflow/step/branch_package_step.rb
Due: none

Add a separate method to handle github yaml file downloads
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

Add a separate method to create temp files
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

Use the correct collation for the new db structure
  src/api/lib/xpath_engine.rb
Due: none

Migrate the remaining database tables and columns to utf8mb4
  src/api/db/migrate/20230727110437_migrate_to_utf8mb4.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Ignore rubocop for the migration
  src/api/.rubocop_todo.yml
  src/api/db/migrate/20230727110437_migrate_to_utf8mb4.rb
Due: run-migrations-tests

Remove columns that take hours and tweak encoding for case sensitivity
  src/api/db/migrate/20230727110437_migrate_to_utf8mb4.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Update specs to check octokit return contents of the file
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Due: none

Fix scmsync scenario: look up for existing subdir and fragment
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

[backend] BSSSL: implement EOF detection
  src/backend/BSSSL.pm
Due: run-backend-tests

Split responsibilities of close_requests
  src/api/app/models/package.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/unit/package_remove_test.rb
Due: none

[backend] add an option to use the notification forwarder if redis is disabled
  src/backend/BSConfiguration.pm
  src/backend/BSSched/Checker.pm
  src/backend/bs_repserver
Due: run-backend-tests

[backend] BSEvents: log handler calls taking more than 5 seconds
  src/backend/BSEvents.pm
Due: run-backend-tests

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
