Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

Get correct repository name and URL from payload
  src/api/app/models/workflow_run.rb
Due: none

Adapt specs according to the new payload fields
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
  src/api/spec/lib/tasks/workflows_spec.rb
Due: none

[backend] support to enable ccache builds via a build option in the recipe
  src/backend/BSSched/BuildJob.pm
Due: run-backend-tests

Update view_component version to 2.52
  src/api/Gemfile.lock
  src/api/vendor/cache/view_component-2.49.1.gem
  src/api/vendor/cache/view_component-2.52.0.gem
Due: none

Make `package_find_options` an argument for triggerable concern
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow/step/rebuild_package.rb
Due: none

Ignore `Naming/AccessorMethodName` cop for `set_package` method
  src/api/app/controllers/concerns/triggerable.rb
Due: none

Collect artifacts for TriggerServices step
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
  src/api/spec/components/workflow_artifacts_per_step_component_spec.rb
  src/api/spec/factories/workflow_artifacts_per_step.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
Due: run-haml-linter

Rescue from backend error in trigger services step
  src/api/app/models/workflow/step/errors.rb
  src/api/app/models/workflow/step/trigger_services.rb
Due: none

Move `validate_project_and_package_name` to step model
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
Due: none

Implement `trigger_services` step
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step/trigger_services.rb
  src/api/app/policies/token/workflow_policy.rb
Due: none

Add spec for trigger services step
  src/api/spec/models/workflow/step/trigger_services_spec.rb
Due: none

[backend] fix --enable-ccache functionality
  src/backend/BSSched/BuildJob.pm
Due: run-backend-tests

[backend] start implementing slsa provenance file writing
  src/backend/bs_worker
Due: run-backend-tests

[backend] update bundled XML::Structured.pm to version 1.3
  src/backend/XML/Structured.pm
Due: run-backend-tests

Remove temp FIXME for global_hook_disabled_requests
  src/api/spec/support/vcr.rb
Due: none

Fix rubocop warnings and enable new cops
  .rubocop.yml
  src/api/.rubocop.yml
  src/api/app/models/attrib.rb
  src/api/app/models/package.rb
  src/api/app/models/repository.rb
Due: none

[backend] add call to imadata
  src/backend/bs_publish
Due: run-backend-tests

Make use of the trigger_services workflow step
  .obs/workflows.yml
Due: none

Do not validate params in TriggerController
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/spec/cassettes/TriggerController/_create/when_some_parameters_are_not_strings/still_processes_the_request_without_validating_parameters.yml
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Due: none

[backend] fix wrong function name 'urlescape' in bs_worker
  src/backend/bs_worker
Due: run-backend-tests

Update xmlhash from 1.3.7 to 1.3.8
  src/api/Gemfile.lock
  src/api/vendor/cache/xmlhash-1.3.7.gem
  src/api/vendor/cache/xmlhash-1.3.8.gem
Due: none

Reset User.session
  src/api/app/models/project.rb
  src/api/spec/models/project_spec.rb
Due: none

[backend] make testsuite work with the XML::Structured version update
  src/backend/t/0004-BSUtil.t
  src/backend/t/0007-XML-Structured.t
Due: run-backend-tests

[backend] split cacheid calculation into a new function
  src/backend/bs_getbinariesproxy
  src/backend/bs_worker
Due: run-backend-tests

[backend] switch cacheid calculation to sha256
  src/backend/bs_getbinariesproxy
  src/backend/bs_worker
Due: run-backend-tests

[backend] Introduce tests for workers code
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/1000/srcserver/getsources
  src/backend/t/lib/Test/Mock/BSRPC.pm
Due: run-backend-tests

Use 2.10 containers in CI
  .circleci/config.yml
Due: none

Unauthenticated git is no longer supported
  .gitmodules
Due: none

Also setup dev-env from 2.10 containers
  docker-compose.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Due: none

Instrument more exceptions
  src/api/config/initializers/airbrake.rb
Due: none

[api] fix non-accept with OBS:CreatorCannotAcceptOwnRequests
  src/api/app/models/bs_request_permission_check.rb
Due: none

Add user_login to route constraints
  src/api/config/routes.rb
Due: none

Add perltidy linter and configuration
  .circleci/conditional_config.yml
  .circleci/config.yml
  dist/.perltidyrc
  dist/Makefile
  dist/t/linters/0010-perltidy.t
Due: run-root-rubocop

Apply perltidy linter to OBS/Test/Utils.pm
  dist/t/lib/OBS/Test/Utils.pm
  dist/t/linters/0010-perltidy.t
Due: run-root-rubocop

Update xmlhash from 1.3.7 to 1.3.8
  src/api/Gemfile.lock
Due: none

Extend task to create workflow runs
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/workflows.rake
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/lib/tasks/workflows_spec.rb
  src/api/spec/support/files/request_payload_github_pull_request_closed.json
  src/api/spec/support/files/request_payload_github_pull_request_opened.json
  src/api/spec/support/files/request_payload_github_push.json
  src/api/spec/support/files/request_payload_github_tag_push.json
  src/api/spec/support/files/request_payload_gitlab_pull_request_closed.json
  src/api/spec/support/files/request_payload_gitlab_pull_request_opened.json
  src/api/spec/support/files/request_payload_gitlab_push.json
  src/api/spec/support/files/request_payload_gitlab_tag_push.json
Due: none

Improve error message for Token::Errors::NonExistentWorkflowsFile
  src/api/app/models/workflow.rb
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Due: none

Improve messages of validation errors in WorkflowStepsValidator
  src/api/app/validators/workflow_steps_validator.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/validators/workflow_steps_validator_spec.rb
Due: none

Improve error message for Token::Errors::SCMTokenInvalid
  src/api/app/models/token/workflow.rb
  src/api/spec/models/token/workflow_spec.rb
Due: none

Path conditions:
  run-root-rubocop: any of: (dist|contrib)/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
