Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

Fix flickering spec in features/webui/maintenance_workflow_spec.rb
  src/api/spec/features/webui/maintenance_workflow_spec.rb
Due: none

Create resourceful routes for toggle_watched_item
  src/api/app/components/watchlist_component.rb
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

[backend] fix typo in the fetchdodbinary call that broke DoD over interconnect
  src/backend/bs_repserver
Due: run-backend-tests

Update params in specs for toggle_watched_item
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
Due: none

Show link to add a package to the watchlist for ...
  src/api/app/controllers/webui/package_controller.rb
Due: none

Store the package parameter into package_name
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/mixins/build_log_support.rb
  src/api/app/views/webui/package/_live_build_log_controls.html.haml
  src/api/app/views/webui/package/live_build_log.html.haml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_10_2_4_5.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Due: run-haml-linter

Be more specific with the naming of the `watcher` receiver role
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event_subscription.rb
  src/api/spec/db/data/generate_web_notifications_spec.rb
  src/api/spec/features/beta/webui/subscriptions_spec.rb
  src/api/spec/features/webui/subscriptions_spec.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Due: none

[api] consistencychecker: fix wrong reports of scmsync projects
  src/api/app/jobs/old/consistency_check_job.rb
Due: none

Add type parameter to mark read/unread button
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

[backend] make sourcecopy autosimplifylink work if the source is expanded
  src/backend/bs_srcserver
Due: run-backend-tests

Support multibuild, do not support project links
  src/api/app/components/watchlist_component.rb
  src/api/app/views/layouts/webui/webui.html.haml
Due: run-haml-linter

Instrument filters in Workflow model
  src/api/app/instrumentations/workflow_instrumentation.rb
Due: none

Instrument ScmWebhook
  src/api/app/instrumentations/scm_webhook_instrumentation.rb
  src/api/app/models/scm_webhook.rb
Due: none

Add tests for watchlist view component when ...
  src/api/spec/components/watchlist_component_spec.rb
Due: none

[backend] update to new helm chart mimetype
  src/backend/BSContar.pm
Due: run-backend-tests

Fix reencoding when no fail log present
  src/api/app/models/event/build_fail.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: none

Add events for creating and deleting relationships
  src/api/app/mixins/has_relationships.rb
  src/api/app/models/event/relationship.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/relationship.rb
  src/api/spec/models/relationship_spec.rb
Due: none

[backend] fix package undelete bumping the vrev in the wrong commit
  src/backend/BSRevision.pm
Due: run-backend-tests

Autocorrect RuboCop offenses for RSpec/BeNil and RSpec/BeEq
  src/api/spec/controllers/person/notifications_controller_spec.rb
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/controllers/webui/comments_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/controllers/webui/requests/devel_project_changes_controller_spec.rb
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/features/webui/maintenance_workflow_spec.rb
  src/api/spec/helpers/webui/user_helper_spec.rb
  src/api/spec/jobs/bs_request_action_webui_infos_job_spec.rb
  src/api/spec/lib/routes_helper/role_matcher_spec.rb
  src/api/spec/mixins/parse_package_diff_spec.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/configuration_spec.rb
  src/api/spec/models/distribution_spec.rb
  src/api/spec/models/package_spec.rb
  src/api/spec/models/project/update_from_xml_command_spec.rb
  src/api/spec/models/review_spec.rb
  src/api/spec/models/user_ldap_strategy_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/support/shared_examples/a_ldap_connection.rb
Due: none

Do not stub constant for NotificationAvatarsComponent specs
  src/api/spec/components/notification_avatars_component_spec.rb
Due: none

[api] fix source revisions for channel submissions in maintenance_release
  src/api/app/models/bs_request_action.rb
  src/api/test/functional/channel_maintenance_test.rb
Due: none

[ci] drop old debug statements
  src/api/test/functional/maintenance_test.rb
Due: none

Remove unused method
  src/api/app/models/review.rb
Due: none

Increase Metrics/AbcSize in rubocop TODO
  src/api/.rubocop_todo.yml
Due: none

[api] fix project copy
  src/api/app/controllers/source_controller.rb
Due: none

Add new receiver roles for package and request watcher to event subscriptions
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/request.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_event_form.rb
  src/api/app/views/webui/subscriptions/_subscriptions_form.html.haml
  src/api/spec/models/event/base_spec.rb
  src/api/spec/models/event/request_spec.rb
  src/api/spec/models/event_subscription/for_event_form_spec.rb
Due: run-haml-linter

[api] fix change time in reviews (when attriute)
  src/api/app/models/review.rb
  src/api/test/functional/request_controller_test.rb
Due: none

Track when a review changed state
  src/api/app/models/review.rb
  src/api/db/data/20200730163910_set_changed_state_at_to_reviews.rb
  src/api/db/migrate/20200730153057_add_changed_state_at_to_reviews.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Show link to SCM for packages with scmsync
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/app/views/webui/package/_side_links.html.haml
  src/api/app/views/webui/package/side_links/_show_scmsync.html.haml
Due: run-haml-linter

Fix Rubocop offenses automatically
  src/api/app/controllers/source_controller.rb
Due: none

[api] allow to enforce maintenance request staging
  src/api/app/controllers/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/project.rb
  src/api/db/attribute_descriptions.rb
  src/api/db/data/20190719135426_add_obs_enforce_branching_attribute.rb
  src/api/db/seeds.rb
  src/api/test/fixtures/attrib_types.yml
  src/api/test/functional/attributes_test.rb
  src/api/test/functional/maintenance_test.rb
Due: run-migrations-tests

[api] give a hint which package is causing a target error
  src/api/app/models/bs_request_action.rb
Due: none

[api] alternative removal of enforced maintenance branches
  src/api/app/models/bs_request_action_maintenance_incident.rb
Due: none

[api] support request diffing with project delete action
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
Due: none

[api] fix setincident when non-incident actions are in a request
  src/api/app/models/bs_request_permission_check.rb
Due: none

Add missing annotations for Event::Relationship*
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
Due: none

Remove unneeded `@extend .alert-success`
  src/api/app/assets/stylesheets/webui/flash.scss
Due: none

[api] accept already removed projects in request delete actions.
  src/api/app/models/bs_request_action_delete.rb
Due: none

[backend] workaround podman bug #boo 1196751
  src/backend/call-service-in-container
Due: run-backend-tests

Path conditions:
  run-root-rubocop: any of: (dist|contrib)/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
