Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Remove not reachable code
  src/api/app/controllers/person_controller.rb
Due: none

Substitute User.session! with User.session in API controllers
  src/api/app/controllers/announcements_controller.rb
  src/api/app/controllers/cloud/upload_jobs_controller.rb
  src/api/app/controllers/comments_controller.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/request_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_config_controller.rb
  src/api/app/controllers/source_project_controller.rb
  src/api/app/controllers/source_project_meta_controller.rb
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/controllers/status/checks_controller.rb
  src/api/app/controllers/status_messages_controller.rb
Due: none

Remove redundant call to `require_login`
  src/api/app/controllers/request_controller.rb
Due: none

Substitute User.session! with User.session in webui controllers
  src/api/app/controllers/webui/users/beta_features_controller.rb
  src/api/app/controllers/webui/users/block_controller.rb
Due: none

Remove redundant `require_login` before filters
  src/api/app/controllers/staging/excluded_requests_controller.rb
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
Due: none

Don't leak the user session into the Group model
  src/api/app/controllers/group_controller.rb
  src/api/app/controllers/webui/groups/users_controller.rb
  src/api/app/models/group.rb
Due: none

Regenerate database consistency config
  src/api/.database_consistency.todo.yml
  src/api/.rubocop_todo.yml
Due: none

Create a test for the request filter
  src/api/spec/features/webui/users/notifications_spec.rb
Due: none

[api] fix creation of a project above an interconnect project
  src/api/app/controllers/source_project_meta_controller.rb
  src/api/spec/controllers/source_project_meta_controller_spec.rb
Due: none

Update gitleaks ignore
  .gitleaksignore
Due: none

[api] improve cleanup on user removal
  src/api/app/models/user.rb
Due: none

[api] show review creation time again
  docs/api/api/request.rng
  docs/api/api/request.xml
  src/api/app/models/event/base.rb
  src/api/app/models/review.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/unit/bs_request_test.rb
  src/backend/BSXML.pm
Due: run-backend-tests

[backend] BSTar: implement overwriting the size via the PAX header
  src/backend/BSTar.pm
Due: run-backend-tests

Fix rubocop warnings
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/removed_user_from_group.rb
Due: none

Make avatar helper method simpler
  src/api/app/components/notification_component.html.haml
  src/api/app/helpers/webui/notification_helper.rb
Due: run-haml-linter

[backend] BSTar: support writing of a PAX header
  src/backend/BSTar.pm
Due: run-backend-tests

Update and use global_roles array
  src/api/app/models/event/added_global_role.rb
  src/api/app/models/role.rb
  src/api/spec/models/role_spec.rb
Due: none

Whenever a global role changes, create the related event
  src/api/app/models/user.rb
Due: none

Add subscriptions to AddedGlobalRole events
  src/api/app/models/event/added_global_role.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/models/event_subscription/form.rb
  src/api/app/models/user.rb
  src/api/app/services/notification_service/notifier.rb
Due: none

Create a new event AddedGlobalRole
  src/api/app/models/event/added_global_role.rb
Due: none

Fix excerpt truncation
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

Use a guard clause for notification merging
  src/api/app/controllers/concerns/webui/notifications_filter.rb
Due: none

[backend] allow to opt-out setrelease default behaviour
  src/backend/bs_repserver
Due: run-backend-tests

[backend] BSTar/BSCpio: support a 'file' option in the archive writer
  src/backend/BSCpio.pm
  src/backend/BSTar.pm
  src/backend/t/0024-BSTar.t
  src/backend/t/0025-BSCpio.t
  src/backend/t/data/0025/test.cpio
Due: run-backend-tests

[backend] move mkplatformstr into BSContar.
  src/backend/BSContar.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Due: run-backend-tests

[backend] sourceinfo: make getrev fatal for package sourceinfo requests
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] tweak ipv6 peerip handing
  src/backend/bs_repserver
Due: run-backend-tests

[backend] BSRPC: simplify ipv6 addr regexp
  src/backend/BSRPC.pm
Due: run-backend-tests

Remove the Notifications backfill task
  src/api/lib/tasks/backfill_notifications_type.rake
Due: none

Add missing changes to RuboCop TODO file
  src/api/.rubocop_todo.yml
Due: none

Introduces Project.embargo_date
  src/api/app/models/project.rb
Due: none

[api] re-schedule auto-accept job in special case
  src/api/app/models/bs_request.rb
  src/api/app/models/project/embargo_handler.rb
Due: none

Introduces Attrib.embargo_date
  src/api/app/models/attrib.rb
  src/api/spec/models/attrib_embargo_date_spec.rb
  src/api/spec/models/attrib_spec.rb
  src/api/spec/models/project/embargo_handler_spec.rb
Due: none

Introduces BsRequestAction.embargo_date
  src/api/app/models/bs_request_action.rb
Due: none

Introduces BsRequest.embargo_date
  src/api/app/models/bs_request.rb
  src/api/spec/models/bs_request/embargo_date_spec.rb
Due: none

Replace Project::EmbargoHandler
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/project/embargo_handler.rb
Due: none

Make sure that the diff compopnent doesn't newline the content of the diff
  src/api/app/assets/stylesheets/webui/diff.scss
Due: none

Introduces support for instantiating packages from scmsync
  src/api/app/models/package.rb
  src/api/spec/models/package_get_by_project_and_name_spec.rb
Due: none

Apply suggestions from Lukas code review
  src/api/spec/README.md
Due: none

Let the BsRequest have a proper title
  src/api/app/controllers/webui/requests/submissions_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/requests/submissions/new.html.haml
  src/api/db/migrate/20240717094427_add_title_to_bs_request.rb
  src/api/db/schema.rb
Due: run-haml-linter, run-migrations-tests

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
