Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

fix tests for older distros
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop

fix 0060-check_required_services.ts to work with new output format of systemctl
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop

[dist] check each service in obs-api-support.target separate
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop

[dist] remove obs-delayedjob-queue-scm from test if not exists
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop

[dist] stop the noise from 0060-check_required_services.ts
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop

Fix flickering smoke test
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop

Add missing parenthesis in if condition
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop

Adopt smoketests to distribution changes
  dist/t/spec/features/0030_project_spec.rb
Due: run-root-rubocop

[api] fix accepting of submit request of scmsync packages
  src/api/app/models/bs_request_action_submit.rb
Due: none

Create NotificationAvatarsComponent
  src/api/app/components/notification_avatars_component.html.haml
  src/api/app/components/notification_avatars_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notification_avatar.html.haml
  src/api/app/views/webui/users/notifications/_notification_avatars.html.haml
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_avatars_component_spec.rb
  src/api/spec/components/previews/notification_avatars_component_preview.rb
Due: run-haml-linter

Retire NotificationPresenter in favor of view components
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Due: run-haml-linter

Prevent errors for a BsRequest without a description in NotificationExcerptComponent
  src/api/app/components/notification_excerpt_component.rb
  src/api/spec/components/notification_excerpt_component_spec.rb
Due: run-haml-linter

Use target_project instead of target_project.name
  src/api/app/components/notification_action_description_component.rb
Due: run-haml-linter

[backend] servicedispatch: limit on project level and not on package level
  src/backend/bs_servicedispatch
Due: run-backend-tests

Don't initialize `NotificationsFinder` twice
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/policies/notification_policy.rb
  src/api/app/queries/notifications_finder.rb
Due: none

Eager load records associated with notifications
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Check for logged in user in controller instead of finder class
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/queries/notifications_finder.rb
Due: none

Remove `where` clause for comments and reviews in notification avatar component
  src/api/app/components/notification_avatars_component.rb
  src/api/app/models/review.rb
Due: run-haml-linter

Use notification pundit policy in order to authorize and fetch a single notification
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/queries/notifications_finder.rb
Due: none

Add spec to reproduce issue #12227
  src/api/spec/components/notification_action_description_component_spec.rb
Due: none

Create WatchedItem model and its associations
  src/api/app/models/bs_request.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/user.rb
  src/api/app/models/watched_item.rb
  src/api/db/migrate/20220210154407_create_watched_items.rb
  src/api/db/schema.rb
  src/api/spec/factories/watched_items.rb
  src/api/spec/models/watched_item_spec.rb
Due: run-migrations-tests

Create WatchedItemsListComponent
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/new_watchlist/watchlist.scss
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/components/watched_items_list_component.rb
  src/api/app/components/watchlist_component.html.haml
  src/api/spec/components/watched_items_list_component_spec.rb
Due: run-haml-linter

Add toggle functionality for new watchlist
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
Due: none

Use resourceful routes
  src/api/app/components/watchlist_component.rb
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Configure new_watchlist feature flag
  src/api/lib/tasks/dev.rake
Due: none

Create WatchlistComponent
  src/api/app/components/watchlist_component.html.haml
  src/api/app/components/watchlist_component.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/spec/components/watchlist_component_spec.rb
Due: run-haml-linter

Remove unnecessary div list-group
  src/api/app/components/watched_items_list_component.html.haml
Due: run-haml-linter

Pass objects to WatchlistComponent
  src/api/app/components/watchlist_component.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/spec/components/watchlist_component_spec.rb
Due: run-haml-linter

Set password to opensuse for users generated by FactoryBot
  src/api/spec/README.md
  src/api/spec/controllers/webui/session_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/factories/users.rb
  src/api/spec/features/webui/login_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/support/features/features_authentication.rb
  src/api/test/functional/build_controller_test.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/comments_controller_test.rb
  src/api/test/functional/interconnect_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/read_permission_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/functional/statistics_controller_test.rb
  src/api/test/test_helper.rb
Due: none

Require login on WatchedItemsController
  src/api/app/controllers/webui/watched_items_controller.rb
Due: none

Remove superfluous specs
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
  src/api/spec/models/watched_item_spec.rb
Due: none

Avoid showing the watchlist link for new objects
  src/api/app/components/watchlist_component.html.haml
  src/api/spec/components/watchlist_component_spec.rb
Due: run-haml-linter

Instrument Workflow and Workflow::Step
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
  src/api/app/instrumentations/workflow_instrumentation.rb
  src/api/app/instrumentations/workflow_step_instrumentation.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/spec/models/workflow/step_spec.rb
Due: none

Eager load project when fetching packages in WatchlistComponent
  src/api/app/components/watchlist_component.rb
Due: run-haml-linter

Check if object is a watched item with a single query
  src/api/app/components/watchlist_component.rb
Due: run-haml-linter

Fix invalid byte sequence in UTF-8 in event mailer
  src/api/app/models/event/build_fail.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: none

Fix typo with `packge`.
  src/api/app/components/watchlist_component.rb
Due: run-haml-linter

[api] allow certain commands on scmsync projects
  src/api/app/controllers/source_controller.rb
Due: none

Fix flaky spec in NotificationAvatarsComponent
  src/api/spec/components/notification_avatars_component_spec.rb
Due: none

Fix flickering spec in features/webui/projects_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Due: none
