Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Create comment history api endpoint
  src/api/app/controllers/comments_controller.rb
  src/api/app/views/comments/history.xml.builder
  src/api/config/routes/api_routes.rb
Due: run-haml-linter

Add test for `#history` api endpoint
  src/api/spec/controllers/comments_controller_spec.rb
Due: none

Add relaxng schema for comment history xml response
  docs/api/api/comment_history.rng
Due: none

Drop useless code
  src/api/app/models/user.rb
  src/api/spec/models/user_spec.rb
Due: none

Add decision_kind column to canned responses
  src/api/db/migrate/20240227153505_add_decision_kind_to_canned_responses.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Add the release notes for 2.10.22
  ReleaseNotes-2.10.22
Due: none

[api] fix corner case in approver permission handling.
  src/api/app/models/bs_request_permission_check.rb
  src/api/test/functional/request_controller_test.rb
Due: none

Add openapi docs for comment history api endpoint
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/schemas/comment_history.yaml
  src/api/public/apidocs/paths/comment_comment_id_history.yaml
Due: none

[backend] (Re-)enable testing for unchanged packages for build cycles
  src/backend/BSSched/BuildJob/Package.pm
Due: run-backend-tests

[backend] fix spelling mistake in examples/createrepo_rpmmd_hook.pm
  src/backend/examples/createrepo_rpmmd_hook.pm
Due: run-backend-tests

Add spec for the comment `history?` pundit policy
  src/api/spec/policies/comment_policy_spec.rb
Due: none

[api] implement package fork command
  docs/api/api/api.txt
  src/api/app/controllers/source_controller.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/source_fork.yaml
  src/api/test/functional/source_controller_test.rb
Due: none

Trigger services for every push to the branch
  .obs/workflows.yml
Due: none

Make Style/RedundantLineContinuation cop go away
  src/api/lib/obsapi/markdown_renderer.rb
Due: none

Update annotations for canned responses model
  src/api/app/models/canned_response.rb
Due: none

Simplify test logic
  src/api/spec/helpers/webui/comments_helper_spec.rb
Due: none

Be compliant with convention: << over push()
  src/api/app/helpers/webui/comments_helper.rb
Due: none

Make sure the maintained package is checked on the right project
  src/api/app/helpers/webui/comments_helper.rb
  src/api/spec/helpers/webui/comments_helper_spec.rb
Due: none

Do not show global user roles in comment context
  src/api/app/helpers/webui/comments_helper.rb
  src/api/spec/helpers/webui/comments_helper_spec.rb
Due: none

Show only relevant user's roles in comment
  src/api/app/helpers/webui/comments_helper.rb
  src/api/spec/helpers/webui/comments_helper_spec.rb
Due: none

Move relationship queries to a proper place
  src/api/app/helpers/webui/comments_helper.rb
  src/api/app/queries/relationships_finder.rb
Due: none

Move and improve the policy and beta check
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/policies/user_policy.rb
  src/api/app/views/webui/user/_involvement_and_activity.html.haml
Due: run-haml-linter

List all comments for a specific user
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/models/comment.rb
  src/api/app/views/webui/user/_comments.html.haml
  src/api/app/views/webui/user/_involvement_and_activity.html.haml
  src/api/app/views/webui/users/show.html.haml
Due: run-haml-linter

Remove duplicated border from user comments list
  src/api/app/views/webui/user/_comments.html.haml
Due: run-haml-linter

Use a new policy for the comments display
  src/api/app/policies/user_policy.rb
  src/api/app/views/webui/user/_involvement_and_activity.html.haml
Due: run-haml-linter

Update data migrate to 9.2.0
  src/api/Gemfile.lock
  src/api/vendor/cache/data_migrate-9.2.0.gem
  src/api/vendor/cache/data_migrate-9.3.0.gem
Due: run-passenger-tests

[backend] fix sequence of signargs in fixsleimage
  src/backend/bs_publish
Due: run-backend-tests

Bump actions/labeler from 4 to 5
  .github/labeler.yml
  .github/workflows/pull_request_labeler.yml
Due: none

Add controller specs to test moderators blocking users from commenting
  src/api/spec/controllers/webui/users_controller_spec.rb
Due: none

Disable the RSpec/RepeatedSubjectCall cop
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
Due: none

Move racc to 1.7.2
  src/api/Gemfile.lock
  src/api/vendor/cache/racc-1.7.2.gem
  src/api/vendor/cache/racc-1.7.3.gem
Due: run-passenger-tests

Add decision kind to the canned responses CRUD
  src/api/app/controllers/webui/users/canned_responses_controller.rb
  src/api/app/models/canned_response.rb
  src/api/app/views/webui/users/canned_responses/edit.html.haml
  src/api/app/views/webui/users/canned_responses/index.html.haml
Due: run-haml-linter

Handle decision kind in canned responses dropdown
  src/api/app/assets/javascripts/webui/canned_responses.js
  src/api/app/components/canned_responses_dropdown_component.html.haml
  src/api/app/components/canned_responses_dropdown_component.rb
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/components/reports_modal_component.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
Due: run-haml-linter, run-javascripts-linter

Extend canned responses feature spec
  src/api/spec/features/webui/canned_responses_spec.rb
Due: none

Add CannedResponsesDropdownComponent spec
  src/api/spec/components/canned_responses_dropdown_component_spec.rb
  src/api/spec/factories/canned_responses.rb
Due: none

Enable the RSpec/RepeatedSubjectCall cop again
  src/api/.rubocop_todo.yml
Due: none

Display all kinds of canned responses in decision dropdown
  src/api/app/components/reports_modal_component.rb
Due: run-haml-linter

[backend] bs_regpush do not reuse the authenticator for different hosts
  src/backend/bs_regpush
Due: run-backend-tests

Install git+make+gcc in openQA test
  dist/t/Makefile
Due: run-dist-linter

Split out the dependency method out of PackageController
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/views/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/binaries/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/binaries/_deps.html.haml
  src/api/app/views/webui/packages/binaries/_fileinfo.html.haml
  src/api/app/views/webui/packages/binaries/dependency.html.haml
  src/api/app/views/webui/packages/binaries/show.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
