Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Add models for request-related notifications
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/notification_request_create.rb
  src/api/app/models/notification_request_statechange.rb
  src/api/app/models/notification_review_wanted.rb
Due: run-haml-linter

Move request-related methods to Notification model
  src/api/app/models/notification.rb
  src/api/app/models/notification_comment_for_request.rb
Due: none

Add model NotificationBuildFail
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/notification_build_fail.rb
Due: run-haml-linter

Add model NotificationWorkflowRunFail
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/notification_workflow_run_fail.rb
Due: run-haml-linter

Add model NotificationServiceFail
  src/api/app/models/notification_service_fail.rb
Due: none

Add models for notification-related notifications
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/notification_appeal_created.rb
Due: run-haml-linter

Add models for report-related notifications
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/notification_report_for_comment.rb
  src/api/app/models/notification_report_for_package.rb
  src/api/app/models/notification_report_for_project.rb
  src/api/app/models/notification_report_for_request.rb
  src/api/app/models/notification_report_for_user.rb
Due: run-haml-linter

Add models for decision-related notifications
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/notification_cleared_decision.rb
  src/api/app/models/notification_favored_decision.rb
Due: run-haml-linter

Drop remains of resetting subscriptions to default
  src/api/app/controllers/webui/users/subscriptions_controller.rb
  src/api/app/views/webui/users/subscriptions/index.js.haml
Due: run-haml-linter

Fix status message acknowledgement
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/models/status_message.rb
  src/api/app/views/webui/status_messages/acknowledge.js.haml
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
Due: run-haml-linter

Make sure a changed manager group gets the reviewer role
  src/api/app/models/staging/workflow.rb
Due: none

Implement notification bars in remaining views
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
Due: run-haml-linter

[backend] Patchinfo: implement helm chart support
  src/backend/BSSched/BuildJob/Patchinfo.pm
Due: run-backend-tests

Add with_project param to source attributes api docs
  src/api/public/apidocs/paths/source_project_name_attribute.yaml
Due: none

Make clicking on "Cancel" button not to delete ...
  src/api/app/views/webui/staging/workflows/_delete.html.haml
Due: run-haml-linter

Define involved_users for all notifications models
  src/api/app/components/notification_avatars_component.rb
  src/api/app/models/notification.rb
  src/api/app/models/notification_appeal_created.rb
  src/api/app/models/notification_build_fail.rb
  src/api/app/models/notification_cleared_decision.rb
  src/api/app/models/notification_comment_for_package.rb
  src/api/app/models/notification_comment_for_project.rb
  src/api/app/models/notification_comment_for_request.rb
  src/api/app/models/notification_favored_decision.rb
  src/api/app/models/notification_relationship_create.rb
  src/api/app/models/notification_relationship_delete.rb
  src/api/app/models/notification_report_for_comment.rb
  src/api/app/models/notification_report_for_package.rb
  src/api/app/models/notification_report_for_project.rb
  src/api/app/models/notification_report_for_request.rb
  src/api/app/models/notification_report_for_user.rb
  src/api/app/models/notification_request_create.rb
  src/api/app/models/notification_request_statechange.rb
  src/api/app/models/notification_review_wanted.rb
  src/api/app/models/notification_service_fail.rb
  src/api/app/models/notification_workflow_run_fail.rb
Due: run-haml-linter

Define methods in the parent model
  src/api/app/models/notification.rb
Due: none

Add description to notification models
  src/api/app/models/notification.rb
  src/api/app/models/notification_appeal_created.rb
  src/api/app/models/notification_build_fail.rb
  src/api/app/models/notification_cleared_decision.rb
  src/api/app/models/notification_comment_for_package.rb
  src/api/app/models/notification_comment_for_project.rb
  src/api/app/models/notification_comment_for_request.rb
  src/api/app/models/notification_favored_decision.rb
  src/api/app/models/notification_relationship_delete.rb
  src/api/app/models/notification_report_for_comment.rb
  src/api/app/models/notification_report_for_package.rb
  src/api/app/models/notification_report_for_project.rb
  src/api/app/models/notification_report_for_request.rb
  src/api/app/models/notification_report_for_user.rb
  src/api/app/models/notification_request_create.rb
  src/api/app/models/notification_request_statechange.rb
  src/api/app/models/notification_review_wanted.rb
Due: none

Add request-related methods to Notification model
  src/api/app/models/notification.rb
Due: none

Define request_source and request_target
  src/api/app/models/notification.rb
Due: none

Fix setting the managers group of a Staging Workflow...
  src/api/app/views/webui/staging/workflows/_staging_managers_group.html.haml
Due: run-haml-linter

Create an AddedUserToGroup event when a user is added to a group.
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/groups_user.rb
  src/api/spec/models/groups_user_spec.rb
Due: none

Create a RemovedUserFromGroup event when a user is removed from a group.
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/group.rb
  src/api/spec/models/groups_user_spec.rb
Due: none

Offset the build log alert by the height of the notification bar
  src/api/app/assets/stylesheets/webui/notifications.scss
  src/api/app/views/webui/packages/build_log/live_build_log.html.haml
Due: run-haml-linter

Display on appeals show as well
  src/api/app/controllers/webui/appeals_controller.rb
Due: none

Don't error on showing versions of a package
  src/api/app/controllers/webui/package_controller.rb
Due: none

Introduces support for packages from remote project links
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/triggerable.rb
  src/api/spec/controllers/concerns/triggerable_spec.rb
Due: none

Introduces support for instantiating packages from remote project links
  src/api/app/models/concerns/project_links.rb
  src/api/app/models/package.rb
  src/api/app/models/user.rb
  src/api/spec/models/package_get_by_project_and_name_spec.rb
Due: none

Setup project links in development data
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/project_links.rake
  src/api/spec/factories/packages.rb
Due: none

Use @package.scmsynced? where it makes sense
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/service.rb
  src/api/app/views/webui/package/_side_links.html.haml
Due: run-haml-linter

Introduces support for instantiating packages from scmsync
  src/api/app/models/concerns/package_scmsync.rb
  src/api/app/models/concerns/scm_sync_enabled_step.rb
  src/api/app/models/package.rb
  src/api/spec/models/package_get_by_project_and_name_spec.rb
Due: none

Enable viewing scmsync'ed packages
  src/api/app/controllers/webui/package_controller.rb
Due: none

Setup scmsynced project in development data
  src/api/lib/tasks/dev/project_links.rake
Due: none

Update src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Notification filters: from links to checkboxes
  src/api/app/assets/stylesheets/webui/notifications.scss
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/views/webui/shared/_check_box.haml
Due: run-haml-linter

Drop no longer used component
  src/api/app/components/notification_filter_link_component.html.haml
  src/api/app/components/notification_filter_link_component.rb
  src/api/spec/components/notification_filter_link_component_spec.rb
  src/api/spec/components/previews/notification_filter_link_component_preview.rb
Due: run-haml-linter

Handle multiple filter parameters
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/queries/groups_for_filter_finder.rb
  src/api/app/queries/projects_for_filter_finder.rb
  src/api/app/views/webui/shared/_check_box.haml
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_filter_component_spec.rb
  src/api/spec/components/previews/notification_filter_component_preview.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
Due: run-haml-linter

Filters counting
  src/api/app/components/notification_filter_component.rb
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
Due: run-haml-linter
