Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

[backend] fix intoto publishing for external registries
  src/backend/BSPublisher/Container.pm
  src/backend/bs_regpush
Due: run-backend-tests

[backend] internal registry: fix reusage of custom cosign attestations
  src/backend/BSPublisher/Registry.pm
Due: run-backend-tests

Simplify error message and HTML generation
  src/api/app/assets/javascripts/webui/flash.js
  src/api/app/assets/javascripts/webui/network.js
Due: run-javascripts-linter

Default ajax error feedback in case of error
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/flash.js
  src/api/app/assets/javascripts/webui/network.js
Due: run-javascripts-linter

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Due: none

Move tests to the new controller
  src/api/app/lib/routes_helper/routes_constraints.rb
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_a_valid_project_and_an_invalid_architecture/1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_a_valid_project_and_an_invalid_architecture/1_1_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_an_invalid_project/1_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_an_invalid_project/1_1_1_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_3.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_4.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_5.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_6.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/and_fileinfo_is_nil/1_1_5_7_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repository_and_an_invalid_repository/1_1_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repository_and_an_invalid_repository/1_1_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture_and_an_invalid_repository/1_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture_and_an_invalid_repository/1_1_3_2.yml
  src/api/spec/controllers/webui/packages/binaries_controller_dependency_spec.rb
Due: none

Authorize comment `#create` api endpoint
  src/api/app/controllers/comments_controller.rb
Due: none

Switch From-Header in emails
  src/api/app/mailers/event_mailer.rb
  src/api/spec/mailers/event_mailer_spec.rb
  src/api/test/fixtures/event_mailer/repo_delete_request
  src/api/test/fixtures/event_mailer/request_event
  src/api/test/fixtures/event_mailer/set_bugowner_event
  src/api/test/fixtures/event_mailer/tom_declined
  src/api/test/fixtures/event_mailer/tom_gets_mail_too
Due: none

Create specs for comment `create?` pundit policy
  src/api/spec/policies/comment_policy_spec.rb
Due: none

Adjust validations of canned responses' attributes
  src/api/app/models/canned_response.rb
Due: none

Make DB consistent with canned responses' validations
  src/api/db/migrate/20240307122241_make_canned_responses_title_and_content_not_null.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Change DOM ids for canned responses accordions
  src/api/app/views/webui/users/canned_responses/index.html.haml
Due: run-haml-linter

[backend] speed up container publishing with noclean
  src/backend/BSPublisher/Container.pm
  src/backend/bs_regpush
Due: run-backend-tests

Prevent an error flash message when editing a user profile
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Drop isolated_migrations GitHub action
  .github/workflows/isolated_migrations.yml
Due: none

Remove package_files method from Webui::PackageController
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/views/webui/package/_file.html.haml
  src/api/app/views/webui/package/_files_view.html.haml
Due: run-haml-linter

Rename wait helper
  src/api/spec/browser_helper.rb
  src/api/spec/support/wait_helpers.rb
Due: none

Fix flaky test
  src/api/spec/features/webui/maintenance_workflow_spec.rb
  src/api/spec/support/wait_helpers.rb
Due: none

Use resources instead of resource for file controller actions
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/app/views/webui/package/view_file.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Fix dbclean target
  dist/t/Makefile
Due: run-dist-linter

Restore binary controller tests
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_index/with_a_failure_in_the_backend/1_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_index/with_a_failure_in_the_backend/1_1_1_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_index/without_build_results/1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/with_a_failure_in_the_backend/1_2_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/with_a_failure_in_the_backend/shows_an_error_message.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/with_a_valid_download_url/and_a_non_html_request/1_2_4_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/with_a_valid_download_url/and_a_non_html_request/1_2_4_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/with_a_valid_download_url/and_normal_html_request/1_2_4_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/without_a_valid_architecture/1_2_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/without_a_valid_architecture/1_2_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/without_file_info/1_2_2_1.yml
  src/api/spec/controllers/webui/packages/binaries_controller_spec.rb
Due: none

Wait in test 0030_project_spec
  dist/t/spec/features/0030_project_spec.rb
Due: run-dist-linter

Adjust tests for the new location of the wipe_binaries
  src/api/spec/cassettes/Webui_Packages_BinariesController/DELETE_destroy/when_wiping_binaries_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/DELETE_destroy/when_wiping_binaries_fails/redirects_to_package_binaries.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/DELETE_destroy/when_wiping_binaries_succeeds/1_1_2_1.yml
  src/api/spec/controllers/webui/packages/binaries_controller_destroy_spec.rb
Due: none

Ignore rubocop class length limit for BinariesController
  src/api/.rubocop_todo.yml
Due: none

Split out the wipe_binaries method out of PackageController
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/views/webui/packages/binaries/_trigger_rebuild_wipe_binaries.html.haml
  src/api/app/views/webui/packages/binaries/index.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Remove LinkPackageStep.check_source_access specs
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/spec/models/project_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Due: none

Drop superflous example
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Due: none

Test Step.validate_source_project_and_package_name
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/models/workflow/step_spec.rb
Due: none

[api] tune fork command error handling
  docs/api/api/api.txt
  src/api/app/controllers/source_controller.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/branch_package/errors.rb
  src/api/public/apidocs/paths/source_branch.yaml
  src/api/public/apidocs/paths/source_fork.yaml
  src/api/test/functional/source_controller_test.rb
Due: none

Refine exclusions for Style/MultilineBlockChain
  src/api/.rubocop.yml
Due: none

[backend] createrepo_rpmmd_hook.pm: add "superseded" support
  src/backend/examples/createrepo_rpmmd_hook.pm
Due: run-backend-tests

[backend] BSRekor: add intoto_v2 support
  src/backend/BSRekor.pm
Due: run-backend-tests

Get rid of source_project_name / source_package_name
  src/api/app/models/concerns/scm_sync_enabled_step.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/submit_request.rb
Due: none

Validate project/package names in Workflow::Step instructions
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/models/workflow/step/trigger_services.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step/rebuild_package_step_spec.rb
  src/api/spec/models/workflow/step_spec.rb
Due: none

Refactor spec for bugzilla_url helper
  src/api/spec/helpers/webui/webui_helper_spec.rb
Due: none

Autocorrect Style/StringConcatenation RuboCop ...
  src/api/.rubocop.yml
  src/api/app/controllers/build/file_controller.rb
  src/api/app/controllers/concerns/backend_proxy.rb
  src/api/app/controllers/concerns/webui/project_build_result_parsing.rb
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/webui/apidocs_controller.rb
  src/api/app/controllers/webui/main_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/projects/maintenance_incident_requests_controller.rb
  src/api/app/controllers/webui/projects/rebuild_times_controller.rb
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
Due: none
