Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Show the request creator in package revisions
  src/api/app/views/webui/package/_commit_item.html.haml
Due: run-haml-linter

Update database_consistency TODO file after upgrade
  src/api/.database_consistency.todo.yml
Due: none

Update rails from 7.0.4.3 to 7.0.6
  src/api/Gemfile.lock
  src/api/vendor/cache/actioncable-7.0.4.3.gem
  src/api/vendor/cache/actioncable-7.0.6.gem
  src/api/vendor/cache/actionmailbox-7.0.4.3.gem
  src/api/vendor/cache/actionmailbox-7.0.6.gem
  src/api/vendor/cache/actionmailer-7.0.4.3.gem
  src/api/vendor/cache/actionmailer-7.0.6.gem
  src/api/vendor/cache/actionpack-7.0.4.3.gem
  src/api/vendor/cache/actionpack-7.0.6.gem
  src/api/vendor/cache/actiontext-7.0.4.3.gem
  src/api/vendor/cache/actiontext-7.0.6.gem
  src/api/vendor/cache/actionview-7.0.4.3.gem
  src/api/vendor/cache/actionview-7.0.6.gem
  src/api/vendor/cache/activejob-7.0.4.3.gem
  src/api/vendor/cache/activejob-7.0.6.gem
  src/api/vendor/cache/activemodel-7.0.4.3.gem
  src/api/vendor/cache/activemodel-7.0.6.gem
  src/api/vendor/cache/activerecord-7.0.4.3.gem
  src/api/vendor/cache/activerecord-7.0.6.gem
  src/api/vendor/cache/activestorage-7.0.4.3.gem
  src/api/vendor/cache/activestorage-7.0.6.gem
  src/api/vendor/cache/activesupport-7.0.4.3.gem
  src/api/vendor/cache/activesupport-7.0.6.gem
  src/api/vendor/cache/rails-7.0.4.3.gem
  src/api/vendor/cache/rails-7.0.6.gem
  src/api/vendor/cache/railties-7.0.4.3.gem
  src/api/vendor/cache/railties-7.0.6.gem
Due: run-passenger-tests

Use Gitlab client to download yaml file
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Due: none

[backend] keyinfo: check for signkey instead of pubkey when returning the sslcert
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] enable container publishing notifications
  src/backend/bs_publish
Due: run-backend-tests

[backend] Set 'account' parameter in bearer request
  src/backend/BSBearer.pm
Due: run-backend-tests

Create event subscription for Trigger Service and Rebuild Package steps
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/trigger_services.rb
Due: none

Update flipper rubygem from 0.28.0 to 0.28.1
  src/api/Gemfile.lock
  src/api/vendor/cache/flipper-0.28.0.gem
  src/api/vendor/cache/flipper-0.28.1.gem
  src/api/vendor/cache/flipper-active_record-0.28.0.gem
  src/api/vendor/cache/flipper-active_record-0.28.1.gem
  src/api/vendor/cache/flipper-ui-0.28.0.gem
  src/api/vendor/cache/flipper-ui-0.28.1.gem
Due: run-passenger-tests

Address HAML-Lint TrailingEmptyLines complains
  src/api/app/views/layouts/webui/_left_navigation.html.haml
  src/api/app/views/webui/distributions/_breadcrumb_items.html.haml
  src/api/app/views/webui/distributions/new.html.haml
  src/api/app/views/webui/package/_fileinfo.html.haml
  src/api/app/views/webui/package/_job_status.html.haml
  src/api/app/views/webui/package/_rpmlint_result.html.haml
  src/api/app/views/webui/package/live_build_log.html.haml
  src/api/app/views/webui/package/statistics.html.haml
  src/api/app/views/webui/project/_edit_comment.html.haml
  src/api/app/views/webui/repositories/_add_repository_path_modal.html.haml
  src/api/app/views/webui/search/_search_for.html.haml
  src/api/app/views/webui/shared/_requests_state_and_type_form.html.haml
  src/api/app/views/webui/staging/shared/_legend.html.haml
  src/api/app/views/webui/staging/workflows/_status_problems.html.haml
Due: run-haml-linter

Run HAML-Lint in our CI when HAML rubygems get updated
  .circleci/config.yml
Due: none

Fix the architecture instance variable
  src/api/app/views/webui/package/binary.html.haml
Due: run-haml-linter

Upgrade CircleCI base image to Leap 15.4
  .circleci/conditional_config.yml
Due: none

Introduces User.mark_as_spammer!
  src/api/app/models/user.rb
Due: none

Extract measurements to a single callback
  src/api/app/models/user.rb
Due: none

Refactor the step event subscription
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/trigger_services.rb
  src/api/app/services/workflows/scm_event_subscription_creator.rb
Due: none

Also show GPG Key User ID
  src/api/app/views/webui/projects/signing_keys/show.html.haml
Due: run-haml-linter

[webui] Default expand=0 when revision is set
  src/api/app/controllers/webui/package_controller.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
Due: none

Bugfix: request number is the identifier
  src/api/app/views/webui/package/_commit_item.html.haml
Due: run-haml-linter

Use `aliases: true` to avoid yaml loading errors
  src/api/lib/tasks/migrate_options_yml.rake
Due: none

Tell people about Pundit errors in WorkflowRun
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/workflow.rb
Due: none

Switch deprecated API route to retrieve worker statuses
  dist/elastic_build_service_manager.py
Due: run-dist-linter

Remove rubygem RDoc
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/rdoc-6.3.3.gem
Due: run-passenger-tests

Fix button visibility condition
  src/api/app/views/webui/package/revisions.html.haml
Due: run-haml-linter

Never report on Tag Push events
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/services/workflows/scm_event_subscription_creator.rb
Due: none

Fix reusing EventSubscription
  src/api/app/services/workflows/scm_event_subscription_creator.rb
Due: none

Let the title breathe from the content
  src/api/app/views/webui/package/revisions.html.haml
Due: run-haml-linter

Use Kaminari page_entries_info to count instead
  src/api/app/views/webui/package/revisions.html.haml
Due: run-haml-linter

Unify conditions on the same line
  src/api/app/views/webui/package/revisions.html.haml
Due: run-haml-linter

README.md: use Leap 15.4 instead of 15.1 and use new repository naming pattern (15.4 instead of openSUSE_15.1)
  README.md
Due: none

[backend] bs_publish: drop leading ./ from path to deb
  src/backend/bs_publish
Due: run-backend-tests

[backend] postprocess dpkg-scanpackages output
  src/backend/bs_publish
Due: run-backend-tests

Handle helm and docker types in container pulling
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

[backend] BSRPC: reduce dns cache ttl to one hour
  src/backend/BSRPC.pm
  src/backend/bs_dodup
Due: run-backend-tests

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Due: none

[backend] bs_notifyforward: disable multirequest mode when using https
  src/backend/bs_notifyforward
Due: run-backend-tests

Disable partial inserts in active record
  src/api/config/application.rb
Due: none

[backend] BSServerEvents: do not add paused events in EINTR handling
  src/backend/BSServerEvents.pm
  src/backend/BSWatcher.pm
Due: run-backend-tests
