Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Don't fetch unneeded information for JSON requests
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Add link to create a New Image to the main page
  src/api/app/views/webui/main/_index_actions.html.haml
Due: run-haml-linter

[api] Fix crash on package removal
  src/api/app/models/package.rb
  src/api/spec/controllers/person/token_controller_spec.rb
Due: none

Simplify create spec
  src/api/spec/controllers/person/token_controller_spec.rb
Due: none

Use has_many association defaults
  src/api/app/models/package.rb
Due: none

[backend] final publish .ova files
  src/backend/bs_publish
Due: run-backend-tests

Use right CSS class to reset font color
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Show user state on user's page, only for admin users
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Code style: align parameters in render partial call
  src/api/app/views/webui/users/show.html.haml
Due: run-haml-linter

Address Style/StringConcatenation rubocop offense
  src/api/app/models/binary_release.rb
  src/api/test/functional/search_binary_release_test.rb
Due: none

Update Rubocop TODOS
  src/api/.rubocop_todo.yml
Due: none

[api] speedup binary search database
  src/api/app/models/binary_release.rb
  src/api/test/functional/search_binary_release_test.rb
  src/api/test/unit/binary_release_test.rb
Due: none

Remove testcase for repeated binary releases from spec
  src/api/spec/models/binary_release_spec.rb
Due: none

Revert "Don't fetch unneeded information for JSON requests"
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Recommend dpkg >= 1.20
  dist/obs-server.spec
Due: run-dist-linter

Bugfix: adjust comment edit history dropdown alignment
  src/api/app/assets/stylesheets/webui/comments.scss
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/comment_history_component.html.haml
Due: run-haml-linter

Don't show "Delete" link on a deleted user...
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Don't show the "Delete" icon for deleted users ...
  src/api/app/helpers/webui/user_helper.rb
Due: none

Update bs_admin: minor fix usage
  src/backend/bs_admin
Due: run-backend-tests

Show which commentable is locked in the locked alert
  src/api/app/helpers/webui/comment_locks_helper.rb
  src/api/app/views/webui/comment/_new.html.haml
  src/api/spec/cassettes/CommentLocks/on_a_request/with_comments_locked/lock_alert_for_package/shows_comment_lock_alert.yml
  src/api/spec/features/webui/comment_locks_spec.rb
Due: run-haml-linter

[api] allow to include request description issues
  src/api/app/controllers/request_controller.rb
  src/api/app/lib/backend/api/issue_trackers.rb
  src/api/public/apidocs/paths/request_id_cmd_diff.yaml
  src/api/test/functional/request_controller_test.rb
  src/backend/BSXML.pm
Due: run-backend-tests

[dist] fixed get_hostname in setup-appliance.sh
  dist/functions.setup-appliance.sh
Due: run-dist-linter

[backend] BSContar: implement support for artifacthub data
  src/backend/BSContar.pm
Due: run-backend-tests

[backend] bs_regpush: support artifacthub data
  src/backend/bs_regpush
Due: run-backend-tests

List all comments for a specific user
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/models/comment.rb
  src/api/app/views/webui/user/_comments.html.haml
  src/api/app/views/webui/user/_involvement_and_activity.html.haml
  src/api/app/views/webui/users/show.html.haml
Due: run-haml-linter

[backend] implement artifacthub data publishing
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_publish
Due: run-backend-tests

Be consistent in how we render the username in comments
  src/api/app/views/webui/comment/_content.html.haml
Due: run-haml-linter

Add authentication to the image templates page
  src/api/app/controllers/webui/image_templates_controller.rb
  src/api/spec/controllers/webui/image_templates_controller_spec.rb
  src/api/spec/features/webui/image_templates_spec.rb
Due: none

Prevent N+1 query in project page
  src/api/app/datatables/package_datatable.rb
Due: none

[backend] refactor container tar opening into BSContar::open_container_tar
  src/backend/BSContar.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_worker
Due: run-backend-tests

[api] support attribute mass update using PUT route
  docs/api/api/api.txt
  src/api/app/controllers/source_attribute_controller.rb
  src/api/app/mixins/has_attributes.rb
  src/api/config/routes/api_routes.rb
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_attribute_name.yaml
  src/api/test/functional/attributes_test.rb
  src/api/test/functional/source_controller_test.rb
Due: run-apidocs-linter

Reapply "Don't fetch unneeded information for JSON requests"
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Add column blocked_from_commenting to table users
  src/api/db/migrate/20240201082303_add_blocked_from_commenting_to_users.rb
  src/api/db/schema.rb
Due: run-migrations-tests

[api] add some missing api parameters
  docs/api/api/api.txt
Due: none

[backend] BSContar::create_layer_data: do not always detect the compression type
  src/backend/BSContar.pm
Due: run-backend-tests

[backend] BSContar: fix return statement in create_layer_data
  src/backend/BSContar.pm
Due: run-backend-tests

[backend] Registry.pm: remove call to BSContar::normalize_container()
  src/backend/BSPublisher/Registry.pm
Due: run-backend-tests

[backend] BSContar: allow to pass a filehandle to compress_entry
  src/backend/BSContar.pm
Due: run-backend-tests

Show the user roles alongside the comment
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/helpers/webui/comments_helper.rb
  src/api/app/views/webui/comment/_content.html.haml
  src/api/spec/helpers/webui/comments_helper_spec.rb
Due: run-haml-linter

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
