Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Move kiwi migration exclusion to .rubocop.yml
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
Due: none

[backend] report an error if Storable::thaw returns undef
  src/backend/BSUtil.pm
Due: run-backend-tests

Display unread notifications through the API
  src/api/app/controllers/person/notifications_controller.rb
  src/api/public/apidocs/paths/my_notifications.yaml
Due: none

Improve rendering of notifications API
  src/api/app/views/person/notifications/_notification.xml.builder
Due: run-haml-linter

Extend types used to filter notifications with the API
  src/api/app/controllers/person/notifications_controller.rb
  src/api/public/apidocs/paths/my_notifications.yaml
Due: none

Prevent from freezing the time in one user spec
  src/api/spec/models/user_spec.rb
Due: none

Introduce `fetch` method to access cached Configuration
  src/api/app/models/configuration.rb
Due: none

Adapt user factory to modify the `updated_at` field
  src/api/spec/factories/users.rb
Due: none

Use cache for Configuration field methods
  src/api/app/models/configuration.rb
Due: none

Use cache to fetch configuration
  src/api/app/controllers/configurations_controller.rb
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/mailers/admin_mailer.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/policies/webui/user_policy.rb
  src/api/spec/policies/webui/user_policy_spec.rb
Due: none

Use class methods instead of instance methods ...
  src/api/app/controllers/webui/code_of_conduct_controller.rb
  src/api/app/models/project/remote_url.rb
Due: none

Notification filter items: from single links to checkboxes
  src/api/.rubocop_todo.yml
  src/api/app/assets/stylesheets/webui/notifications.scss
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/components/notification_filter_link_component.html.haml
  src/api/app/components/notification_filter_link_component.rb
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/jobs/cleanup_notifications_job.rb
  src/api/app/models/notification.rb
  src/api/app/models/user.rb
  src/api/app/queries/groups_for_filter_finder.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/queries/projects_for_filter_finder.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_action_bar_component_spec.rb
  src/api/spec/components/notification_filter_component_spec.rb
  src/api/spec/components/notification_filter_link_component_spec.rb
  src/api/spec/components/previews/notification_filter_link_component_preview.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/db/data/remove_obsolete_notifications_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
Due: run-haml-linter

We don't need the notification_ids
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Update brakeman.ignore
  src/api/config/brakeman.ignore
Due: none

Specify the checkbox id value to match the label for attribute
  src/api/app/views/webui/shared/_check_box.haml
Due: run-haml-linter

Namespace the parameters under notification key
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
Due: run-haml-linter

Remove the permit! hack
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
Due: none

Do not track selected_filters in the update_path
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Due: run-haml-linter

Remove NotificationsFinder
  src/api/app/jobs/cleanup_notifications_job.rb
  src/api/app/models/notification.rb
  src/api/app/queries/notifications_finder.rb
Due: none

Remove unused Notification scope
  src/api/app/models/notification.rb
  src/api/spec/db/data/remove_obsolete_notifications_spec.rb
Due: none

Refactor to make it easier to understand
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Remove old comments
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

BugFix: count project and group notifications over the current filtered set
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/queries/groups_for_filter_finder.rb
  src/api/app/queries/projects_for_filter_finder.rb
Due: run-haml-linter

Better use constants instead of strings for class names
  src/api/app/models/notification.rb
Due: none

Favor User.session instead of @current_user
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Remove testing code
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
Due: none

Fix notification status toggle button
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: run-haml-linter

Multiple notification selection update
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_action_bar_component_spec.rb
Due: run-haml-linter

Default to unread notifications on the API controller
  src/api/app/controllers/person/notifications_controller.rb
Due: none

Fix linter complain on test file
  src/api/test/functional/source_controller_test.rb
Due: none

Move target_package_name out of the if clause
  src/api/app/controllers/source_controller.rb
Due: none

Fix api docu for fork command
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_branch.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_fork.yaml
Due: none

[api] fork command: do not require maintainership in source package
  src/api/app/controllers/source_controller.rb
  src/api/test/functional/source_controller_test.rb
Due: none

Skip verification when no target_project_name
  src/api/app/controllers/source_controller.rb
Due: none

Update Brakeman
  src/api/config/brakeman.ignore
Due: none

Adapt force parameter documentation
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_branch.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_fork.yaml
Due: none

Adapt main yaml file after file renaming
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_fork.yaml
Due: none

Get rid of unnecessary remove_foreign_key
  src/api/db/migrate/20240513154336_remove_watched_projects.rb
Due: run-migrations-tests

Document target_package query parameter
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_fork.yaml
Due: none

Squash assignment into the previous existing variable
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
