Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Provide a lighter badges for roles
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/helpers/webui/comments_helper.rb
  src/api/app/views/webui/comment/_content.html.haml
Due: run-haml-linter

Revert data migrations about subscriptions
  src/api/db/data/20231004134538_create_a_default_subscription_for_decision_related_events.rb
  src/api/db/data/20231016113740_create_default_subscription_for_report_events.rb
Due: run-migrations-tests

Add comments from the annotate gem from last migration
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
Due: none

Include user report modal into the user basic information
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Extract list of notification types to a constant
  src/api/app/queries/notifications_finder.rb
Due: none

Allow to administrators and moderators to block ...
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Don't permit to comment to users blocked from ...
  src/api/app/policies/comment_policy.rb
Due: none

[backend] publisher: rework container layer compression handling
  src/backend/BSContar.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Containerinfo.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Due: run-backend-tests

[backend] early publishing also for productcompose builds
  src/backend/bs_sched
Due: run-backend-tests

Revert "List all comments for a specific user #15542"
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/models/comment.rb
  src/api/app/views/webui/user/_comments.html.haml
  src/api/app/views/webui/user/_involvement_and_activity.html.haml
  src/api/app/views/webui/users/show.html.haml
Due: run-haml-linter

Don't fetch unneeded information for JSON requests
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Strong migration wrapped by safety_assured catch
  src/api/db/migrate/20230224114624_add_diff_ref_to_comments.rb
Due: run-migrations-tests

[backend] bs_regpush: split containerfile reading from tar file reading
  src/backend/bs_regpush
Due: run-backend-tests

[backend] rename payload_layer to payload_layer_data for clarity
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Due: run-backend-tests

Index state field on users table
  src/api/db/schema.rb
Due: run-migrations-tests

Index blocking_from_commenting in users table
  src/api/db/migrate/20240207080349_add_blocked_from_commenting_index_to_users.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Add annotate comments after indexing state in users
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
Due: none

Send metrics about users blocked from commenting
  src/api/app/jobs/measurements_job.rb
Due: none

Add annotate comments after indexing ...
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
Due: none

Fix test data request
  src/api/lib/tasks/dev/reports.rake
Due: none

[backend] BSContar: trivial code cleanups
  src/backend/BSContar.pm
Due: run-backend-tests

Allow commenting on the same line after a comment was deleted from it
  src/api/app/assets/stylesheets/webui/diff.scss
  src/api/app/controllers/webui/comments_controller.rb
Due: none

Ensure delete confirmation dialog is populated for comments
  src/api/app/views/webui/comment/beta/_comments_thread.html.haml
Due: run-haml-linter

Remove reference to nonexistent .xsd files
  docs/api/Makefile
Due: none

[backend] implement signkey flavor project config option
  src/backend/BSPublisher/Container.pm
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSrcServer/Signkey.pm
  src/backend/BSXML.pm
  src/backend/bs_publish
  src/backend/bs_signer
  src/backend/bs_srcserver
Due: run-backend-tests

Simplify the build results grid with suggestions
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/components/build_results_monitor_component.html.haml
Due: run-haml-linter

[backend] BSContar: more cleanups
  src/backend/BSContar.pm
  src/backend/BSRepServer/Registry.pm
Due: run-backend-tests

[backend] make expandflags:macroserial changes critical
  src/backend/BSSched/ProjPacks.pm
Due: run-backend-tests

Fix display of the bs_request monitor with more architectures
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/components/build_results_monitor_component.html.haml
Due: run-haml-linter

Allow to reply to inline comments
  src/api/app/views/webui/comment/_comment_list.html.haml
  src/api/app/views/webui/comment/_content.html.haml
Due: run-haml-linter

Filter out reviews by staging project
  src/api/app/controllers/webui/request_controller.rb
Due: none

add asdf tools
  .tool-versions
  src/api/.tool-versions
Due: none

[backend] add some refcounting in Srcdiff
  src/backend/BSSrcServer/Srcdiff.pm
Due: run-backend-tests

Toggle visibility of edit comment over comment body and back
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Do not shift alignment to the comment edit box
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

[backend] BSSrcServer/Srcdiff.pm: show deleted issues as "changed" if there is another reference
  src/backend/BSSrcServer/Srcdiff.pm
Due: run-backend-tests

Remove duplicated route
  src/api/config/routes/api_routes.rb
Due: none

Split package_command route
  src/api/config/routes/api_routes.rb
Due: none

Move the package cmd routes into their own controller
  src/api/app/controllers/concerns/set_flag.rb
  src/api/app/controllers/concerns/verify_release_targets.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_package_command_controller.rb
Due: none

Adapt rubocop TODO to SourcePackageCommandController
  src/api/.rubocop_todo.yml
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
