Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Add attribute aliases to sync with backend
  src/api/app/models/binary_release.rb
Due: none

Add code documentation for this job
  src/api/app/jobs/update_released_binaries_job.rb
Due: none

[backend] add maptoremote call to remote keyinfo queries
  src/backend/bs_srcserver
Due: run-backend-tests

Coerce sensible params to string
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Due: none

[api] fixing permission check for log file
  src/api/app/controllers/build_controller.rb
  src/api/app/controllers/webui/packages/build_log_controller.rb
Due: none

[backend] support staticlinks for plain .raw kiwi appliances
  src/backend/bs_publish
Due: run-backend-tests

[api] allow to request keyinfo via /public
  src/api/app/controllers/public_controller.rb
  src/api/config/routes/api.rb
Due: none

[backend] PublishPrepo: fix conflicts handling
  src/backend/BSSched/PublishRepo.pm
Due: run-backend-tests

[backend] also detect patchinfo results by the .updateinfodata file
  src/backend/BSRepServer.pm
  src/backend/BSSched/BuildResult.pm
Due: run-backend-tests

reduce memory need on packtrack data import
  src/api/app/jobs/update_released_binaries_job.rb
Due: none

Update outdated database consistency TODO file
  src/api/.database_consistency.todo.yml
Due: none

Preload projects on polymorphic commentable
  src/api/.database_consistency.todo.yml
  src/api/app/models/comment.rb
Due: none

Coerce sensible params to int
  src/api/app/controllers/webui/search_controller.rb
Due: none

[backend] keep patchinfo information
  src/backend/BSSched/BuildJob/Patchinfo.pm
Due: run-backend-tests

Reduce memory footprint of the Job
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/app/models/repository.rb
  src/api/spec/jobs/update_released_binaries_job_spec.rb
Due: none

[backend] Aggregate: fix logic in containerinfo check
  src/backend/BSSched/BuildJob/Aggregate.pm
Due: run-backend-tests

[backend] report sourceinfo errors as error
  src/backend/bs_srcserver
Due: run-backend-tests

update deps for obs-cloud-uploader
  dist/obs-server.spec
Due: run-dist-linter

Add missing details information for request build result badge
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
  src/api/app/views/webui/shared/_build_status_badge.html.haml
  src/api/spec/components/previews/build_results_monitor_component_preview.rb
Due: run-haml-linter

Fix: notification count for unread only
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/shared/_check_box.haml
  src/api/app/views/webui/shared/_radio_button.haml
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
Due: run-haml-linter

Prevent from performing N+1 queries on Workflow ...
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Drop unused methods
  src/api/app/controllers/webui/package_controller.rb
Due: none

Drop Packages::MainController
  src/api/app/controllers/webui/packages/badge_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/controllers/webui/packages/branches_controller.rb
  src/api/app/controllers/webui/packages/bs_requests_controller.rb
  src/api/app/controllers/webui/packages/build_reason_controller.rb
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/controllers/webui/packages/job_history_controller.rb
  src/api/app/controllers/webui/packages/main_controller.rb
  src/api/app/controllers/webui/packages/meta_controller.rb
Due: none

Move shared before filters to WebuiContoller
  src/api/app/controllers/webui/packages/main_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/controllers/webui/packages/binaries_controller_dependency_spec.rb
  src/api/spec/controllers/webui/packages/binaries_controller_destroy_spec.rb
  src/api/spec/controllers/webui/packages/binaries_controller_spec.rb
  src/api/spec/controllers/webui/packages/build_reason_controller_spec.rb
  src/api/spec/controllers/webui/packages/job_history_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
Due: none

Simplify Package/Project source_access policy
  src/api/app/policies/package_policy.rb
  src/api/app/policies/project_policy.rb
  src/api/spec/policies/package_policy_spec.rb
Due: none

Reuse already computed range dates by the controller
  src/api/app/controllers/webui/projects/pulse_controller.rb
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/views/webui/projects/pulse/show.html.haml
  src/api/app/views/webui/projects/pulse/show.js.erb
Due: run-haml-linter

Notify users the token is shared with
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/models/event_subscription.rb
  src/api/lib/tasks/dev/notifications.rake
  src/api/lib/tasks/dev/rake_support.rb
Due: none

Include groups in the workflow runs notifications
  src/api/app/models/event/workflow_run_fail.rb
Due: none

Add specs for workflow run fail subscriptions
  src/api/lib/tasks/dev/notifications.rake
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Due: none

Filter workflow runs by event source
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/views/webui/workflow_runs/_event_links.html.haml
Due: run-haml-linter

[backend] move rpm files to data/shared
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/shared/buildresult/rpm/hello_world-1-4.1.src.rpm
  src/backend/t/data/shared/buildresult/rpm/hello_world-1-4.1.x86_64.rpm
Due: run-backend-tests

[backend] implement container and rpm aggregate testing
  src/backend/t/0110-BSSched-BuildJob-Aggregate.t
  src/backend/t/data/shared/buildresult/container/_blob.sha256:334d7a5b49823b1cb969fd31a3a7eaa26d643eb72b79f966513b4b4d870ac902
  src/backend/t/data/shared/buildresult/container/_blob.sha256:f24bdc8441e003f6b292b47b0244d181a5a82590099f3448360b613e8cf81939
  src/backend/t/data/shared/buildresult/container/foo-1.2.x86_64-5.1.containerinfo
  src/backend/t/data/shared/buildresult/container/foo-1.2.x86_64-5.1.obsbinlnk
  src/backend/t/lib/Test/Mock/BSSched/BuildJob.pm
Due: run-backend-tests

Test LDAP via a dockerized ldap server
  docker-compose.yml
  src/api/lib/tasks/ldap.rake
Due: none

Provide a tool to inspect the LDAP schema
  docker-compose.yml
Due: none

Override configuration for testing purposes
  src/api/config/environments/development.rb
  src/api/lib/tasks/ldap.rake
Due: none

Set credentials and config options to connect to ldap
  docker-compose.yml
  src/api/lib/tasks/ldap.rake
Due: none

Add some debug on the standard output
  src/api/lib/tasks/ldap.rake
Due: none

Don't set unread notifications count on AJAX requests
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Fix invalid byte sequence in UTF-8 processing build logs
  src/api/app/mixins/build_log_support.rb
  src/api/spec/mixins/build_log_support_spec.rb
Due: none

[backend] container publishing: add container tag deletion safeguard registry option
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests
