Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Make PackageSphinx a model concern
  src/api/app/models/concerns/package_sphinx.rb
Due: none

Make Flag::Validations a model concern
  src/api/app/models/concerns/flag_validations.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
Due: none

Make ProjectSphinx a model concern
  src/api/app/models/concerns/project_sphinx.rb
Due: none

Make Status::Checkable a model concern
  src/api/app/models/concerns/status_checkable.rb
  src/api/app/models/repository.rb
  src/api/app/models/repository_architecture.rb
Due: none

Make Webui::ManageRelationships a controller concern
  src/api/app/controllers/concerns/webui/manage_relationships.rb
Due: none

Flaky test depends on page loading time: make it wait a bit longer
  src/api/spec/features/webui/projects_spec.rb
Due: none

Use the strings instead of symbols in BsRequestActionTabVisibility::CHANGES_TABS
  src/api/app/models/bs_request_action_tab_visibility.rb
Due: none

[api] fix delivering of delete package meta data
  src/api/app/controllers/source_project_package_meta_controller.rb
  src/api/public/apidocs/paths/source_project_name_package_name_meta.yaml
Due: none

[api] avoid services in flight on request creation
  src/api/app/models/bs_request_action.rb
Due: none

Make sure to use truncate on a string
  src/api/app/views/webui/request/_action_text.html.haml
Due: run-haml-linter

Show diff comments in the API endpoint
  src/api/app/components/comment_component.rb
  src/api/app/controllers/comments_controller.rb
Due: run-haml-linter

Add tests for showing inline comments of a request...
  src/api/spec/cassettes/CommentsController/GET_show/of_a_bs_request_action_inline_comment_/with_an_inline_comment/1_1_4_1_1.yml
  src/api/spec/cassettes/CommentsController/GET_show/of_a_bs_request_action_inline_comment_/with_an_inline_comment_of_a_removed_target_package/1_1_4_2_1.yml
  src/api/spec/controllers/comments_controller_spec.rb
  src/api/spec/factories/bs_request_actions.rb
Due: none

Send metrics about daemon availability
  src/api/app/jobs/worker_measurements_job.rb
Due: none

[backend] bs_worker: fix undefined variable reference
  src/backend/bs_worker
Due: run-backend-tests

Do the assigments only if we need them
  src/api/app/components/comment_component.rb
Due: run-haml-linter

Show diff comments in the Web UI, non-beta
  src/api/app/views/webui/comment/_comment_list.html.haml
  src/api/app/views/webui/comment/_content.html.haml
Due: run-haml-linter

Request description as part of the conversation history
  src/api/app/assets/stylesheets/webui/collapsible-text.scss
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation_aside.html.haml
Due: run-haml-linter

API: show replies to inline comments
  src/api/app/components/comment_component.rb
Due: run-haml-linter

Improve query to retrieve comments for request actions
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/controllers/comments_controller.rb
Due: run-haml-linter

Implement incident maintenance feature under beta
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow_when_beta_is_false_and_having_a_patchinfo_is_false.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow_when_beta_is_false_and_having_a_patchinfo_is_true.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow_when_beta_is_true_and_having_a_patchinfo_is_false.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow_when_beta_is_true_and_having_a_patchinfo_is_true.yml
  src/api/spec/features/webui/maintenance_workflow_spec.rb
Due: none

Create scope for comments on actions for a specific request
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/controllers/comments_controller.rb
  src/api/app/models/comment.rb
  src/api/app/views/webui/comment/_comment_list.html.haml
Due: run-haml-linter

More space between the title and the text
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Show the most relevant information of the current action in the dropdown
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/spec/features/webui/requests/submissions_spec.rb
Due: run-haml-linter

Wrap all select boxes under the same div container
  src/api/app/views/webui/request/beta_show_tabs/_rpm_lint_result.html.haml
Due: run-haml-linter

Move creation of package outside the loop
  src/api/lib/tasks/dev/requests.rake
Due: none

Create actions to set bugowners in the dev tasks
  src/api/lib/tasks/dev/requests.rake
Due: none

Adapt request's view in beta for action set_bugowner
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/layouts/webui/_notification_toolbar.html.haml
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
Due: run-haml-linter

Add a new tag to track bs_request_action type
  src/api/app/controllers/webui/request_controller.rb
Due: none

Fix filter order for set_influxdb_data
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Due: none

Drop unused `user_registrations` table
  src/api/app/models/user.rb
  src/api/db/migrate/20230712141001_drop_user_registrations.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Replace HamlLint::RubyExtractor
  src/api/lib/haml-lint/custom_linters/set_pagetitle_in_view.rb
Due: none

Add a todo file for HAML-Lint
  src/api/.haml-lint.yml
  src/api/.haml-lint_todo.yml
Due: none

Fix custom linter SetPagetitleInView
  src/api/lib/haml-lint/custom_linters/set_pagetitle_in_view.rb
Due: none

Enable the SetPagetitleInView linter for all pages but one
  src/api/.haml-lint.yml
  src/api/.haml-lint_todo.yml
Due: none

Autocorrect RuboCop Layout/ExtraSpacing offenses
  src/api/.rubocop_todo.yml
  src/api/test/functional/maintenance_test.rb
Due: none

Autocorrect RuboCop Layout/SpaceAroundOperators offenses
  src/api/.rubocop_todo.yml
  src/api/app/models/bs_request.rb
Due: none

Exclude vendor/bundle/ subdirectory from HAML linter
  src/api/.haml-lint.yml
Due: none

Fix kiwi_image association in Kiwi::Package model
  src/api/app/models/kiwi/package.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
