Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Allow fetching remote packages for templates
  src/api/app/controllers/public_controller.rb
  src/api/app/models/project.rb
  src/api/app/services/package_service/templater.rb
  src/api/app/views/public/package_templates.xml.builder
  src/api/config/routes/api.rb
Due: run-haml-linter

Added spec for NotificationHelper#excerpt
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

Update octokit to version 9.1.0
  src/api/Gemfile.lock
  src/api/vendor/cache/octokit-8.1.0.gem
  src/api/vendor/cache/octokit-9.1.0.gem
Due: run-passenger-tests

Added spec for NotificationHelper#description
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

Add missing test for appeal notification
  src/api/spec/factories/notification.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

Drop NotificationActionDescriptionComponent
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/previews/notification_action_description_component_preview.rb
Due: run-haml-linter

Drop NotificationNotifiableLinkComponent
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/components/previews/notification_notifiable_link_component_preview.rb
Due: run-haml-linter

Add spec for NotificationHelper#notifiable_link
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

Transform the accordion reviews component into a partial
  src/api/app/assets/stylesheets/webui/accordion-reviews.scss
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/components/accordion_reviews_component.html.haml
  src/api/app/components/accordion_reviews_component.rb
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/_accordion_reviews.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/spec/components/previews/accordion_reviews_component_preview.rb
Due: run-haml-linter

Fix condition to run apidocs linter
  .circleci/config.yml
Due: none

Add some column defaults for BinaryRelease
  src/api/app/models/binary_release.rb
  src/api/db/migrate/20240618110434_add_defaults_to_binary_release.rb
  src/api/db/schema.rb
Due: run-migrations-tests

[backend] Patchinfo: fix "undefined value" warning if packages are unknown
  src/backend/BSSched/BuildJob/Patchinfo.pm
Due: run-backend-tests

[backend] add updateinfo.xml/_modulemd.yaml to productcompose meta
  src/backend/bs_worker
Due: run-backend-tests

Fix user denied deletion of its own subprojects
  src/api/app/models/user.rb
  src/api/spec/models/user_spec.rb
  src/api/test/unit/user_test.rb
Due: none

Optimize query to avoid N+1 between Review, User and Group
  src/api/app/controllers/webui/request_controller.rb
Due: none

Avoid performing a querying for the token we just created
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
Due: none

Refactor UserAvatarComponent component
  src/api/app/components/patchinfo_component.html.haml
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/components/user_avatar_component.rb
  src/api/app/views/webui/comment/_history.html.haml
  src/api/app/views/webui/reports/show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation_aside.html.haml
  src/api/spec/components/user_avatar_component_spec.rb
Due: run-haml-linter

[backend] Add staticlinks support for product-composer builds
  src/backend/bs_publish
Due: run-backend-tests

[backend] bs_notar: support the --signflavor option
  src/backend/bs_notar
Due: run-backend-tests

Get rid of Sign Up Component
  src/api/app/components/sign_up_component.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/views/layouts/webui/_sign_up_modal.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui/users/_sign_up.html.haml
  src/api/app/views/webui/users/new.html.haml
  src/api/spec/components/previews/sign_up_component_preview.rb
  src/api/spec/components/sign_up_component_spec.rb
Due: run-haml-linter

Add single quotation marks missing in interpolation
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Coerce the issue_tracker_name to string
  src/api/app/models/full_text_search.rb
Due: none

Fix running this task on a fresh database
  src/api/lib/tasks/dev/notifications.rake
Due: none

Introduces page_size to pagination navigation
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/models/notification.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/_page_size_navigation.html.haml
  src/api/spec/components/notification_component_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
Due: run-haml-linter

[backend] Patchinfo: fixup filename in updateinfo.xml for containers/charts
  src/backend/BSSched/BuildJob/Patchinfo.pm
Due: run-backend-tests

[backend] support helm charts in aggregates
  src/backend/BSSched/BuildJob/Aggregate.pm
Due: run-backend-tests

Simplify variables
  src/api/app/jobs/update_released_binaries_job.rb
Due: none

Drop superfluous UpdateReleasedBinariesJob spec
  src/api/spec/cassettes/UpdateReleasedBinariesJob/_perform/for_an_event_with_a_repo/1_1_1_1.yml
  src/api/spec/cassettes/UpdateReleasedBinariesJob/_perform/for_an_event_without_a_repo/1_1_2_1.yml
  src/api/spec/cassettes/UpdateReleasedBinariesJob/_perform/when_perform_raises_an_exception/notifies_airbrake.yml
  src/api/spec/jobs/update_released_binaries_job_spec.rb
Due: none

Move BinaryRelease#update_binary_releases to job
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/app/models/binary_release.rb
Due: none

Adapt linter config to new UpdateReleasedBinariesJob
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/config/brakeman.ignore
Due: none

Move BinaryRelease#update_binary_releases_via_json to job
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/app/models/binary_release.rb
Due: none

Rename BinaryReleaseSpec
  src/api/spec/jobs/update_released_binaries_job_spec.rb
Due: none

Adapt spec to new UpdateReleasedBinariesJob
  src/api/spec/jobs/update_released_binaries_job_spec.rb
  src/api/test/unit/binary_release_test.rb
Due: none

[backend] implement forwarding of _keyinfo to remote servers
  src/backend/bs_srcserver
Due: run-backend-tests

Rename to speaking variable name
  src/api/app/jobs/update_released_binaries_job.rb
Due: none

Merge update_binary_releases into perform
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/spec/jobs/update_released_binaries_job_spec.rb
Due: none

Add speaking method names
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/spec/jobs/update_released_binaries_job_spec.rb
  src/api/test/unit/binary_release_test.rb
Due: none

Add some speaking variables
  src/api/app/jobs/update_released_binaries_job.rb
Due: none
