Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Add functions for handling moderation into the comments model
  src/api/app/models/comment.rb
Due: none

Set association between moderator and comment
  src/api/app/models/comment.rb
  src/api/app/models/user.rb
Due: none

Move the moderation button behind the feature flag
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/views/webui/comment/_reply.html.haml
Due: run-haml-linter

Display a moderation message instead of body
  src/api/app/models/comment.rb
Due: none

Add fixme for the set_comment function
  src/api/app/controllers/webui/comments_controller.rb
Due: none

Simplify comment spec
  src/api/spec/policies/comment_policy_spec.rb
Due: none

Define moderate as member route
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/views/webui/comment/_reply.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Policy allows staff members to moderate
  src/api/app/policies/comment_policy.rb
  src/api/spec/policies/comment_policy_spec.rb
Due: none

Postpone reducing the length of the comments controller
  src/api/.rubocop_todo.yml
Due: none

Handle Record not Found error for comments properly
  src/api/app/controllers/webui/comments_controller.rb
Due: none

Replace unmoderate by permit
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/views/webui/comment/_reply.html.haml
Due: run-haml-linter

Lighter table row hover
  src/api/app/assets/stylesheets/webui/datatables.scss
Due: none

Fix build errors in scss files
  src/api/app/assets/stylesheets/webui/cm2/bootstrap.scss
  src/api/app/assets/stylesheets/webui/coderay.scss
  src/api/app/assets/stylesheets/webui/diff.scss
Due: none

Add role 'Moderator' to the 'roles' table
  src/api/app/models/user.rb
  src/api/db/data/20230920125132_add_moderator_to_roles.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
Due: run-migrations-tests

Show information about existing reports on the associated objects
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/reports_notice_component.html.haml
  src/api/app/components/reports_notice_component.rb
  src/api/app/views/webui/comment/_content.html.haml
  src/api/app/views/webui/package/_side_links.html.haml
  src/api/app/views/webui/package/side_links/_reports.haml
  src/api/app/views/webui/project/_side_links.html.haml
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/spec/components/previews/reports_notice_component_preview.rb
Due: run-haml-linter

Wider button to click and go to a request from the table list
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/views/webui/shared/bs_requests/index.json.erb
Due: run-haml-linter

Use activerecord way of determining existing report
  src/api/app/components/reports_notice_component.html.haml
  src/api/app/components/reports_notice_component.rb
Due: run-haml-linter

Enable Restart on failure for delayed queue
  dist/systemd/obs-delayedjob-queue-consistency_check.service
  dist/systemd/obs-delayedjob-queue-default.service
  dist/systemd/obs-delayedjob-queue-issuetracking.service
  dist/systemd/obs-delayedjob-queue-mailers.service
  dist/systemd/obs-delayedjob-queue-project_log_rotate.service
  dist/systemd/obs-delayedjob-queue-quick@.service
  dist/systemd/obs-delayedjob-queue-releasetracking.service
  dist/systemd/obs-delayedjob-queue-scm.service
  dist/systemd/obs-delayedjob-queue-staging.service
Due: run-dist-linter

Use instance variables for reports and reportable name
  src/api/app/components/reports_notice_component.html.haml
  src/api/app/components/reports_notice_component.rb
Due: run-haml-linter

[backend] move cycle blocked setting into handlecycle
  src/backend/BSSched/BuildJob/Package.pm
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

Simplify the reporters iteration in the component preview
  src/api/spec/components/previews/reports_notice_component_preview.rb
Due: none

[backend] fix aggregate meta generation
  src/backend/BSSched/BuildJob/Aggregate.pm
Due: run-backend-tests

Introduces concern for build result parsing
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/webui/project_build_result_parsing.rb
  src/api/app/controllers/webui/project_controller.rb
Due: none

Improve error message when during event creation
  src/api/app/models/event/base.rb
Due: none

[backend] write a logfile when building an aggregate
  src/backend/BSSched/BuildJob/Aggregate.pm
Due: run-backend-tests

Group all package routes with default js
  src/api/config/routes/webui_routes.rb
Due: none

Do not use action as "local" variable
  src/api/app/controllers/webui/project_controller.rb
Due: none

Simplify monitor action
  src/api/app/controllers/webui/project_controller.rb
Due: none

Create decisions table
  src/api/db/migrate/20230921133606_create_decisions.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Create Decision model and set associations
  src/api/app/models/decision.rb
  src/api/app/models/report.rb
  src/api/app/models/user.rb
Due: none

Introduces to_param
  src/api/app/models/architecture.rb
Due: none

Split Webui::Packages::BuildLogController
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/views/event_mailer/build_fail.text.erb
  src/api/app/views/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/build_log/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/build_log/_job_status.html.haml
  src/api/app/views/webui/packages/build_log/_live_build_log_controls.html.haml
  src/api/app/views/webui/packages/build_log/live_build_log.html.haml
  src/api/app/views/webui/packages/build_log/update_build_log.js.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Add `create_report` to events and event subscription
  src/api/app/models/event/base.rb
  src/api/app/models/event/create_report.rb
  src/api/app/models/event_subscription.rb
Due: none

Trigger report event creation when a report is created
  src/api/app/models/report.rb
Due: none

Add `is_moderator?` method to user model
  src/api/app/models/user.rb
Due: none

Create web notifications for `create_report` event
  src/api/app/services/notification_service/notifier.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/app/services/notified_projects.rb
Due: none

Show `create_report` event subscription form only to moderators in beta
  src/api/app/models/event_subscription/form.rb
Due: none

Display report web notifications for moderators in beta
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/components/notification_filter_link_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
Due: run-haml-linter

[backend] support parsing text for issue tracker matchers
  src/backend/BSSrcServer/Srcdiff.pm
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] BSUtil: make cleandir change dir permissions to "rwx" before recursing
  src/backend/BSUtil.pm
Due: run-backend-tests
