Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Remove `Event::CreateReport` and related codepaths, specs and mail template
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/models/event/create_report.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/views/event_mailer/create_report.html.haml
  src/api/lib/tasks/dev/rake_support.rb
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: run-haml-linter

Create default subscription to report events for moderators
  src/api/db/data/20231016113740_create_default_subscription_for_report_events.rb
  src/api/db/data_schema.rb
Due: run-migrations-tests

Remove 'wipe' from the list of valid package commands
  src/api/app/controllers/source_controller.rb
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_wipe.yaml
  src/api/test/functional/source_controller_test.rb
Due: none

Adapt `notification_notifiable_link_component_spec` to use new report event
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/factories/notification.rb
Due: none

Adapt `notification_action_description_component_spec` to use new report event
  src/api/spec/components/notification_action_description_component_spec.rb
Due: none

Core component: modal
  src/api/app/assets/stylesheets/webui/modals.scss
  src/api/app/components/modal_component.html.haml
  src/api/app/components/modal_component.rb
  src/api/spec/components/modal_component_spec.rb
  src/api/spec/components/previews/modal_component_preview.rb
Due: run-haml-linter

Fix error message for `GET /request/{id}` API endpoint
  src/api/app/controllers/request_controller.rb
Due: none

Let the button component have an id
  src/api/app/components/button_component.html.haml
  src/api/app/components/button_component.rb
Due: run-haml-linter

Let the button component have aria data
  src/api/app/components/button_component.html.haml
  src/api/app/components/button_component.rb
Due: run-haml-linter

Let the button component have an html type
  src/api/app/components/button_component.html.haml
  src/api/app/components/button_component.rb
Due: run-haml-linter

[backend] Add withfilelist parameter to the binary query
  src/backend/BSXML.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Due: run-backend-tests

Let the button component be html disabled
  src/api/app/components/button_component.html.haml
  src/api/app/components/button_component.rb
Due: run-haml-linter

Let the button component have a value
  src/api/app/components/button_component.html.haml
  src/api/app/components/button_component.rb
Due: run-haml-linter

Let the button component have a title
  src/api/app/components/button_component.html.haml
  src/api/app/components/button_component.rb
Due: run-haml-linter

Refactoring: use ButtonComponent over button_tag
  src/api/app/components/accordion_reviews_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/views/webui/architectures/index.html.haml
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/user/_edit_account_form.html.haml
Due: run-haml-linter

Pass API requests with a valid `view` parameter to ...
  src/api/app/controllers/source_project_controller.rb
Due: none

Fix error messages returned for not found parameters
  src/api/app/controllers/status/required_checks_controller.rb
Due: none

Make sure to use the repository_name param in set_architecture fallback
  src/api/app/controllers/webui/packages/main_controller.rb
Due: none

BinariesController rewrite
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/views/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/binaries/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/binaries/_deps.html.haml
  src/api/app/views/webui/packages/binaries/_fileinfo.html.haml
  src/api/app/views/webui/packages/binaries/_trigger_rebuild_wipe_binaries.html.haml
  src/api/app/views/webui/packages/binaries/dependency.html.haml
  src/api/app/views/webui/packages/binaries/index.html.haml
  src/api/app/views/webui/packages/binaries/show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/packages/binaries_controller_spec.rb
Due: run-haml-linter

Add casettes for Packages BinariesController
  src/api/spec/cassettes/Webui_Packages_BinariesController/DELETE_destroy/when_wiping_binaries_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/DELETE_destroy/when_wiping_binaries_fails/redirects_to_package_binaries.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/DELETE_destroy/when_wiping_binaries_succeeds/1_2_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/DELETE_destroy/when_wiping_binaries_succeeds/1_2_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_a_valid_project_and_an_invalid_architecture/1_4_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_a_valid_project_and_an_invalid_architecture/1_4_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_an_invalid_project/1_4_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_an_invalid_project/1_4_1_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_4_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_4_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_4_5_3.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/and_fileinfo_is_nil/1_4_5_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repository_and_an_invalid_repository/1_4_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repository_and_an_invalid_repository/1_4_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture_and_an_invalid_repository/1_4_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_dependency/when_passing_params_referring_to_valid_project/architecture_and_an_invalid_repository/1_4_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_index/with_a_failure_in_the_backend/1_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_index/with_a_failure_in_the_backend/1_1_1_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_index/without_build_results/1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/with_a_failure_in_the_backend/1_3_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/with_a_failure_in_the_backend/shows_an_error_message.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/with_a_valid_download_url/and_a_non_html_request/1_3_4_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/with_a_valid_download_url/and_a_non_html_request/1_3_4_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/with_a_valid_download_url/and_normal_html_request/1_3_4_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/without_a_valid_architecture/1_3_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/without_a_valid_architecture/1_3_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/GET_show/without_file_info/1_3_2_1.yml
Due: none

Avoid using @package.name and use @package_name instead
  src/api/app/controllers/webui/packages/binaries_controller.rb
Due: none

Add GitHub action Isolated Migrations
  .github/workflows/isolated_migrations.yml
Due: none

Set dependants in its own methods
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/views/webui/packages/binaries/dependency.html.haml
  src/api/spec/controllers/webui/packages/binaries_controller_spec.rb
Due: run-haml-linter

Send email body in error reporting to help debug issue 6872
  src/api/app/jobs/send_event_emails_job.rb
Due: none

Check existance of required check properly
  src/api/app/controllers/status/required_checks_controller.rb
Due: none

Add spec for deleting non-existent required check
  src/api/spec/controllers/status/required_checks_controller_spec.rb
Due: none

Move "expand" method to ProjectLinks concern
  src/api/app/models/concerns/project_links.rb
  src/api/app/models/project.rb
Due: none

Introduces ENV['RUNNING_MINITEST_WITH_DOCKER']
  src/api/config/environments/test.rb
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/minitest.rake
  src/api/test/test_helper.rb
Due: none

CommentLock feature tests
  src/api/spec/factories/comment_locks.rb
  src/api/spec/features/webui/comment_locks_spec.rb
Due: none

Pass directly `state` instead of passing a request
  src/api/app/components/bs_request_state_badge_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
Due: run-haml-linter

Perform notifications task as the last step
  src/api/lib/tasks/dev.rake
Due: none

Remove the WorkflowRuns with unsupported events
  src/api/db/data/20231023110428_remove_unsupported_hook_events.rb
  src/api/db/data_schema.rb
Due: run-migrations-tests

Make persistant save
  src/api/app/models/project/update_from_xml_command.rb
Due: none

Switch allow_remote_projects default
  src/api/app/models/concerns/project_links.rb
  src/api/app/models/concerns/project_maintenance.rb
  src/api/app/models/owner_search/assignee.rb
  src/api/app/models/owner_search/missing.rb
  src/api/app/models/owner_search/owned.rb
  src/api/app/models/package.rb
Due: none

Collect all linked project validations
  src/api/.database_consistency.todo.yml
  src/api/app/controllers/source_controller.rb
  src/api/app/models/linked_project.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/services/meta_controller_service/meta_validator.rb
  src/api/spec/models/linked_project_spec.rb
Due: none

Adopt LinkedProject minitest tests to new validations
  src/api/test/unit/linked_project_test.rb
  src/api/test/unit/project_test.rb
Due: none

[backend] Allow an optional suffix for Dockerfile recipes
  src/backend/bs_srcserver
  src/backend/bs_worker
Due: run-backend-tests

Make include_all_packages a boolean keyword argument
  src/api/app/controllers/source_controller.rb
  src/api/app/models/project.rb
Due: none

Simplify Package.get_by_project_and_name
  src/api/app/models/package.rb
Due: none

Spec out Project.find_package
  src/api/spec/models/project_find_package_spec.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
