Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Align behaviour of user `delete!` and `mark_as_spammer!`
  src/api/app/models/user.rb
Due: none

Drop `mark_as_spammer!` method
  src/api/app/models/user.rb
Due: none

Add possibility to add `adminnote` when deleting a user in the webui
  src/api/app/components/delete_confirmation_dialog_component.html.haml
  src/api/app/components/delete_confirmation_dialog_component.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/views/webui/users/index.html.haml
Due: run-haml-linter

Add user deletion link and model to user profile page for admins
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Revert "Add test in `token_controller_spec` for when only project param is provided"
  src/api/spec/controllers/person/token_controller_spec.rb
Due: none

Revert "Improve token creation error message"
  src/api/app/controllers/person/token_controller.rb
Due: none

Improve minimum button size of requests link in tables
  src/api/app/views/webui/shared/bs_requests/index.json.erb
Due: run-haml-linter

Add report model and associations
  src/api/app/models/comment.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/report.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20230907111316_create_reports.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Improve token creation error message
  src/api/app/controllers/person/token_controller.rb
Due: none

Add TokenController test for only one parameter
  src/api/spec/controllers/person/token_controller_spec.rb
Due: none

Add ability to report users
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Add report component to handle reports creation
  src/api/app/components/report_component.html.haml
  src/api/app/components/report_component.rb
Due: run-haml-linter

Add reports controller and policy to handle reports creation
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/policies/report_policy.rb
  src/api/app/views/webui/reports/create.js.erb
  src/api/config/initializers/flipper.rb
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter, run-javascripts-linter

Add ability to report comments
  src/api/app/views/webui/comment/_reply.html.haml
  src/api/app/views/webui/comment/_show.html.haml
Due: run-haml-linter

Add ability to report packages
  src/api/app/views/webui/package/_show_actions.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/package/show_actions/_report_package.html.haml
Due: run-haml-linter

Add ability to report projects
  src/api/app/views/webui/project/_show_actions.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/show_actions/_report_project.html.haml
Due: run-haml-linter

[backend] BSRepServer::DoD: fix url normalization
  src/backend/BSRepServer/DoD.pm
Due: run-backend-tests

Fix annotation comment in event subscriptions
  src/api/app/models/event_subscription.rb
Due: none

[backend] BSRepServer::DoD: further improve remove_dot_segments
  src/backend/BSRepServer/DoD.pm
Due: run-backend-tests

[backend] add BSBuild::diffdepth function
  src/backend/BSBuild.pm
  src/backend/t/0006-BSBuild.t
Due: run-backend-tests

[backend] BSSched: new cyclic dependency handling
  src/backend/BSSched/BuildJob/Package.pm
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

[backend] BSPublisher::Container: sort containers by architecture when pushing to a remote registry
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

Fix reportable-type for report component
  src/api/app/components/report_component.rb
Due: run-haml-linter

Simplify ReportPolicy
  src/api/app/policies/report_policy.rb
Due: none

Introduce API endpoints for reports
  src/api/app/controllers/reports_controller.rb
  src/api/app/policies/report_policy.rb
  src/api/app/views/reports/_report.xml.builder
  src/api/app/views/reports/index.xml.builder
  src/api/app/views/reports/show.xml.builder
  src/api/config/routes/api_routes.rb
  src/api/spec/requests/reports_spec.rb
Due: run-haml-linter

Add report policy specs
  src/api/spec/factories/reports.rb
  src/api/spec/policies/report_policy_spec.rb
Due: none

Add ability to report comments in beta view for bs_request
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Migration to allow null reportable values
  src/api/app/models/report.rb
  src/api/db/migrate/20230915162740_make_reports_reportables_nullable.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Make Report#reportable optional
  src/api/app/models/report.rb
Due: none

Validate length of fields of Configurations
  src/api/.database_consistency.todo.yml
  src/api/app/models/configuration.rb
Due: none

Add Code of Conduct field to configuration's APIs
  docs/api/api/configuration.rng
  src/api/app/models/configuration.rb
  src/api/public/apidocs/components/schemas/configuration.yaml
  src/backend/BSXML.pm
Due: run-backend-tests

Add Code of Conduct route and web page
  src/api/app/controllers/webui/code_of_conduct_controller.rb
  src/api/app/views/webui/code_of_conduct/_breadcrumb_items.html.haml
  src/api/app/views/webui/code_of_conduct/index.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Add link to Code of Conduct web page
  src/api/app/views/layouts/webui/_footer.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
Due: run-haml-linter

Add Code of Conduct field to Configurations
  src/api/app/models/configuration.rb
  src/api/db/migrate/20230918145812_add_code_of_conduct_to_configurations.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Add section in configuration to edit the Code of ...
  src/api/app/controllers/webui/configuration_controller.rb
  src/api/app/views/webui/configuration/index.html.haml
Due: run-haml-linter

When reporting an object, display a link to the CoC
  src/api/app/components/report_component.html.haml
Due: run-haml-linter

Add moderation columns to comments
  src/api/app/models/comment.rb
  src/api/db/migrate/20230918161340_add_moderator_id_and_moderated_at_columns_to_comments.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Add policy to moderate comments
  src/api/app/policies/comment_policy.rb
Due: none

Add an ui for moderating and unmoderating comments
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/views/webui/comment/_reply.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter, run-javascripts-linter

Add specs for policy to moderate comments
  src/api/spec/policies/comment_policy_spec.rb
Due: none
