Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Avoid surfacing errors for malformed AjajDatatables
  src/api/app/controllers/webui/package_controller.rb
Due: none

Be eager loading only on the visible subset
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Only count unread and read notifications
  src/api/app/components/notification_filter_component.rb
Due: run-haml-linter

Replace escape_code gem with ansible
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/stylesheets/webui/build-log.scss
  src/api/app/mixins/build_log_support.rb
  src/api/app/views/webui/packages/build_log/update_build_log.js.haml
  src/api/vendor/cache/ansible-0.2.2.gem
  src/api/vendor/cache/escape_code-0.2.gem
Due: run-haml-linter, run-passenger-tests

Fix tests and create a test for ansi escape characters
  src/api/spec/mixins/build_log_support_spec.rb
Due: none

[backend] put productcompose: add updateinfo.xml to the meta
  src/backend/BSSched/BuildJob/KiwiProduct.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
Due: run-backend-tests

Better action naming
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Update read|unread counting after update
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Count totals before filtering
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Get rid of the user variable
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
Due: run-haml-linter

Downgrade a view component to a simpler partial
  src/api/app/components/notification_filter_component.rb
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
Due: run-haml-linter

Move the counting to the controller to pass only paginated set to the view
  src/api/app/components/notification_filter_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
Due: run-haml-linter

Reuse already computed value
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Drop no longer used specs
  src/api/spec/components/notification_filter_component_spec.rb
  src/api/spec/components/previews/notification_filter_component_preview.rb
Due: none

Move additional queries to the controller
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
Due: run-haml-linter

Merge search_ldap and find_group_with_ldap
  src/api/app/models/concerns/has_relationships.rb
  src/api/app/models/user_ldap_strategy.rb
  src/api/spec/models/user_ldap_strategy_spec.rb
Due: none

Merge user_in_group_ldap? and is_in_group?
  src/api/app/models/user_ldap_strategy.rb
Due: none

Make try_ldap_con private
  src/api/app/models/user_ldap_strategy.rb
Due: none

Use lookup_strategy to list groups of a User directly
  src/api/app/controllers/person_controller.rb
  src/api/app/models/user.rb
  src/api/app/models/user_basic_strategy.rb
  src/api/app/models/user_ldap_strategy.rb
Due: none

Move find_with_credentials_via_ldap to UserLdapStrategy
  src/api/app/models/user.rb
  src/api/app/models/user_ldap_strategy.rb
Due: none

Make authenticate_with_local private
  src/api/app/models/user_ldap_strategy.rb
  src/api/spec/models/user_ldap_strategy_spec.rb
  src/api/test/unit/user_ldap_strategy_test.rb
Due: none

Make local_permission_check_with_ldap private
  src/api/app/models/user_ldap_strategy.rb
Due: none

Make render_grouplist_ldap private
  src/api/app/models/user_ldap_strategy.rb
Due: none

Make lookup_strategy a private instance method
  src/api/app/models/user.rb
Due: none

Stop using UserLdapStrategy directly
  src/api/app/models/project.rb
Due: none

Make dn2user_principal_name private
  src/api/app/models/user_ldap_strategy.rb
  src/api/spec/models/user_ldap_strategy_spec.rb
  src/api/test/unit/user_ldap_strategy_test.rb
Due: none

Rename conn variable
  src/api/app/models/user_ldap_strategy.rb
Due: none

Make initialize_ldap_con private
  src/api/app/models/user_ldap_strategy.rb
  src/api/spec/models/user_ldap_strategy_spec.rb
  src/api/spec/shared/examples/a_ldap_connection.rb
Due: none

Tag UserLdapStrategy logging
  src/api/app/models/user_ldap_strategy.rb
Due: none

Make local_role_check_with_ldap private
  src/api/app/models/user_ldap_strategy.rb
Due: none

Update notifications counting after updating
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Add a legacy redirect for package meta
  src/api/config/routes/webui.rb
Due: none

Ignore RSpec/AnyInstance offense for the new controller spec
  src/api/.rubocop_todo.yml
Due: none

Move meta methods from package controller to a new controller
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/meta_controller.rb
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/packages/meta/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/meta/show.html.haml
  src/api/config/routes/webui.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/packages/meta_controller_spec.rb
  src/api/spec/features/webui/packages_spec.rb
Due: run-haml-linter

Move the count of unread notifications to the controller
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/layouts/webui/_unread_notifications_counter.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
Due: run-haml-linter

Fix nodbgpkgs/nosrcpkgs parsing in buildinfo queries
  src/backend/bs_repserver
Due: run-backend-tests

Add 'kind' notifications counting
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Stop leaking user emails
  src/api/app/views/webui/users/show.html.haml
Due: run-haml-linter

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
