Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Move filtering logic to the filter class
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Force select action button to 'Read' in case of mixed selection
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: run-haml-linter

@count[<key>] is never nil
  src/api/app/components/notification_filter_component.html.haml
Due: run-haml-linter

Make use of Ruby smartness
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Prevent possible clashing key names
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
Due: run-haml-linter

Move complex logic away from view to the controller
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/index.html.haml
Due: run-haml-linter

Fix setting shared variable in a before_action
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Redundant assignment dropped
  src/api/app/controllers/concerns/webui/notifications_filter.rb
Due: none

Before action does not return anything
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Make notification state filter a radio button
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/shared/_radio_button.haml
Due: run-haml-linter

Rename toward consistency
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Compact the forward logic
  src/api/app/components/request_decision_component.html.haml
  src/api/app/models/bs_request_action_submit.rb
Due: run-haml-linter

Support color text in live build log
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/build-log.scss
  src/api/app/mixins/build_log_support.rb
  src/api/app/views/webui/packages/build_log/update_build_log.js.haml
  src/api/vendor/cache/escape_code-0.2.gem
Due: run-haml-linter, run-passenger-tests

Add the notification events for the new event type.
  src/api/app/models/event/base.rb
Due: none

Use the class name here, so the magical strings don't confuse my editor.
  src/api/app/models/event/base.rb
Due: none

Use class names here so we don't have to call constantize, and it also helps editors and refactoring tools.
  src/api/app/models/event/base.rb
Due: none

Appease the linter.
  src/api/spec/models/groups_user_spec.rb
Due: none

Revert "Use class names here so we don't have to call constantize, and it also helps editors and refactoring tools."
  src/api/app/models/event/base.rb
Due: none

Revert "Use the class name here, so the magical strings don't confuse my editor."
  src/api/app/models/event/base.rb
Due: none

Forgot to appease the linter here.
  src/api/app/models/event/base.rb
Due: none

Appease the linter on RSpec syntax.
  src/api/spec/models/groups_user_spec.rb
Due: none

Wrap only really affected lines
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

[api] add basic scmsync xpath search support
  src/api/lib/xpath_engine.rb
  src/api/test/functional/source_controller_test.rb
Due: none

Fix undefined local variable or method `project`
  src/api/app/models/concerns/has_attributes.rb
Due: none

Use the concern instead of own implementation
  src/api/app/controllers/webui/appeals_controller.rb
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
Due: none

Use @package.scmsynced? where it makes sense
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/service.rb
  src/api/app/views/webui/package/_side_links.html.haml
Due: run-haml-linter

Mark as read when button specified mark as read
  src/api/app/controllers/webui/users/notifications_controller.rb
Due: none

Correct the test for the new format
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
Due: none

Add API documentation for xcmsync xpath search
  src/api/public/apidocs/paths/search_package.yaml
  src/api/public/apidocs/paths/search_package_id.yaml
  src/api/public/apidocs/paths/search_project.yaml
  src/api/public/apidocs/paths/search_project_id.yaml
Due: none

Set button value explicitly
  src/api/app/assets/javascripts/webui/notification.js
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
Due: run-haml-linter, run-javascripts-linter

Notification filters only for unread projects and groups
  src/api/app/queries/groups_for_filter_finder.rb
  src/api/app/queries/projects_for_filter_finder.rb
Due: none

Don't count notifications for projects
  src/api/app/components/notification_filter_component.rb
  src/api/app/views/webui/shared/_check_box.haml
Due: run-haml-linter

Display projects and group in multi select
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/multi_select.js
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/views/webui/shared/_check_box.haml
Due: run-haml-linter, run-javascripts-linter

Fix ViewLength offense
  src/api/app/components/notification_filter_component.html.haml
Due: run-haml-linter

Correct the feature test picking the project in the filter
  src/api/app/components/notification_filter_component.html.haml
  src/api/spec/features/webui/users/notifications_spec.rb
Due: run-haml-linter

Add test data for build failure web notifications
  src/api/lib/tasks/dev/notifications.rake
  src/api/lib/tasks/dev/rake_support.rb
  src/api/spec/factories/event_subscriptions.rb
Due: none

Create test data for role revoked web notification
  src/api/lib/tasks/dev/notifications.rake
Due: none

Create an appeal against a favored decision in development test data
  src/api/lib/tasks/dev/reports.rake
Due: none

Don't count notifications for groups
  src/api/app/components/notification_filter_component.rb
Due: run-haml-linter

Don't count notifications for incoming/outgoing requests
  src/api/app/components/notification_filter_component.rb
Due: run-haml-linter

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
