Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Transfer scmsync while branching
  src/api/app/models/branch_package.rb
Due: none

Update automatic labeler to the new API documentation
  .github/labeler.yml
Due: none

Test for possible version mismatches of base64 (stdlib) gem
  .circleci/conditional_config.yml
  .circleci/config.yml
  src/api/Makefile
Due: none

Add workflow kind to the kind attribute documentation in tokenlist.rng
  docs/api/api/tokenlist.rng
Due: none

Split out PackageController#binaries into its own controller
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/views/webui/packages/binaries/_binaries_actions.html.haml
  src/api/app/views/webui/packages/binaries/_show_statistics_job_history_build_reason.html.haml
  src/api/app/views/webui/packages/binaries/_trigger_rebuild_wipe_binaries.html.haml
  src/api/app/views/webui/packages/binaries/index.html.haml
Due: run-haml-linter

Split out PackageController#binary into its own controller
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/views/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui/package/_deps.html.haml
  src/api/app/views/webui/package/_fileinfo.html.haml
  src/api/app/views/webui/package/binaries/_binaries_actions.html.haml
  src/api/app/views/webui/package/binary.html.haml
  src/api/app/views/webui/packages/binaries/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/binaries/show.html.haml
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Adjust path names to the new binary controller routes
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/controllers/webui/packages/build_reason_controller.rb
  src/api/app/controllers/webui/packages/main_controller.rb
  src/api/app/views/webui/cloud/upload_jobs/index.html.haml
  src/api/app/views/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui/package/_buildstatus.html.haml
  src/api/app/views/webui/packages/binaries/_binaries_actions.html.haml
  src/api/app/views/webui/packages/binaries/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/binaries/index.html.haml
  src/api/app/views/webui/packages/build_reason/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/job_history/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_build_status.html.haml
  src/api/app/views/webui/shared/_repositories_flag_table.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/Packages/triggering_package_rebuild/via_binaries_view.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/packages/build_reason_controller_spec.rb
  src/api/spec/controllers/webui/packages/job_history_controller_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/test/functional/webui/spider_test.rb
Due: run-haml-linter

Add compat routes for the binary controller migration
  src/api/config/routes/webui_routes.rb
Due: none

Move diffend io github action to ruby script
  .github/workflows/create_diffend_io_links.rb
  .github/workflows/create_diffend_io_links.yml
Due: none

Revert "[src/api] Update rubocop-rspec 2.23.1 → 2.23.2 (patch)"
  src/api/Gemfile.lock
  src/api/vendor/cache/rubocop-rspec-2.23.1.gem
  src/api/vendor/cache/rubocop-rspec-2.23.2.gem
Due: run-passenger-tests

Gett off of twitter...
  src/api/app/views/layouts/webui/_footer.html.haml
Due: run-haml-linter

Document GET /build/.../_buildenv API endpoint
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/schemas/buildenv.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_package_name_buildenv.yaml
Due: none

Document GET /build/.../_statistics API endpoint
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/schemas/buildstatistics.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_package_name_statistics.yaml
Due: none

Extract logic accessing the database from a component
  src/api/app/components/watchlist_component.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/watched_items/toggle_watched_item.js.erb
  src/api/spec/components/previews/watchlist_icon_component_preview.rb
  src/api/spec/components/watchlist_component_spec.rb
  src/api/spec/components/watchlist_icon_component_spec.rb
Due: run-haml-linter

Fetch watchlist items in WebuiController
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/request/_update.js.erb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui/watched_items/toggle_watched_item.js.erb
Due: run-haml-linter

Use scopes instead of query objects
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/app/models/user.rb
  src/api/app/queries/packages_for_watchlist_finder.rb
  src/api/app/queries/projects_for_watchlist_finder.rb
  src/api/app/queries/requests_for_watchlist_finder.rb
  src/api/app/views/person/_watchlist.xml.builder
Due: run-haml-linter

Fix typo in redirect in the webui routes
  src/api/config/routes/webui_routes.rb
Due: none

Introduces gitleaks
  .github/workflows/gitleaks.yml
  .gitleaksignore
  gitleaks.toml
Due: none

Consider multibuild flavors for package binaries webui paths
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/views/webui/packages/binaries/index.html.haml
Due: run-haml-linter

Address Lint/ShadowedException RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/lib/backend/connection.rb
  src/api/app/models/project/remote_url.rb
Due: none

Implement incident maintenance feature under beta
  src/api/.rubocop_todo.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow_when_beta_is_false_and_having_a_patchinfo_is_false.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow_when_beta_is_false_and_having_a_patchinfo_is_true.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow_when_beta_is_true_and_having_a_patchinfo_is_false.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow_when_beta_is_true_and_having_a_patchinfo_is_true.yml
  src/api/spec/factories/project.rb
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
  src/api/spec/features/webui/maintenance_workflow_spec.rb
Due: none

[api] fix branching from remote project using extended name option
  src/api/app/models/branch_package.rb
Due: none

[api] fix multibuild flavors for checkconstraints
  src/api/app/controllers/worker/command_controller.rb
Due: none

Show deleted issues in the webui
  src/api/app/mixins/parse_package_diff.rb
  src/api/spec/mixins/parse_package_diff_spec.rb
Due: none

Show state of issue in a submit request
  src/api/app/mixins/parse_package_diff.rb
  src/api/app/views/webui/request/mentioned_issues.html.haml
Due: run-haml-linter

Use a better example for a sourcediff result
  src/api/spec/mixins/parse_package_diff_spec.rb
Due: none

[backend] Normalize URLs before trying to download them.
  src/backend/BSRepServer/DoD.pm
Due: run-backend-tests

Submit multiple packages as part of beta maintenance submission
  src/api/.rubocop_todo.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow_without_patchinfo.yml
  src/api/spec/factories/project.rb
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
Due: none

Stop supporting scmsync
  src/api/app/models/concerns/scm_sync_enabled_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_5.yml
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Due: none

Identify all SCM events that create new commits
  src/api/.rubocop_todo.yml
  src/api/app/models/scm_webhook.rb
Due: none

Make .call readable
  src/api/app/models/workflow/step/link_package_step.rb
Due: none

Clarify logic around add_repositories
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Simplify create_branched_package
  src/api/app/models/workflow/step/branch_package_step.rb
Due: none

Make .call readable
  src/api/app/models/concerns/scm_sync_enabled_step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
Due: none

Drop unused method
  src/api/app/models/workflow/step.rb
Due: none

Add missing `@` to the variable containing the user
  src/api/app/controllers/webui/groups/users_controller.rb
Due: none

Address rubocop offense Layout/SpaceInsideHashLiteralBraces
  src/api/app/controllers/worker/command_controller.rb
Due: none

[api] fix for token remained active when user was not in confirmed state.
  src/api/app/policies/token_policy.rb
Due: none

Implement incident maintenance feature under beta
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/factories/project.rb
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
