Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Add a maintenance request with patchinfo spec
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
Due: none

Correct the name of the patchinfo package
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
Due: none

Add chartkick library with initial implementation
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/vendor/cache/chartkick-5.0.4.gem
Due: run-haml-linter, run-passenger-tests, run-javascripts-linter

Remove no longer needed cassette file
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow.yml
Due: none

Y-axis increase by integer step
  src/api/app/components/chart_component.html.haml
Due: run-haml-linter

Move chart implementation to a view component
  src/api/app/components/chart_component.html.haml
  src/api/app/components/chart_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_broken_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_diff_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/submit_several_packages_at_once_against_a_factory_staging_project/shows_the_beta_version_of_the_requests_page.yml
  src/api/spec/components/chart_component_spec.rb
  src/api/spec/components/previews/chart_component_preview.rb
Due: run-haml-linter

Consider staging project
  src/api/app/components/chart_component.rb
Due: run-haml-linter

Consider multipackages build as well
  src/api/app/components/chart_component.rb
Due: run-haml-linter

Do not show chart if data are not many
  src/api/app/components/chart_component.html.haml
  src/api/app/components/chart_component.rb
Due: run-haml-linter

Test Maintenance Release requests
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
Due: none

Bugfix: skip if project not found
  src/api/app/components/chart_component.rb
Due: run-haml-linter

Adjust threshold to render the chart or the simple UI
  src/api/app/components/chart_component.html.haml
Due: run-haml-linter

Fix wrapping and alignment of elements of the same block
  src/api/app/components/chart_component.html.haml
Due: run-haml-linter

Align elements properly so as not to take the entire height
  src/api/app/components/chart_component.html.haml
Due: run-haml-linter

Avoid sending empty partition metric
  src/api/app/jobs/worker_measurements_job.rb
Due: none

Use `destroy_all` over `delete_all` in `mark_as_spammer` method
  src/api/app/models/user.rb
Due: none

[api] request action diffing
  src/api/app/models/bs_request_action/differ/query_builder.rb
Due: none

[backend] BSRekor: support new "dsse" data type
  src/backend/BSRekor.pm
Due: run-backend-tests

[backend] split cycle handling code into its own function
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

[backend] ProjPacks: also use view=storable in update_project_meta
  src/backend/BSSched/ProjPacks.pm
Due: run-backend-tests

[backend] bs_worker: check queryhdrmd5 result
  src/backend/bs_worker
Due: run-backend-tests

[backend] BSRekor: really upload entry
  src/backend/BSRekor.pm
Due: run-backend-tests

[backend] fix BSSSL::WRITE not returning undef on error
  src/backend/BSHTTP.pm
  src/backend/BSSSL.pm
Due: run-backend-tests

Replace RSpec/FilePath cop
  src/api/.rubocop.yml
  src/api/spec/controllers/concerns/rescue_authorization_handler_spec.rb
Due: none

Correct Rubocop RSpec/Eq offense
  src/api/spec/components/chart_component_spec.rb
Due: none

Exclude file for RSpec/SpecFilePathFormat
  src/api/.rubocop.yml
Due: none

[backend] cross build: fix target build dependencies always being installed native
  src/backend/BSSched/BuildJob/Package.pm
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

Adapt button text in admin configuration feature spec
  src/api/spec/features/webui/users/admin_configuration_spec.rb
Due: none

Use `DeleteConfirmationDialogComponent` in users index view
  src/api/app/views/webui/users/_delete_dialog.html.haml
  src/api/app/views/webui/users/index.html.haml
Due: run-haml-linter

Correct Rubocop Rails/RedundantActiveRecordAllMethod
  src/api/app/controllers/webui/distributions_controller.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/models/issue_tracker.rb
  src/api/db/data/20170831143534_convert_notifications_event_payload_to_json.rb
  src/api/db/data/20190228170655_migrate_comment_payload.rb
  src/api/db/data/20190307145633_migrate_rss_notification_payload.rb
  src/api/spec/db/data/remove_obsolete_notifications_spec.rb
  src/api/spec/factories/bs_requests.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/unit/package_test.rb
  src/api/test/unit/product_test.rb
Due: run-migrations-tests

Exclude a Rails/RedundantActiveRecordAllMethod
  src/api/.rubocop.yml
Due: none

Correct Rubocop Rails/FindEach cop
  src/api/app/controllers/configurations_controller.rb
  src/api/db/seeds.rb
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/lib/tasks/delayed_job.rake
  src/api/script/start_test_backend
  src/api/spec/db/data/migrate_comment_payload_spec.rb
  src/api/test/unit/bs_request_test.rb
Due: run-migrations-tests

Update Robocop TODO
  src/api/.rubocop_todo.yml
Due: none

Improve token creation error message
  src/api/app/controllers/person/token_controller.rb
Due: none

Add test in `token_controller_spec` for when only project param is provided
  src/api/spec/controllers/person/token_controller_spec.rb
Due: none

Fix comments textarea resize by JS
  src/api/app/assets/javascripts/webui/comment.js
Due: run-javascripts-linter

[backend] handle empty debian repo case
  src/backend/bs_publish
Due: run-backend-tests

[backend] bs_publish: create an empty Packages file for empty Debian repos
  src/backend/bs_publish
Due: run-backend-tests

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
