Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Simplify Project.find_package
  src/api/app/models/linked_project.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
Due: none

Drop check_update_project option from Project.find_package
  src/api/app/models/branch_package/check_for_update.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/spec/models/project_find_package_spec.rb
Due: none

Ignore errors early, to avoid creating extra WorkflowRuns
  src/api/app/controllers/concerns/rescue_handler.rb
  src/api/app/controllers/concerns/scm_webhook_headers_data_extractor.rb
  src/api/app/controllers/trigger/errors.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Due: none

Make the token naming consistent
  src/api/app/views/person/token/index.xml.builder
Due: run-haml-linter

Spec out Project.find_package
  src/api/spec/models/project_find_package_spec.rb
Due: none

Rename update_instance to update_instance_or_self
  src/api/app/models/branch_package/check_for_update.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/concerns/package_medium_container.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
Due: none

[backend] bs_notifyforward: remove unwanted verbose option
  src/backend/bs_notifyforward
Due: run-backend-tests

[backend] BSRPC: fix typo in keepalive probing code
  src/backend/BSRPC.pm
Due: run-backend-tests

[backend] bs_srcserver: make redis notification keepalive opt-in
  src/backend/bs_srcserver
Due: run-backend-tests

Unify description text for decision events
  src/api/app/components/notification_action_description_component.rb
  src/api/app/models/decision.rb
Due: run-haml-linter

Update src/api/app/views/person/token/index.xml.builder
  src/api/app/views/person/token/index.xml.builder
Due: run-haml-linter

Reduce number of lines of a method
  src/api/app/components/notification_action_description_component.rb
Due: run-haml-linter

Use speaking variable names
  src/api/app/models/package.rb
Due: none

Make use of `update_as_failed` method to update ...
  src/api/app/models/workflow_run.rb
Due: none

Create WorkflowRunFail event
  src/api/app/models/event/base.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/models/workflow_run.rb
  src/api/spec/models/workflow_run_spec.rb
Due: none

Add new event to subscriptions page
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_channel_form.rb
Due: none

Introduce notifications for WorkflowRunFail event
  src/api/.rubocop_todo.yml
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/components/workflow_run_status_badge_component.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/models/workflow_run.rb
  src/api/app/queries/outdated_notifications_finder/workflow_run.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/app/services/notified_projects.rb
Due: run-haml-linter

Use WorkflowRun#formatted_event_source_name
  src/api/app/components/workflow_run_row_component.rb
Due: run-haml-linter

Add notification filter for WorkflowRunFail
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/queries/notifications_finder.rb
Due: run-haml-linter

Adapt task to subscribe users to WorkflowRunFail
  src/api/lib/tasks/dev/workflows.rake
Due: none

Enforce the presence of a package name in trigger#create
  src/api/app/controllers/trigger/errors.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/spec/controllers/trigger_controller_spec.rb
Due: none

[dist] fix can't not get full hostname in functions such as abc.site.com
  dist/functions.setup-appliance.sh
Due: run-dist-linter

Add spec for token_executor receiver role
  src/api/spec/models/event/workflow_run_fail_spec.rb
Due: none

Collect set flag step artifacts
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/services/workflows/artifacts_collector.rb
Due: run-haml-linter

Add specs for set_flag step artifacts collection
  src/api/lib/tasks/dev/workflows.rake
  src/api/spec/factories/workflow_artifacts_per_step.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
Due: none

Read repository_name also when bulding the binary path
  src/api/app/controllers/webui/packages/main_controller.rb
Due: none

Drop bogus code blocking access to build log
  src/api/app/controllers/webui/packages/build_log_controller.rb
Due: none

Fix permission checks and crashes for any situation where the
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_basic_info.html.haml
  src/api/app/views/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui/package/_side_links.html.haml
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/package/show.html.haml
Due: run-haml-linter

Prevent duplication of assignreview example name
  src/api/public/apidocs/paths/request_id.yaml
Due: none

[api] add missing revert parameter to assignreview command in docu
  docs/api/api/api.txt
  src/api/public/apidocs/paths/request_id.yaml
Due: none

Enable email subscriptions for failed workflow runs
  src/api/app/models/event_subscription/for_channel_form.rb
Due: none

Add specs for emails about WorkflowRunFail
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: none

Send email notifications for failed workflow runs
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/models/workflow_run.rb
  src/api/app/views/event_mailer/workflow_run_fail.html.haml
  src/api/app/views/event_mailer/workflow_run_fail.text.erb
Due: run-haml-linter

Catch OpenSSL::SSL::SSLError exceptions when ...
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/scm_exception_handler.rb
Due: none

Write to backend for set_flag step
  src/api/app/models/workflow/step/set_flags.rb
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
Due: none

[backend] BSRPC: support a default authenticator
  src/backend/BSRPC.pm
Due: run-backend-tests

[backend] add support for http signature authentication
  src/backend/BSSigAuth.pm
Due: run-backend-tests

Exclude dev rake tasks from code coverage
  codecov.yml
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
