Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

Update
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/jobs/check_upgrade_job.rb
Due: none

Update
  src/api/app/datatables/package_datatable.rb
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/models/package.rb
Due: none

Update
  src/api/app/models/package.rb
  src/api/app/views/webui/package/_show_actions.html.haml
Due: run-haml-linter

Add "check upgrade" backend API
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/backend/bs_srcserver
Due: run-backend-tests

Verify call to check_upgrade script
  src/api/app/jobs/check_upgrade_job.rb
  src/backend/bs_srcserver
Due: run-backend-tests

Update
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/models/package.rb
  src/backend/bs_srcserver
Due: run-backend-tests

Update
  src/backend/bs_srcserver
Due: run-backend-tests

Various test
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/backend/bs_srcserver
Due: run-backend-tests

CI: Add new gem cache scheme for ruby dependencies
  .circleci/conditional_config.yml
Due: none

Add `name` field to table `Tokens`
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/rss.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
  src/api/db/data/20211027143134_backfill_name_from_tokens.rb
  src/api/db/data_schema.rb
  src/api/db/migrate/20211027141958_add_name_to_tokens.rb
  src/api/db/schema.rb
Due: run-migrations-tests

CI: Fan-out minispec, rspec and feature after linters ran
  .circleci/conditional_config.yml
Due: none

Test new `name` field in token controller specs
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
Due: none

Allow users to name their tokens - Web-UI
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/views/webui/users/tokens/_update.js.erb
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
Due: run-haml-linter

Allow users to name their tokens - API
  docs/api/api/tokenlist.rng
  docs/api/api/tokenlist.xml
  src/api/app/controllers/person/token_controller.rb
  src/api/app/views/person/token/index.xml.builder
  src/api/public/apidocs-new/components/schemas/person_tokens.yaml
  src/api/public/apidocs-new/paths/person_login_token.yaml
Due: run-haml-linter, run-apidocs-linter

Use github authenticated address when pulling dependencies
  .gitmodules
Due: none

Add last_triggered column to tokens table
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/rss.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
  src/api/db/migrate/20211102144122_add_triggered_at_to_tokens.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Set triggered_at on token call
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
Due: none

Add triggered_at field to token index api endpoint and docs
  docs/api/api/tokenlist.rng
  docs/api/api/tokenlist.xml
  src/api/app/views/person/token/index.xml.builder
  src/api/public/apidocs-new/components/schemas/person_tokens.yaml
  src/api/public/apidocs-new/paths/person_login_token.yaml
Due: run-haml-linter, run-apidocs-linter

Add specs for setting triggered_at column on token trigger
  src/api/spec/cassettes/Token_Release/_call/when_a_manual_release_target_is_set/records_the_current_date_and_time_in_the_triggered_at_column.yml
  src/api/spec/models/token/rebuild_spec.rb
  src/api/spec/models/token/release_spec.rb
  src/api/spec/models/token/service_spec.rb
  src/api/spec/models/token/workflow_spec.rb
Due: none

Add apidocs linter to the development rake tasks
  src/api/lib/tasks/dev.rake
Due: none

Add project and package name validations for workflow steps
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
Due: none

Add specs for project and package name validations for workflow steps
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/models/workflow/step/rebuild_package_step_spec.rb
  src/api/spec/validators/workflow_steps_validator_spec.rb
Due: none

[backend] support nodbgpkgs/nosrcpkgs for osc builds
  src/backend/bs_repserver
Due: run-backend-tests

Update
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/datatables/package_datatable.rb
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/views/webui/package/_show_actions.html.haml
  src/api/app/views/webui/package/show_actions/_check_upgrade.html.haml
  src/api/app/views/webui/package/show_actions/_trigger_check_upgrade.html.haml
  src/api/app/views/webui/requests/checkupgrade/_breadcrumb_items.html.haml
  src/api/app/views/webui/requests/checkupgrade/new.html.haml
  src/api/config/routes/webui_routes.rb
  src/backend/bs_srcserver
Due: run-backend-tests, run-haml-linter

Run validations upfront, then report any error back to the SCM
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/token/errors.rb
  src/api/app/models/token/workflow.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/models/token/workflow_spec.rb
Due: none

Update
  src/api/app/models/package_checkupgrade.rb
Due: none

Don't check for flash message
  dist/t/spec/features/0030_project_spec.rb
Due: run-root-rubocop

Don't try to fill disabled `linked_package` input
  dist/t/spec/features/0040_package_spec.rb
Due: run-root-rubocop

[backend] allow ^ in verify_simple
  src/backend/BSVerify.pm
Due: run-backend-tests

[backend] also verify the epoch in nevra queries
  src/backend/BSVerify.pm
Due: run-backend-tests

Add a delay to wait for the AJAX call
  dist/t/spec/features/0030_project_spec.rb
Due: run-root-rubocop

Update
  src/api/app/models/package_checkupgrade.rb
  src/api/db/migrate/20211104110532_create_package_checkupgrade_table.rb
  src/api/db/migrate/20211104130533_add_foreign_key_to_packages_table.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Refactor out table of token index UI
  src/api/app/components/token_card_component.html.haml
  src/api/app/components/token_card_component.rb
  src/api/app/views/webui/users/tokens/index.html.haml
Due: run-haml-linter

Automatically label PRs changing smoke tests
  .github/labeler.yml
Due: none

Add specs for token card component
  src/api/spec/components/token_card_component_spec.rb
Due: none

[backend] bs_signer: make some signing errors fatal
  src/backend/bs_signer
Due: run-backend-tests

Increase maximum number of seconds from 2 to 6 ...
  dist/t/spec/features/0020_interconnect_spec.rb
  dist/t/spec/features/0040_package_spec.rb
  dist/t/spec/support/capybara.rb
Due: run-root-rubocop

Path conditions:
  run-root-rubocop: any of: (dist|contrib)/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
