Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Fix "seperate" typos
  docs/api/api/obs.rng
  src/api/app/controllers/request_controller.rb
  src/api/app/models/bs_request_action/differ/query_builder.rb
  src/api/spec/models/project_spec.rb
  src/api/test/functional/maintenance_test.rb
  src/backend/BSConfig.pm.template
  src/backend/bs_productconvert
Due: run-backend-tests

Document `group` and `reviewstates` missing parameters ...
  src/api/public/apidocs/components/parameters/request.yaml
  src/api/public/apidocs/paths/request_view_collection.yaml
Due: none

Improve the UX for the reports notifications
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/components/reports_modal_component.html.haml
Due: run-haml-linter

[backend] Fix typo in createrepo_rpmmd_hook.pm example
  src/backend/examples/createrepo_rpmmd_hook.pm
Due: run-backend-tests

Manually address Lint/DuplicateBranch RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/source_project_controller.rb
  src/api/app/mixins/parse_package_diff.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/service/name_validator.rb
Due: none

Turn of task counting
  src/api/app/views/layouts/webui/_places.html.haml
Due: run-haml-linter

Drop BsRequest.in_states
  src/api/app/jobs/project_create_auto_cleanup_requests_job.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/find_for/query.rb
  src/api/app/models/project.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/user.rb
  src/api/db/data/20200326221616_regenerate_notifications.rb
Due: run-migrations-tests

Simplify all_states argument
  src/api/app/models/user.rb
  src/api/app/queries/notifications_finder.rb
  src/api/spec/models/user_requests_spec.rb
Due: none

Adapt specs to new introduced names for received roles
  src/api/spec/db/data/generate_web_notifications_spec.rb
  src/api/spec/features/webui/subscriptions_spec.rb
  src/api/spec/models/event/base_spec.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
  src/api/spec/models/event_subscription/for_event_form_spec.rb
Due: none

Introduce new names of project receiver roles
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/request.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_event_form.rb
Due: none

Rename receiver roles in event_subscriptions table
  src/api/db/data/20240507120255_rename_project_receiver_roles_in_event_subscriptions.rb
  src/api/db/data_schema.rb
Due: run-migrations-tests

Handle `notification_id` query param gracefully for request show
  src/api/app/controllers/webui/request_controller.rb
Due: none

Handle `notification_id` query param gracefully for report show
  src/api/app/controllers/webui/reports_controller.rb
Due: none

Handle `notification_id` query param gracefully for user show
  src/api/app/controllers/webui/users_controller.rb
Due: none

Handle `notification_id` query param gracefully for package show
  src/api/app/controllers/webui/package_controller.rb
Due: none

Handle `notification_id` query param gracefully for project show
  src/api/app/controllers/webui/project_controller.rb
Due: none

Simplify involved_projects/involved_packages query
  src/api/app/models/user.rb
Due: none

Simplify incoming_requests/requests queries
  src/api/app/models/user.rb
Due: none

Drop obsolete watcher receiver roles
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/request.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_event_form.rb
Due: none

Make `package` filter independent of other ...
  src/api/.rubocop_todo.yml
  src/api/app/controllers/request_controller.rb
  src/api/app/models/bs_request/find_for/project.rb
  src/api/app/models/bs_request/find_for/query.rb
Due: none

Prune obsolete ignored warnings
  src/api/config/brakeman.ignore
Due: none

Fix typo
  src/api/app/controllers/request_controller.rb
Due: none

Fix RuboCop TODO file
  src/api/.rubocop_todo.yml
Due: none

Drop `find_for` BsRequest scope
  src/api/app/controllers/request_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/data_table/find_for_package_query.rb
  src/api/app/models/bs_request/data_table/find_for_project_query.rb
  src/api/app/models/group.rb
Due: none

Refactor `handle_notification` method into a concern
  src/api/app/controllers/concerns/webui/notifications_handler.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/users_controller.rb
Due: none

[backend] Implement sigkill handler to clean up requests that have been killed
  src/backend/BSRunner.pm
  src/backend/BSStdRunner.pm
Due: run-backend-tests

Drop useless NotificationPolicy::Scope
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/policies/notification_policy.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/policies/notification_policy_spec.rb
Due: none

Require login for /my/patchinfos via standard means
  src/api/app/controllers/webui/users/patchinfos_controller.rb
  src/api/spec/controllers/webui/users/patchinfos_controller_spec.rb
  src/api/spec/policies/users/patchinfos_policy_spec.rb
Due: none

Require login for /my/tasks via standard means
  src/api/app/controllers/webui/users/tasks_controller.rb
  src/api/app/policies/users/task_policy.rb
  src/api/spec/controllers/webui/users/tasks_controller_spec.rb
  src/api/spec/policies/users/task_policy_spec.rb
Due: none

[backend] BSNotify: save memory when sending the payload
  src/backend/BSNotify.pm
Due: run-backend-tests

[backend] bs_publish: log the payload size when sending notifiactions
  src/backend/bs_publish
Due: run-backend-tests

Remove unused cache key section
  src/api/app/helpers/webui/user_helper.rb
Due: none

Fix N+1 queries fetching all projects
  src/api/app/datatables/project_datatable.rb
  src/api/app/models/project.rb
Due: none

Typo
  src/api/app/components/notification_action_description_component.rb
Due: run-haml-linter

Unify explanation events text
  src/api/app/models/event/base.rb
Due: none

Unify subject events text
  src/api/app/models/event/request_reviews_done.rb
  src/api/app/models/event/review_changed.rb
Due: none

Improve spacing between comments links and the report
  src/api/app/components/reports_modal_component.html.haml
Due: run-haml-linter

Remove watched_projects table
  src/api/.rubocop.yml
  src/api/db/migrate/20240513154336_remove_watched_projects.rb
  src/api/db/schema.rb
Due: run-migrations-tests

[backend] BSNotify: do not use chunked encoding for the payload
  src/backend/BSNotify.pm
Due: run-backend-tests

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
