Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

[backend] BSServerEvents: remove superfluous newline in request_note
  src/backend/BSServerEvents.pm
Due: run-backend-tests

Implement report categories
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/models/report.rb
  src/api/app/views/webui/shared/_report_modal.html.haml
  src/api/db/migrate/20231005074105_add_category_to_report.rb
  src/api/db/schema.rb
Due: run-haml-linter, run-migrations-tests, run-javascripts-linter

[backend] improve keepalive implementation in BSRPC
  src/backend/BSRPC.pm
Due: run-backend-tests

[backend] use standard keepalive mechanism in bs_notifyforward
  src/backend/bs_notifyforward
  src/backend/bs_srcserver
Due: run-backend-tests

[backend] implement keepalive connections in BSServer
  src/backend/BSServer.pm
Due: run-backend-tests

[backend] support keepalive state in the server status
  src/backend/BSServer.pm
  src/backend/bs_serverstatus
Due: run-backend-tests

Fix documentation of tokens' list API endpoint
  docs/api/api/tokenlist.rng
  docs/api/api/tokenlist.xml
  src/api/public/apidocs/components/schemas/person_tokens.yaml
  src/api/public/apidocs/paths/person_login_token.yaml
Due: none

Make NotifiedProjects always return an array
  src/api/app/services/notified_projects.rb
Due: none

Improve error message for request not found
  src/api/app/controllers/comments_controller.rb
  src/api/public/apidocs/paths/comments_request_id.yaml
Due: none

Improve error message for token not found
  src/api/app/controllers/person/token_controller.rb
  src/api/public/apidocs/paths/person_login_token_id.yaml
Due: none

Only require reason when other category is selected
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/views/webui/shared/_report_modal.html.haml
Due: run-haml-linter, run-javascripts-linter

Replace bg-white with contextual bg classes
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/card-component.scss
  src/api/app/assets/stylesheets/webui/modals.scss
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/sign_up_component.html.haml
  src/api/app/views/layouts/webui/_login_form.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
  src/api/app/views/webui/shared/_buildresult_box.html.haml
Due: run-haml-linter

[backend] BSSSL: fix EOF handling in data_available
  src/backend/BSSSL.pm
Due: run-backend-tests

Notify only projects not already notified
  src/api/db/data/20200421121610_backfill_notified_projects.rb
Due: run-migrations-tests

Allow maintainers to view reports on their packages, projects and requests
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/policies/comment_policy.rb
  src/api/app/policies/report_policy.rb
Due: run-haml-linter

Unify link creation in reportables helper
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/views/event_mailer/create_report.html.haml
Due: run-haml-linter

[backend] improve keepalive implementation
  src/backend/BSRPC.pm
  src/backend/BSServer.pm
  src/backend/bs_srcserver
Due: run-backend-tests

Only run the data migration if the name column exist
  src/api/db/data/20211027143134_backfill_name_from_tokens.rb
Due: run-migrations-tests

Fix timeline header spacing
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Fix no border request description header
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Spec out Package.get_by_project_and_name
  src/api/spec/factories/linked_project.rb
  src/api/spec/factories/project.rb
  src/api/spec/models/package_get_by_project_and_name_spec.rb
  src/api/spec/models/user_has_local_permission_spec.rb
Due: none

Document Package.get_by_project_and_name
  src/api/app/models/package.rb
Due: none

Create a default subscription for Decision-related events
  src/api/db/data/20231004134538_create_a_default_subscription_for_decision_related_events.rb
  src/api/db/data_schema.rb
Due: run-migrations-tests

Move to CSS variables
  src/api/app/assets/stylesheets/webui/cm2/bootstrap.scss
  src/api/app/assets/stylesheets/webui/coderay.scss
  src/api/app/assets/stylesheets/webui/diff.scss
  src/api/app/assets/stylesheets/webui/tabs.scss
Due: none

Prevent issues for missing categories
  src/api/app/models/report.rb
Due: none

Fix content-type header returned by worker status ...
  src/api/app/controllers/worker/status_controller.rb
Due: none

Clarify fields used in linked_project factory
  src/api/spec/factories/linked_project.rb
Due: none

[backend] limit file name size of deltas when publishing
  src/backend/BSSched/PublishRepo.pm
Due: run-backend-tests

Remove unreachable code in build/file controller
  src/api/app/controllers/build/file_controller.rb
Due: none

WIP: Split up event classes for report creation
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/create_report.rb
  src/api/app/models/event/report.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/models/event_subscription/form.rb
  src/api/app/models/report.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/lib/tasks/dev/rake_support.rb
  src/api/lib/tasks/dev/reports.rake
  src/api/spec/factories/event_subscriptions.rb
Due: run-haml-linter

WIP: Adapt notifications to use split up report events
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/report.rb
Due: run-haml-linter

WIP: Unify reportable link creation methods for web and mail notification
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/reportables_helper.rb
Due: run-haml-linter

Add paper_trail gem and db migrations
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/db/migrate/20231011091839_create_versions.rb
  src/api/db/migrate/20231011091840_add_object_changes_to_versions.rb
  src/api/db/schema.rb
  src/api/vendor/cache/paper_trail-15.0.0.gem
Due: run-migrations-tests, run-passenger-tests

Introduces remote package support for Package.get_by_project_and_name
  src/api/app/models/package.rb
  src/api/app/models/user.rb
  src/api/spec/models/package_get_by_project_and_name_spec.rb
Due: none

Setup project links in development data
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/project_links.rake
  src/api/spec/factories/packages.rb
Due: none

Adopt Triggerable concern
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/triggerable.rb
  src/api/spec/controllers/concerns/triggerable_spec.rb
Due: none

Throw error if we can't require @package
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Database migrations for comments lock feature
  src/api/db/migrate/20231011135554_create_comment_locks.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Drops Package.get_by_project_and_name!
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/package.rb
Due: none

Implement comment locking for commentables
  src/api/.database_consistency.todo.yml
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/comment.rb
  src/api/app/models/comment_lock.rb
  src/api/app/models/comment_locking_validator.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
Due: none
