Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Checkpoint
  src/api/app/assets/javascripts/webui/diff-comments.js
  src/api/app/components/diff_component.html.haml
  src/api/app/views/webui/request/inline_comment.js.erb
Due: run-haml-linter, run-javascripts-linter

Checkpoint
  src/api/app/components/diff_component.html.haml
  src/api/app/views/webui/request/_inline_comment.html.haml
  src/api/app/views/webui/request/inline_comment.js.erb
Due: run-haml-linter

Add action to render a diff
  src/api/app/controllers/webui/request_controller.rb
Due: none

Testing yet
  src/api/app/assets/javascripts/webui/diff-comments.js
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/components/diff_component.html.haml
  src/api/app/components/diff_component.rb
  src/api/app/components/diff_list_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/comment/_render_diff.js.erb
  src/api/app/views/webui/comment/create.js.erb
  src/api/app/views/webui/request/_inline_comment.html.haml
  src/api/app/views/webui/request/inline_comment.js.erb
Due: run-haml-linter, run-javascripts-linter

Autocorrect RSpec/MatchArray RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/source_attribute_controller_spec.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/controllers/webui/feeds_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/projects/rebuild_times_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
  src/api/spec/controllers/webui/staging/workflows_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/jobs/send_event_emails_job_spec.rb
  src/api/spec/models/attrib_spec.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/spec/models/bs_request_action/differ/source_package_finder_spec.rb
  src/api/spec/models/full_text_search_spec.rb
  src/api/spec/models/kiwi/image_spec.rb
  src/api/spec/models/package_spec.rb
  src/api/spec/models/review_spec.rb
  src/api/spec/models/status_message_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
  src/api/spec/services/notification_service/notifier_spec.rb
Due: none

Render diff component on creating a new comment
  src/api/app/assets/javascripts/webui/diff-comments.js
  src/api/app/components/diff_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/comment/_render_diff.js.erb
  src/api/app/views/webui/comment/create.js.erb
Due: run-haml-linter, run-javascripts-linter

obs_server: fix usage info
  src/backend/bs_serverstatus
Due: run-backend-tests

Autocorrect RSpec/ExampleWording RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/attribute_controller_spec.rb
  src/api/spec/controllers/status/required_checks_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/lib/tasks/rollout_spec.rb
  src/api/spec/models/backend_info_spec.rb
  src/api/spec/models/kiwi/image_spec.rb
  src/api/spec/models/user_spec.rb
Due: none

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Due: none

Fix delete comments
  src/api/app/assets/javascripts/webui/delete_confirmation_dialog.js
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/delete_confirmation_dialog_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/views/webui/comment/_render_diff.js.erb
  src/api/app/views/webui/comment/create.js.erb
Due: run-haml-linter, run-javascripts-linter

Organize the simplified chart_build_result_summary UI
  src/api/app/components/chart_component.html.haml
  src/api/app/components/chart_component.rb
Due: run-haml-linter

Capitalize title text
  src/api/app/components/chart_component.html.haml
Due: run-haml-linter

Add beta feature for Dark Theme
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/config/initializers/flipper.rb
Due: run-haml-linter

Fix backgrounds that worked for the light theme
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/webui/package/_buildstatus.html.haml
  src/api/app/views/webui/project/_buildstatus.html.haml
  src/api/app/views/webui/shared/_editor.html.haml
  src/api/app/views/webui/shared/_repositories_flag_table.html.haml
  src/api/app/views/webui/subscriptions/_subscriptions_form.html.haml
  src/api/vendor/assets/stylesheets/tokenfield.scss
Due: run-haml-linter

Don't encode rpmlint log output
  src/api/app/controllers/webui/package_controller.rb
Due: none

rake docker:build task uses docker compose subcommand
  CONTRIBUTING.md
  README.md
  Rakefile
  src/api/lib/tasks/dev/minitest.rake
Due: none

Allow replying to a comment on a BsRequestAction through the API
  src/api/app/controllers/comments_controller.rb
  src/api/spec/controllers/comments_controller_spec.rb
Due: none

[dist] disable obsapidelayed in %preun on update
  dist/functions.setup-appliance.sh
  dist/obs-server.spec
Due: run-dist-linter

[dist] fixed get_hostname in setup-appliance.sh
  dist/functions.setup-appliance.sh
Due: run-dist-linter

more cleanup for obsapidelayed
  dist/obs-server.spec
Due: run-dist-linter

[dist] skip checking "systemctl is-active" in chroot
  dist/obs-server.spec
Due: run-dist-linter

[dist] 'set -x' for debugging
  dist/obs-server.spec
Due: run-dist-linter

[dist] more debugging in spec
  dist/obs-server.spec
Due: run-dist-linter

Fix InstanceVariables HAML linter in rpmlint_log
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_rpmlint_log.html.haml
Due: run-haml-linter

[api] fix project update policy
  src/api/app/datatables/maintained_project_datatable.rb
  src/api/app/policies/project_policy.rb
  src/api/app/policies/staging/staged_request_policy.rb
  src/api/app/services/staging/staging_project_validator.rb
Due: none

Fix rpmlint output rendering
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/views/webui/package/_rpmlint_log.html.haml
Due: run-haml-linter

Increase code coverage for PatchinfoComponent
  src/api/spec/components/patchinfo_component_spec.rb
Due: none

Autocorrect Style/ArgumentsForwarding RuboCop...
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/app/models/configuration.rb
Due: none

Extract rpmlint log from build _log files
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/services/rpmlint_log_extractor.rb
Due: none

Add specs for RpmlintLogExtractor service
  src/api/spec/fixtures/files/rpmlint_log_extractor_expected
  src/api/spec/fixtures/files/rpmlint_log_extractor_log
  src/api/spec/services/rpmlint_log_extractor_spec.rb
Due: none

Fix dev:staging:data rake task
  src/api/lib/tasks/dev/staging.rake
Due: none

Fetch the review from the Review model, not HistoryElement::Review
  src/api/app/models/history_element/review.rb
Due: none

Add Color Theme column to users
  src/api/db/migrate/20240111231639_add_theme_to_user.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Fix delete operation on timeline new comment and in changes tab
  src/api/app/assets/javascripts/webui/delete_confirmation_dialog.js
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/delete_confirmation_dialog_component.html.haml
  src/api/app/views/webui/comment/_render_timeline.js.erb
Due: run-haml-linter, run-javascripts-linter

Handle CRUD operations for diff comments in comments timeline using js template
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/views/webui/comment/_render_timeline.js.erb
  src/api/app/views/webui/comment/beta/_comments_thread.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Adjust specs according to js requests in comments controller
  src/api/spec/controllers/webui/comments_controller_spec.rb
Due: none

Fix create operation for comments on changes tab
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/components/diff_component.html.haml
  src/api/app/components/diff_component.rb
  src/api/app/components/diff_list_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/comment/_comment_list.html.haml
  src/api/app/views/webui/comment/_new.html.haml
  src/api/app/views/webui/comment/_render_timeline.js.erb
  src/api/app/views/webui/request/_add_inline_comment.html.haml
  src/api/app/views/webui/request/_inline_comment.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/inline_comment.js.erb
Due: run-haml-linter, run-javascripts-linter

Introduce rpmlint log parser
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/services/rpmlint_log_parser.rb
  src/api/spec/fixtures/files/rpmlint.log
  src/api/spec/services/rpmlint_log_parser_spec.rb
Due: none

Render a chart with the summary of the RPM lint issues
  src/api/app/components/rpm_lint_component.html.haml
  src/api/app/components/rpm_lint_component.rb
  src/api/app/views/webui/package/_rpmlint_log.html.haml
Due: run-haml-linter
