Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Create a RemovedUserFromGroup event when a user is removed from a group.
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/group.rb
Due: none

Define originator
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/removed_user_from_group.rb
Due: none

Store in payload who added the user to the group
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/group.rb
  src/api/app/models/groups_user.rb
Due: none

Add OutdatedNotificationsFinder::Group
  src/api/app/queries/outdated_notifications_finder/group.rb
  src/api/app/services/notification_service/web_channel.rb
Due: none

Discard new kinds of notifications from RSS
  src/api/app/services/notification_service/notifier.rb
Due: none

Handle notifiable type Group NotifiedProject
  src/api/app/services/notified_projects.rb
Due: none

Define parameters_for_notification on new events
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/services/notification_service/notifier.rb
Due: none

Use a group icon for the new events
  src/api/app/components/notification_component.rb
Due: run-haml-linter

Handle Group in NotificationAvatarsComponent
  src/api/app/components/notification_avatars_component.rb
Due: run-haml-linter

Add notification link and avatar for group add/remove
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Add back rubocop-* rubygems
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/rubocop-capybara-2.21.0.gem
  src/api/vendor/cache/rubocop-factory_bot-2.26.1.gem
  src/api/vendor/cache/rubocop-rspec_rails-2.30.0.gem
Due: run-passenger-tests

Update RuboCop configuration files for src/api/
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
Due: none

Update RuboCop configuration files for root subdirectory
  .rubocop.yml
  .rubocop_todo.yml
Due: none

Move the notification explanation into the class itself.
  src/api/app/models/event/appeal_created.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/views/webui/subscriptions/_subscriptions_form.html.haml
Due: run-haml-linter

Fix typo: RequesStagechange -> RequestStatechange
  src/api/db/data/20200326221616_regenerate_notifications.rb
  src/api/spec/db/data/regenerate_notifications_spec.rb
Due: run-migrations-tests

Stop publishing workflow events on the message bus
  src/api/app/models/event/workflow_run_fail.rb
Due: none

Exclude haml-lint complain about ViewLengh
  src/api/.haml-lint_todo.yml
Due: none

Add filter for the new kinds of notifications
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
Due: run-haml-linter

Add emails for Group notifications
  src/api/app/views/event_mailer/added_user_to_group.html.haml
  src/api/app/views/event_mailer/added_user_to_group.text.erb
  src/api/app/views/event_mailer/removed_user_from_group.html.haml
  src/api/app/views/event_mailer/removed_user_from_group.text.erb
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: run-haml-linter

Add test data about Group notifications
  src/api/lib/tasks/dev/notifications.rake
  src/api/lib/tasks/dev/rake_support.rb
Due: none

Replace receiver role from user to member
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/group.rb
  src/api/app/models/groups_user.rb
  src/api/app/models/notification.rb
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: run-haml-linter

Fix OutdatedNotificationsFinder::Group
  src/api/app/queries/outdated_notifications_finder/group.rb
Due: none

Add link only if the group still exists
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Introduces Webui::Packages::TriggerController
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/trigger_controller.rb
  src/api/app/views/webui/package/show_actions/_trigger_services.html.haml
  src/api/app/views/webui/packages/binaries/_trigger_rebuild_wipe_binaries.html.haml
  src/api/app/views/webui/packages/build_log/_live_build_log_controls.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Drop trigger specs
  src/api/spec/controllers/webui/package_controller_spec.rb
Due: none

Introduces Webui::Packages::TriggerController specs
  src/api/spec/cassettes/Webui_Packages_TriggerController/POST_abort_build/1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_TriggerController/POST_abort_build/when_triggering_abort_build_fails/1_3_2_1.yml
  src/api/spec/cassettes/Webui_Packages_TriggerController/POST_rebuild/1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_TriggerController/POST_rebuild/when_triggering_a_rebuild_fails/1_2_2_1.yml
  src/api/spec/cassettes/Webui_Packages_TriggerController/POST_services/1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_TriggerController/POST_services/when_triggering_services_fails/1_1_2_1.yml
  src/api/spec/controllers/webui/packages/trigger_controller_spec.rb
Due: none

Indent Incoming+Outgoing Requests
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
Due: run-haml-linter

[backend] implement slsa provenence v1 support
  src/backend/bs_signer
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Due: run-backend-tests

[backend] t/0004-BSUtil.t: do not test in /tmp/BSUtil_test/
  src/backend/t/0004-BSUtil.t
Due: run-backend-tests

Drop NotificationExcerptComponent
  src/api/app/components/notification_component.html.haml
  src/api/app/helpers/webui/notification_excerpt_helper.rb
  src/api/spec/components/notification_excerpt_component_spec.rb
  src/api/spec/components/previews/notification_excerpt_component_preview.rb
Due: run-haml-linter

[backend] Srcdiff: don't hide changed archives if the content is identical
  src/backend/BSSrcServer/Srcdiff.pm
Due: run-backend-tests

Do not pass notification but notifiable
  src/api/app/helpers/webui/notification_excerpt_helper.rb
Due: none

Fix excerpt truncation when the text is nil
  src/api/app/helpers/webui/notification_excerpt_helper.rb
Due: none

Make it possible to view scmsync'ed package logs
  src/api/app/assets/javascripts/webui/project_monitor.js
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/views/webui/packages/build_log/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/build_log/live_build_log.html.haml
  src/api/app/views/webui/project/monitor.html.haml
Due: run-haml-linter, run-javascripts-linter

Display no avatars in notification by default
  src/api/app/components/notification_avatars_component.rb
Due: run-haml-linter

Make sure '/public/image_templates.xml' is accessible without login
  src/api/app/controllers/public_controller.rb
  src/api/config/routes/api.rb
Due: none

Move NotificationExcerptHelper to NotificationHelper
  src/api/app/helpers/webui/notification_excerpt_helper.rb
  src/api/app/helpers/webui/notification_helper.rb
Due: none

Prefer using constants directly, instead of converting the strings.
  src/api/app/models/event/base.rb
Due: none

Move the notification explanation into the class itself.
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/appeal_created.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/views/webui/subscriptions/_subscriptions_form.html.haml
Due: run-haml-linter

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
