Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Better bundler cache
  .circleci/conditional_config.yml
Due: none

Run rubocop once
  .circleci/conditional_config.yml
Due: none

Pin path-filtering orb only to major versions
  .circleci/config.yml
Due: none

Replace URI.unescape with CGI.unescape
  src/api/app/controllers/group_controller.rb
  src/api/app/controllers/person_controller.rb
Due: none

Looks like thor gem is not needed anymore
  src/api/vendor/cache/thor-1.1.0.gem
Due: none

Rexml is a not a default gem in Ruby 3.1 anymore
  src/api/Gemfile
  src/api/Gemfile.lock
Due: none

Monkey patch vcr Ruby 3.1 compatibility
  src/api/spec/support/vcr.rb
Due: none

Build obs-bundled-gems against Ruby 3.1
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Fix separation of positional and keyword arguments
  src/api/app/lib/backend/remember_location.rb
Due: none

Don't modify frozen strings
  src/api/app/helpers/webui/webui_helper.rb
Due: none

Fix some ruby 3.1 incompatibilities
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/config/environment.rb
  src/api/vendor/cache/digest-3.1.0.gem
  src/api/vendor/cache/io-wait-0.2.1.gem
  src/api/vendor/cache/net-imap-0.2.3.gem
  src/api/vendor/cache/net-pop-0.1.1.gem
  src/api/vendor/cache/net-protocol-0.1.2.gem
  src/api/vendor/cache/net-smtp-0.3.1.gem
  src/api/vendor/cache/strscan-3.0.1.gem
  src/api/vendor/cache/thor-1.2.1.gem
  src/api/vendor/cache/timeout-0.2.0.gem
Due: none

Drop hardcoded rack package requirements
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Bundle with 2.3.7
  src/api/Gemfile.lock
Due: none

Drop hardcoded bundler/rake package requirements
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

ActionController::TestCase.process only takes one argument
  src/api/spec/support/shared_examples/require_logged_in_user.rb
Due: none

The `--path` flag is deprecated
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Build obs-server against Ruby 3.1
  dist/obs-server.spec
Due: run-root-rubocop

Add required matrix gem
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/matrix-0.4.2.gem
Due: none

Remove exec bit from gems
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

No need for a request spec for this
  src/api/spec/controllers/source_controller_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/requests/package_undelete_spec.rb
  src/api/spec/support/requests/requests_authentification.rb
Due: none

Switch script interpreters to Ruby 3.1
  Makefile.include
  dist/Makefile
  dist/functions.setup-appliance.sh
  dist/obs-server.spec
  dist/systemd/obs-clockwork.service
  docs/api/Makefile
  docs/api/api/Makefile
  docs/api/restility/bin/rest_doc
  docs/api/restility/bin/rest_test
  src/api/Makefile
  src/api/Rakefile
  src/api/bin/bundle
  src/api/bin/pry
  src/api/bin/rails
  src/api/bin/rake
  src/api/bin/rdoc
  src/api/bin/ri
  src/api/bin/rspec
  src/api/bin/rubocop
  src/api/bin/setup
  src/api/script/delayed_job.api.rb
  src/api/script/plugin
  src/api/script/reformat_memprof
  src/api/script/rubygem_package_names.rb
  src/api/script/start_test_backend
Due: run-root-rubocop

Add ruby 3.1 update to README.UPDATERS
  dist/README.UPDATERS
Due: run-root-rubocop

Replace the shebangs of the ruby executables
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Update shoulda-matchers to 5.1.0
  src/api/Gemfile.lock
  src/api/vendor/cache/shoulda-matchers-4.5.1.gem
  src/api/vendor/cache/shoulda-matchers-5.1.0.gem
Due: none

Use ruby 3.1 container images
  .circleci/conditional_config.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Due: none

Allow users to manage beta features
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/users.js
  src/api/app/controllers/webui/users/beta_features_controller.rb
  src/api/app/models/disabled_beta_feature.rb
  src/api/app/models/user.rb
  src/api/app/policies/disabled_beta_feature_policy.rb
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/index_actions/_manage_beta_features.haml
  src/api/app/views/webui/users/beta_features/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/beta_features/index.html.haml
  src/api/config/initializers/flipper.rb
  src/api/config/routes/webui_routes.rb
  src/api/db/migrate/20220309122242_create_disabled_beta_features.rb
  src/api/db/schema.rb
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/flipper.rake
  src/api/spec/controllers/webui/users/beta_features_controller_spec.rb
  src/api/spec/factories/disabled_beta_feature.rb
  src/api/spec/features/webui/users/beta_features_spec.rb
  src/api/spec/features/webui/users/profile_spec.rb
Due: run-haml-linter, run-migrations-tests, run-javascripts-linter

fixing broken tests using "git://" protocol
  dist/t/osc/fixtures/obs-testpackage-2.8._service
  dist/t/osc/fixtures/obs-testpackage._service
Due: run-root-rubocop

[backend] Channel.pm: automatically rebuild the gbininfo if it is wrong
  src/backend/BSSched/BuildJob/Channel.pm
  src/backend/BSSched/Checker.pm
Due: run-backend-tests

[backend] implement TLS support for the redis connector
  src/backend/BSRedis.pm
  src/backend/bs_redis
Due: run-backend-tests

Cover the package undelete command with specs
  src/api/spec/cassettes/SourceController/POST_package_command/with_diff_command_for_a_multibuild_package/1_4_1_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_having_permissions_on_the_deleted_package/1_5_2_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_having_permissions_to_set_the_time/1_5_4_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_on_the_deleted_package/1_5_1_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_on_the_deleted_package/1_5_1_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_to_set_the_time/1_5_3_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_to_set_the_time/1_5_3_2.yml
  src/api/spec/controllers/source_controller_spec.rb
Due: none

Update .ruby-version
  .ruby-version
Due: none

Allow either shorthand syntax for hashes
  .rubocop.yml
  .rubocop_todo.yml
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
Due: none

Ensure faker-generated data is valid
  src/api/lib/tasks/dev.rake
Due: none

Do not check for checks and missing_checks for empty status_report
  src/api/app/controllers/status/reports_controller.rb
Due: none

[backend] fix sourcepublich blocklist handling
  src/backend/bs_srcserver
Due: run-backend-tests

Ensure the CI runs our apidocs linter
  .circleci/conditional_config.yml
Due: none

Fix YAML loader for apidocs linter
  src/api/lib/tasks/dev.rake
Due: none

Install db-query-matchers
  src/api/Gemfile
  src/api/Gemfile.lock
Due: none

WIP
  src/api/config/initializers/db_query_matchers.rb
  src/api/spec/support/view_component.rb
Due: none

Switch container urls back to OSU
  .circleci/conditional_config.yml
  src/api/docker-files/Dockerfile
Due: none
