Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Document the '/search' endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/api_response.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_packages.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_projects.yaml
  src/api/public/apidocs-new/paths/search.yaml
Due: run-apidocs-linter

[backend] verify dispatches when doing a --test run
  src/backend/BSStdRunner.pm
  src/backend/BSStdServer.pm
Due: run-backend-tests

Document project showlinked command with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_showlinked.yaml
Due: run-apidocs-linter

Add OpenAPI documentation for /source/{project_name}?cmd={remove,set}_flag
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_remove_flag.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_set_flag.yaml
Due: run-apidocs-linter

Order /source/{project_name}?cmd=* endpoints alphabetically
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Due: run-apidocs-linter

Store changes on the backend in repositories_configuration step
  src/api/app/models/workflow/step/configure_repositories.rb
Due: none

Workaround to make obs work via a proxy, so all connections are flowing trough the proxy. Don't know if this it the best fix.
  src/backend/BSSrcServer/Remote.pm
Due: run-backend-tests

Added suggested fix
  src/api/app/models/project/remote_url.rb
Due: none

Improved parsing of /etc/sysconfig/proxy
  src/backend/BSConfig.pm.template
Due: run-backend-tests

Fixes in the rube proxy parse code
  src/api/app/models/project/remote_url.rb
Due: none

Changed as requested, fetch is not need [] can be used in stead of fetch()
  src/api/app/models/project/remote_url.rb
Due: none

Added some information to the variables that can be set
  dist/obs-apache2.conf
  dist/obs-apache24.conf
  src/backend/BSConfig.pm.template
Due: run-root-rubocop, run-backend-tests

Added some information to the variables that can be set
  src/backend/BSConfig.pm.template
Due: run-backend-tests

[backend] fix obsscm file handling in Service.pm
  src/backend/BSSrcServer/Service.pm
Due: run-backend-tests

Delete user_profile_redesign feature toggle
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/user_profile.scss
  src/api/app/assets/stylesheets/webui/user_profile_redesign/user_profile.scss
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/user/_edit_account_form.html.haml
  src/api/app/views/webui/user/_edit_dialog.html.haml
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/app/views/webui/user/_involvement_and_activity.html.haml
  src/api/app/views/webui/user/index_actions/_edit_account.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_info.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_involvement.html.haml
  src/api/app/views/webui/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/edit_account.js.erb
  src/api/app/views/webui/users/show.html.haml
  src/api/app/views/webui/users/update.js.haml
  src/api/lib/tasks/dev.rake
  src/api/spec/features/beta/webui/users/profile_spec.rb
  src/api/spec/features/webui/users/user_contributions_spec.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
  src/api/spec/support/beta.rb
Due: run-haml-linter

Document `/search/project/id` endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/search_limit.yaml
  src/api/public/apidocs-new/components/parameters/search_offset.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_projects.yaml
  src/api/public/apidocs-new/paths/search_project_id.yaml
Due: run-apidocs-linter

Corrected al failure in Remote.pm
  src/backend/BSSrcServer/Remote.pm
Due: run-backend-tests

Corrected suggested fixes. Suggestions via: https://github.com/openSUSE/open-build-service/wiki/Development-Environment-Tips-&-Tricks#run-linters
  src/api/app/models/project/remote_url.rb
Due: none

Switch exec-only scripts to /bin/sh
  dist/obs_admin
  dist/obs_productconvert
  dist/obs_serverstatus
Due: run-root-rubocop

Switch non-POSIX shell scripts to explicit /bin/bash
  dist/obsstoragesetup
  dist/obsworker
Due: run-root-rubocop

Switch obs_rebuild_db to /bin/sh
  dist/obs_rebuild_db
Due: run-root-rubocop

gem_build_cleanup.sh: replace ${#*} with $#
  dist/gem_build_cleanup.sh
Due: run-root-rubocop

Rename @notifications_total to @notifications_count
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/views/person/notifications/index.xml.builder
Due: run-haml-linter

WIP
  .circleci/conditional_config.yml
Due: none

Add test for "Mark all as 'Read'" button
  src/api/spec/features/beta/webui/users/notifications_spec.rb
Due: none

Rename feature spec
  src/api/spec/features/beta/webui/users/notifications_spec.rb
Due: none

Fix button displaying
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
Due: run-haml-linter

Rename spec files for Subscriptions
  src/api/.rubocop_todo.yml
  src/api/spec/features/beta/webui/subscriptions_spec.rb
  src/api/spec/features/webui/subscriptions_spec.rb
Due: none

Improve "Mark all as 'Read'" button position ...
  src/api/app/components/notification_action_bar_component.html.haml
Due: run-haml-linter

Fix XML tag name for notifications schema
  src/api/public/apidocs-new/components/schemas/notifications.yaml
Due: run-apidocs-linter

Fix order of parameters in assert_equal tests ...
  src/api/test/unit/project_test.rb
Due: none

Rename "Show all" in notifications API and web UI
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/public/apidocs-new/paths/my_notifications.yaml
Due: run-haml-linter, run-apidocs-linter

Adjust notifications endpoint API docs
  src/api/public/apidocs-new/paths/my_notifications.yaml
Due: run-apidocs-linter

Change the vendoring path
  .circleci/conditional_config.yml
Due: none

Create notification update policy
  src/api/app/policies/notification_policy.rb
Due: none

Revert "Change the vendoring path"
  .circleci/conditional_config.yml
Due: none

Create notification update api endpoint
  src/api/app/controllers/person/notifications_controller.rb
  src/api/config/routes/api_routes.rb
Due: none

Add controller spec for notification update api endpoint
  src/api/spec/controllers/person/notifications_controller_spec.rb
Due: none

Add apidocs for notification update api endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/my_notifications_id.yaml
Due: run-apidocs-linter

Rely only on Flipper to check if feature toggle is enabled
  src/api/app/controllers/person/notifications_controller.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
Due: none
