Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Don't run project/package name validations if the keys are missing
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/spec/validators/workflow_steps_validator_spec.rb
Due: none

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/models/package.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/policies/package_check_upgrades_policy.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.haml
  src/api/db/migrate/20211105092333_create_package_check_upgrades.rb
  src/api/db/schema.rb
  src/api/spec/models/package_check_upgrade_spec.rb
Due: run-haml-linter, run-migrations-tests

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/policies/package_check_upgrade_policy.rb
Due: none

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/policies/package_check_upgrade_policy.rb
  src/api/app/views/webui/package/show_actions/_check_upgrade.html.haml
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Update
  src/backend/bs_srcserver
Due: run-backend-tests

update
  src/api/app/policies/package_check_upgrade_policy.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/policies/package_check_upgrade_policy.rb
  src/api/app/views/webui/requests/checkupgrade/edit.html.erb
Due: run-haml-linter

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/lib/backend/api/sources/package_check_upgrade.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/edit.html.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Cache gems in the system directory
  .circleci/conditional_config.yml
Due: none

Add missing `target_project` key in workflows
  .obs/workflows.yml
Due: none

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
Due: run-haml-linter

Update
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
Due: run-haml-linter

Only run our workflow for PRs
  .obs/workflows.yml
Due: none

Revert gem caching on circleci
  .circleci/conditional_config.yml
Due: none

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/policies/package_check_upgrade_policy.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/policies/package_check_upgrade_policy.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Fix spelling in comments
  src/api/test/functional/search_controller_test.rb
Due: none

Apply suggestions from code review
  src/api/test/functional/search_controller_test.rb
Due: none

[backend] add kiwi product module specifier
  src/backend/BSKiwiXML.pm
  src/backend/BSProductXML.pm
Due: run-backend-tests

Update
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Fix flickering smoke test
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop

Use ci docker image and the already installed gems
  .circleci/conditional_config.yml
Due: none

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/datatables/package_datatable.rb
  src/api/app/models/package.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Remove quotes from last trigger on paragraph
  src/api/app/components/token_card_component.html.haml
Due: run-haml-linter

Show token id in tokens index UI
  src/api/app/components/token_card_component.html.haml
  src/api/spec/components/token_card_component_spec.rb
Due: run-haml-linter

Update
  src/api/app/models/package.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Due: run-haml-linter

Use frontend-base-ci when chromium isnt necessary
  .circleci/conditional_config.yml
Due: none

Update
  src/api/app/views/webui/requests/checkupgrade/delete_dialog.html.erb
Due: run-haml-linter

Add missing parenthesis in if condition
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop

[backend] fix setrelease handling for mixed iso/repo products
  src/backend/bs_repserver
Due: run-backend-tests

[backend] copybuild: unlink files before calling writestr
  src/backend/bs_repserver
Due: run-backend-tests

Update
  src/api/app/views/webui/requests/checkupgrade/_delete_check_upgrade.html.erb
  src/api/app/views/webui/requests/checkupgrade/_show_actions.html.erb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/delete_dialog.html.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
  src/api/app/views/webui/requests/checkupgrade/show_actions/_delete_check_upgrade.html.erb
Due: run-haml-linter

Update
  src/api/app/views/webui/package/show_actions/_check_upgrade.html.haml
Due: run-haml-linter

Display token ID right after creating the token
  src/api/app/views/webui/users/tokens/_create.js.erb
  src/api/app/views/webui/users/tokens/new.html.haml
Due: run-haml-linter
