Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Fix artifacts for configure_repositories
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
Due: none

Move hook_event logic from workflow_run_row view component to model
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/models/workflow_run.rb
Due: run-haml-linter

Add spec for workflow run filter link view component
  src/api/spec/components/workflow_run_filter_link_component_spec.rb
Due: none

Implement filters for the workflow runs index page
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/spec/components/workflow_run_row_component_spec.rb
Due: run-haml-linter

Add spec for workflow runs finder class
  src/api/spec/queries/workflow_runs_finder_spec.rb
Due: none

Add spec for workflow run filter view component
  src/api/spec/components/workflow_run_filter_component_spec.rb
Due: none

Show delete requests in status page
  src/api/app/controllers/webui/projects/status_controller.rb
Due: none

[backend] fix checkconstraints on plain links
  src/backend/bs_srcserver
Due: run-backend-tests

Add a little popover description to workflow run filter categories
  src/api/app/components/workflow_run_filter_component.html.haml
Due: run-haml-linter

[api] take care of devel package definition in owner search
  src/api/app/controllers/search_controller.rb
  src/api/app/models/owner_search/base.rb
Due: none

[backend] add worker option for mkfs copyin
  dist/obsworker
  dist/sysconfig.obs-server
  src/backend/bs_worker
Due: run-root-rubocop, run-backend-tests

[backend] add cpusteal statistics
  src/backend/BSXML.pm
  src/backend/bs_worker
Due: run-backend-tests

[backend] bs_publish use logcritical for publish failures
  src/backend/bs_publish
Due: run-backend-tests

allow kiwi versions not strictly x.y.z scheme
  src/api/app/models/kiwi/preference.rb
  src/api/spec/models/kiwi/preference_spec.rb
Due: none

[backend] Declare armv8 and armv7 compatible
  src/backend/BSCando.pm
  src/backend/BSConfig.pm.template
Due: run-backend-tests

Show correct amount in workflow run filter badge
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

[backend] support zstd compressed preinstall images
  src/backend/BSSched/BuildJob/PreInstallImage.pm
Due: run-backend-tests

[api] allow file access via /public using expand
  src/api/app/controllers/public_controller.rb
Due: none

fix rubocop style fail: change indentation
  src/api/app/controllers/webui/projects/status_controller.rb
Due: none

List read notifications through API
  src/api/app/controllers/person/notifications_controller.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
Due: none

Update API docs for read notifications filter
  src/api/public/apidocs-new/paths/my_notifications.yaml
Due: run-apidocs-linter

[backend] bs_publish fix mapsleimage to work with milestone for install.iso
  src/backend/bs_publish
Due: run-backend-tests

Upgrade rails from 6.1.4 to 6.1.4.6
  src/api/Gemfile.lock
Due: none

Use dom_id for mark_as_read_or_unread_button
  src/api/app/helpers/webui/notification_helper.rb
Due: none

Allow kiwi versions not strictly x.y.z scheme
  src/api/app/models/kiwi/preference.rb
  src/api/spec/models/kiwi/preference_spec.rb
Due: none

Fix Action Pack vulnerability
  src/api/Gemfile.lock
Due: none

Add release notes for 2.10.12
  ReleaseNotes-2.10.12
Due: none

[backend] bs_publish allow for a third digit
  src/backend/bs_publish
Due: run-backend-tests

[backend] bs_publish fix typo in last change
  src/backend/bs_publish
Due: run-backend-tests

Create NotificationActionDescriptionComponent
  src/api/app/components/notification_action_description_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/previews/notification_action_description_component_preview.rb
Due: run-haml-linter

Create NotificationMarkButtonComponent
  src/api/app/components/notification_mark_button_component.html.haml
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/components/previews/notification_mark_button_component_preview.rb
  src/api/spec/features/beta/webui/users/notifications_spec.rb
Due: run-haml-linter

Create RuboCop cop to avoid global state in view components
  src/api/.rubocop.yml
  src/api/app/lib/rubocop/cop/view_component/avoid_global_state.rb
  src/api/config/initializers/zeitwerk.rb
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/support/rubocop.rb
Due: none

Define render_without_markdown in Webui::MarkdownHelper
  src/api/app/helpers/webui/markdown_helper.rb
Due: none

Create NotificationExcerptComponent
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_excerpt_component_spec.rb
  src/api/spec/components/previews/notification_excerpt_component_preview.rb
Due: run-haml-linter

[api] block requests to scmsync managed packages/projects
  src/api/app/models/bs_request_action.rb
  src/api/test/fixtures/packages.yml
  src/api/test/functional/search_controller_test.rb
Due: none

Create NotificationNotifiableLinkComponent
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/components/previews/notification_notifiable_link_component_preview.rb
Due: run-haml-linter

Move custom RuboCop cop to src/api/lib
  src/api/.rubocop.yml
  src/api/config/initializers/zeitwerk.rb
  src/api/lib/rubocop/cop/view_component/avoid_global_state.rb
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
Due: none

[dist] made system tests fedora ready
  dist/t/0060-check_required_services.ts
  dist/t/0090-check_database.ts
Due: run-root-rubocop

[dist] improved os detection for fedora
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop

[dist] changed required service name from mysql to mariadb
  dist/t/0060-check_required_services.ts
Due: run-root-rubocop
