Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Add documentation for path parameters of deprecated statistics API endpoints
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/statistics_deprecated_not_documented_project_name.yaml
  src/api/public/apidocs/paths/statistics_deprecated_not_documented_project_name_package_name.yaml
Due: none

Add missing path parameters documentation to deprectated API endpoints
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_builddepinfo.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_package_name_history.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_package_name_status.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_createSpecFileTemplate.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_rebuild.yaml
Due: none

Add missing schema to parameters of API endpoints
  src/api/public/apidocs/paths/request_id_cmd_diff.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_collectbuildenv.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_copy.yaml
Due: none

Fix documentation of `mode` parameter of addchanges API endpoint
  src/api/public/apidocs/paths/source_project_name_cmd_addchannels.yaml
Due: none

[backend][api] Fix fetching of remote /distributions.xml and image templates
  src/api/app/controllers/statistics/maintenance_statistics_controller.rb
  src/api/app/jobs/fetch_remote_distributions_job.rb
  src/api/app/lib/backend/api/sources/project.rb
  src/api/app/models/project.rb
  src/backend/bs_srcserver
Due: run-backend-tests

[api] fix handling of architecture filter for release command
  docs/api/api/api.txt
  src/api/app/controllers/source_controller.rb
Due: none

[api] fix branching from remote project using extended name option
  src/api/app/models/branch_package.rb
Due: none

[api] fix project package listing of interconnect
  src/api/app/controllers/source_project_controller.rb
  src/api/app/models/project/remote_url.rb
  src/api/config/initializers/zeitwerk.rb
  src/api/spec/controllers/webui/interconnects_controller_spec.rb
  src/api/test/functional/source_controller_test.rb
Due: none

[api] fix delivering of delete package meta data
  src/api/app/controllers/source_project_package_meta_controller.rb
  src/api/public/apidocs/paths/source_project_name_package_name_meta.yaml
Due: none

Move the simplecov to the top of the file
  src/api/spec/spec_helper.rb
Due: none

[dist] add Requires of procps for obs-api package
  dist/obs-server.spec
Due: run-dist-linter

[backend] bs_regpush: add a couple of list options
  src/backend/bs_regpush
Due: run-backend-tests

[backend] Container.pm: improve tag deletion safeguard
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

[backend] Signkey: return fingerprint/keyid even if the algorithm is unknown
  src/backend/BSPGP.pm
  src/backend/BSSrcServer/Signkey.pm
Due: run-backend-tests

Prevent from crashing when requesting JSON from the API
  src/api/app/controllers/public_controller.rb
Due: none

[backend] Patchinfo: do not reuse old build result in 'binary' mode
  src/backend/BSSched/BuildJob/Patchinfo.pm
Due: run-backend-tests

[api] fix project kind removal
  src/api/app/models/project/update_from_xml_command.rb
  src/api/test/unit/project_test.rb
Due: none

Use the sub-models in NotificationComponent
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/notification.rb
Due: run-haml-linter

Implement NotificationProject model
  src/api/app/models/notification_project.rb
Due: none

Implement NotificationGroup model
  src/api/app/models/notification_group.rb
Due: none

Drop code and specs from NotificationHelper
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

Add request-related methods to RequestHelper
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/_request_header.html.haml
Due: run-haml-linter

Add NotificationRequest concern
  src/api/app/models/concerns/notification_request.rb
Due: none

Update Rubocop TODOs
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
Due: none

Implement NotificationWorkflowRun model
  src/api/app/models/notification_workflow_run.rb
Due: none

Implement NotificationPackage model
  src/api/app/models/notification_package.rb
Due: none

Remove notification-related components
  src/api/app/components/notification_avatars_component.html.haml
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/spec/components/notification_avatars_component_spec.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/components/previews/notification_avatars_component_preview.rb
  src/api/spec/components/previews/notification_notifiable_link_component_preview.rb
Due: run-haml-linter

Implement NotificationBsRequest model
  src/api/app/models/notification_bs_request.rb
Due: none

Implement NotificationComment model
  src/api/app/models/notification_comment.rb
Due: none

Implement NotificationReport model
  src/api/app/models/notification_report.rb
Due: none

Add code to NotificationHelper
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

[backend] BSPGP: fix typo in pk2fingerprint
  src/backend/BSPGP.pm
Due: run-backend-tests

[backend] add unit tests for BSPGP and BSX509
  src/backend/t/0022-BSPGP.t
  src/backend/t/0023-BSX509.t
  src/backend/t/data/0022/public-key.asc
  src/backend/t/data/0023/cert.crt
Due: run-backend-tests

Update missing annotations for latest scmsync schema change
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/remote_project.rb
Due: none

[backend] add unit test for BSTar
  src/backend/t/0024-BSTar.t
  src/backend/t/data/0024/testtar.tar
Due: run-backend-tests

Add a request notification filter
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
Due: run-haml-linter

Add task to backfill notifications type column
  src/api/lib/tasks/backfill_notifications_type.rake
Due: none

Add the type to the Notification model to make it a proper STI model
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/build.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/comment_event.rb
  src/api/app/models/event/create_report.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/event/report.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/models/notification.rb
  src/api/app/models/notification_bs_request.rb
  src/api/app/models/notification_comment.rb
  src/api/app/models/notification_group.rb
  src/api/app/models/notification_package.rb
  src/api/app/models/notification_project.rb
  src/api/app/models/notification_report.rb
  src/api/app/models/notification_workflow_run.rb
  src/api/db/migrate/20240710083919_add_type_column_to_notifications.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Substitute User.session! with User.session in ...
  src/api/app/services/file_service/uploader.rb
  src/api/app/services/webui_controller_service/user_checker.rb
Due: none

Remove code to handle an exception already handled
  src/api/app/controllers/person_controller.rb
Due: none
