Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Fix Layout/EmptyLinesAroundClassBody cop
  src/api/app/models/watched_project.rb
Due: none

Disable Rails/ReversibleMigration cops on older migrations
  src/api/db/migrate/20170619111734_alter_notifications_to_use_polymorphic.rb
  src/api/db/migrate/20170704133728_remove_source_project_id_and_source_package_id_from_bs_request_actions.rb
  src/api/db/migrate/20180906142802_update_status_checks_table.rb
Due: run-migrations-tests

Fix Style/FileWrite cop
  dist/clouduploader.rb
Due: run-root-rubocop

Add spec for BinaryRelease model
  src/api/spec/models/binary_release_spec.rb
Due: none

Extract buildtime marshalling to its own method
  src/api/app/models/binary_release.rb
Due: none

Add specs for BinaryRelease.update_binary_releases_via_json
  src/api/spec/factories/binary_releases.rb
  src/api/spec/models/binary_release_spec.rb
Due: none

Add constraints to user requests endpoint
  src/api/config/routes.rb
Due: none

Remove unecessary comments
  src/api/app/models/binary_release.rb
Due: none

Add spec for BinaryRelease.update_binary_releases
  src/api/spec/models/binary_release_spec.rb
Due: none

Fix Style/FileWrite rubocop in clouduploader module
  dist/clouduploader.rb
Due: run-root-rubocop

Add spec for PackageBuildStatus model
  src/api/app/models/package_build_status.rb
  src/api/spec/cassettes/PackageBuildStatus/_current_dir/1_3_1.yml
  src/api/spec/cassettes/PackageBuildStatus/_current_dir/1_3_2.yml
  src/api/spec/cassettes/PackageBuildStatus/_gather_md5sums/1_2_1.yml
  src/api/spec/cassettes/PackageBuildStatus/_gather_md5sums/1_2_2.yml
  src/api/spec/cassettes/PackageBuildStatus/_new/1_1_1.yml
  src/api/spec/cassettes/PackageBuildStatus/gather_target_packages/1_4_1.yml
  src/api/spec/cassettes/PackageBuildStatus/gather_target_packages/1_4_2.yml
  src/api/spec/models/package_build_status_spec.rb
Due: none

Fix issue 11872 (unable to accept a maintenance request)
  src/api/app/models/bs_request_action_maintenance_incident.rb
Due: none

Add spec for method PackageBuildStatus#check_everbuilt
  src/api/spec/cassettes/PackageBuildStatus/_check_everbuilt/no_job_history/1_5_1_1.yml
  src/api/spec/cassettes/PackageBuildStatus/_check_everbuilt/no_job_history/1_5_1_2.yml
  src/api/spec/cassettes/PackageBuildStatus/_check_everbuilt/with_job_history/1_5_2_1.yml
  src/api/spec/models/package_build_status_spec.rb
Due: none

Use jobs in _constraints if available instead of worker jobs
  src/backend/BSDispatcher/Constraints.pm
Due: run-backend-tests

[backend] use GPG v4 for ArchLinux
  src/backend/bs_signer
Due: run-backend-tests

[api] fix ignore releasetarget project on maintenance_incident requests
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
Due: none

[backend] fix memoryperjob constraints
  src/backend/BSDispatcher/Constraints.pm
Due: run-backend-tests

[api] fix access to build area for git projects
  src/api/app/models/package.rb
Due: none

Set optional flag on belongs_to relation where necessary
  src/api/app/models/attrib_default_value.rb
  src/api/app/models/attrib_namespace_modifiable_by.rb
  src/api/app/models/attrib_type_modifiable_by.rb
  src/api/app/models/attrib_value.rb
  src/api/app/models/backend_package.rb
  src/api/app/models/binary_release.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_accept_info.rb
  src/api/app/models/channel_binary.rb
  src/api/app/models/channel_binary_list.rb
  src/api/app/models/cloud/azure/configuration.rb
  src/api/app/models/cloud/ec2/configuration.rb
  src/api/app/models/cloud/user/upload_job.rb
  src/api/app/models/concerns/staging_project.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/flag.rb
  src/api/app/models/issue.rb
  src/api/app/models/kiwi/description.rb
  src/api/app/models/kiwi/package.rb
  src/api/app/models/kiwi/package_group.rb
  src/api/app/models/kiwi/preference.rb
  src/api/app/models/kiwi/repository.rb
  src/api/app/models/linked_project.rb
  src/api/app/models/maintenance_incident.rb
  src/api/app/models/notification.rb
  src/api/app/models/package.rb
  src/api/app/models/package_kind.rb
  src/api/app/models/product_medium.rb
  src/api/app/models/product_update_repository.rb
  src/api/app/models/project.rb
  src/api/app/models/project_log_entry.rb
  src/api/app/models/review.rb
  src/api/app/models/role.rb
  src/api/app/models/status/check.rb
  src/api/app/models/token.rb
  src/api/app/models/user.rb
  src/api/app/models/workflow_run.rb
Due: none

Enable `belongs_to_required_by_default` behaviour
  src/api/config/application.rb
Due: none

Remove redundant presence validations for belongs_to relations
  src/api/app/models/attrib.rb
  src/api/app/models/comment.rb
  src/api/app/models/commit_activity.rb
  src/api/app/models/download_repository.rb
  src/api/app/models/group_maintainer.rb
  src/api/app/models/groups_user.rb
  src/api/app/models/kiwi/profile.rb
  src/api/app/models/notified_project.rb
  src/api/app/models/path_element.rb
  src/api/app/models/relationship.rb
  src/api/app/models/repository.rb
  src/api/app/models/repository_architecture.rb
  src/api/app/models/review.rb
  src/api/app/models/staging/request_exclusion.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/status/report.rb
  src/api/app/models/status_message.rb
  src/api/app/models/status_message_acknowledgement.rb
  src/api/app/models/token.rb
  src/api/app/models/watched_project.rb
Due: none

Adapt specs to take belongs_to_required_by_default into account
  src/api/spec/controllers/webui/download_on_demand_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/models/bs_request_action_spec.rb
  src/api/spec/models/cloud/ec2/configuration_spec.rb
  src/api/spec/models/cloud/user/upload_job_spec.rb
  src/api/spec/models/comment_spec.rb
  src/api/spec/models/commit_activity_spec.rb
  src/api/spec/models/download_repository_spec.rb
  src/api/spec/models/repository_spec.rb
  src/api/spec/models/review_spec.rb
  src/api/spec/models/staging/workflow_spec.rb
  src/api/spec/models/status/report_spec.rb
  src/api/spec/models/token_spec.rb
Due: none

Fix Rails/CompactBlank cop
  src/api/app/controllers/status/required_checks_controller.rb
  src/api/app/controllers/webui/requests/submissions_controller.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/lib/backend/instrumentation.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/views/webui/search/_results_owner.html.haml
Due: run-haml-linter

[api] fix owner search by container regression
  src/api/app/controllers/search_controller.rb
  src/api/test/functional/search_controller_test.rb
Due: none

Install dependencies for haml lint in circle ci
  .circleci/conditional_config.yml
Due: none

Add spec for concern MultibuildPackage
  src/api/spec/models/concerns/multibuild_package_spec.rb
Due: none

Move allow and subject instantiation to a before block
  src/api/spec/services/scm_status_reporter_spec.rb
Due: none

[backend] Implement "cosign" signatures
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_repserver
Due: run-backend-tests

Show meaningful data for each workflow run
  src/api/app/models/workflow_run.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Add Eclipse Bugzilla to the list of issue trackers
  docs/api/api/issue_trackers.xml
  src/api/db/seeds.rb
  src/api/test/fixtures/issue_trackers.yml
Due: run-migrations-tests

Add Eclipse Bugzilla to the list of issue trackers
  src/api/test/functional/issue_trackers_controller_test.rb
Due: none

Add Eclipse Bugzilla to the list of issue trackers
  docs/api/api/issue_trackers.xml
  src/api/db/seeds.rb
  src/api/test/fixtures/issue_trackers.yml
  src/api/test/functional/issue_trackers_controller_test.rb
Due: run-migrations-tests

Extract Workflow Run components
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/models/workflow_run.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/spec/components/workflow_run_detail_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Due: run-haml-linter

Check pull/merge request actions before initializing dependencies
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/scm_webhook.rb
  src/api/app/models/token/workflow.rb
Due: none

Specs updates for trigger_workflow_controller and workflow_controller
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/models/token/workflow_spec.rb
Due: none

[backend] also put anonymous containers in the digest file
  src/backend/bs_notar
  src/backend/bs_regpush
Due: run-backend-tests

[backend] increase max fd limit to 16384 for binariesproxy
  dist/systemd/obsgetbinariesproxy.service
Due: run-root-rubocop

WIP: Add exectued_workflow_step model and table to project
  src/api/app/models/executed_workflow_step.rb
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20220113164437_create_executed_workflow_steps.rb
  src/api/db/schema.rb
  src/api/spec/models/executed_workflow_step_spec.rb
Due: run-migrations-tests
