Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Create a label partial
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/label.scss
  src/api/app/views/webui/shared/_label.html.haml
Due: run-haml-linter

Introduce a contrast_text helper to make sure we render readable text
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/shared/_label.html.haml
Due: run-haml-linter

Make LabelTemplate's name and color required
  src/api/app/models/label_template.rb
  src/api/db/migrate/20240802093510_make_label_templates_name_and_color_required.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Raise if we don't find a package on scmsync (#16610)
  src/api/app/models/package.rb
  src/api/spec/models/package_get_by_project_and_name_spec.rb
Due: none

Ignore one more backend exception
  src/api/config/initializers/airbrake.rb
Due: none

[backend] add helminfo2nevra helper function
  src/backend/BSPublisher/Helm.pm
Due: run-backend-tests

[backend] bs_publish: remember associated files in the containerinfo
  src/backend/bs_publish
Due: run-backend-tests

[backend] bs_publish: fix subdir handling in the container code
  src/backend/bs_publish
Due: run-backend-tests

[backend] fix binary name in packtrack data for helm charts
  src/backend/bs_publish
Due: run-backend-tests

[backend] support callbacks to track container publishing
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
Due: run-backend-tests

[backend] Add an optional publish notification that contains change data
  src/backend/BSPublisher/Diffnotify.pm
  src/backend/bs_publish
Due: run-backend-tests

[backend] Diffnotify: split flavor from package name
  src/backend/BSPublisher/Diffnotify.pm
Due: run-backend-tests

[backend] Diffnotify: also save the report we sent
  src/backend/BSPublisher/Diffnotify.pm
Due: run-backend-tests

Filters spacing alignments
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/views/webui/request/_requests_filter.html.haml
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
Due: run-haml-linter

Get rid of useless list-group classes
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/views/webui/request/_requests_filter.html.haml
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
Due: run-haml-linter

Change label_template's color field to string
  src/api/app/models/label_template.rb
  src/api/db/migrate/20240805122519_change_label_templates_color_to_string.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Remove unreachable code for updating packages
  src/api/app/controllers/webui/package_controller.rb
Due: none

Test package update only with AJAX requests
  src/api/spec/controllers/webui/package_controller_spec.rb
Due: none

Remove unreachable code for updating projects
  src/api/app/controllers/webui/project_controller.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
Due: none

Refactor spec to update a package
  src/api/spec/controllers/webui/package_controller_spec.rb
Due: none

Add `request_index` feature to flipper initializer
  src/api/config/initializers/flipper.rb
Due: none

Remove no longer needed cassettes
  src/api/spec/cassettes/Webui_PackageController/PATCH_update/when_the_user_is_authorized_to_change_the_package/1_10_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/PATCH_update/when_the_user_is_authorized_to_change_the_package/1_10_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/PATCH_update/when_the_user_is_authorized_to_change_the_package/1_10_1_3.yml
  src/api/spec/cassettes/Webui_PackageController/PATCH_update/when_the_user_is_authorized_to_change_the_package/1_10_1_4.yml
Due: none

Before action required for a non beta action
  src/api/app/controllers/webui/request_controller.rb
Due: none

[api] fix release of package where source is remote or scmsync'd
  src/api/app/controllers/source_controller.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/token/release.rb
Due: none

[backend] ProductCompose: Add missing sysdeps block code
  src/backend/BSSched/BuildJob/ProductCompose.pm
Due: run-backend-tests

[backend] Docker, KiwiImage: implement missing base container blocking check
  src/backend/BSSched/BuildJob/Docker.pm
  src/backend/BSSched/BuildJob/KiwiImage.pm
Due: run-backend-tests

Validate the color field in label_template more strictly
  src/api/app/models/label_template.rb
Due: none

Fix group name clash
  src/api/lib/tasks/dev/notifications.rake
Due: none

Add migration to add "Report Bug" links to projects and packages
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/remote_project.rb
  src/api/db/migrate/20240805125958_add_report_bug_url_to_projects_and_packages.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Show "Report Bug" link for projects and packages...
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/package/_show_actions.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/package/show_actions/_bugzilla_owner.html.haml
  src/api/app/views/webui/project/_show_actions.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/show_actions/_report_bug.html.haml
Due: run-haml-linter

Remove the task to create the label templates
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/labels.rake
Due: none

Provide some labels for helping in development
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/labels.rake
  src/api/spec/factories/label_template.rb
Due: none

Move the helpers to calculate color contrast to it's own helper
  src/api/app/helpers/webui/color_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
Due: none

Fix color helper
  src/api/app/helpers/webui/color_helper.rb
Due: none

[dist] dont fail while disabling obsapidelayed
  dist/obs-server.spec
Due: run-dist-linter

Adding release notes for 2.10.23
  ReleaseNotes-2.10.23
Due: none

Move to using badge class instead of custom label class
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/label.scss
  src/api/app/views/webui/shared/_label.html.haml
Due: run-haml-linter

Add test coverage for contrast calculation
  src/api/spec/helpers/webui/color_helper_spec.rb
Due: none

Improve contrast text calculation
  src/api/app/helpers/webui/color_helper.rb
Due: none

Refactor report bug URL
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/concerns/report_bug_url.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/views/webui/comment/_new.html.haml
  src/api/app/views/webui/package/_show_actions.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/package/update.js.haml
  src/api/app/views/webui/project/_show_actions.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/update.js.haml
  src/api/spec/helpers/webui/webui_helper_spec.rb
Due: run-haml-linter
