Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

[backend] configure signature auth in the scheduler/src server/repo server
  src/backend/BSSched/Remote.pm
  src/backend/BSStdServer.pm
  src/backend/bs_repserver
  src/backend/bs_sched
  src/backend/bs_srcserver
Due: run-backend-tests

Show the workflows configuration file content
  src/api/app/components/workflow_run_detail_component.rb
Due: run-haml-linter

Extend test data
  src/api/lib/tasks/dev/workflows.rake
  src/api/spec/factories/workflow_runs.rb
Due: none

Add spec for the WorkflowRunDetailComponent
  src/api/spec/components/workflow_run_detail_component_spec.rb
Due: none

Profile Project
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/spec/spec_helper.rb
  src/api/spec/support/method_profiler.rb
  src/api/vendor/cache/hirb-0.7.3.gem
  src/api/vendor/cache/method_profiler-2.0.1.gem
Due: run-passenger-tests

Unify actions texts
  src/api/app/views/webui/user/index_actions/_change_notifications.haml
  src/api/app/views/webui/users/notifications/_index_actions.html.haml
Due: run-haml-linter

Unify headers in the workflow run view
  src/api/app/components/workflow_run_detail_component.html.haml
Due: run-haml-linter

Fix expression to exclude files from codecov
  codecov.yml
Due: none

[api] fix trigger route behaviour
  docs/api/api/api.txt
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/lib/backend/api/build/project.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/config/routes/api_routes.rb
  src/api/public/apidocs/paths/trigger_operation.yaml
  src/api/test/functional/trigger_controller_test.rb
Due: none

Use instance_double instead of the use discouraged ...
  src/api/spec/controllers/trigger_controller_spec.rb
Due: none

Remove unneeded call to package
  src/api/spec/controllers/trigger_controller_spec.rb
Due: none

Substitute let! with let
  src/api/spec/controllers/trigger_controller_spec.rb
Due: none

Regenerate cassettes for Trigger Controller specs
  src/api/spec/cassettes/TriggerController/_create/when_some_parameters_are_not_strings/still_processes_the_request_without_validating_parameters.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_4_3_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_5_3_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_signature.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_token.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_4_2_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_5_2_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_signature.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_token.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_4_1_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_5_1_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_signature.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_token.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_1_3_1_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_1_3_1_2.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_token_is_valid/1_1_2_1.yml
  src/api/spec/cassettes/TriggerController/_release/for_inexistent_project/1_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/for_inexistent_project/1_3_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_2_6_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_2_6_1_2.yml
  src/api/spec/cassettes/TriggerController/_release/when_there_are_no_release_targets/1_2_5_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_token_is_valid_and_package_exists/1_2_2_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_token_is_valid_and_package_exists/1_3_2_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_source/1_2_3_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_target/1_2_4_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_target/1_2_4_2.yml
  src/api/spec/cassettes/TriggerController/_runservice/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_3_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_3_2_1_2.yml
Due: none

[backend] BSSigAuth: add a verbose option
  src/backend/BSSched/Remote.pm
  src/backend/BSSigAuth.pm
  src/backend/BSStdServer.pm
Due: run-backend-tests

[backend] new BSSSHSign module to create ssh signatures
  src/backend/BSSSHSign.pm
Due: run-backend-tests

Prevent some Ruby gems from being auto required
  src/api/Gemfile
Due: none

Fix mocking a request to the backend in trigger..
  src/api/spec/cassettes/TriggerController/_create/when_some_parameters_are_not_strings/still_processes_the_request_without_validating_parameters.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_4_3_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_signature.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_token.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_4_2_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_signature.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_token.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_4_1_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_signature.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_token.yml
  src/api/spec/controllers/trigger_controller_spec.rb
Due: none

Prevent selenium-webdriver from being auto required
  src/api/Gemfile
  src/api/spec/support/capybara.rb
Due: none

Prevent RuboCop Ruby gem from being auto required
  src/api/Gemfile
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
  src/api/spec/lib/rubocop/cop/view_component/class_name_spec.rb
  src/api/spec/lib/rubocop/cop/view_component/file_name_spec.rb
  src/api/spec/lib/rubocop/cop/view_component/missing_preview_file_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/support/rubocop.rb
Due: none

Remove cassettes no longer needed for projects
  src/api/spec/cassettes/Project/Staging_Project/_assign_managers_group/when_the_group_was_already_assigned/1_1_4_2_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_assign_managers_group/when_the_group_wasn_t_assigned_before/1_1_4_1_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_missing_reviews/contains_all_open_reviews_of_staged_requests.yml
  src/api/spec/cassettes/Project/Staging_Project/_missing_reviews/when_there_is_an_accepted_review/1_1_1_2_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_request_got_revoked/1_1_3_2_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_failed_checks_on_build_repo/1_1_3_7_2.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_no_staged_requests/1_1_3_1_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_we_only_have_outdated_checks/1_1_3_9_2.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_we_only_have_outdated_checks/1_1_3_9_3.yml
  src/api/spec/cassettes/Project/Staging_Project/_unassign_managers_group/1_1_5_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_untracked_requests/1_1_2_1.yml
Due: none

Decrease size of cassettes of `copy` for staging ...
  src/api/spec/cassettes/Project/Staging_Project/_copy/1_1_6_2.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/copies_flags.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/copies_the_project_config.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/copies_the_relationships.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/copies_the_repositories_and_it_s_relations.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/creates_a_new_staging_project.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/when_the_repository_contains_path_elements_that_link_to_repositories_of_the_same_project/ensures_that_the_new_created_path_is_also_self_referencing.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/when_the_repository_contains_path_elements_that_link_to_repositories_of_the_same_project/renames_the_repository_link_if_it_contains_a_reference_to_the_project.yml
Due: none

Decrease size of cassettes of `overall_state` for ...
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_failed_checks_on_build_repo/1_1_3_7_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_failed_checks_on_published_repo/1_1_3_6_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_missing_checks_on_build_repo/1_1_3_4_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_missing_checks_on_published_repo/1_1_3_3_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_pending_checks/1_1_3_5_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_succeeded_checks/1_1_3_8_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_we_only_have_outdated_checks/1_1_3_9_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/with_disabled_repository/1_1_3_10_1.yml
Due: none

Decrease size of cassettes of `accept` for staging ...
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_2.yml
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_3.yml
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_4.yml
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_5.yml
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_6.yml
Due: none

[backend] BSRPC: fix typo in call_authenticator
  src/backend/BSRPC.pm
Due: run-backend-tests

[backend] sigauth: require BSSSHSign in setup_authenticator()
  src/backend/BSSched/Remote.pm
  src/backend/BSStdServer.pm
Due: run-backend-tests

Autocorrect Capybara/NegationMatcher RuboCop offenses
  .rubocop_todo.yml
  dist/t/spec/spec_helper.rb
Due: run-dist-linter

Autocorrect RSpec/ExampleWording RuboCop offenses
  .rubocop_todo.yml
  dist/t/spec/features/0010_authentication_spec.rb
  dist/t/spec/features/0020_interconnect_spec.rb
  dist/t/spec/features/0030_project_spec.rb
  dist/t/spec/features/0040_package_spec.rb
Due: run-dist-linter

Autocorrect RSpec/HookArgument RuboCop offenses
  .rubocop_todo.yml
  dist/t/spec/features/0010_authentication_spec.rb
  dist/t/spec/spec_helper.rb
  dist/t/spec/support/capybara.rb
Due: run-dist-linter

Autocorrect Layout/EmptyLinesAroundAccessModifier ...
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/packages/build_log_controller.rb
Due: none

Autocorrect Layout/EmptyLinesAroundClassBody RuboCop ...
  src/api/.rubocop_todo.yml
  src/api/app/models/branch_package/check_for_update.rb
Due: none

Autocorrect Layout/LineEndStringConcatenationIndentation
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/packages/build_log_controller.rb
Due: none

Autocorrect Performance/RegexpMatch RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/lib/backend/test.rb
  src/api/app/models/kiwi/repository.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/updateinfo_counter.rb
  src/api/test/functional/backend_test.rb
  src/api/test/functional/webui/spider_test.rb
  src/api/test/functional/zzz_post_consistency_test.rb
Due: none

Autocorrect RSpec/ScatteredSetup RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/webui/cloud/upload_jobs_controller_spec.rb
  src/api/spec/jobs/update_released_binaries_job_spec.rb
Due: none

[backend] compat with OBS 2.11 patchinfo format
  src/backend/BSXML.pm
Due: run-backend-tests

[backend] BSRPC: fix copy-paste of typo
  src/backend/BSRPC.pm
  src/backend/BSSigAuth.pm
Due: run-backend-tests

[backend] setup sshauth before calling the server() function
  src/backend/bs_repserver
  src/backend/bs_srcserver
Due: run-backend-tests

Autocorrect Layout/LineContinuationLeadingSpace ...
  src/api/.rubocop_todo.yml
  src/api/db/migrate/20180516074538_explicitly_set_charset.rb
Due: run-migrations-tests

Autocorrect Naming/BlockForwarding RuboCop offenses ...
  src/api/.rubocop_todo.yml
  src/api/db/data/20170831143534_convert_notifications_event_payload_to_json.rb
Due: run-migrations-tests

Adapt GitHub "isolated migrations" action ...
  .github/workflows/isolated_migrations.yml
Due: none

Autocorrect Lint/RedundantCopDisableDirective ...
  src/api/.rubocop_todo.yml
  src/api/db/migrate/20210511201658_add_data_migrations_table.rb
Due: run-migrations-tests

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
