Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Authorize TargetProjectLifeCycleSupport
  src/api/app/models/concerns/target_project_life_cycle_support.rb
  src/api/app/models/workflow/step.rb
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_closed_merged_SCM_webhook_event/without_target_project_permission/1_1_2_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_reopened_event_SCM_webhook_event/without_target_project_permission/1_1_3_1_1.yml
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Stop testing Steps in the Workflow spec
  src/api/spec/models/workflow_spec.rb
Due: none

Clarify Workflow::Step authorization
  src/api/app/controllers/webui/users/tokens/users_controller.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/set_flags.rb
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/models/workflow/step/trigger_services.rb
  src/api/app/policies/token/workflow_policy.rb
  src/api/app/policies/token_policy.rb
Due: none

Migration only.
  src/api/db/migrate/20240318231639_add_test_to_user.rb
Due: run-migrations-tests

Data Migration only
  src/api/db/data/20240318145155_drop_token_rss.rb
Due: run-migrations-tests

data_schema
  src/api/db/data_schema.rb
Due: run-migrations-tests

DB schema
  src/api/db/schema.rb
Due: run-migrations-tests

Add TODOs as reminder for later
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
Due: none

[api] consistency check: fix database entry recreation of missing package entries
  src/api/app/jobs/old/consistency_check_job.rb
Due: none

Method implementation to retrieve whether diff is cached or not
  src/api/app/models/bs_request_action.rb
Due: none

Method implementation for submit request additional info
  src/api/.rubocop_todo.yml
  src/api/app/models/bs_request_action_submit.rb
Due: none

Manually correct RSpec/SpecFilePathFormat RuboCop offenses
  src/api/.rubocop.yml
  src/api/spec/models/project_image_template_spec.rb
  src/api/spec/models/user_requests_spec.rb
Due: none

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Due: none

Move PersonController private methods
  src/api/app/controllers/person_controller.rb
Due: none

Move SourceController private method
  src/api/app/controllers/source_controller.rb
Due: none

Move BsRequest model private methods
  src/api/app/models/bs_request.rb
Due: none

Verify that the files we try to link to exist
  src/api/app/components/sourcediff_tab_component.rb
  src/api/app/views/webui/package/rdiff.html.haml
Due: run-haml-linter

Move shared things to the outermost context
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Rename context
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Manually fix FactoryBot/FactoryAssociationWithStrategy ...
  src/api/.rubocop_todo.yml
  src/api/spec/factories/attrib_default_values.rb
  src/api/spec/factories/azure_configuration.rb
  src/api/spec/factories/group_maintainers.rb
  src/api/spec/factories/groups_user.rb
  src/api/spec/factories/history_elements.rb
  src/api/spec/factories/workflow_artifacts_per_step.rb
Due: none

Regenerate cassettes with checks for file existing
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/not_setting_a_target_package/creates_a_BsRequest_with_the_source_package_name.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/prefill_form_for_a_branched_package/fills_in_the_submission_reasons_and_creates_a_BsRequest.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/setting_a_target_package/creates_a_BsRequest_with_target_package_name.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/supersede_a_request/creates_a_BsRequest_and_supersede_only_the_selected_request_s_.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_broken_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_diff_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/SourcediffTabComponent/shows_the_correct_changes/1_1_1.yml
  src/api/spec/cassettes/SourcediffTabComponent/shows_the_correct_changes/1_1_2.yml
  src/api/spec/cassettes/SourcediffTabComponent/shows_the_correct_changes/1_1_3.yml
  src/api/spec/cassettes/SourcediffTabComponent/shows_the_correct_changes/1_1_4.yml
  src/api/spec/cassettes/SourcediffTabComponent/shows_the_correct_changes/1_1_5.yml
  src/api/spec/cassettes/SourcediffTabComponent/shows_the_correct_changes/1_1_6.yml
  src/api/spec/cassettes/SourcediffTabComponent/shows_the_correct_changes/1_1_7.yml
Due: none

Add specs for the various scmsync conditions
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Due: none

Fix updating scmsync attribute for existing target packages
  src/api/app/models/workflow/step/branch_package_step.rb
Due: none

Adapt cassettes to BranchPackageStep spec changes
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_closed_merged_SCM_webhook_event/without_target_project_permission/1_1_2_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/it_creates_the__branch_request_file/1_1_1_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/it_creates_the__branch_request_file/1_1_1_1_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/it_sets_the_scmsync_url/1_1_1_2_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_scmsync_is_active/on_a_package_level_with_a_branch_fragment/1_1_1_5_4_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_scmsync_is_active/on_a_package_level_with_a_branch_fragment/1_1_1_5_4_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_scmsync_is_active/on_a_package_level_with_a_subdir_query/1_1_1_5_3_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_scmsync_is_active/on_a_package_level_with_a_subdir_query/1_1_1_5_3_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_scmsync_is_active/on_a_package_level_with_a_subdir_query_and_a_branch_fragment/1_1_1_5_5_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_scmsync_is_active/on_package_level/1_1_1_5_2_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_scmsync_is_active/on_package_level/1_1_1_5_2_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_scmsync_is_active/on_project_level/1_1_1_5_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_scmsync_is_active/on_project_level/1_1_1_5_1_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_scmsync_is_active/on_project_level/1_1_1_5_1_5.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_the_branch_target_package_already_exists/1_1_1_4_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_the_branch_target_package_already_exists/1_1_1_4_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_the_branch_target_package_already_exists/1_1_1_4_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_the_branch_target_package_already_exists/it_updates_the__branch_request_file/1_1_1_4_4_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_the_branch_target_package_already_exists/it_updates_the__branch_request_file/1_1_1_4_4_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_the_branch_target_package_already_exists/it_updates_the_scmsync_url/1_1_1_4_5_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_the_branch_target_package_does_not_exist/1_1_1_5_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_the_branch_target_package_does_not_exist/1_1_1_5_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/when_the_branch_target_package_does_not_exist/1_1_1_5_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/without_branch_permissions/1_1_1_3_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_reopened_event_SCM_webhook_event/without_target_project_permission/1_1_3_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_check_source_access/1_4_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_parse_scmsync_for_target_package/for_scmsync_on_package_level/1_2_2_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_parse_scmsync_for_target_package/for_scmsync_on_package_level/with_a_branch_fragment/1_2_2_3_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_parse_scmsync_for_target_package/for_scmsync_on_package_level/with_a_subdir_query/1_2_2_2_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_parse_scmsync_for_target_package/for_scmsync_on_package_level/with_a_subdir_query_and_a_branch_fragment/1_2_2_4_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_parse_scmsync_for_target_package/for_scmsync_on_project_level/1_2_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_skip_repositories_/when_add_repositories_is_blank/1_3_3_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_skip_repositories_/when_add_repositories_is_disabled/1_3_2_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_skip_repositories_/when_add_repositories_is_enabled/1_3_1_1.yml
Due: none

Restore cassette file for maintenance workflow specs
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow.yml
Due: none

add worker capabilities show view
  src/api/app/views/webui/worker_capabilities/_breadcrumb_items.html.haml
  src/api/app/views/webui/worker_capabilities/show.haml
Due: run-haml-linter

rework controller tests with vcr
  src/api/spec/cassettes/Webui_WorkerCapabilitiesController/GET_show/1_1_1.yml
  src/api/spec/cassettes/Webui_WorkerCapabilitiesController/GET_show/assigns_worker_capabilities.yml
  src/api/spec/controllers/webui/worker_capabilities_controller_spec.rb
Due: none

add worker capabilities link to the monitor page
  src/api/app/assets/stylesheets/webui/monitor.scss
  src/api/app/views/webui/monitor/_workers_table.html.haml
  src/api/test/functional/webui/spider_test.rb
Due: run-haml-linter

add controller tests
  src/api/spec/controllers/webui/worker_capabilities_controller_spec.rb
Due: none

add worker connection specs
  src/api/spec/lib/backend/api/build_results/worker_spec.rb
Due: none

slightly increase builderbox width to compensate the capabilities link
  src/api/app/assets/stylesheets/webui/monitor.scss
Due: none

add show worker capabilities endpoint
  src/api/app/controllers/webui/worker_capabilities_controller.rb
  src/api/app/lib/backend/api/build_results/worker.rb
  src/api/config/routes/webui_routes.rb
Due: none

remove low value unit tests
  src/api/spec/lib/backend/api/build_results/worker_spec.rb
Due: none

remove unnecessary cache
  src/api/app/controllers/webui/worker_capabilities_controller.rb
Due: none

Add a test to verify the diff works with archive diffs
  src/api/spec/cassettes/Requests_Submissions/submit_package/submitting_a_package_with_a_binary_diff/displays_a_diff.yml
  src/api/spec/features/webui/requests/submissions_spec.rb
Due: none

Exclude comments without a commentable from the list
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/models/comment.rb
Due: none

Set background to dropdown header
  src/api/app/views/webui/request/_actions_details.html.haml
Due: run-haml-linter

Swap the source and the target file link addresses
  src/api/app/components/diff_component.html.haml
Due: run-haml-linter

Handle ActionMailer producing nil
  src/api/app/jobs/send_event_emails_job.rb
Due: none

Fix spec warning
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/submit_several_packages_at_once_against_a_factory_staging_project/shows_the_beta_version_of_the_requests_page.yml
  src/api/spec/features/webui/requests/submissions_spec.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
