Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

[backend] improve slsa provenance v1 data
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Due: run-backend-tests

Move set_object_to_authorize to WebuiController
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/trigger_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Use standard before filters
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/views/webui/packages/build_log/live_build_log.html.haml
Due: run-haml-linter

Drop redundant begin
  src/api/app/controllers/webui/packages/build_log_controller.rb
Due: none

Simplify BuildLogController spec
  src/api/spec/controllers/webui/packages/build_log_controller_spec.rb
  src/api/spec/fixtures/files/build_result.xml
Due: none

Drop BuildLogController spec cassettes
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/successfully/1_1_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/successfully_with_a_package_which_name_that_includes_/1_1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/successfully_with_a_project_which_name_that_includes_/1_1_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_package/1_1_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_package/1_1_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_project/1_1_1_6_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_project/1_1_1_6_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_protected_package/1_1_1_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_protected_package/1_1_1_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_3.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_4.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_5.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_6.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_architecture/1_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_architecture/1_1_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_repository/1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_repository/1_1_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/successfully/1_2_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/successfully_with_a_package_which_name_that_includes_/1_2_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/successfully_with_a_project_which_name_that_includes_/1_2_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_package/1_2_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_package/1_2_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_project/1_2_1_6_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_project/1_2_1_6_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_protected_package/1_2_1_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_protected_package/1_2_1_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_3.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_4.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_5.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_architecture/1_2_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_architecture/1_2_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_repository/1_2_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_repository/1_2_2_2.yml
Due: none

Drop @can_modify from BuildLogController
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/views/webui/packages/build_log/_live_build_log_controls.html.haml
  src/api/app/views/webui/packages/build_log/live_build_log.html.haml
Due: run-haml-linter

Use standard set_package before filter
  src/api/app/controllers/webui/packages/build_log_controller.rb
Due: none

Prevent from loading the badge twice
  src/api/app/views/webui/package/side_links/_create_badge.html.haml
Due: run-haml-linter

Bugfix: undefined local variable for the chart occurrence
  src/api/app/components/chart_component.html.haml
Due: run-haml-linter

Bugfix: missing initialize parameter due to inheritance
  src/api/app/components/workflow_run_header_component.rb
  src/api/app/views/webui/workflow_runs/show.html.haml
Due: run-haml-linter

Refactor a bit of complexity on SCMStatusReporter
  src/api/app/services/scm_status_reporter.rb
Due: none

Do not report to the SCM when its not needed
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/models/token/workflow_spec.rb
Due: none

[backend] clamp publish penalty time to 1 hour
  src/backend/bs_publish
Due: run-backend-tests

[backend] rename the "noearlykiwipublish" publish flag to "noearlypublish"
  src/backend/bs_sched
Due: run-backend-tests

[backend] rename create_empty publish flag to createempty
  src/backend/BSSched/PublishRepo.pm
  src/backend/bs_publish
Due: run-backend-tests

[backend] add ipv6 support for workers
  src/backend/BSRPC.pm
  src/backend/bs_repserver
Due: run-backend-tests

Let source maintainer handle and revoke a request
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/policies/bs_request_policy.rb
Due: none

Prevent from performing N+1 queries on user involved packages
  src/api/app/services/user_service/involved.rb
Due: none

Get rid of redundant guard clauses
  src/api/app/services/user_service/involved.rb
Due: none

Update RuboCop TODO file
  src/api/.rubocop_todo.yml
Due: none

Remove StatusHistoryFetcher
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/services/monitor_controller_service/status_history_fetcher.rb
Due: none

Improve constant naming and value
  src/api/app/controllers/webui/monitor_controller.rb
Due: none

Avoid using magic numbers
  src/api/app/controllers/webui/monitor_controller.rb
Due: none

Bugfix: for ajax calls unread_notification_counter can be not initialized
  src/api/app/views/layouts/webui/webui.html.haml
Due: run-haml-linter

Return a Bad Request error when toggling an invalid flag
  src/api/app/controllers/webui/repositories_controller.rb
Due: none

Use named parameters here, because there are too many positional parameters.
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Due: none

Permit AJAX requests to set roles of packages
  src/api/config/routes/webui.rb
Due: none

Simplify release_package, maintainer & flavor assignment
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/app/models/concerns/multibuild_package.rb
  src/api/spec/models/concerns/multibuild_package_spec.rb
Due: none

Simplify BinaryRelease creation
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/spec/jobs/update_released_binaries_job_spec.rb
Due: none

Make medium_hash smaller
  src/api/app/jobs/update_released_binaries_job.rb
Due: none

Simplify comparing old and new BinaryRelease
  src/api/app/jobs/update_released_binaries_job.rb
Due: none

More UpdateReleasedBinariesJob specs
  src/api/spec/factories/notification_payloads.rb
  src/api/spec/fixtures/files/patchinfo.xml
  src/api/spec/jobs/update_released_binaries_job_spec.rb
Due: none

Rename processed_item variable
  src/api/app/jobs/update_released_binaries_job.rb
Due: none

Drop BinaryRelease.medium_container
  src/api/app/models/binary_release.rb
  src/api/app/models/concerns/package_medium_container.rb
Due: none

Simplify lookup hashkey
  src/api/app/jobs/update_released_binaries_job.rb
Due: none

Drop BinaryRelease.set_release_time callback
  src/api/app/models/binary_release.rb
  src/api/test/unit/binary_release_test.rb
Due: none

Expand BinaryRelease factory
  src/api/spec/factories/binary_releases.rb
Due: none

Code comments for UpdateReleasedBinariesJob
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/app/models/binary_release.rb
Due: none

Remove superflous permission checks
  src/api/app/controllers/source_controller.rb
Due: none
