Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

[backend] also create intoto annotation for the internal registry
  src/backend/BSPublisher/Registry.pm
Due: run-backend-tests

Discard disabled build results for the badge
  src/api/app/controllers/webui/packages/badge_controller.rb
Due: none

Refactoring: extract rejecting results logic
  src/api/app/controllers/webui/packages/badge_controller.rb
Due: none

Make specs work with Decision STI
  src/api/app/models/decision.rb
  src/api/spec/factories/appeal.rb
  src/api/spec/factories/decision_cleared.rb
  src/api/spec/factories/decision_favored.rb
  src/api/spec/factories/notification.rb
  src/api/spec/features/webui/canned_responses_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
  src/api/spec/models/report_spec.rb
  src/api/spec/policies/appeal_policy_spec.rb
Due: none

Make sure that the kind matches the type
  src/api/app/controllers/webui/decisions_controller.rb
Due: none

Use strings instead of constans to get rid of circular dependencies
  src/api/app/models/decision.rb
  src/api/lib/tasks/dev/reports.rake
  src/api/spec/components/notification_action_description_component_spec.rb
Due: none

Filter counts on unscoped pagination set
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Write to both columns, decision_kind and decision_type
  src/api/app/controllers/webui/users/canned_responses_controller.rb
Due: none

Backfill decision_type field in canned_responses
  src/api/db/data/20240419092811_backfill_decision_type_in_canned_responses.rb
  src/api/db/data_schema.rb
Due: run-migrations-tests

Pass the relation only to compute the counting in the component
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

Add Metrics/ClassLength offense to Rubocop TODO
  src/api/.rubocop_todo.yml
Due: none

Handle connection errors in Gitea client
  src/api/app/lib/gitea_api/v1/client.rb
  src/api/app/services/gitea_status_reporter.rb
  src/api/app/services/scm_exception_handler.rb
Due: none

Display category and reason differently for reports
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/models/event/report.rb
  src/api/app/models/report.rb
  src/api/app/views/event_mailer/report_for_comment.html.haml
  src/api/app/views/event_mailer/report_for_package.html.haml
  src/api/app/views/event_mailer/report_for_project.html.haml
  src/api/app/views/event_mailer/report_for_user.html.haml
  src/api/app/views/webui/appeals/_list_reports.html.haml
  src/api/spec/mailers/event_mailer_spec.rb
Due: run-haml-linter

Handle more Faraday connection errors
  src/api/app/services/github_status_reporter.rb
Due: none

Read from decision_type instead of decision_kind
  src/api/app/components/canned_responses_dropdown_component.html.haml
  src/api/app/components/canned_responses_dropdown_component.rb
  src/api/app/components/reports_modal_component.rb
  src/api/app/controllers/webui/users/canned_responses_controller.rb
  src/api/app/models/canned_response.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/users/canned_responses/edit.html.haml
  src/api/app/views/webui/users/canned_responses/index.html.haml
  src/api/spec/components/canned_responses_dropdown_component_spec.rb
  src/api/spec/factories/canned_responses.rb
  src/api/spec/features/webui/canned_responses_spec.rb
Due: run-haml-linter

Ignore old column that can be cached
  src/api/app/models/canned_response.rb
Due: none

Introduce a view for reports
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/views/webui/reports/_breadcrumb_items.html.haml
  src/api/app/views/webui/reports/show.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Add controller specs for canned responses
  src/api/spec/controllers/webui/users/canned_responses_controller_spec.rb
Due: none

Set warning color to Report button
  src/api/app/assets/stylesheets/webui/links.scss
  src/api/app/views/webui/comment/_reply.html.haml
Due: run-haml-linter

[backend] Fix typo in log message
  src/backend/BSSched/PublishRepo.pm
Due: run-backend-tests

Add favor decision with comment moderation
  src/api/app/models/canned_response.rb
  src/api/app/models/decision.rb
  src/api/app/models/decision_favored_with_comment_moderation.rb
  src/api/app/policies/decision_favored_with_comment_moderation_policy.rb
Due: none

Spec the moderate_comment method
  src/api/spec/factories/decision_favored_with_comment_moderation.rb
  src/api/spec/models/decision_favored_with_comment_moderation_spec.rb
Due: none

Add favor decision with user deletion
  src/api/app/models/canned_response.rb
  src/api/app/models/decision.rb
  src/api/app/models/decision_favored_with_user_deletion.rb
  src/api/app/policies/decision_favored_with_user_deletion_policy.rb
  src/api/spec/factories/decision_favored_with_user_deletion.rb
  src/api/spec/models/decision_favored_with_user_deletion_spec.rb
Due: none

Simplify DecisionFavoredWithUserDeletion.display?
  src/api/app/models/decision_favored_with_user_deletion.rb
Due: none

Get rid of kind from the decision model
  src/api/app/controllers/webui/decisions_controller.rb
  src/api/app/models/decision.rb
Due: none

Update bundler version
  src/api/Gemfile.lock
  src/api/Gemfile.next.lock
Due: run-passenger-tests

Implement Favor Decision and create a Delete Request
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/models/canned_response.rb
  src/api/app/models/decision.rb
  src/api/app/models/decision_favored_with_delete_request.rb
  src/api/app/policies/decision_favored_with_delete_request_policy.rb
  src/api/spec/factories/decision_favored_with_delete_request.rb
  src/api/spec/models/decision_favored_with_delete_request_spec.rb
Due: run-haml-linter

Create a database table for blocked users
  src/api/app/models/blocked_user.rb
  src/api/db/migrate/20240423073041_create_blocked_users.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Add ui to create and remove user blocks
  src/api/app/controllers/webui/users/block_controller.rb
  src/api/app/models/comment.rb
  src/api/app/models/user.rb
  src/api/app/policies/blocked_user_policy.rb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/config/routes/webui.rb
Due: run-haml-linter

Remove CannedResponse#decision_kind
  src/api/app/models/canned_response.rb
  src/api/db/migrate/20240424141833_remove_decision_kind_from_canned_responses.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Avoid running the backfill once decision_kind is removed
  src/api/db/data/20240419092811_backfill_decision_type_in_canned_responses.rb
Due: run-migrations-tests

Move request beta patchinfo details to partial
  src/api/app/views/webui/request/_patchinfo_details.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

Use patchinfo from target package for accepted requests
  src/api/app/views/webui/request/_patchinfo_details.html.haml
Due: run-haml-linter

Add the Decision kind column to ignored columns
  src/api/app/models/decision.rb
Due: none

Implement favor decision and block user
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/models/canned_response.rb
  src/api/app/models/decision.rb
  src/api/app/models/decision_favored_with_user_commenting_restriction.rb
  src/api/app/policies/decision_favored_with_user_commenting_restriction_policy.rb
Due: run-haml-linter

Remove kind column from the decisions table
  src/api/app/models/decision.rb
  src/api/app/models/decision_cleared.rb
  src/api/app/models/decision_favored.rb
  src/api/app/models/decision_favored_with_comment_moderation.rb
  src/api/app/models/decision_favored_with_delete_request.rb
  src/api/app/models/decision_favored_with_user_deletion.rb
  src/api/db/migrate/20240425084914_remove_kind_from_decision.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Don't use the column that doesn't exist anymore
  src/api/app/models/decision.rb
  src/api/db/data/20240417122944_set_the_decision_type_from_decision_kind.rb
Due: run-migrations-tests

Install activestorage for storing user uploaded files
  .gitignore
  dist/obs-server.spec
  src/api/Makefile
  src/api/app/controllers/webui/webui_controller.rb
  src/api/config/application.rb
  src/api/config/environments/development.rb
  src/api/config/environments/production.rb
  src/api/config/environments/test.rb
  src/api/config/storage.yml
  src/api/db/migrate/20240425122946_create_active_storage_tables.active_storage.rb
  src/api/db/schema.rb
Due: run-dist-linter, run-migrations-tests

Add comments to reports
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/models/report.rb
  src/api/app/policies/comment_lock_policy.rb
  src/api/app/policies/comment_policy.rb
  src/api/app/views/webui/reports/show.html.haml
Due: run-haml-linter

Ignore Metrics/CyclomaticComplexity offense
  src/api/.rubocop_todo.yml
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
