Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Add cassettes for package_command spec
  src/api/spec/cassettes/SourceController_package_command/POST_copy/with_a_package/does_not_change_the_package_attributes.yml
  src/api/spec/cassettes/SourceController_package_command/POST_copy/with_a_package/does_not_change_the_package_flags.yml
  src/api/spec/cassettes/SourceController_package_command/POST_copy/with_a_package/does_not_create_a_new_package.yml
  src/api/spec/cassettes/SourceController_package_command/POST_copy/without_a_package/copies_the_flags.yml
  src/api/spec/cassettes/SourceController_package_command/POST_copy/without_a_package/copies_the_package_attributes.yml
  src/api/spec/cassettes/SourceController_package_command/POST_copy/without_a_package/creates_a_new_package.yml
  src/api/spec/cassettes/SourceController_package_command/POST_undelete/when_the_package_is_deleted/restores_the_package.yml
Due: none

Move SourceController.package_command into it's own spec
  src/api/spec/controllers/source_controller_package_command_spec.rb
Due: none

Stop testing package_command in SourceController spec
  src/api/spec/cassettes/SourceController/POST_package_command/with_diff_command_for_a_multibuild_package/1_4_1_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command/with_diff_command_for_a_multibuild_package/1_4_1_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_having_permissions_on_the_deleted_package/1_5_2_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_having_permissions_to_set_the_time/1_5_4_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_on_the_deleted_package/1_5_1_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_on_the_deleted_package/1_5_1_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_to_set_the_time/1_5_3_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_to_set_the_time/1_5_3_2.yml
  src/api/spec/controllers/source_controller_spec.rb
Due: none

Fix bugs surfaced by spec'ing package_command_rebuild
  src/api/app/controllers/source_controller.rb
Due: none

Refactor searching for an attribute type
  src/api/app/models/attrib_type.rb
Due: none

Improve searching for an attribute type
  src/api/app/models/attrib_type.rb
Due: none

Drop NotificationNotifiableLinkComponent
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/components/previews/notification_notifiable_link_component_preview.rb
Due: run-haml-linter

Add spec for NotificationHelper#notifiable_link
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

[dist] require perl(Compress::Zlib) instead of perl-Compress-Zlib
  dist/obs-server.spec
Due: run-dist-linter

Extract specialized classes for Event::RequestStateChange, Event::RequestCreate, Event::ReviewWanted
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/models/event_request_create_notification.rb
  src/api/app/models/event_request_state_change_notification.rb
  src/api/app/models/event_review_wanted_notification.rb
  src/api/app/models/notification.rb
Due: run-haml-linter

Replace simple shared examples with simple "it" groups
  src/api/spec/services/notification_service/web_channel_spec.rb
Due: none

Remove base64 updates
  src/api/Gemfile.lock
  src/api/vendor/cache/base64-0.1.1.gem
  src/api/vendor/cache/base64-0.2.0.gem
Due: run-passenger-tests

[backend] scmsync: move repserver notification after the lock was released
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_srcserver
Due: run-backend-tests

Fix parameter key for outdated notifications finders
  src/api/app/queries/outdated_notifications_finder/appeal.rb
  src/api/app/queries/outdated_notifications_finder/decision.rb
  src/api/app/queries/outdated_notifications_finder/package.rb
  src/api/app/queries/outdated_notifications_finder/project.rb
  src/api/app/queries/outdated_notifications_finder/report.rb
  src/api/app/queries/outdated_notifications_finder/workflow_run.rb
Due: none

[api] allow to enforce maintenance request staging
  src/api/app/controllers/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/project.rb
  src/api/db/attribute_descriptions.rb
  src/api/db/data/20190719135426_add_obs_enforce_branching_attribute.rb
  src/api/db/seeds.rb
  src/api/test/fixtures/attrib_types.yml
  src/api/test/functional/maintenance_test.rb
Due: run-migrations-tests

[api] alternative removal of enforced maintenance branches
  src/api/app/models/bs_request_action_maintenance_incident.rb
Due: none

[api] support request diffing with project delete action
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
Due: none

[api] fix setincident when non-incident actions are in a request
  src/api/app/models/bs_request_permission_check.rb
Due: none

[api] accept already removed projects in request delete actions.
  src/api/app/models/bs_request_action_delete.rb
Due: none

[api] no per-package cleanup when using EnforcedBranching
  src/api/app/models/bs_request_action_maintenance_incident.rb
Due: none

[api] fix package unlock behaviour
  src/api/app/controllers/source_controller.rb
  src/api/test/functional/source_controller_test.rb
Due: none

[backend] BSTar: add a file size limit check
  src/backend/BSTar.pm
Due: run-backend-tests

[backend] fix typo in normalization error message
  src/backend/bs_repserver
Due: run-backend-tests

Drop disfunctuonal checking of deleted packages
  src/api/app/controllers/source_controller.rb
Due: none

Simplify validate_target_for_package_command_exists
  src/api/app/controllers/source_controller.rb
Due: none

Substitute `User.session!` with `User.session` in views
  src/api/app/views/layouts/webui/_footer.html.haml
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/package/view_file.html.haml
  src/api/app/views/webui/packages/branches/new.html.haml
  src/api/app/views/webui/packages/files/show.html.haml
  src/api/app/views/webui/project/new.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/users/canned_responses/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/app/views/webui/users/tasks/index.html.haml
  src/api/app/views/webui/users/tokens/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tokens/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/watched_items/toggle_watched_item.js.erb
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
Due: run-haml-linter

Substitute `User.session!` with `User.session` in webui controllers
  src/api/app/controllers/webui/cloud/azure/configurations_controller.rb
  src/api/app/controllers/webui/cloud/ec2/configurations_controller.rb
  src/api/app/controllers/webui/cloud/upload_job/logs_controller.rb
  src/api/app/controllers/webui/cloud/upload_jobs_controller.rb
  src/api/app/controllers/webui/comment_locks_controller.rb
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/controllers/webui/decisions_controller.rb
  src/api/app/controllers/webui/packages/branches_controller.rb
  src/api/app/controllers/webui/packages/trigger_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/projects/project_configuration_controller.rb
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/controllers/webui/users/bs_requests_controller.rb
  src/api/app/controllers/webui/users/canned_responses_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/controllers/webui/users/patchinfos_controller.rb
  src/api/app/controllers/webui/users/subscriptions_controller.rb
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Due: none

[dist] obsstoragesetup: Drop usage of xm(1)
  dist/obsstoragesetup
Due: run-dist-linter

Add keyinfo.rng schema
  docs/api/api/keyinfo.rng
Due: none

Deduplicate users the token is shared with
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/models/token/workflow.rb
Due: none

Adapt spec test
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Due: none

[api] increase length limit of project scmsync elements
  src/api/app/models/project.rb
  src/api/db/migrate/20240705121900_change_scmsync_type.rb
  src/api/db/schema.rb
Due: run-migrations-tests

[backend] ProductCompose: do not block on productcompose packages
  src/backend/BSSched/BuildJob/ProductCompose.pm
Due: run-backend-tests

Refactoring conditions logic for creating notification
  src/api/app/services/notification_service/notifier.rb
Due: none

[backend] Add support for passing the package to the configured sign program
  src/backend/bs_signer
Due: run-backend-tests

Prevent from erroring for notifications of deleted workflow runs
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

[api] relax package meta
  docs/api/api/package.rng
  src/api/test/functional/source_controller_test.rb
Due: none

[api] fix invalid local links on package instantiate
  src/api/app/helpers/maintenance_helper.rb
Due: none

[webui] fix scmsync project view
  src/api/.rubocop_todo.yml
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/views/webui/project/_project_packages.html.haml
Due: run-haml-linter

[api] add some missing api parameters
  docs/api/api/api.txt
Due: none
