Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Add the savannah tracker in a data migration
  src/api/db/data/20240321103332_add_savannah_bug_tracker.rb
  src/api/db/data_schema.rb
Due: run-migrations-tests

Issue tracker: Add GNU savannah bug tracker.
  docs/api/api/issue_trackers.xml
  src/api/db/seeds.rb
  src/api/test/fixtures/issue_trackers.yml
Due: run-migrations-tests

Fix test after adding savannah issue tracker.
  src/api/test/functional/issue_trackers_controller_test.rb
Due: none

Let the user know when to click on the build chart
  src/api/app/assets/javascripts/webui/request_show_redesign/chart_build_results.js
Due: run-javascripts-linter

Expand the message about why the request was declined
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/components/bs_request_history_element_component.rb
Due: run-haml-linter

[backend] bs_sched: also use get_projpacks_all_sync for coldstart
  src/backend/BSSched/ProjPacks.pm
  src/backend/bs_sched
Due: run-backend-tests

[backend] implement "archsync" publish flag
  src/backend/BSSched/PublishRepo.pm
  src/backend/bs_publish
Due: run-backend-tests

[backend] move delayed startup code into the ProjPacks module
  src/backend/BSSched/ProjPacks.pm
  src/backend/bs_sched
Due: run-backend-tests

Stop warning when data migration and other changes
  .github/workflows/set_warnings_about_migrations.yml
Due: none

Replace repository status with build result status
  src/api/app/components/build_results_monitor_component.html.haml
Due: run-haml-linter

Missing delegators
  src/api/app/components/bs_request_action_description_component.rb
Due: run-haml-linter

Additional preview scenario
  src/api/spec/components/previews/bs_request_action_description_component_preview.rb
Due: none

[api][backend] add superseded handling for supportstatus
  docs/api/api/channel.rng
  docs/api/api/obs.rng
  src/api/app/models/channel.rb
  src/api/app/models/channel_binary.rb
  src/api/db/migrate/20240319153505_add_supportstatus_superseded_by.rb
  src/api/db/schema.rb
  src/backend/BSSched/BuildJob/Channel.pm
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSXML.pm
  src/backend/bs_publish
  src/backend/examples/createrepo_rpmmd_hook.pm
Due: run-backend-tests, run-migrations-tests

Disable Metrics/PerceivedComplexity RuboCop offense
  src/api/app/models/channel_binary.rb
Due: none

Do not test Step#target_project_name again
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Due: none

Do not crash if no _log file found
  src/api/app/services/rpmlint_log_extractor.rb
Due: none

Revert "Simplify error message and HTML generation"
  src/api/app/assets/javascripts/webui/flash.js
  src/api/app/assets/javascripts/webui/network.js
Due: run-javascripts-linter

Revert "Default ajax error feedback in case of error"
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/flash.js
  src/api/app/assets/javascripts/webui/network.js
Due: run-javascripts-linter

Move test data creation to the outermost context
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Due: none

There is no reporting in steps
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Due: none

Stop SCMWebhook event specific testing
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Due: none

Adapt cassettes to LinkPackageStep spec
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/1_1_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/1_1_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/1_1_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/1_1_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/1_1_1_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/1_1_1_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/behaves_like_insufficient_permission_on_target_project/1_1_1_7_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/behaves_like_insufficient_permission_to_create_new_target_project/1_1_1_8_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/insufficient_permission_on_target_project/1_1_1_6_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/insufficient_permission_to_create_new_target_project/1_1_1_7_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_an_updated_PR_event/when_the_linked_package_already_existed/1_1_2_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_an_updated_PR_event/when_the_linked_package_already_existed/1_1_2_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_an_updated_PR_event/when_the_linked_package_already_existed/1_1_2_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_an_updated_PR_event/when_the_linked_package_already_existed/1_1_2_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_an_updated_PR_event/when_the_linked_package_already_existed/1_1_2_1_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_an_updated_PR_event/when_the_linked_package_did_not_exist/1_1_2_2_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_commit/1_1_3_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_commit/1_1_3_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_commit/1_1_3_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_commit/1_1_3_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_commit/1_1_3_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_commit/1_1_3_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_commit/behaves_like_insufficient_permission_on_target_project/1_1_3_7_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_commit/behaves_like_insufficient_permission_to_create_new_target_project/1_1_3_8_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_tag/1_1_4_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_tag/1_1_4_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_tag/1_1_4_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_tag/1_1_4_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_tag/1_1_4_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_tag/1_1_4_7.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_tag/behaves_like_insufficient_permission_on_target_project/1_1_4_8_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/with_a_push_event_for_a_tag/does_not_report_back_to_the_SCM.yml
Due: none

Remove shared contexts
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Due: none

Commented projects/packages might be gone
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
Due: none

Method implementation to retrieve if creator is maintainer
  src/api/app/models/bs_request_action_submit.rb
Due: none

Method implementation for submit request additional info
  src/api/.rubocop_todo.yml
  src/api/app/models/bs_request_action_submit.rb
Due: none

Method implementation to retrieve whether diff is cached or not
  src/api/app/models/bs_request_action.rb
Due: none

Stop using actions in hash format, use former object instead
  src/api/app/components/bs_request_action_description_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/spec/components/previews/bs_request_action_description_component_preview.rb
Due: run-haml-linter

Fix LinkPackageStep authorization
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/for_a_new_PR_event/insufficient_permission_for_target_package/1_1_1_7_1.yml
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Due: none

Introduces dependency review action
  .github/workflows/dependency-review-action.yml
Due: none

Disable codecov comments
  codecov.yml
Due: none

Display link to staging project in conversation
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/models/history_element/request_review_added.rb
Due: run-haml-linter

Update spec and cassettes
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_category_badge.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_patch_information.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_rating_badge.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_broken_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/submit_several_packages_at_once_against_a_factory_staging_project/shows_the_beta_version_of_the_requests_page.yml
  src/api/spec/cassettes/SourcediffComponent/with_a_request_with_a_submit_action/renders_the_diff.yml
  src/api/spec/components/sourcediff_component_spec.rb
  src/api/spec/features/webui/requests/submissions_spec.rb
Due: none

Use the action object everywhere else for the beta version
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
Due: run-haml-linter

Use a shorter name for dropdown button
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_add_role.rb
  src/api/app/models/bs_request_action_change_devel.rb
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_action_release.rb
  src/api/app/models/bs_request_action_set_bugowner.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/views/webui/request/_actions_details.html.haml
Due: run-haml-linter

Add TODOs as reminder for later
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
Due: none

Deduplicate action and active_action
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/inline_comment.js.erb
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
Due: run-haml-linter

Deduplicate action and bs_request_action
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
Due: run-haml-linter

Use existing global variable
  src/api/app/controllers/webui/request_controller.rb
Due: none

Do not over-create global variables
  src/api/app/controllers/webui/request_controller.rb
Due: none
