Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Adapt help and placeholders
  src/api/app/components/workflow_run_filter_component.html.haml
Due: run-haml-linter

Filter workflow runs by event_source_name
  src/api/.rubocop_todo.yml
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
Due: run-haml-linter

Empty filter input displays all the results
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/queries/workflow_runs_finder.rb
Due: run-haml-linter

Workflow run input filter to look&feel like the existing ones
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
Due: run-haml-linter

Avoid eager loading on workflow run finders
  src/api/app/queries/workflow_runs_finder.rb
Due: none

fix event_source urls in json files used in factories
  src/api/spec/support/files/request_payload_github_pull_request_closed.json
  src/api/spec/support/files/request_payload_github_pull_request_opened.json
  src/api/spec/support/files/request_payload_gitlab_pull_request_closed.json
  src/api/spec/support/files/request_payload_gitlab_pull_request_merged.json
  src/api/spec/support/files/request_payload_gitlab_pull_request_opened.json
Due: none

Do not run validations when skipping steps execution
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/set_flags.rb
  src/api/spec/models/workflow_spec.rb
Due: none

Do not trigger services when closing or reopening PR's
  src/api/app/models/workflow/step/trigger_services.rb
Due: none

Move project destruction and restoration into the owning step
  src/api/app/models/concerns/target_project_life_cycle_support.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/set_flags.rb
  src/api/spec/models/workflow_spec.rb
Due: none

Launch workers with systemd unit templates...
  dist/obs_worker_manager
  dist/systemd/obsworker@.service
Due: run-dist-linter

Don't send metrics of start times of daemons
  src/api/app/jobs/worker_measurements_job.rb
Due: none

Handle converting a package to scmsync
  src/api/app/models/package.rb
Due: none

Add a separate method to handle gitea yaml file download
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

Refactor download_yaml_file to use scm dependent download methods
  src/api/app/services/workflows/yaml_downloader.rb
Due: none

[backend] fix ssl_iseof test
  src/backend/BSSSL.pm
Due: run-backend-tests

Correct rubocop offenses
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
Due: none

Add spec for submit request step
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_authorized/revokes_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_not_authorized/does_not_revoke_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_a_event_subcription_and_the_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_a_event_subcription_and_the_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_a_event_subcription_and_the_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
Due: none

Fix forgotten variable in submit request step
  src/api/app/models/workflow/step/submit_request.rb
Due: none

Fix linter in workflow run model
  src/api/app/models/workflow_run.rb
Due: none

Make artifact collection the same for all steps
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
Due: run-haml-linter

Collect artifacts inside submit_request step
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/services/workflows/artifacts_collector.rb
Due: run-haml-linter

Use scm_event_subscription_creator
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/services/workflows/scm_event_subscription_creator.rb
Due: none

Use event type to identify status messages for requests in scm status reporter classes
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
  src/api/app/services/gitea_status_reporter.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
Due: none

Create submit request step to SCM/CI integration
  src/api/app/models/workflow/step/submit_request.rb
Due: none

Review by commit
  src/api/app/models/workflow.rb
  src/api/app/services/gitea_status_reporter.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
Due: none

Introduces WorkflowRun.event_source_message
  src/api/app/models/workflow_run.rb
Due: none

Add detailed revoke message
  src/api/app/models/workflow/step/submit_request.rb
Due: none

Split a test
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_authorized/revokes_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_no_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
Due: none

Adapt SCM workflow to handle the submit request step
  src/api/app/models/workflow.rb
Due: none

Create revoke_request? pundit policy for bs_request
  src/api/app/policies/bs_request_policy.rb
Due: none

Collect artifacts for submit_request step
  src/api/app/services/workflows/artifacts_collector.rb
Due: none

Wait for source services to finish in submit request step
  src/api/app/models/workflow/step/submit_request.rb
Due: none

Add bs_request association to event_subscription
  src/api/app/models/event_subscription.rb
  src/api/db/migrate/20230717220936_add_bs_request_to_event_subscription.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Create report_to_scm_job for request_statechange event
  src/api/app/models/event/request_statechange.rb
Due: none

Add bs_request association to event_subscription (II)
  src/api/db/migrate/20230717220936_add_bs_request_to_event_subscription.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Add push event to submit request step
  src/api/app/models/workflow/step/submit_request.rb
Due: none

Use WorkflowRun.event_source_message
  src/api/app/models/workflow/step/submit_request.rb
Due: none

Update rubocop todo files
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
Due: none

Prepare SCM status reporter for submit_request step
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/services/gitea_status_reporter.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
Due: none

Ignore Metrics/CyclomaticComplexity
  src/api/app/models/workflow.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
