Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Fix notification notifiable link component
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Add report notifications to finder class
  src/api/app/queries/notifications_finder.rb
  src/api/app/queries/outdated_notifications_finder/report.rb
Due: none

Consider content moderation beta in notification filter component spec
  src/api/spec/components/notification_filter_component_spec.rb
Due: none

Send emails for `create_report` event to moderators in beta
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/views/event_mailer/create_report.html.haml
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/factories/reports.rb
  src/api/spec/mailers/event_mailer_spec.rb
Due: run-haml-linter

Add spec for NotificationNotifiableLinkComponent
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/factories/notification.rb
Due: none

Prevent from creating create report notifications for the RSS channel
  src/api/app/services/notification_service/notifier.rb
Due: none

Disable subscription to RSS for Reports
  src/api/app/models/event_subscription/for_channel_form.rb
Due: none

Add specs for NotificationActionDescriptionComponent
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/factories/notification.rb
Due: none

[backend] BSSched::RPC: warn if finishing a RPC took more than 10 seconds
  src/backend/BSSched/RPC.pm
Due: run-backend-tests

Introduces spec for Webui::Packages::BuildLogController
  src/api/.rubocop_todo.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/successfully/1_1_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/successfully_with_a_package_which_name_that_includes_/1_1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/successfully_with_a_project_which_name_that_includes_/1_1_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existant_package/1_1_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existant_package/1_1_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existant_project/1_1_1_6_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existant_project/1_1_1_6_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_protected_package/1_1_1_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_protected_package/1_1_1_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_3.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_4.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_5.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_6.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistant_architecture/1_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistant_architecture/1_1_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistant_repository/1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistant_repository/1_1_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/successfully/1_2_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/successfully_with_a_package_which_name_that_includes_/1_2_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/successfully_with_a_project_which_name_that_includes_/1_2_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existant_package/1_2_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existant_package/1_2_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existant_project/1_2_1_6_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existant_project/1_2_1_6_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_protected_package/1_2_1_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_protected_package/1_2_1_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_3.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_4.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_5.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistant_architecture/1_2_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistant_architecture/1_2_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistant_repository/1_2_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistant_repository/1_2_2_2.yml
  src/api/spec/controllers/webui/packages/build_log_controller_spec.rb
Due: none

Move is_link variable to the place it's used
  src/api/app/controllers/webui/packages/job_history_controller.rb
  src/api/app/controllers/webui/packages/main_controller.rb
  src/api/spec/cassettes/Packages/adding_a_valid_file.yml
Due: none

Fix some rubocop issues manually
  src/api/spec/features/webui/projects_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/features/webui/watchlists_spec.rb
Due: none

Fix rubocop issues
  src/api/spec/components/avatar_component_spec.rb
  src/api/spec/components/bs_request_activity_timeline_component_spec.rb
  src/api/spec/components/bs_request_comment_component_spec.rb
  src/api/spec/components/bs_request_history_element_component_spec.rb
  src/api/spec/components/bs_request_overview_avatars_component_spec.rb
  src/api/spec/components/build_result_for_architecture_component_spec.rb
  src/api/spec/components/buildresult_status_link_component_spec.rb
  src/api/spec/components/notification_action_bar_component_spec.rb
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/notification_avatars_component_spec.rb
  src/api/spec/components/notification_excerpt_component_spec.rb
  src/api/spec/components/user_avatar_component_spec.rb
  src/api/spec/components/watchlist_icon_component_spec.rb
  src/api/spec/controllers/group_controller_spec.rb
  src/api/spec/controllers/person_controller_spec.rb
  src/api/spec/controllers/request_controller_spec.rb
  src/api/spec/controllers/staging/backlog_controller_spec.rb
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
  src/api/spec/controllers/status_messages_controller_spec.rb
  src/api/spec/controllers/worker/status_controller_spec.rb
  src/api/spec/features/webui/maintained_projects_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/search_spec.rb
  src/api/spec/support/shared_examples/features/bootstrap_user_tab.rb
  src/api/test/test_helper.rb
Due: none

Implement UI for creating decision objects
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/components/reports_modal_component.rb
  src/api/app/components/reports_notice_component.html.haml
  src/api/app/components/reports_notice_component.rb
  src/api/app/controllers/webui/decisions_controller.rb
  src/api/app/models/report.rb
  src/api/app/policies/decision_policy.rb
  src/api/config/routes/webui_routes.rb
  src/api/spec/components/previews/reports_modal_component_preview.rb
Due: run-haml-linter

Provide some test Reports for development
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/reports.rake
Due: none

Enable subscriptions for admin
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/rake_support.rb
  src/api/lib/tasks/dev/reports.rake
Due: none

[backend] split BSXML::issues from BSXML::sourcediff
  src/backend/BSXML.pm
Due: run-backend-tests

[backend] BSXML: fix indenting
  src/backend/BSXML.pm
Due: run-backend-tests

Favor moderator as Report notification receivers
  src/api/app/models/event/base.rb
Due: none

[backend] bs_publish: also rename sbom files in slepool hack
  src/backend/bs_publish
Due: run-backend-tests

Remove unused `modal_title` attribute
  src/api/app/components/report_component.html.haml
  src/api/app/components/report_component.rb
Due: run-haml-linter

[backend] BSPublisher/Registry: fix container normalization
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
Due: run-backend-tests

Remove `modal_id` in Report Component
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/report_component.html.haml
  src/api/app/components/report_component.rb
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/views/webui/comment/_reply.html.haml
  src/api/app/views/webui/comment/_show.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/package/show_actions/_report_package.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/show_actions/_report_project.html.haml
  src/api/app/views/webui/reports/create.js.erb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Move policy checks inside ReportComponent
  src/api/app/components/report_component.rb
  src/api/app/views/webui/comment/_show.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Set the confirmation text from the link
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/components/report_component.html.haml
  src/api/app/components/report_component.rb
  src/api/app/views/webui/comment/_show.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter, run-javascripts-linter

Move Report component call outside the comment list
  src/api/app/views/webui/comment/_show.html.haml
  src/api/app/views/webui/request/_request_comments.html.haml
Due: run-haml-linter

[backend] bs_repserver: also rename sbom files in copybuild's setrelease implementation
  src/backend/bs_repserver
Due: run-backend-tests

[backend] set goarch to 'any' for helm charts
  src/backend/BSPublisher/Container.pm
Due: run-backend-tests

Pass memory limit for lxc workers
  dist/obsworker
  src/backend/bs_worker
Due: run-dist-linter, run-backend-tests

[dist] obsstoragesetup: do not prompt before wipe
  dist/obsstoragesetup
Due: run-dist-linter

No need to catch and re-raise the same exception...
  src/api/app/models/project/update_from_xml_command.rb
Due: none

Create test data for decisions
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/reports.rake
Due: none

Unify the way we set @package in the webui
  src/api/app/controllers/webui/attribute_controller.rb
  src/api/app/controllers/webui/packages/main_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/requests/deletions_controller.rb
  src/api/app/controllers/webui/requests/role_additions_controller.rb
  src/api/app/controllers/webui/requests/submissions_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Due: none

Simplify require_package
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/controllers/webui/webui_controller_spec.rb
Due: none

Adopt specs to require_package in all controllers
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/spec/controllers/webui/attribute_controller_spec.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/packages/build_reason_controller_spec.rb
Due: none

Introduces HTTP_REFERER support
  src/api/spec/rails_helper.rb
  src/api/spec/support/redirect_back.rb
Due: none

Handle Project/Package not found more gracefully
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/controllers/webui/webui_controller_spec.rb
Due: none

Stop testing set_project in child controllers
  src/api/spec/controllers/webui/feeds_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/projects/maintenance_incident_requests_controller_spec.rb
  src/api/spec/controllers/webui/projects/meta_controller_spec.rb
  src/api/spec/controllers/webui/projects/project_configuration_controller_spec.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
