Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Fix javascript and remove render condition from report modal
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/components/report_component.rb
Due: run-haml-linter, run-javascripts-linter

Move report component to a partial
  src/api/app/components/report_component.rb
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/request/_request_comments.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/shared/_report_modal.html.haml
  src/api/app/views/webui/user/_basic_info.html.haml
Due: run-haml-linter

Set up subscriptions for cleared and favored events
  src/api/app/models/event/base.rb
  src/api/app/models/event_subscription.rb
  src/api/app/queries/outdated_notifications_finder/decision.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/lib/tasks/dev/reports.rake
Due: none

Introduce the models for clear and favor events
  src/api/app/models/decision.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/favored_decision.rb
Due: none

Introduce a super basic ui for notified decisions
  src/api/app/components/notification_avatars_component.rb
Due: run-haml-linter

Introduce basic notifications for report decisions
  src/api/app/services/notification_service/notifier.rb
  src/api/app/services/notified_projects.rb
Due: none

Improve the creation of subscriptions for Decision
  src/api/lib/tasks/dev/reports.rake
Due: none

Improve the notification for clear or favor events
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/decision.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/favored_decision.rb
Due: run-haml-linter

Set the correct reportable_type value on payload
  src/api/app/models/decision.rb
Due: none

Set description and excerpt correctly
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_excerpt_component.rb
Due: run-haml-linter

Remove word User from the descriptions
  src/api/app/components/notification_action_description_component.rb
Due: run-haml-linter

Rephrase and simplify the description
  src/api/app/components/notification_action_description_component.rb
Due: run-haml-linter

Titleize the link text
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Omit the word Created on report notification description
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Adapt specs accordingly
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
Due: none

Create factories related to decisions
  src/api/spec/factories/decisions.rb
  src/api/spec/factories/notification.rb
Due: none

Test description of decisions notifications
  src/api/spec/components/notification_action_description_component_spec.rb
Due: none

Test the links of the decisions notifications
  src/api/spec/components/notification_notifiable_link_component_spec.rb
Due: none

[backend] make BSEvents::schedule return if there are no events
  src/backend/BSEvents.pm
Due: run-backend-tests

[backend] allow to specify an id in BSUtil::printlog
  src/backend/BSUtil.pm
Due: run-backend-tests

[backend] Log the event id for ajax requests
  src/backend/BSServer.pm
  src/backend/BSServerEvents.pm
  src/backend/BSStdServer.pm
Due: run-backend-tests

Implement filtering decision events together with reports
  src/api/app/queries/notifications_finder.rb
Due: none

[backend] BSStdServer: add two comments to clarify the code
  src/backend/BSStdServer.pm
Due: run-backend-tests

[backend] BSStdServer: copy the autoheaders when cloning the connection
  src/backend/BSStdServer.pm
Due: run-backend-tests

Document `update_project_attribute` for API ...
  src/api/public/apidocs/paths/source_branch.yaml
Due: none

[backend] AJAX: log the event ids in IO error messages
  src/backend/BSServerEvents.pm
  src/backend/BSStdServer.pm
Due: run-backend-tests

Add missing Schema information sections
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/create_report.rb
  src/api/app/models/event/favored_decision.rb
Due: none

Get bugowners from the devel package as well
  src/api/app/controllers/webui/package_controller.rb
Due: none

Update rails from 7.0.6 to 7.0.8
  src/api/Gemfile.lock
  src/api/vendor/cache/actioncable-7.0.6.gem
  src/api/vendor/cache/actioncable-7.0.8.gem
  src/api/vendor/cache/actionmailbox-7.0.6.gem
  src/api/vendor/cache/actionmailbox-7.0.8.gem
  src/api/vendor/cache/actionmailer-7.0.6.gem
  src/api/vendor/cache/actionmailer-7.0.8.gem
  src/api/vendor/cache/actionpack-7.0.6.gem
  src/api/vendor/cache/actionpack-7.0.8.gem
  src/api/vendor/cache/actiontext-7.0.6.gem
  src/api/vendor/cache/actiontext-7.0.8.gem
  src/api/vendor/cache/actionview-7.0.6.gem
  src/api/vendor/cache/actionview-7.0.8.gem
  src/api/vendor/cache/activejob-7.0.6.gem
  src/api/vendor/cache/activejob-7.0.8.gem
  src/api/vendor/cache/activemodel-7.0.6.gem
  src/api/vendor/cache/activemodel-7.0.8.gem
  src/api/vendor/cache/activerecord-7.0.6.gem
  src/api/vendor/cache/activerecord-7.0.8.gem
  src/api/vendor/cache/activestorage-7.0.6.gem
  src/api/vendor/cache/activestorage-7.0.8.gem
  src/api/vendor/cache/activesupport-7.0.6.gem
  src/api/vendor/cache/activesupport-7.0.8.gem
  src/api/vendor/cache/rails-7.0.6.gem
  src/api/vendor/cache/rails-7.0.8.gem
  src/api/vendor/cache/railties-7.0.6.gem
  src/api/vendor/cache/railties-7.0.8.gem
Due: run-passenger-tests

Put the bugowner_emails in the model
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/models/package.rb
Due: none

Fix the repositories popovers in bootstrap 5.3.1
  src/api/app/assets/javascripts/webui/repositories.js
Due: run-javascripts-linter

Create spec for report `notify?` policy
  src/api/spec/policies/report_policy_spec.rb
Due: none

Avoid self moderating/unmoderating comments
  src/api/app/policies/comment_policy.rb
Due: none

Create `notify?` report policy
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/models/event_subscription/form.rb
  src/api/app/policies/report_policy.rb
  src/api/app/services/notification_service/notifier.rb
Due: none

Only check if user has moderator role in `is_moderator?` method
  src/api/app/models/user.rb
  src/api/app/policies/decision_policy.rb
Due: none

Consider user with moderator role in comment `moderate?` policy
  src/api/app/policies/comment_policy.rb
  src/api/spec/factories/users.rb
  src/api/spec/policies/comment_policy_spec.rb
Due: none

Disable RSpec/FilePath
  src/api/.rubocop.yml
Due: none

Update Rubocop TODO
  src/api/.rubocop_todo.yml
Due: none

[backend] bs_warden: move welcome message after testing the lock
  src/backend/bs_warden
Due: run-backend-tests
