Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Adapt spec to SourcePackageCommandController
  src/api/spec/controllers/source_controller_spec.rb
  src/api/spec/controllers/source_package_command_controller_spec.rb
Due: none

Remove Build Results Summary legend
  src/api/app/components/chart_component.html.haml
  src/api/app/components/chart_component.rb
Due: run-haml-linter

Align Build Results design for summary and details
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/components/chart_component.html.haml
  src/api/app/helpers/webui/buildresult_helper.rb
Due: run-haml-linter

Fix the commenter's badges space issue
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Align to top both badges and repository names
  src/api/app/components/chart_component.html.haml
Due: run-haml-linter

[backend] bs_signer: add missing --signflavor arguments
  src/backend/bs_signer
Due: run-backend-tests

[backend] clean up container signing code
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Due: run-backend-tests

[backend] bs_notar: only requires BSConfiguration if we need to sign
  src/backend/bs_notar
Due: run-backend-tests

Remove duplicated route
  src/api/config/routes/api_routes.rb
Due: none

Split package_command route
  src/api/config/routes/api_routes.rb
Due: none

Move the package cmd routes into their own controller
  src/api/app/controllers/concerns/set_flag.rb
  src/api/app/controllers/concerns/verify_release_targets.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_package_command_controller.rb
Due: none

Adapt rubocop TODO to SourcePackageCommandController
  src/api/.rubocop_todo.yml
Due: none

[backend] commit signflavor support for the worker
  src/backend/bs_worker
Due: run-backend-tests

Show the diff against the superseded request
  src/api/app/components/sourcediff_tab_component.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/changes.html.haml
Due: run-haml-linter

[webui] fix scmsync project view
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/views/webui/project/_project_packages.html.haml
Due: run-haml-linter

[backend] project scmsync: clean up code and improve error reporting
  src/backend/BSSrcServer/Scmsync.pm
Due: run-backend-tests

[api] support source file download of deleted package for obs-lfs-ro
  src/api/app/controllers/public_controller.rb
  src/api/test/functional/source_controller_test.rb
Due: none

Update src/api/test/functional/source_controller_test.rb
  src/api/test/functional/source_controller_test.rb
Due: none

Link request build summary chart to build result tab
  src/api/app/assets/javascripts/webui/request_show_redesign/chart_build_results.js
  src/api/app/components/chart_component.html.haml
Due: run-haml-linter, run-javascripts-linter

Let the build result sub content breathe with space
  src/api/app/components/build_results_monitor_component.html.haml
Due: run-haml-linter

Make sure the padding on the build results table is consistent
  src/api/app/assets/stylesheets/webui/build-results.scss
Due: none

[backend] update createrepo_rpmmd_hook.pm example
  src/backend/examples/createrepo_rpmmd_hook.pm
Due: run-backend-tests

[backend] bs_publish: also pass modifyrepo options to the createrepo rpmmd hook
  src/backend/bs_publish
Due: run-backend-tests

Rename comments GET #show specs to GET #index
  src/api/spec/cassettes/CommentsController/GET_index/of_a_bs_request_action_inline_comment_/with_an_inline_comment/1_1_4_1_1.yml
  src/api/spec/cassettes/CommentsController/GET_index/of_a_bs_request_action_inline_comment_/with_an_inline_comment_of_a_removed_target_package/1_1_4_2_1.yml
  src/api/spec/controllers/comments_controller_spec.rb
Due: none

Introduce Comments#show action
  src/api/app/controllers/comments_controller.rb
  src/api/app/views/comments/show.xml.builder
  src/api/config/routes/api_routes.rb
Due: run-haml-linter

Add specs for comments GET #show
  src/api/spec/controllers/comments_controller_spec.rb
Due: none

Move mocked comment in the appropriate context
  src/api/spec/controllers/comments_controller_spec.rb
Due: none

Introduce Comments#update
  src/api/app/controllers/comments_controller.rb
  src/api/config/routes/api_routes.rb
Due: none

Add specs for comments PUT #update
  src/api/spec/controllers/comments_controller_spec.rb
Due: none

Use single-quoted strings
  src/api/spec/controllers/comments_controller_spec.rb
Due: none

Wrap the time better in request beta comments
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Make test work with the new component text
  src/api/spec/components/bs_request_comment_component_spec.rb
Due: none

Create flipper feature using adapter
  src/api/spec/factories/disabled_beta_feature.rb
  src/api/spec/features/webui/users/beta_features_spec.rb
Due: none

[backend] make singleexport a publish flag
  src/backend/BSSched/PublishRepo.pm
Due: run-backend-tests

[backend] support custom intoto attestations
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/bs_publish
  src/backend/bs_regpush
  src/backend/bs_repserver
Due: run-backend-tests

Add request labels feature
  src/api/app/controllers/webui/projects/bs_request_labels_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_bs_request_label.rb
  src/api/app/models/bs_request_label.rb
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/projects/bs_request_labels/_breadcrumb_items.html.haml
  src/api/app/views/webui/projects/bs_request_labels/_edit_label_modal.html.haml
  src/api/app/views/webui/projects/bs_request_labels/_new_label_modal.html.haml
  src/api/app/views/webui/projects/bs_request_labels/create_failure.js.erb
  src/api/app/views/webui/projects/bs_request_labels/create_success.js.erb
  src/api/app/views/webui/projects/bs_request_labels/new.html.haml
  src/api/app/views/webui/projects/bs_request_labels/update_failure.js.erb
  src/api/app/views/webui/projects/bs_request_labels/update_success.js.erb
  src/api/app/views/webui/request/_add_label_relation.html.haml
  src/api/app/views/webui/request/_show_labels.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui/shared/_add_bs_request_label_dialog.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/db/migrate/20240221161956_create_bs_request_labels.rb
  src/api/db/migrate/20240222080033_create_bs_request_bs_request_labels.rb
  src/api/db/schema.rb
Due: run-haml-linter, run-migrations-tests

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
