Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

Drop useless shared variable and drop 'set_' method prefix
  src/api/app/controllers/webui/request_controller.rb
Due: none

Turn magic numbers into self-explaining ones
  src/api/app/components/chart_component.html.haml
  src/api/app/components/chart_component.rb
Due: run-haml-linter

[backend] accept missing architectures from remote repos
  src/backend/BSRepServer/Remote.pm
  src/backend/BSSched/Remote.pm
Due: run-backend-tests

[backend] productcompose: support building with updateinfo metadata
  src/backend/BSRepServer.pm
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
  src/backend/bs_worker
Due: run-backend-tests

[backend] return an empty gbininfo for missing remote projects/repos/architectures
  src/backend/BSRepServer/Remote.pm
  src/backend/BSSched/Remote.pm
Due: run-backend-tests

[backend] KiwiProduct: fix appdata/modulemd files missing from the buildinfo
  src/backend/BSSched/BuildJob/KiwiProduct.pm
Due: run-backend-tests

Decouple the two /trigger controllers
  src/api/app/controllers/trigger_workflow_controller.rb
Due: none

Add a test for patch information view
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_category_badge.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_patch_information.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_rating_badge.yml
  src/api/spec/features/webui/requests_spec.rb
Due: run-haml-linter

Regenerate cassettes with the new patchinfo view
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
Due: none

Add update information to the conversations tab
  src/api/app/components/patchinfo_component.html.haml
  src/api/app/components/patchinfo_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/spec/components/previews/patchinfo_component_preview.rb
Due: run-haml-linter

Make the headers and padding smaller
  src/api/app/components/patchinfo_component.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Due: run-haml-linter

[api] fix handling of architecture filter for release command
  docs/api/api/api.txt
  src/api/app/controllers/source_controller.rb
Due: none

Replace Token::Rss with User.rss_secret
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/controllers/webui/users/rss_tokens_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/models/user.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/users/subscriptions/index.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/db/data/20231120191210_rss_token_to_user_rss_secret.rb
  src/api/db/data_schema.rb
  src/api/spec/controllers/webui/feeds_controller_spec.rb
  src/api/spec/controllers/webui/users/rss_tokens_controller_spec.rb
  src/api/spec/db/data/regenerate_notifications_spec.rb
  src/api/spec/jobs/send_event_emails_job_spec.rb
  src/api/spec/services/notification_service/notifier_spec.rb
Due: run-haml-linter, run-migrations-tests

[backend] various fixes of the productcompose code
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
  src/backend/bs_worker
Due: run-backend-tests

Drop Webui::Users::TokenTriggersController
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/webui/users/token_triggers_controller.rb
  src/api/app/policies/token_policy.rb
  src/api/app/views/webui/users/token_triggers/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/token_triggers/show.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/components/token_card_component_spec.rb
  src/api/spec/controllers/webui/users/token_triggers_controller_spec.rb
  src/api/spec/policies/token_policy_spec.rb
Due: run-haml-linter

[api] fix crash on invalid repository
  src/api/app/controllers/source_controller.rb
Due: none

Collapse patchinfo into one line
  src/api/app/components/patchinfo_component.html.haml
Due: run-haml-linter

[backend] implement copybuild from different partitions
  src/backend/bs_repserver
  src/backend/bs_srcserver
Due: run-backend-tests

Remove cassettes not needed any more
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/rebuild_token/when_token_is_valid_and_associated_package_exist/flashes_success_and_redirects_to_token_path.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/rebuild_token/when_token_is_valid_and_package/project_provided_exist/flashes_success_and_redirects_to_token_path.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/release_token/when_there_are_no_release_targets/flashes_an_error.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/release_token/when_token_is_valid_and_associated_package_exist/flashes_success_and_redirects_to_token_path.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/release_token/when_user_has_no_rights_for_source/flashes_an_error.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/release_token/when_user_has_no_rights_for_target/flashes_an_error.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/service_token/when_package_does_not_provide_a_service/flashes_an_error.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/service_token/when_package_provides_a_service/flashes_success_and_redirects_to_token_path.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/when_package_or_project_params_are_not_provided/flashes_error_when_package_param_is_missing.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/when_package_or_project_params_are_not_provided/flashes_error_when_project_param_is_missing.yml
Due: none

Make sure that Mail::Address is available in the patchinfo component
  src/api/app/components/patchinfo_component.rb
Due: run-haml-linter

Introduce happymapper with an example usage
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/components/patchinfo_component.html.haml
  src/api/app/components/patchinfo_component.rb
  src/api/app/lib/backend/xml/patchinfo.rb
  src/api/app/lib/backend/xml/patchinfo/issue.rb
  src/api/app/lib/backend/xml/patchinfo/releasetarget.rb
  src/api/config/initializers/happymapper.rb
  src/api/vendor/cache/nokogiri-happymapper-0.9.0.gem
Due: run-haml-linter, run-passenger-tests

[api] fix project kind removal
  src/api/app/models/project/update_from_xml_command.rb
  src/api/test/unit/project_test.rb
Due: none

Update src/api/app/models/project/update_from_xml_command.rb
  src/api/app/models/project/update_from_xml_command.rb
Due: none

Avoid crash as rss_secret is not defined for groups
  src/api/app/services/notification_service/notifier.rb
Due: none

Add validations and move some code to the new patchinfo model
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/lib/backend/xml/patchinfo.rb
  src/api/app/lib/backend/xml/patchinfo/issue.rb
  src/api/app/lib/backend/xml/patchinfo/releasetarget.rb
  src/api/app/models/binary_release.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/package.rb
  src/api/app/services/package_service/file_verifier.rb
Due: none

Use short map syntax for patchinfo issues
  src/api/app/lib/backend/xml/patchinfo.rb
Due: none

Don't extend the comments beyond the timeline space
  src/api/app/components/bs_request_comment_component.html.haml
Due: run-haml-linter

Add patchinfo component spec
  src/api/spec/components/patchinfo_component_spec.rb
Due: none

Handle patchinfo tags as arrays
  src/api/app/components/patchinfo_component.html.haml
  src/api/app/components/patchinfo_component.rb
Due: run-haml-linter

Rename variable
  src/api/app/components/patchinfo_component.html.haml
Due: run-haml-linter

Refactor model service
  src/api/.rubocop_todo.yml
  src/api/app/models/service.rb
Due: none

Fix three-dots superseded history timeline alignment
  src/api/app/assets/stylesheets/webui/timeline.scss
Due: none

Fix Style/OptionalBooleanParameter RuboCop offense
  src/api/.rubocop_todo.yml
  src/api/lib/xpath_engine.rb
Due: none

Fix Naming/MethodParameterName RuboCop offenses ...
  src/api/.rubocop_todo.yml
  src/api/lib/xpath_engine.rb
Due: none

[backend] bs_worker: delete obsolete symlink creation code
  src/backend/bs_worker
Due: run-backend-tests

[backend] BSServer: remove superfluous newline in error reporting
  src/backend/BSServer.pm
Due: run-backend-tests

Prevent dealing with RSS subscriptions for groups
  src/api/app/models/event_subscription/find_for_event.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Due: none

[backend] bs_publisher: support new media naming for slepool
  src/backend/bs_publish
Due: run-backend-tests

Add missing annotation from DB schema changes
  src/api/app/models/event/report.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
Due: none

Replace create! by create
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Due: none

Path conditions:
  run-dist-linter: any of: dist/.*
  run-backend-tests: any of: src/backend/.*
  run-haml-linter: any of: src/api/app/(views|components)/.*
  run-migrations-tests: any of: src/api/db/.*
  run-passenger-tests: any of: src/api/Gemfile.lock
  run-javascripts-linter: any of: src/api/app/assets/javascripts/.*
  run-apidocs-linter: any of: src/api/public/apidocs-new/.*
