Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Introduces scmsync package support for Package.get_by_project_and_name
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/models/package.rb
  src/api/lib/tasks/dev/project_links.rake
Due: none

Implement the comment locking policy
  src/api/app/policies/comment_lock_policy.rb
Due: none

Add missing collation in versions table
  src/api/db/schema.rb
Due: run-migrations-tests

Split up event classes for report creation
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/create_report.rb
  src/api/app/models/event/report.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/models/event_subscription/form.rb
  src/api/app/models/report.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/lib/tasks/dev/rake_support.rb
  src/api/spec/factories/event_subscriptions.rb
Due: run-haml-linter

Create STI report events on report creation
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/report.rb
Due: none

Adapt web notification links to use the STI report events
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Create specs for STI report event email templates
  src/api/spec/mailers/event_mailer_spec.rb
Due: none

Create event mailer templates for STI report event classes
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/views/event_mailer/create_report.html.haml
  src/api/app/views/event_mailer/report_for_comment.html.haml
  src/api/app/views/event_mailer/report_for_package.html.haml
  src/api/app/views/event_mailer/report_for_project.html.haml
  src/api/app/views/event_mailer/report_for_user.html.haml
Due: run-haml-linter

Temporary simulate `Event::CreateReport` creation in event_mailer_spec
  src/api/spec/mailers/event_mailer_spec.rb
Due: none

Fix content-type header for `GET /build/.../_buildenv` ...
  src/api/app/controllers/build/file_controller.rb
  src/api/app/lib/backend/api/build_results/binaries.rb
Due: none

Clarify the defaults for finder methods
  src/api/app/models/package.rb
Due: none

Stop setting options that are already default
  src/api/app/controllers/build_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/statistics_controller.rb
  src/api/app/controllers/webui/packages/branches_controller.rb
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action/differ/query_builder.rb
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/channel_binary.rb
  src/api/app/models/service.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/service.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/trigger_services.rb
  src/api/app/services/package_service/link_verifier.rb
Due: none

Don't display the comment field when the comments are locked
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/policies/comment_policy.rb
  src/api/app/views/webui/comment/_new.html.haml
Due: run-haml-linter

Expand the conditions for what qualifies as locked
  src/api/app/models/comment_locking_validator.rb
  src/api/app/policies/comment_policy.rb
Due: none

Allow maintainers, admins, moderators and staff to comment
  src/api/app/models/comment_locking_validator.rb
  src/api/app/policies/comment_lock_policy.rb
  src/api/app/policies/comment_policy.rb
  src/api/app/views/webui/comment/_new.html.haml
Due: run-haml-linter

Instrument the content moderation feature
  src/api/app/models/decision.rb
  src/api/app/models/report.rb
  src/api/app/queries/reports_finder.rb
Due: none

Fix examples of responses in the API documentation
  src/api/public/apidocs/paths/source_project_name_cmd_undelete.yaml
  src/api/public/apidocs/paths/worker_cmd_checkconstraints.yaml
Due: none

Split treatment of Rails and Backend exceptions
  src/api/app/controllers/concerns/rescue_handler.rb
Due: none

Autocorrect RuboCop Style/SingleLineDoEndBlock offenses
  src/api/.rubocop_todo.yml
  src/api/spec/services/diff_parser_spec.rb
Due: none

Correct RuboCop Style/RedundantFilterChain offense
  src/api/.rubocop_todo.yml
  src/api/app/policies/bs_request_policy.rb
Due: none

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Due: none

Handle invalid request token operation values
  src/api/app/controllers/person/token_controller.rb
Due: none

Stop setting options that are already default, II
  src/api/app/controllers/issue_trackers_controller.rb
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/controllers/staging/staging_controller.rb
  src/api/app/controllers/status/required_checks_controller.rb
Due: none

Make sure the user exists before checking if they are a maintainer
  src/api/app/models/comment_locking_validator.rb
  src/api/app/policies/comment_policy.rb
Due: none

Add maximum length validation for package url
  src/api/.database_consistency.todo.yml
  src/api/app/models/package.rb
Due: none

Increase length limit of URL to upload a file
  src/api/app/views/webui/packages/files/new.html.haml
Due: run-haml-linter

Reduce cyclomatic complexity of CommentPolicy#reply?
  src/api/app/policies/comment_policy.rb
Due: none

Implement comment locking controller actions
  src/api/app/controllers/webui/comment_locks_controller.rb
  src/api/app/policies/comment_lock_policy.rb
  src/api/config/routes/webui_routes.rb
Due: none

Use the correct policy for the comment locking controller
  src/api/app/controllers/webui/comment_locks_controller.rb
Due: none

Use form parameters for commentable id and type
  src/api/app/controllers/webui/comment_locks_controller.rb
Due: none

Implement in depth history view for comments
  src/api/app/components/comment_history_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/views/webui/comment/_history.html.haml
  src/api/app/views/webui/comment/history.js.haml
  src/api/config/application.rb
  src/api/config/routes/webui_routes.rb
Due: run-haml-linter

Make the history modal size larger
  src/api/app/views/webui/comment/_history.html.haml
Due: run-haml-linter

Comment history dropdown
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/comment_history_component.html.haml
  src/api/app/components/comment_history_component.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/helpers/webui/paper_trail_helper.rb
  src/api/app/models/comment.rb
  src/api/app/policies/comment_policy.rb
  src/api/app/views/webui/comment/_content.html.haml
  src/api/spec/components/previews/comment_history_component_preview.rb
Due: run-haml-linter

Authorize Webui::CommentsController#history
  src/api/app/controllers/webui/comments_controller.rb
Due: none

Core component: button
  src/api/app/components/button_component.html.haml
  src/api/app/components/button_component.rb
  src/api/spec/components/button_component_spec.rb
  src/api/spec/components/previews/button_component_preview.rb
Due: run-haml-linter

Remove redefined handler for Backend::Error exceptions
  src/api/app/controllers/concerns/rescue_handler.rb
Due: none

Modal dialog to lock commentable from comments
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/shared/_locking_dialog.html.haml
Due: run-haml-linter

Autocorrect Layout/MultilineMethodCallIndentation
  src/api/.rubocop_todo.yml
  src/api/app/models/event/request.rb
Due: none

Make the history policy more clear
  src/api/app/policies/comment_policy.rb
Due: none
