Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Fix bug: pass the bs_request superseded object, not the number
  src/api/app/controllers/webui/request_controller.rb
Due: none

All types of actions are supported now
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
Due: run-haml-linter

Use '.count' directly when the set is available
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
Due: run-haml-linter

feat: obs worker add clientip arg support
  dist/obsworker
  src/backend/bs_repserver
  src/backend/bs_worker
Due: run-dist-linter, run-backend-tests

Fix duplicated (AKA overriding) before_action call
  src/api/app/controllers/webui/request_controller.rb
Due: none

[api] fix special case in branch handling
  src/api/app/models/branch_package.rb
Due: none

Correct YAML syntax error
  .github/workflows/dependency-review-action.yml
Due: none

Remove version top-level element
  docker-compose.ha.yml
  docker-compose.minitest.yml
  docker-compose.sre.yml
  docker-compose.yml
Due: none

Use logarithmic scale for build result summary chart
  src/api/app/components/chart_component.html.haml
Due: run-haml-linter

[backend] bs_regpush: fix attestation check logic
  src/backend/bs_regpush
Due: run-backend-tests

Scroll to the specific comment on conversation
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/notification_notifiable_link_component.rb
Due: run-haml-linter

Ignore notifying ActionController::BadRequest errors
  src/api/config/initializers/airbrake.rb
Due: none

Wip
  src/api/app/components/sourcediff_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/request_action_changes.js.erb
  src/api/spec/components/sourcediff_component_spec.rb
Due: run-haml-linter

Refactor action related code
  src/api/app/controllers/webui/request_controller.rb
Due: none

Avoid database queries on SourcediffComponent
  src/api/app/components/sourcediff_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/request_action_changes.js.erb
Due: run-haml-linter

Make separate entries for multibuild packages
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
Due: none

Fix OpenQA due to a bug in Apparition gem
  dist/t/Gemfile
Due: run-dist-linter

Fix deprecation of Socket.gethostbyname
  .rubocop_todo.yml
  dist/t/spec/support/capybara.rb
Due: run-dist-linter

[backend] BSSrcServer/Registry: add locking to own/disown repo
  src/backend/BSSrcServer/Registry.pm
Due: run-backend-tests

Update Swagger UI version from 5.0.0 to 5.12.2
  src/api/public/apidocs/swagger-ui-bundle.js
  src/api/public/apidocs/swagger-ui-bundle.js.map
  src/api/public/apidocs/swagger-ui-es-bundle-core.js
  src/api/public/apidocs/swagger-ui-es-bundle-core.js.map
  src/api/public/apidocs/swagger-ui-es-bundle.js
  src/api/public/apidocs/swagger-ui-es-bundle.js.map
  src/api/public/apidocs/swagger-ui-standalone-preset.js
  src/api/public/apidocs/swagger-ui-standalone-preset.js.map
  src/api/public/apidocs/swagger-ui.css
  src/api/public/apidocs/swagger-ui.css.map
  src/api/public/apidocs/swagger-ui.js
  src/api/public/apidocs/swagger-ui.js.map
Due: none

[backend] bs_publish: fix deleting of staticlinks to directories
  src/backend/bs_publish
Due: run-backend-tests

Remove version top-level element
  Rakefile
Due: none

Compact the forward logic
  src/api/app/components/request_decision_component.html.haml
  src/api/app/models/bs_request_action_submit.rb
Due: run-haml-linter

apidocs: Add missing params for branch
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_branch.yaml
Due: none

Make basic Developer Strategy work
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/views/layouts/webui/_login_form.html.haml
  src/api/app/views/webui/session/new.html.haml
  src/api/config/initializers/omniauth.rb
  src/api/config/routes/webui_routes.rb
  src/api/vendor/cache/hashie-5.0.0.gem
  src/api/vendor/cache/omniauth-2.1.2.gem
  src/api/vendor/cache/omniauth-rails_csrf_protection-1.0.1.gem
Due: run-haml-linter, run-passenger-tests

Make login with Github work
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/views/layouts/webui/_login_form.html.haml
  src/api/config/initializers/omniauth.rb
Due: run-haml-linter, run-passenger-tests

Remove nil elements from the array
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
Due: none

Set X-Opensuse-Errorcode for pundit errors
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
Due: none

Fix bugs surfaced by spec'ing package_command_rebuild
  src/api/app/controllers/source_controller.rb
Due: none

Stop testing package_command in SourceController spec
  src/api/spec/cassettes/SourceController/POST_package_command/with_diff_command_for_a_multibuild_package/1_4_1_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command/with_diff_command_for_a_multibuild_package/1_4_1_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_having_permissions_on_the_deleted_package/1_5_2_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_having_permissions_to_set_the_time/1_5_4_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_on_the_deleted_package/1_5_1_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_on_the_deleted_package/1_5_1_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_to_set_the_time/1_5_3_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_to_set_the_time/1_5_3_2.yml
  src/api/spec/controllers/source_controller_spec.rb
Due: none

Move SourceController.package_command into it's own spec
  src/api/spec/controllers/source_controller_package_command_spec.rb
Due: none

Add cassettes for package_command spec
  src/api/spec/cassettes/SourceController_package_command/POST_copy/with_a_package/does_not_change_the_package_attributes.yml
  src/api/spec/cassettes/SourceController_package_command/POST_copy/with_a_package/does_not_change_the_package_flags.yml
  src/api/spec/cassettes/SourceController_package_command/POST_copy/with_a_package/does_not_create_a_new_package.yml
  src/api/spec/cassettes/SourceController_package_command/POST_copy/without_a_package/copies_the_flags.yml
  src/api/spec/cassettes/SourceController_package_command/POST_copy/without_a_package/copies_the_package_attributes.yml
  src/api/spec/cassettes/SourceController_package_command/POST_copy/without_a_package/creates_a_new_package.yml
  src/api/spec/cassettes/SourceController_package_command/POST_undelete/when_the_package_is_deleted/restores_the_package.yml
Due: none

Remove superflous permission checks
  src/api/app/controllers/source_controller.rb
Due: none

mkosi: publish images to per-arch subdirectory
  src/backend/bs_publish
Due: run-backend-tests

[backend] scmsync: allow to add build config lines via meta
  src/backend/BSSrcServer/Scmsync.pm
Due: run-backend-tests

Drop generated backend lib docu
  .codeclimate.yml
  .jshintignore
  src/api/app/lib/backend/doc/Backend.html
  src/api/app/lib/backend/doc/Backend/Api.html
  src/api/app/lib/backend/doc/Backend/Api/Build.html
  src/api/app/lib/backend/doc/Backend/Api/Build/Project.html
  src/api/app/lib/backend/doc/Backend/Api/BuildResults.html
  src/api/app/lib/backend/doc/Backend/Api/BuildResults/Binaries.html
  src/api/app/lib/backend/doc/Backend/Api/BuildResults/Status.html
  src/api/app/lib/backend/doc/Backend/Api/BuildResults/Worker.html
  src/api/app/lib/backend/doc/Backend/Api/Cloud.html
  src/api/app/lib/backend/doc/Backend/Api/IssueTrackers.html
  src/api/app/lib/backend/doc/Backend/Api/Published.html
  src/api/app/lib/backend/doc/Backend/Api/Request.html
  src/api/app/lib/backend/doc/Backend/Api/Search.html
  src/api/app/lib/backend/doc/Backend/Api/Server.html
  src/api/app/lib/backend/doc/Backend/Api/Sources.html
  src/api/app/lib/backend/doc/Backend/Api/Sources/Package.html
  src/api/app/lib/backend/doc/Backend/Api/Sources/Project.html
  src/api/app/lib/backend/doc/Backend/Connection.html
  src/api/app/lib/backend/doc/Backend/ConnectionHelper.html
  src/api/app/lib/backend/doc/Backend/File.html
  src/api/app/lib/backend/doc/Backend/Logger.html
  src/api/app/lib/backend/doc/Backend/Test.html
  src/api/app/lib/backend/doc/Backend/Test/Tasks.html
  src/api/app/lib/backend/doc/_index.html
  src/api/app/lib/backend/doc/class_list.html
  src/api/app/lib/backend/doc/css/common.css
  src/api/app/lib/backend/doc/css/full_list.css
  src/api/app/lib/backend/doc/css/style.css
  src/api/app/lib/backend/doc/file_list.html
  src/api/app/lib/backend/doc/frames.html
  src/api/app/lib/backend/doc/index.html
  src/api/app/lib/backend/doc/js/app.js
  src/api/app/lib/backend/doc/js/full_list.js
  src/api/app/lib/backend/doc/js/jquery.js
  src/api/app/lib/backend/doc/method_list.html
  src/api/app/lib/backend/doc/top-level-namespace.html
Due: none

Show the reviewer why their review was requested
  src/api/app/assets/javascripts/webui/request_show_redesign/add_review.js
  src/api/app/components/add_review_collapsible_component.html.haml
  src/api/app/components/add_review_dropdown_component.html.haml
  src/api/app/components/add_review_dropdown_component.rb
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation_aside.html.haml
Due: run-haml-linter, run-javascripts-linter

Adapt `bs_request_activity_timeline_component_spec`
  src/api/spec/components/bs_request_activity_timeline_component_spec.rb
Due: none

Set diff_to_superseded_id for multiple occurrences
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_changes_content.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/request_action_changes.js.erb
Due: run-haml-linter

Store parameters in container data and take them afterwards
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/views/webui/request/changes.html.haml
Due: run-haml-linter, run-javascripts-linter
