Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-root-rubocop, run-backend-tests, run-haml-linter, run-migrations-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.0.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            (dist|contrib)/.* run-root-rubocop true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Improve messages of validation errors in WorkflowFiltersValidator
  src/api/app/validators/workflow_filters_validator.rb
  src/api/spec/validators/workflow_filters_validator_spec.rb
Due: none

Unify workflow run filters
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/spec/components/workflow_run_filter_component_spec.rb
  src/api/spec/components/workflow_run_filter_link_component_spec.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
Due: run-haml-linter

[backend] automatically set limit=1 when searching for a specific revision
  src/backend/bs_srcserver
Due: run-backend-tests

Implement Token.token_name as generic class method
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/rss.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
Due: none

Update views using token_name to use Token#token_name
  src/api/app/components/token_card_component.rb
  src/api/app/models/token.rb
  src/api/app/views/webui/users/token_triggers/show.html.haml
  src/api/app/views/webui/users/tokens/edit.html.haml
Due: run-haml-linter

Use patched yajl ruby dependency
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Ignore the `now` parameter in rpc mocked requests
  src/backend/t/lib/Test/Mock/BSRPC.pm
Due: run-backend-tests

Add binary dependencies to the SLSA provenance materials
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/1000/reposerver/getbinaries_empty.cpio
  src/backend/t/data/1000/srcserver/getbinaries.cpio
  src/backend/t/data/1000/srcserver/getbinaries_empty.cpio
Due: run-backend-tests

Fix typo
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Fix yajl-ruby package name
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Fix gem copying
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

Add "Identifies artifact" SLSA requirement
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/1000/.build.packages/RPMS/x86_64/hello_world-1-4.1.x86_64.rpm
  src/backend/t/data/1000/.build.packages/SRPMS/hello_world-1-4.1.src.rpm
Due: run-backend-tests

Upgrade yajl to 1.4.2 version
  src/api/Gemfile.lock
Due: none

Add patched nokogiri dependency
  dist/obs-bundled-gems.spec
Due: run-root-rubocop

[backend] fix cache handling for preinstall images
  src/backend/bs_worker
Due: run-backend-tests

Move *REQUEST_ACTIONS to ScmWebhook
  src/api/app/models/scm_webhook.rb
  src/api/app/models/workflow_run.rb
  src/api/app/validators/scm_webhook_event_validator.rb
Due: none

Add view component for workflow_run request action filter
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Due: run-haml-linter

New specs for workflow_run_request_action_filter_component_spec and workflow_runs_controller_spec
  src/api/spec/components/workflow_run_request_action_filter_component_spec.rb
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
Due: none

Switch dev-env/CI to Ruby 2.7 containers
  .ruby-version
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Due: none

Switch all shebangs to Ruby 2.7
  dist/setup-appliance.sh
  dist/systemd/obs-clockwork.service
  dist/systemd/obs-delayedjob-queue-consistency_check.service
  dist/systemd/obs-delayedjob-queue-default.service
  dist/systemd/obs-delayedjob-queue-issuetracking.service
  dist/systemd/obs-delayedjob-queue-mailers.service
  dist/systemd/obs-delayedjob-queue-project_log_rotate.service
  dist/systemd/obs-delayedjob-queue-quick@.service
  dist/systemd/obs-delayedjob-queue-releasetracking.service
  dist/systemd/obs-delayedjob-queue-staging.service
  dist/systemd/obs-sphinx.service
  docs/api/api/Makefile
  docs/api/restility/bin/rest_doc
  docs/api/restility/bin/rest_test
  src/api/Rakefile
  src/api/bin/bundle
  src/api/bin/pry
  src/api/bin/rails
  src/api/bin/rake
  src/api/bin/rdoc
  src/api/bin/ri
  src/api/bin/rspec
  src/api/bin/rubocop
  src/api/script/check_database
  src/api/script/delayed_job.api.rb
  src/api/script/plugin
  src/api/script/reformat_memprof
  src/api/script/rubygem_package_names.rb
  src/api/script/start_test_backend
Due: run-root-rubocop

Bundle with the bundler version shipped in ruby2.7
  src/api/Gemfile.lock
Due: none

Can't modify a frozen string
  src/api/app/helpers/webui/webui_helper.rb
Due: none

Update rake to 13.0.6
  src/api/Gemfile.lock
Due: none

Switch RPM builds to Ruby 2.7
  dist/obs-bundled-gems.spec
  dist/obs-server.spec
Due: run-root-rubocop

Update haml_lint to 0.40.0
  src/api/Gemfile.lock
Due: none

Fix flaky test
  src/api/app/controllers/webui/users/bs_requests_controller.rb
  src/api/spec/controllers/webui/users/bs_requests_controller_spec.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
Due: none

Update parser to 3.1.2.0
  src/api/Gemfile.lock
Due: none

Fix flaky test
  src/api/app/controllers/webui/users/bs_requests_controller.rb
  src/api/spec/controllers/webui/users/bs_requests_controller_spec.rb
Due: none

Remove `report_to_scm` method from workflow step model
  src/api/app/models/workflow/step.rb
Due: none

added dpkg-scanpackages command for ddeb files in bs_publish
  src/backend/bs_publish
Due: run-backend-tests

Update sanitize to version 6.0.0
  src/api/Gemfile.lock
Due: none

Fix broken specs in Kiwi::Image model
  src/api/app/models/kiwi/image/xml_builder.rb
  src/api/spec/models/kiwi/image_spec.rb
Due: none

Move setup/test tasks from openQA test suite here
  dist/t/Makefile
Due: run-root-rubocop

Use the bundler version shiped by ruby3.1
  dist/t/Gemfile.lock
Due: run-root-rubocop

Use the correct rake alternative
  dist/setup-appliance.sh
Due: run-root-rubocop

Downgrade rake to 13.0.1
  dist/obs-bundled-gems.spec
  src/api/Gemfile.lock
Due: run-root-rubocop

Update specs for tag push filter
  src/api/spec/queries/workflow_runs_finder_spec.rb
Due: none

Add new filter for tag push events
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/models/workflow_run.rb
  src/api/app/queries/workflow_runs_finder.rb
Due: run-haml-linter

Add workflow_run_id to EventSubscription model
  src/api/app/models/event_subscription.rb
  src/api/db/migrate/20220413223300_add_workflow_run_to_event_subscription.rb
  src/api/db/schema.rb
Due: run-migrations-tests
