Repository openSUSE/Open-Build-Service: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dist-linter, run-backend-tests, run-haml-linter, run-migrations-tests, run-passenger-tests, run-javascripts-linter, run-apidocs-linter

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration
# https://circleci.com/docs/2.0/dynamic-config/
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Define dynamic CI pipeline
          mapping: |
            dist/.* run-dist-linter true
            src/backend/.* run-backend-tests true
            src/api/app/(views|components)/.* run-haml-linter true
            src/api/db/.* run-migrations-tests true
            src/api/Gemfile.lock run-passenger-tests true
            src/api/app/assets/javascripts/.* run-javascripts-linter true
            src/api/public/apidocs-new/.* run-apidocs-linter true
          base-revision: master
          config-path: .circleci/conditional_config.yml

Implement controller side of the action type filter
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
Due: none

Implement view side of the action type filter
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/_request_item.html.haml
  src/api/app/views/webui/request/_requests_filter.html.haml
Due: run-haml-linter

Add tests for the action type selector
  src/api/spec/features/beta/webui/requests_index_spec.rb
Due: none

Make the mobile view work consistently
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/views/webui/request/index.html.haml
Due: run-haml-linter

Add request controller specs for filters
  src/api/spec/cassettes/Webui_RequestController/GET_index/as_user_with_requests/assigns_bs_requests.yml
  src/api/spec/cassettes/Webui_RequestController/GET_index/as_user_with_requests/responds_successfully.yml
  src/api/spec/cassettes/Webui_RequestController/GET_index/as_user_with_requests_filtering_by_accepted_state/assigns_bs_requests_applying_state_filter.yml
  src/api/spec/controllers/webui/request_controller_spec.rb
Due: none

Require perl-TimeDate again
  dist/obs-server.spec
Due: run-dist-linter

[backend] workaround productcomposer naming scheme breaking re-releases of products
  src/backend/bs_publish
  src/backend/bs_repserver
Due: run-backend-tests

[backend] block scheduler during project scmsync source update
  src/backend/bs_srcserver
Due: run-backend-tests

Require perl(Date::Parse)
  dist/obs-server.spec
Due: run-dist-linter

[backend] suspend scheduler during project scmsync
  src/backend/BSSrcServer/Scmsync.pm
Due: run-backend-tests

Record missing cassettes
  src/api/spec/cassettes/Webui_RequestController/GET_request_action/handling_diff_sizes/with_diff_to_superseded_set/and_the_superseded_request_is_not_superseded/1_5_1_3_2_1.yml
  src/api/spec/cassettes/Webui_RequestController/GET_request_action/handling_diff_sizes/with_diff_to_superseded_set/and_the_superseded_request_is_not_superseded/1_5_1_3_2_2.yml
  src/api/spec/cassettes/Webui_RequestController/GET_request_action/handling_diff_sizes/with_diff_to_superseded_set/and_the_superseded_request_is_superseded/1_5_1_3_1_1.yml
Due: none

Typo fix
  src/api/app/views/webui/request/index.html.haml
Due: run-haml-linter

Avoid crashing when the notifiable is not present
  src/api/app/components/notification_component.html.haml
Due: run-haml-linter

Reshape query to wrap 'and' and 'or' conditions properly
  src/api/app/models/user.rb
Due: none

Collect multiselect selections
  src/api/app/views/webui/request/index.html.haml
Due: run-haml-linter

Add filter for request creator to request index view
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_requests_filter.html.haml
  src/api/app/views/webui/request/index.html.haml
Due: run-haml-linter

Add feature specs for request creator filter on request index page
  src/api/spec/features/beta/webui/requests_index_spec.rb
Due: none

Fix development backend script
  contrib/start_development_backend
Due: none

Remove SIGKILL from signals to be trapped
  contrib/start_development_backend
Due: none

Fix typo on variable comparison
  contrib/start_development_backend
Due: none

Move component code to view and helper
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/views/webui/users/notifications/_notification.html.haml
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Due: run-haml-linter

Remove NotificationComponent
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/spec/components/notification_component_spec.rb
Due: run-haml-linter

[dist] set body request size limit
  dist/obs-apache24.conf
Due: run-dist-linter

Create base labels
  src/api/app/models/label.rb
  src/api/app/models/label_template.rb
  src/api/db/migrate/20240801091417_create_label_templates.rb
  src/api/db/migrate/20240801091535_create_labels.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Add label associations to BsRequest and Package
  src/api/app/models/bs_request.rb
  src/api/app/models/package.rb
Due: none

Fix delegate methods
  src/api/app/models/label.rb
Due: none

Update my name in .gitmessage
  .gitmessage
Due: none

Various linter fixes
  src/api/app/models/label.rb
  src/api/app/models/label_template.rb
  src/api/db/migrate/20240801091535_create_labels.rb
  src/api/db/schema.rb
Due: run-migrations-tests

Create feature flags used in the "Foster collaboration" opportunity
  src/api/config/initializers/flipper.rb
Due: none

Fix mark as read button on the notification bar
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: none

Fix parameters sent to package_show_path helper
  src/api/app/controllers/webui/package_controller.rb
Due: none

Refactor the notification toolbar helpers to make them simpler
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/views/layouts/webui/_notification_toolbar.html.haml
  src/api/spec/helpers/webui/notification_helper_spec.rb
Due: run-haml-linter

Remove associated notification when removing a workflow run
  src/api/app/models/workflow_run.rb
Due: none

Define the association with notifications properly
  src/api/app/models/workflow_run.rb
Due: none

Add hidden submit field to request index filter form
  src/api/app/views/webui/request/index.html.haml
Due: run-haml-linter

Add watch count to the watch/unwatch button
  src/api/app/components/watchlist_component.rb
  src/api/app/components/watchlist_icon_component.html.haml
  src/api/spec/components/watchlist_icon_component_spec.rb
Due: run-haml-linter

Raise if we don't find a package on scmsync
  src/api/app/models/package.rb
  src/api/spec/models/package_get_by_project_and_name_spec.rb
Due: none

Fix embargo date approval handling
  src/api/app/models/bs_request_permission_check.rb
Due: none
